@model IEnumerable<Dominio.ParColaborador>

@{
    ViewBag.Title = "Index";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Colaboradores</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">Colaboradores</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <p>
                                    @Html.ActionLink(Resources.Resource._novo as string, "Create", null, new { @class = "btn btn-primary" })
                                </p>
                                <table class="table" id="tabelaColaboradores">
                                    <thead>
                                        <tr>
                                            <th>
                                                Cargo
                                            </th>
                                            <th>
                                                @Resources.Resource.name
                                            </th>
                                            <th>
                                                Documento
                                            </th>
                                            <th>
                                                @Resources.Resource.is_active
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ParCargo.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Documento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsActive)
                                                </td>
                                                <td>
                                                    @Html.ActionLink(Resources.Resource.edit as string, "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");

    $(document).ready(function () {

        closeLeftSidebar();

        DataTableComResourcesEpropriedadesjaSetadas.aoColumns = [
            null,
            null,
            null,
            null,
            { "bSearchable": false }
        ];

        $('#tabelaColaboradores').dataTable(DataTableComResourcesEpropriedadesjaSetadas);
    });
</script>