
@model PlanoAcaoCore.Pa_Acao
<style>
    input,
    select,
    textarea {
        max-width: 100% !important;
    }
</style>

<h5>Acompanhamento da Ação</h5>

<table class="borderedNinja nowrap .col-md-6 .col-md-offset-3 display" cellspacing="0" style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 43%;">
                @Html.DisplayNameFor(model => model.Unidade_Id)
            </td>
            <td style="width: 43%;">
                @Html.DisplayFor(model => model.Unidade_Id) 
                @*@Html.DisplayFor(model => model._Unidade)*@
            </td>
            <td style="width: 16%;"></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Pa_Problema_Desvio_Id)
            </td>
            <td>
                @Html.DisplayFor(model => model._Pa_Problema_Desvio_Id.Name)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Pa_IndicadorSgqAcao_Id)
            </td>
            <td>
                @Html.DisplayFor(model => model._Pa_IndicadorSgqAcao.Name)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Level1Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Level1Id)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Level2Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Level2Id)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Level3Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Level3Id)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CausaGenerica_Id)
            </td>
            <td>
                @Html.DisplayFor(model => model._CausaGenerica)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.GrupoCausa_Id)
            </td>
            <td>
                @Html.DisplayFor(model => model._GrupoCausa)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ContramedidaGenerica_Id)
            </td>
            <td>
                @Html.DisplayFor(model => model._ContramedidaGenerica)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CausaEspecifica)
            </td>
            <td>
                @Html.DisplayFor(model => model.CausaEspecifica)
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ContramedidaEspecifica)
            </td>
            <td>
                @Html.DisplayFor(model => model.ContramedidaEspecifica)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayName("Quem:")
            </td>
            <td>
                @Html.DisplayFor(model => model._Quem)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.QuandoInicio)
            </td>
            <td>
                @Html.DisplayFor(model => model.QuandoInicio)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.QuandoFim)
            </td>
            <td>
                @Html.DisplayFor(model => model.QuandoFim)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ComoPontosimportantes)
            </td>
            <td>
                @Html.DisplayFor(model => model.ComoPontosimportantes)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Status)
            </td>
            <td>
                @Html.DisplayFor(model => model._StatusName)
            </td>
            <td></td>
        </tr>

        <tr>
            <td>
                @Html.DisplayName("Prazo")
            </td>
            <td>
                @Html.DisplayFor(model => model._Prazo)
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<br />

@foreach (var i in Model._Acompanhamento)
{
    <div class="container">
        <div class="row" style="border: 2px solid #c1c1c1;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="short-div">
                    <label class="redLabel" for="inputlg">Data de Criação:</label><br />
                    @Html.DisplayFor(r => i.AddDate)
                </div>
                <hr />
                <label class="redLabel" for="inputlg">Observação:</label><br />
                @Html.DisplayFor(r => i.Name)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px">
                <div class="short-div">
                    <label class="redLabel" for="inputlg">Destinatário:</label><br />
                    @foreach (var quem in i._Quem)
                    {
                        @Html.DisplayFor(r => quem.Name) <br />
                    }
                </div>
                <hr />
                <div class="short-div">
                    <label class="redLabel" for="inputlg">Status:</label><br />
                    @Html.DisplayFor(r => i._Status.Name)
                </div>
            </div>
        </div>
    </div>
    <br />
}

<br />

<div class="container-fluid">
    <div class="row">
        <form id="acompanhamento">
            <div class="col-sm-6">
                <input name="Acao_Id" type="hidden" id="Acao_Id" value="@Model.Id" />

                <div class="form-group">
                    <label class="redLabel" for="inputlg">Observação:</label>
                    <textarea name="Name" class="form-control input-sm" id="Name" style="width: 100%; height: 162px;"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="redLabel" for="inputlg">Notificar:</label>
                    @Html.DropDownList("MailTo", new SelectList(ViewBag.Quem, "Id", "Name"), @*"@Resources.Resource.select",*@ new { @class = "form-control select2Init", @style = "width:100%;", @multiple = "multiple" })
                </div>

                <div class="form-group">
                    <label class="redLabel" for="inputlg">Status:</label>
                    @Html.DropDownList("Status_Id", new SelectList(ViewBag.Status, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                </div>
            </div>
            <br />
            <div class="col-sm-6">
                <button id="SaveAcompanhamento" type="button" class="btn btn-primary" style="width: 100%; margin-top: 10px;">Enviar</button>
            </div>
        </form>
    </div>
</div>

