@model PlanoAcaoCore.Pa_Acao
@using PlanoAcaoCore
@if (Conn.visaoOperacional)
{
    <style>
        .showAsEstrategy {
            display: none;
        }
    </style>
}
<div class="panel-group accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-target="#divCollapseDetailAcao" aria-expanded="false" style="display:block;cursor:pointer">@Resources.Resource.accompaniment_action</a>
            </h5>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDiv collapse" id="divCollapseDetailAcao">
    <table class="borderedNinja nowrap .col-md-6 .col-md-offset-3 display table table-striped" cellspacing="0" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 24%;">
                    @Html.Raw(Resources.Resource.unit)
                </td>
                <td style="width: 60%;">
                    @Html.DisplayFor(model => model._Unidade)
                </td>
                <td style="width: 16%;"></td>
            </tr>
            <tr class="showAsEstrategy" style="display:none;">
                <td>
                    @Html.Raw(Resources.Resource.problem_deviation)
                </td>
                <td>
                    @Html.DisplayFor(model => model._Pa_Problema_Desvio_Id.Name)
                </td>
                <td></td>
            </tr>
            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.operational_indicator)
                </td>
                <td>
                    @Html.DisplayFor(model => model._Pa_IndicadorSgqAcao.Name)
                </td>
                <td></td>
            </tr>
            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.indicator)
                </td>
                <td>
                    @*@Html.DisplayFor(model => model.Level1Id)*@
                    @Html.DisplayFor(model => model._Level1)
                </td>
                <td></td>
            </tr>
            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.monitoring)
                </td>
                <td>
                    @*@Html.DisplayFor(model => model.Level2Id)*@
                    @Html.DisplayFor(model => model._Level2)
                </td>
                <td></td>
            </tr>
            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.task)
                </td>
                <td>
                    @*@Html.DisplayFor(model => model.Level3Id)*@
                    @Html.DisplayFor(model => model._Level3)
                </td>
                <td></td>
            </tr>

            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.generic_cause)
                </td>
                <td>
                    @Html.DisplayFor(model => model._CausaGenerica)
                </td>
                <td></td>
            </tr>
            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.group_cause)
                </td>
                <td>
                    @Html.DisplayFor(model => model._GrupoCausa)
                </td>
                <td></td>
            </tr>
            <tr class="showAsEstrategy">
                <td>
                    @Html.Raw(Resources.Resource.generic_action)
                </td>
                <td>
                    @Html.DisplayFor(model => model._ContramedidaGenerica)
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(Resources.Resource.specific_cause)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CausaEspecifica)
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(Resources.Resource.specific_action)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContramedidaEspecifica)
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(Resources.Resource.who + ":")
                </td>
                <td>
                    @Html.DisplayFor(model => model._Quem)
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(Resources.Resource.when_start2)
                </td>
                <td>
                    @Html.DisplayFor(model => model.QuandoInicio)
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(Resources.Resource.when_end2)
                </td>
                <td>
                    @Html.DisplayFor(model => model.QuandoFim)
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(Resources.Resource.as_important_points)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ComoPontosimportantes)
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(Resources.Resource.status)
                </td>
                <td>
                    @Html.DisplayFor(model => model._StatusName)
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.Raw(Resources.Resource.term)
                </td>
                <td>
                    @Html.DisplayFor(model => model._Prazo)
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
