@model PlanoAcaoCore.Pa_Acao
@{
    //Layout = null;
}

    <div> 

        <table>

            @Html.DisplayFor(r => r.Level1Id)
            @Html.DisplayFor(r => r.Level2Id)
            @Html.DisplayFor(r => r.Level3Id)
            @Html.DisplayFor(r => r.Level3Id)
            @Html.DisplayFor(r => r.Level3Id)
            @Html.DisplayFor(r => r.Level3Id)
            @Html.DisplayFor(r => r.Level3Id)
            @Html.DisplayFor(r => r.Level3Id)

        </table>

    </div>
