@using PlanoAcaoCore
@{
    ViewBag.Title = "Index";
}

@section Styles {

    <style>
        body {
            padding-top: 86px !important;
        }

        .fix {
            position: absolute;
            *position: relative; /*ie7*/
            margin-left: -100px;
            width: 100px;
        }

        .outer {
            position: relative;
        }

        .inner {
            width: 100%;
        }

        .defaultDiv {
            padding: 3px;
        }

        .defaultDivInternal {
            background-color: #fff;
            padding: 5px;
        }

        .defaultSizeMin {
            height: 250px;
        }

        .defaultSizeMinPanel {
            height: 150px;
            width: 100%;
        }

        .defaultSizeMinPanel2 {
            height: 200px;
            width: 100%;
        }

        .defaultSizeMed {
            height: 370px;
        }

        .defaultSizeMedPanel {
            height: 290px;
            width: 100%;
        }

        .defaultSizeMax {
            height: 561px;
            font-size: xx-small;
        }

        .defaultSizeMaxPanel {
            height: 521px;
            width: 100%;
        }

        .defaultGroupTitle {
            float: left;
        }

        .defaultTitle {
            font-weight: bold;
            font-size: 14px;
            float: left;
        }

        .defaultSubtitle {
            font-weight: normal;
            font-size: 8px;
            text-transform: uppercase;
            float: left;
        }

        .defaultFilter {
            float: left;
            border-bottom: 1px dotted #ccc;
            margin-bottom: 5px;
            width: 100%;
            padding: 2px;
        }

        .defaultDivFilter {
            background-color: #06304e;
            color: #FFF;
            position: fixed;
            z-index: 999;
            top: 50px;
        }

        .btn-filter {
            font-size: 12px;
            height: 26px;
            width: 23px;
            padding: 0;
        }

        .dropdown-menu open {
            width: 150px;
        }

        button[data-id=valor1Filtro] {
            width: 200px !important;
        }

        div.dropdown-menu.open {
            max-width: 300px;
            word-wrap: break-word;
            white-space: normal;
        }

        div.daterangepicker {
            width: 750px;
        }

        #example_wrapper > div.DTFC_ScrollWrapper > div.DTFC_RightWrapper > div.DTFC_RightHeadWrapper > table > thead > tr {
            background-color: #fff;
        }

        .semDados {
            position: absolute;
            z-index: 10;
            background: #ffffff;
            height: 80%;
            width: 100%;
            top: 20%;
            font-size: 20px;
            display: none;
        }

            .semDados h1 {
                margin-left: 40px;
            }

        .dataTables_scroll table {
            width: 100% !important;
        }

        span.select2 {
            min-width: 120px !important;
        }

        .hideEmail {
            display: block !important;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            color: #333;
        }

        table.borderedNinja {
            border: 2px solid #c1c1c1;
        }

        .button {
            color: #aaa;
            cursor: pointer;
            vertical-align: middle;
        }

        .edit:hover {
            color: #0a79df;
        }

        .delete:hover {
            color: #dc2a2a;
        }

        .modal-header .btnGrp {
            position: absolute;
            top: 8px;
            right: 10px;
        }


        .min {
            width: 250px;
            height: 35px;
            overflow: hidden !important;
            padding: 0px !important;
            margin: 0px;
            float: left;
            position: static !important;
        }

            .min .modal-dialog, .min .modal-content {
                height: 100%;
                width: 100%;
                min-width: 70%;
                align-self: center;
                margin: 0px !important;
                padding: 0px !important;
            }

        .modal-dialog {
            width: 80% !important;
        }

        .min .modal-header {
            height: 100%;
            width: 100%;
            margin: 0px !important;
            padding: 3px 5px !important;
        }

        .display-none {
            display: none;
        }

        button .fa {
            font-size: 16px;
            margin-left: 10px;
        }

        .min .fa {
            font-size: 14px;
        }

        .min .menuTab {
            display: none;
        }

        button:focus {
            outline: none;
        }

        .minmaxCon {
            height: 35px;
            bottom: 1px;
            left: 1px;
            position: fixed;
            right: 1px;
            z-index: 9999;
        }


        /*Datatable*/
        ul.pagination {
            margin: 0px;
        }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            background-color: #428bca !important;
            border-color: #428bca !important;
        }

        .pagination > li > a, .pagination > li > span {
            color: #666;
        }

        .dataTables_wrapper input {
            border: 1px solid #666;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button,
        .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
        .dataTables_wrapper .dataTables_paginate span span {
            background: transparent !important;
            margin: 0px !important;
            border: 1px solid #ddd;
            color: #666 !important;
            padding-top: 7px !important;
            padding-bottom: 7px !important;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
            .dataTables_wrapper .dataTables_paginate .paginate_button:focus {
                color: #666 !important;
                background: #ddd !important;
                border: 1px solid #ddd;
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button.current,
            .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
            .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus {
                background: #428bca !important;
                border-color: #428bca !important;
                color: #fff !important;
            }

        #percentualConclusao {
            font-size: 40px;
        }

        #modalVisaoGeralProjetos .modal-header {
            display: table;
            width: 100%;
        }

        #btnExibirInativos {
            float: right;
        }
    </style>

}

<div class="container-fluid">
    <div class="row" style="width:100% !important">
        <div class="col-md-12" style="margin-left:10px;">
            <button type="button" class="btn btn-success showAsEstrategy" id="NovoPlanejamento" onclick="Clicked(false, false, false); ModalOpcoesEstrategico('@ResourcesPA.Resource.strategic_planning', undefined, NovoPlanejamento);" data-toggle="modal" disabled>@ResourcesPA.Resource.new_strategic_planning</button>

            <button type="button" class="btn btn-success showModalNovoTatico" onclick="AbrirModalNovoApartirDeAlgo('tatico','@ResourcesPA.Resource.tactical', '@ResourcesPA.Resource.strategic')" id="btnModalNovoTatico" data-toggle="modal">@ResourcesPA.Resource.new_tactic</button>

            <button type="button" class="btn btn-success showModalNovaAcao" onclick="AbrirModalNovoApartirDeAlgo('acao','@ResourcesPA.Resource.action', '@ResourcesPA.Resource.tactical')" id="btnModalNovaAcao" data-toggle="modal">@ResourcesPA.Resource.new_action</button>

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalVisaoGeralProjetos" onclick="vgp('Gerencia');">@ResourcesPA.Resource.project_overview_management</button>

            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalVisaoGeralProjetos" onclick="vgp('Diretriz');">@ResourcesPA.Resource.project_overview_guideline</button>

            <button type="button" class="btn" id="btnExibirInativos" onclick="exibirInativos()">Exibindo Ativos</button>
        </div>
    </div>
</div>

<div id="modalVisaoGeralProjetos" class="modal fade modal-lg" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@ResourcesPA.Resource.project_overview</h4>
                <div id="divPrioridade">
                    <button type="button" class="btn btn-primary hide" id="btnFiltraPrioridade" style="float:right;" onclick="getVisaoGeralProjetos(true)">Diretrizes com Prioridade</button>
                    <button type="button" class="btn btn-primary hide" id="btnFiltraSemPrioridade" style="float:right;" onclick="getVisaoGeralProjetos(false)">Todas Diretrizes</button>
                </div>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <div class="col-sm-12 panel panel-inf" style="background-color:dimgray; color:whitesmoke; text-align:center">
                                <h4 class="panel-heading">@ResourcesPA.Resource.percent_completed</h4>
                                <div id="percentualConclusao" class="panel-body">0 %</div>
                            </div>
                            <div>
                                <div id="graficoPorGerencia"></div>
                                <div id="graficoPorDiretriz"></div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div id="graficoPorProjetos"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4>@ResourcesPA.Resource.ongoing_tasks</h4>
                            <table id="tableAndamento" class="table table-striped"></table>
                        </div>
                        <div class="col-sm-6">
                            <h4>@ResourcesPA.Resource.delayed_tasks</h4>
                            <table id="tableAtrasadas" class="table table-striped"></table>
                        </div>
                    </div>
                    <div style="clear:both; height: 40px;"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4>@ResourcesPA.Resource.next_tasks</h4>
                            <table id="tableProximas" class="table table-striped"></table>
                        </div>
                        <div class="col-sm-6">
                            <h4>@ResourcesPA.Resource.completed_tasks</h4>
                            <table id="tableConcluidas" class="table table-striped"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ResourcesPA.Resource.close</button>
            </div>
        </div>

    </div>
</div>

<hr class="showAsEstrategy" />

<div class="container-fluid" style="background-color:#ccc;">
    <!--MENU DE FILTROS-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDivInternal defaultDivFilter">
            <div class="defaultGroupTitle" style="width:auto; float:left; background-color:transparent;">
                <span class="defaultTitle" style="line-height:27px;">@ResourcesPA.Resource.filters</span>
            </div>
            <div class="defaultFilter input-group" style="width:auto; float:right; background-color:transparent; border-bottom: 0px; margin-bottom:0px;">
                <div class="input-group-btn" style="width: 100px;">
                    <input type="text" class="form-control" name="daterange" value="01/01/2017 - 31/01/2017" />
                </div>
                &nbsp;
                <select style="font-size:xx-small;width:25% !important;" id="campo1Filtro" onchange="distinctFilter(dados, $(this).val(), 'valor1Filtro');">
                    <option value="">@ResourcesPA.Resource.all</option>
                    <option value="Diretoria">@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia">@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="_GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="_CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="_ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="_Quem">@ResourcesPA.Resource.who</option>
                    <option value="_StatusName">@ResourcesPA.Resource.status</option>
                    <option value="Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>

                </select>
                &nbsp;
                <select id="valor1Filtro">
                    <option>@ResourcesPA.Resource.all</option>
                </select>
                &nbsp;

                <select style="font-size:xx-small;width:25% !important;" id="campo2Filtro" onchange="distinctFilter(dados, $(this).val(), 'valor2Filtro');">
                    <option value="">@ResourcesPA.Resource.all</option>
                    <option value="Diretoria">@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia">@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="_GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="_CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="_ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="_Quem">@ResourcesPA.Resource.who</option>
                    <option value="_StatusName">@ResourcesPA.Resource.status</option>
                    <option value="Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>
                </select>
                &nbsp;

                <select id="valor2Filtro">
                    <option>@ResourcesPA.Resource.all</option>
                </select>
                &nbsp;

                <button class="btn btn-warning btn-filter" style="font-size:12px;" id="btnTop"><span class="glyphicon glyphicon-filter"></span></button>
            </div>

        </div>
    </div>
    <!--FIM MENU DE FILTROS-->
    <!--LINHA 1-->
    <!--<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMin">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Status das Ações</span>
                <br />
                <span class="defaultSubtitle">Total de ações por Status</span>
            </div>
            <div id="panel1" class="defaultSizeMinPanel"></div>
        </div>
    </div>-->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMin">
            <div class="defaultFilter ">

                <select style="font-size:xx-small;width:25% !important;" id="campo1FiltroPie2" onchange="distinctFilter(dados, $(this).val(), 'valor1FiltroPie2');">
                    <option value="Diretoria">@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia">@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="_GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="_CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="_ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="_Quem">@ResourcesPA.Resource.who</option>
                    <option value="_StatusName">@ResourcesPA.Resource.status</option>
                    <option value="Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>
                </select>
                &nbsp;
                <select id="valor1FiltroPie2">
                    <option>@ResourcesPA.Resource.all</option>
                </select>
                &nbsp;
                <button class="btn btn-warning btn-filter" style="font-size:12px;" id="btnFiltroPie2"><span class="glyphicon glyphicon-filter"></span></button>
            </div>
            <div class="defaultGroupTitle">
                <span class="defaultTitle">@ResourcesPA.Resource.tasks_status</span>
                <br />
                <span class="defaultSubtitle" id="spanPie2">@ResourcesPA.Resource.all2</span><span class="defaultSubtitle">&nbsp;@ResourcesPA.Resource.by_status</span><br />
            </div>
            <div id="panel2" class="defaultSizeMinPanel"></div>
        </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMin">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">@ResourcesPA.Resource.stocks_in_action</span>
                <br />
                <span class="defaultSubtitle">@ResourcesPA.Resource.formation_of_stocks_in_action</span>
            </div>
            <div id="panel4" class="defaultSizeMinPanel2"></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <!--FIM LINHA 1-->
    <!--LINHA 2-->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMed ">
            <div class="defaultFilter">
                <select style="font-size:xx-small;width:25% !important;" id="campo1Panel5" onchange="distinctFilter(dados, $(this).val(), 'valor1Panel5');" oncancel="filterEixoY('valor1Panel5')">

                    <option value="Diretoria" selected>@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia">@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="Acao._GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="Acao._CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="Acao._ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="Acao.UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="Acao._Quem">@ResourcesPA.Resource.who</option>
                    <option value="Acao._StatusName">@ResourcesPA.Resource.status</option>
                    <option value="Acao.Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Acao.Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Acao.Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Acao.Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>
                </select>

                <select id="valor1Panel5"></select>

                <select style="font-size:xx-small;width:25% !important;" id="campo2Panel5" onchange="distinctFilter(dados, $(this).val(), 'valor2Panel5');">

                    <option value="Diretoria">@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia">@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="Acao._GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="Acao._CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="Acao._ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="Acao.UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="Acao._Quem">@ResourcesPA.Resource.who</option>
                    <option value="Acao._StatusName" selected>@ResourcesPA.Resource.status</option>
                    <option value="Acao.Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Acao.Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Acao.Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Acao.Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>
                </select>

                <select id="valor2Panel5"></select>
                <button class="btn btn-warning btn-filter" id="btnpanel5"><span class="glyphicon glyphicon-filter"></span></button>
                <button class="btn btn-danger btn-filter" onclick="btnOrder('campo1Panel5','campo2Panel5','panel5', this.id);" id="btnOrderFilterPanel5"><span class="glyphicon glyphicon-sort-by-attributes-alt" title="Ordem por Valor" id="spanOrder"></span></button>
            </div>
            <div class="defaultGroupTitle">
                <span class="defaultTitle">@ResourcesPA.Resource.comparative</span>
                <br />
                <span class="defaultSubtitle" id="FirstParamPanel5">@ResourcesPA.Resource.status </span>
                <span class="defaultSubtitle">&nbsp;@ResourcesPA.Resource.by&nbsp;</span>
                <span class="defaultSubtitle" id="LastParamPanel5"> @ResourcesPA.Resource.management</span>
            </div>
            <div id="panel5" class="defaultSizeMedPanel"></div>
            <div id="semDados1" class="semDados">
                <h1>
                    @ResourcesPA.Resource.no_data
                </h1>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 defaultDiv Panel6">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMed">
            <div class="defaultFilter">
                <select style="font-size:xx-small;width:25% !important;" id="campo1Panel6" onchange="distinctFilter(dados, $(this).val(), 'valor1Panel6');">
                    <option value="Diretoria">@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia" selected>@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="Acao._GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="Acao._CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="Acao._ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="Acao.UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="Acao._Quem">@ResourcesPA.Resource.who</option>
                    <option value="Acao._StatusName">@ResourcesPA.Resource.status</option>
                    <option value="Acao.Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Acao.Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Acao.Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Acao.Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>
                </select>

                <select id="valor1Panel6"></select>

                <select style="font-size:xx-small;width:25% !important;" id="campo2Panel6" onchange="distinctFilter(dados, $(this).val(), 'valor2Panel6');">

                    <option value="Diretoria">@ResourcesPA.Resource.directorship</option>
                    <option value="Dimensao">@ResourcesPA.Resource.dimension</option>
                    <option value="Objetivo">@ResourcesPA.Resource.guideline</option>
                    <option value="IndicadoresDiretriz">@ResourcesPA.Resource.indicators_guideline</option>
                    <option value="TemaAssunto">@ResourcesPA.Resource.theme_subject</option>
                    <option value="Gerencia">@ResourcesPA.Resource.management</option>
                    <option value="Coordenacao">@ResourcesPA.Resource.coordination</option>
                    <option value="TipoProjeto">@ResourcesPA.Resource.type_of_project</option>
                    <option value="TemaProjeto">@ResourcesPA.Resource.project_theme</option>
                    <option value="Iniciativa">@ResourcesPA.Resource.project_initiative</option>
                    <option value="Acao._GrupoCausa">@ResourcesPA.Resource.group_cause</option>
                    <option value="Acao._CausaGenerica">@ResourcesPA.Resource.generic_cause</option>
                    <option value="Acao._ContramedidaGenerica">@ResourcesPA.Resource.generic_action</option>
                    <option value="Acao.UnidadeName">@ResourcesPA.Resource.unit</option>
                    <option value="Acao._Quem">@ResourcesPA.Resource.who</option>
                    <option value="Acao._StatusName" selected>@ResourcesPA.Resource.status</option>
                    <option value="Acao.Regional">@ResourcesPA.Resource.regional</option>
                    <option value="Acao.Level1Name">@ResourcesPA.Resource.indicator</option>
                    <option value="Acao.Level2Name">@ResourcesPA.Resource.monitoring</option>
                    <option value="Acao.Level3Name">@ResourcesPA.Resource.task</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">@ResourcesPA.Resource.indicator_type</option>
                </select>

                <select id="valor2Panel6"></select>

                <button class="btn btn-warning btn-filter" id="btnpanel6"><span class="glyphicon glyphicon-filter"></span></button>
                <button class="btn btn-danger btn-filter" onclick="btnOrder('campo1Panel6','campo2Panel6','panel6', this.id);" id="btnOrderFilterPanel6"><span class="glyphicon glyphicon-sort-by-attributes-alt" title="Orderm por Valor" id="spanOrder"></span></button>
            </div>
            <div class="defaultGroupTitle">
                <span class="defaultTitle">@ResourcesPA.Resource.comparative</span>
                <br />
                <span class="defaultSubtitle" id="FirstParamPanel6">@ResourcesPA.Resource.status</span>
                <span class="defaultSubtitle">&nbsp;@ResourcesPA.Resource.by&nbsp;</span>
                <span class="defaultSubtitle" id="LastParamPanel6">@ResourcesPA.Resource.person</span>
            </div>
            <div id="panel6" class="defaultSizeMedPanel"></div>
            <div id="semDados2" class="semDados">
                <h1>
                    @ResourcesPA.Resource.no_data
                </h1>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <!--FIM LINHA 2-->
    <div class="panel-group accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" onclick="tableAcaoRedrown()" data-toggle="collapse" data-target="#divPlanejamentoAcao" aria-expanded="false" style="display:block;cursor:pointer">@ResourcesPA.Resource.table_of_actions</a>
                </h4>
            </div>
        </div>
    </div>

    <!--LINHA 3-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDiv collapse" id="divPlanejamentoAcao">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMax">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">@ResourcesPA.Resource.tasks_manager</span>
                <br />
                <span class="defaultSubtitle" id="spanSubTable">@ResourcesPA.Resource.all_tasks_to_filter</span>
            </div>

            <br /><br /><br />

            <div id="panel7" class="defaultSizeMaxPanel outer">
                <div class="inner">
                    <table id="example" class="display" cellspacing="0" style="font-size: 8pt;">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--FIM LINHA 3-->
    <div class="panel-group accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" onclick="tablePlanejamentoRedrown()" data-toggle="collapse" data-target="#divPlanejamento" aria-expanded="false" style="display:block;cursor:pointer">@ResourcesPA.Resource.table_of_projects</a>
                </h4>
            </div>
        </div>
    </div>
    <!--LINHA 4-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDiv collapse" id="divPlanejamento">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMax">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">@ResourcesPA.Resource.projects_manager</span>
                <br />
                <span class="defaultSubtitle" id="spanSubTable">@ResourcesPA.Resource.all_plannings_to_filter</span>
            </div>

            <br /><br /><br />

            <div id="panel7" class="defaultSizeMaxPanel outer">
                <div class="inner">
                    <table id="TablePlanejamento" class="display" cellspacing="0" style="font-size: 8pt;">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--FIM LINHA 4-->
</div>

<div class="container">
    <div class="modal fade" id="modalLindo" role="dialog" aria-labelledby="" data-backdrop="static">
        <div class="modal-dialog" style="max-width:90%;  min-width:70%" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="times">&times;</span></button>

                    <h4 class="modal-title" id="Header">ID: Header</h4>
                </div>
                <div class="modal-body" id="body">
                    ID: Body
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="Fechar" onclick="Clicked(false, false, false);" data-dismiss="modal" style="display:none">@ResourcesPA.Resource.close</button>
                    <button type="button" class="btn btn-default" id="Fechar2" onclick="" style="display:none">@ResourcesPA.Resource.close</button>
                    <button type="button" class="btn btn-primary" id="Selecionar" onclick="" style="display:none" disabled>@ResourcesPA.Resource.select</button>
                    <button type="button" class="btn btn-primary" id="Salvar" onclick="" style="display:none">@ResourcesPA.Resource.save</button>
                    <button type="button" class="btn btn-info" id="BuscarPlanejamentos" onclick="BuscarPlanejamentos();">@ResourcesPA.Resource.search_planning</button>
                    <button type="button" class="btn btn-info" id="TaticoVinculado" onclick="BuscarPlanejamentos(); Clicked(true, false, true);" style="display:none">@ResourcesPA.Resource.new_tactical_planning_linked_strategic_planning</button>
                    <button type="button" class="btn btn-primary" id="NovaAcao" onclick="Clicked(isTaticoClicked, isNovaAcao); ModalAcao(true, true);" style="">@ResourcesPA.Resource.new_action</button>
                    <button type="button" class="btn btn-default" value="" id="new" style="display:none">@ResourcesPA.Resource.add_action</button>
                    <button type="button" class="btn btn-default" value="" id="Edit" style="display:none" onclick="SalvarAcaoAvulsa($('.Acao'), true)">@ResourcesPA.Resource.edit_action</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="modalChangeEstrategico" class="modal fade" role="dialog" style="z-index:15000">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@ResourcesPA.Resource.change_planning</h4>
                </div>
                <div class="modal-body">
                    <table id="tablePessego" class="table table-striped"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ResourcesPA.Resource.close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalNovo" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="times">×</span></button>
                <h4 class="modal-title" id="novoHeader"></h4>
            </div>
            <div class="modal-body" id="novoBody">

                <div class="col-sm-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">@ResourcesPA.Resource.form_of <span id="nomeItemNovo"></span></div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <div style="display:none" id="encadeado">
                                        <label id="labelPredecessora">@ResourcesPA.Resource.predecessor </label>
                                    </div>
                                    <div class="col-sm-12 borderedNinja" id="divPredecessora">
                                        <label>@ResourcesPA.Resource.predecessor</label>
                                        <label id="labelPredecessoraValue"></label>
                                        <br />
                                    </div>
                                    <div class="col-sm-12 borderedNinja">
                                        <label>@ResourcesPA.Resource.item_name</label>
                                        <textarea style="min-width: 95%; height:150px;" type="text" class="form-control" id="newItem"></textarea>
                                        <input type="hidden" id="newIdItem" />
                                        <br />
                                    </div>
                                    <div class="col-sm-12 borderedNinja" id="divIsActive">
                                        <label for="newIsActiveItem">@ResourcesPA.Resource.active</label>
                                        <input class="custom-control-input" type="checkbox" checked="checked" name="newIsActiveItem" id="newIsActiveItem" />
                                        <br />
                                    </div>
                                    <div class="col-sm-12 borderedNinja" id="divIsPriority">
                                        <label for="newIsPriority">Prioritário</label>
                                        <input class="custom-control-input" type="checkbox" name="isPriority" id="isPriority" />
                                        <br />
                                    </div>
                                    <div class="col-sm-12 borderedNinja">
                                        <button type="button" class="btn btn-primary" id="btnSalvarNovo" onclick="SalvarNovo();">@ResourcesPA.Resource.save</button>
                                        <button type="button" class="btn btn-success hide" id="btnEditarNovo" onclick="SalvarNovo();">@ResourcesPA.Resource.save_edition</button>
                                        <button type="button" class="btn btn-default hide" id="btnCancelarNovo">@ResourcesPA.Resource.cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <table id="tableNovo" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>@ResourcesPA.Resource.name</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@ResourcesPA.Resource.close</button>
        </div>
    </div>
</div>

<div id="ModalNovoApartirDeAlgo" class="modal fade" role="dialog" style="z-index:15000">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ResourcesPA.Resource.close</button>
            </div>
        </div>
    </div>
</div>

<div class="minmaxCon"></div>

@section Scripts {

    <script src="~/Scripts/PluginGRT/datatableGRT.js"></script>

    <script type="text/javascript">

        $('.container').each(function (i, o) {
            $(o).removeClass('container').addClass('container-fluid');
        });

        var ResourcesPAFile = @Html.Raw(Json.Encode(ViewBag.Resources));
        var visaoOperacional = @Html.Raw(Json.Encode(Conn.visaoOperacional));
        var nameCausaEspecifica = @Html.Raw(Json.Encode(Conn.nameCausaEspecifica));
        var nameComoPontosImportantes = @Html.Raw(Json.Encode(Conn.nameComoPontosImportantes));
        var nameContramedidaEspecifica = @Html.Raw(Json.Encode(Conn.nameContramedidaEspecifica));
        var urlGetPlanejamentoAcaoRange = '@Url.Action("GetPlanejamentoAcaoRange", "api/Pa_Planejamento")';
        var urlGetPlanejamentoRange = '@Url.Action("GetPlanejamentoRange", "api/Pa_Planejamento")';
        var urlGetUserColvis = '@Url.Action("Get", "api/ApiColvis")';
        var urlSaveUserColvis = '@Url.Action("Save", "api/ApiColvis")';
        var urlGetListPlanejamento = '@Url.Action("GetListPlanejamento", "api/Pa_Planejamento")';
        var GETGrupoCausa = '@Url.Action("GETGrupoCausa", "Pa_Acao")';
        var GETContramedidaGenerica = '@Url.Action("GETContramedidaGenerica", "Pa_Acao")';
        var urlNovaAcao = '@Url.Action("Index", "Pa_Acao")';
        var urlEditAcao = '@Url.Action("Edit", "Pa_Acao")';
        var urlEditPlanEstrat = '@Url.Action("Editar", "Pa_Planejamento")';
        var urlEditPlanOp = '@Url.Action("Editar", "Pa_Planejamento")';
        var PlanejamentoDetalhes = '@Url.Action("Details", "Pa_Planejamento")';
        var urlNovoPlanejamento = '@Url.Action("Index", "Pa_Planejamento")';
        var urlBuscarPlanejamentos = '@Url.Action("Buscar", "Pa_Planejamento")';
        var urlFiltraPlanejamentos = '@Url.Action("Filtrar", "Pa_Planejamento")';
        var GETObjetivo = '@Url.Action("GETObjetivo", "Pa_Planejamento")';
        var GETIndicadoresDiretriz = '@Url.Action("GETIndicadoresDiretriz", "Pa_Planejamento")';
        var GETIndicadoresProjetoIniciativa = '@Url.Action("GETIndicadoresProjetoIniciativa", "Pa_Planejamento")';
        var GETCoordenacaoByGerencia = '@Url.Action("GETCoordenacaoByGerencia", "Pa_Planejamento")';
        var GETObjetivosGerenciais = '@Url.Action("GETObjetivosGerenciais", "Pa_Planejamento")';
        var urlSalvarPlanejamento = '@Url.Action("Save", "api/Pa_Planejamento")';
        var urlGetPlanejamentoAcao = '@Url.Action("GetPlanejamentoAcao", "api/Pa_Planejamento")';
        var urlGetPlanejamento = '@Url.Action("GET", "api/Pa_Planejamento")';
        var urlSalvarAcao = '@Url.Action("Save", "api/Pa_Acao")';
        var urlSalvarNovoItem = '@Url.Action("Save", "api/Generics")';
        var urlEditarNovoItem = '@Url.Action("Update", "api/Generics")';
        var urlGetAutoComplete = '@Url.Action("Get", "api/Generics")';
        var urlSalvarAcompanhamento = '@Url.Action("SaveAcompanhamento", "api/Pa_Acao")'
        var urlAcompanhamentoDetalhes = '@Url.Action("Acompanhamento", "Pa_Acao")'
        var AcaoDetalhes = '@Url.Action("Details", "Pa_Acao")'
        var urlGetDiretriz = '@Url.Action("GetDiretriz", "api/Generics")'

        var IsAdmin = @Html.Raw(Json.Encode(ViewBag.IsAdmin));

        let exibindoAtivos = true;

        let dadosAtivos = [];
        let dadosInativos = [];

        function exibirInativos() {

            if (exibindoAtivos) { //Exibe inativos

                dadosPie2 = "";
                FiltraLinhasComTodos(dadosInativos, "", "Todos");
                getDateRange($("input[name='daterange']").val());

                Inicializar($('#campo1Filtro option:selected').val(), $('#valor1Filtro option:selected').text(), $('#campo2Filtro option:selected').val(),
                    $('#valor2Filtro option:selected').text(), dadosInativos);

                exibindoAtivos = false;


            } else { //Exibe ativos

                dadosPie2 = "";
                FiltraLinhasComTodos(dadosAtivos, "", "Todos");
                getDateRange($("input[name='daterange']").val());

                Inicializar($('#campo1Filtro option:selected').val(), $('#valor1Filtro option:selected').text(), $('#campo2Filtro option:selected').val(),
                    $('#valor2Filtro option:selected').text(), dadosAtivos);

                exibindoAtivos = true;

            }

            trocaBotaoExibirInativos();
        }

        function trocaBotaoExibirInativos() {

            if (!exibindoAtivos) {

                $('#btnExibirInativos').html("Exibindo Inativos");
                //$('#btnExibirInativos').removeClass("btn-success");
                $('#btnExibirInativos').addClass("btn-default");

            } else {
                $('#btnExibirInativos').html("Exibindo Ativos");
                $('#btnExibirInativos').removeClass("btn-default");
                //$('#btnExibirInativos').addClass("btn-success");
            }

        }

    </script>

    <script src="~/Scripts/PANovo/js/underscore-min.js"></script>
    <script src="~/Scripts/lodash.min.js"></script>
    <script src="~/Scripts/PANovo/js/pt-br.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/i18n/pt-BR.js"></script>

    <script src="~/Scripts/PA/utils.js"></script>
    <script src="~/Scripts/PA/index.js"></script>
    <script src="~/Scripts/PA/colvis.js"></script>

    <script src="~/Scripts/PA/filtros.js"></script>
    <script src="~/Scripts/PA/graficos.js"></script>
    <script src="~/Scripts/PA/planejamentoAcao.js"></script>
    <script src="~/Scripts/PA/planejamentoEstrategico.js"></script>
    <script src="~/Scripts/PA/planejamentoTatico.js"></script>
    <script src="~/Scripts/PA/tabelaAcoes.js"></script>
    <script src="~/Scripts/PA/tabelaProjetos.js"></script>
    <script src="~/Scripts/PA/visaoGeralProjetos.js"></script>



}