@{ Layout = null;}

<!--
PROTÓTIPO DE DASHBOARD
DATE: 2017-11-19
AUTHOR: GABRIEL CRUZ NUNES
-->

<head>

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">*@
    @*<link rel="stylesheet" href="~/Content/PANovo/css/bootstrap-select.min.css">
        <link href="~/Content/PANovo/css/jquery.dataTables.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="~/Content/PANovo/css/daterangepicker.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/PANovo/css/style.css" />*@


    @Styles.Render("~/bundles/panovoBundle")


    <style>
        /*table {

            table-layout: fixed;
            word-wrap: break-word;
        }*/


        table {
            table-layout: fixed;
            width: 100%;
            *margin-left: -100px; /*ie7*/
        }

        .fix {
            position: absolute;
            *position: relative; /*ie7*/
            margin-left: -100px;
            width: 100px;
        }

        .outer {
            position: relative;
        }

        .inner {
            width: 100%;
        }

        .defaultDiv {
            padding: 3px;
        }

        .defaultDivInternal {
            background-color: #fff;
            padding: 5px;
        }

        .defaultSizeMin {
            height: 250px;
        }

        .defaultSizeMinPanel {
            height: 150px;
            width: 100%;
        }

        .defaultSizeMed {
            height: 370px;
        }

        .defaultSizeMedPanel {
            height: 290px;
            width: 100%;
        }

        .defaultSizeMax {
            height: 540px;
            font-size: xx-small;
        }

        .defaultSizeMaxPanel {
            height: 500px;
            width: 100%;
        }

        .defaultGroupTitle {
            float: left;
            /*width: 100%;*/
        }

        .defaultTitle {
            font-weight: bold;
            font-size: 14px;
            float: left;
        }

        .defaultSubtitle {
            font-weight: normal;
            font-size: 8px;
            text-transform: uppercase;
            float: left;
        }

        .defaultFilter {
            float: left;
            border-bottom: 1px dotted #ccc;
            margin-bottom: 5px;
            width: 100%;
            padding: 2px;
        }

        .defaultDivFilter {
            background-color: #06304e;
            color: #FFF;
            position: fixed;
            z-index: 9999;
            top: 50px;
        }

        .btn-filter {
            font-size: 12px;
            height: 26px;
            width: 23px;
            padding: 0;
        }

        .dropdown-menu open {
            width: 150px;
        }

        /*tbody > tr > td {
            word-break: break-all;
        }*/

        button[data-id=valor1Filtro] {
            width: 200px !important;
        }

        div.dropdown-menu.open {
            max-width: 300px;
            word-wrap: break-word;
            white-space: normal;
        }

        div.daterangepicker {
            width: 750px;
        }

        #example_wrapper > div.DTFC_ScrollWrapper > div.DTFC_RightWrapper > div.DTFC_RightHeadWrapper > table > thead > tr {
            background-color: #fff;
        }

        #example_wrapper > div.DTFC_ScrollWrapper > div.DTFC_RightWrapper > div.DTFC_RightBodyWrapper {
            top: -12px !important;
        }
    </style>

</head>

<body style="background-color:#ccc;padding-top:86px;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-brand" style="display:inline-block; padding:2px;"><img src="@Url.Content("~/Imagens/Logo.png")" style="height:45px;" /> </div>

                <div class="navbar-brand" style="display:inline-block; margin-left:5px;"><a href="#" style="font-family:'Century Gothic'; font-size:20px; font-weight:bold; color:#080533;">Plano de Ação</a></div>

            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">By GRJ Soluções</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("LogOut", "Home")">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li class="">
                            <a href="@Url.Action("FTAMock","Pa_Acao")">Form. de Tratamento de Anomalias (Simular)</a>
                        </li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="@Url.Action("Index","Home")">Relatórios</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="@Url.Action("Index","PaPlanejamentoAcao")">Gerenciar</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="@Url.Action("Index","Home2")">Dashboard</a>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!--MENU DE FILTROS-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDivInternal defaultDivFilter">
            <div class="defaultGroupTitle" style="width:auto; float:left; background-color:transparent;">
                <span class="defaultTitle" style="line-height:27px;">Filtros</span>
            </div>
            <div class="defaultFilter input-group" style="width:auto; float:right; background-color:transparent; border-bottom: 0px; margin-bottom:0px;">
                <div class="input-group-btn" style="width: 100px;">
                    <input type="text" class="form-control" name="daterange" value="01/01/2017 - 31/01/2017" />
                </div>
                &nbsp;
                <select   style="font-size:xx-small;" id="campo1Filtro" onchange="distinctFilter(dados, $(this).val(), 'valor1Filtro');">
                    <option value="">Todos</option>
                    <option value="Diretoria">Diretoria</option>
                    <option value="Dimensao">Dimensão</option>
                    <option value="Objetivo">Diretriz</option>
                    <option value="IndicadoresDiretriz">Indicadores / Diretriz</option>
                    <option value="TemaAssunto">Tema / Assunto</option>
                    <option value="Gerencia">Gerência</option>
                    <option value="Coordenacao">Coordenação</option>
                    <option value="Iniciativa">Projeto / Iniciativa</option>
                    <option value="_GrupoCausa">Grupo Causa</option>
                    <option value="_CausaGenerica">Causa Genérica</option>
                    <option value="_ContramedidaGenerica">Ação Genérica</option>
                    <option value="UnidadeName">Unidade</option>
                    <option value="_Quem">Quem</option>
                    <option value="_StatusName">Status</option>
                    <option value="Regional">Regional</option>
                    <option value="Level1Name">Indicador</option>
                    <option value="Level2Name">Monitoriamento</option>
                    <option value="Level3Name">Tarefa</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">Tipo Indicador</option>

                </select>
                &nbsp;
                <select       id="valor1Filtro">
                    <option>Todos</option>
                </select>
                &nbsp;
                <button class="btn btn-warning btn-filter" style="font-size:12px;" id="btnTop"><span class="glyphicon glyphicon-filter"></span></button>
            </div>

        </div>
    </div>
    <!--FIM MENU DE FILTROS-->
    <!--LINHA 1-->
    <!--<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMin">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Status das Ações</span>
                <br />
                <span class="defaultSubtitle">Total de ações por Status</span>
            </div>
            <div id="panel1" class="defaultSizeMinPanel"></div>
        </div>
    </div>-->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMin">
            <div class="defaultFilter ">

                <select   style="font-size:xx-small;" id="campo1FiltroPie2" onchange="distinctFilter(dados, $(this).val(), 'valor1FiltroPie2');">
                    <option value="Diretoria">Diretoria</option>
                    <option value="Dimensao">Dimensão</option>
                    <option value="Objetivo">Diretriz</option>
                    <option value="IndicadoresDiretriz">Indicadores / Diretriz</option>
                    <option value="TemaAssunto">Tema / Assunto</option>
                    <option value="Gerencia">Gerência</option>
                    <option value="Coordenacao">Coordenação</option>
                    <option value="Iniciativa">Projeto / Iniciativa</option>
                    <option value="_GrupoCausa">Grupo Causa</option>
                    <option value="_CausaGenerica">Causa Genérica</option>
                    <option value="_ContramedidaGenerica">Ação Genérica</option>
                    <option value="UnidadeName">Unidade</option>
                    <option value="_Quem">Quem</option>
                    <option value="_StatusName">Status</option>
                    <option value="Regional">Regional</option>
                    <option value="Level1Name">Indicador</option>
                    <option value="Level2Name">Monitoriamento</option>
                    <option value="Level3Name">Tarefa</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">Tipo Indicador</option>
                </select>
                &nbsp;
                <select       id="valor1FiltroPie2">
                    <option>Todos</option>
                </select>
                &nbsp;
                <button class="btn btn-warning btn-filter" style="font-size:12px;" id="btnFiltroPie2"><span class="glyphicon glyphicon-filter"></span></button>
            </div>
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Tarefas vs Status</span>
                <br />
                <span class="defaultSubtitle" id="spanPie2">Todas</span><span class="defaultSubtitle">&nbsp;por status</span><br />
            </div>
            <div id="panel2" class="defaultSizeMinPanel"></div>
        </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMin">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Estoque de Ações</span>
                <br />
                <span class="defaultSubtitle">Formação do Estoque de Ações</span>
            </div>
            <div id="panel4" class="defaultSizeMinPanel"></div>
        </div>
    </div>

    <!--FIM LINHA 1-->
    <!--LINHA 2-->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMed ">
            <div class="defaultFilter">
                <select   style="font-size:xx-small;" id="campo1Panel5" onchange="distinctFilter(dados, $(this).val(), 'valor1Panel5');" oncancel="filterEixoY('valor1Panel5')">

                    <option value="Diretoria">Diretoria</option>
                    <option value="Dimensao" selected>Dimensão</option>
                    <option value="Objetivo">Diretriz</option>
                    <option value="IndicadoresDiretriz">Indicadores / Diretriz</option>
                    <option value="TemaAssunto">Tema / Assunto</option>
                    <option value="Gerencia">Gerência</option>
                    <option value="Coordenacao">Coordenação</option>
                    <option value="Iniciativa">Projeto / Iniciativa</option>
                    <option value="Acao._GrupoCausa">Grupo Causa</option>
                    <option value="Acao._CausaGenerica">Causa Genérica</option>
                    <option value="Acao._ContramedidaGenerica">Ação Genérica</option>
                    <option value="Acao.UnidadeName">Unidade</option>
                    <option value="Acao._Quem">Quem</option>
                    <option value="Acao._StatusName">Status</option>
                    <option value="Acao.Regional">Regional</option>
                    <option value="Acao.Level1Name">Indicador</option>
                    <option value="Acao.Level2Name">Monitoriamento</option>
                    <option value="Acao.Level3Name">Tarefa</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">Tipo Indicador</option>
                </select>

                <select     id="valor1Panel5"></select>

                <select   style="font-size:xx-small;" id="campo2Panel5" onchange="distinctFilter(dados, $(this).val(), 'valor2Panel5');">
                    
                    <option value="Diretoria">Diretoria</option>
                    <option value="Dimensao">Dimensão</option>
                    <option value="Objetivo">Diretriz</option>
                    <option value="IndicadoresDiretriz">Indicadores / Diretriz</option>
                    <option value="TemaAssunto">Tema / Assunto</option>
                    <option value="Gerencia">Gerência</option>
                    <option value="Coordenacao">Coordenação</option>
                    <option value="Iniciativa">Projeto / Iniciativa</option>
                    <option value="Acao._GrupoCausa">Grupo Causa</option>
                    <option value="Acao._CausaGenerica">Causa Genérica</option>
                    <option value="Acao._ContramedidaGenerica">Ação Genérica</option>
                    <option value="Acao.UnidadeName">Unidade</option>
                    <option value="Acao._Quem">Quem</option>
                    <option value="Acao._StatusName" selected>Status</option>
                    <option value="Acao.Regional">Regional</option>
                    <option value="Acao.Level1Name">Indicador</option>
                    <option value="Acao.Level2Name">Monitoriamento</option>
                    <option value="Acao.Level3Name">Tarefa</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">Tipo Indicador</option>
                </select>

                <select     id="valor2Panel5"></select>
                <button class="btn btn-warning btn-filter" id="btnpanel5"><span class="glyphicon glyphicon-filter"></span></button>
                <button class="btn btn-danger btn-filter" onclick="btnOrder('campo1Panel5','campo2Panel5','panel5', this.id);" id="btnOrderFilterPanel5"><span class="glyphicon glyphicon-sort-by-attributes-alt" title="Ordem por Valor" id="spanOrder"></span></button>
            </div>
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Comparativo</span>
                <br />
                <span class="defaultSubtitle" id="FirstParamPanel5">Status </span>
                <span class="defaultSubtitle">&nbsp;por&nbsp;</span>
                <span class="defaultSubtitle" id="LastParamPanel5"> por Gerência</span>
            </div>
            <div id="panel5" class="defaultSizeMedPanel"></div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 defaultDiv Panel6">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMed">
            <div class="defaultFilter">
                <select   style="font-size:xx-small; width:50px;" id="campo1Panel6" onchange="distinctFilter(dados, $(this).val(), 'valor1Panel6');">
                    <option value="Diretoria">Diretoria</option>
                    <option value="Dimensao">Dimensão</option>
                    <option value="Objetivo">Diretriz</option>
                    <option value="IndicadoresDiretriz">Indicadores / Diretriz</option>
                    <option value="TemaAssunto">Tema / Assunto</option>
                    <option value="Gerencia" selected>Gerência</option>
                    <option value="Coordenacao">Coordenação</option>
                    <option value="Iniciativa">Projeto / Iniciativa</option>
                    <option value="Acao._GrupoCausa">Grupo Causa</option>
                    <option value="Acao._CausaGenerica">Causa Genérica</option>
                    <option value="Acao._ContramedidaGenerica">Ação Genérica</option>
                    <option value="Acao.UnidadeName">Unidade</option>
                    <option value="Acao._Quem">Quem</option>
                    <option value="Acao._StatusName">Status</option>
                    <option value="Acao.Regional">Regional</option>
                    <option value="Acao.Level1Name">Indicador</option>
                    <option value="Acao.Level2Name">Monitoriamento</option>
                    <option value="Acao.Level3Name">Tarefa</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">Tipo Indicador</option>
                </select>

                <select       id="valor1Panel6"></select>

                <select   style="font-size:xx-small;" id="campo2Panel6" onchange="distinctFilter(dados, $(this).val(), 'valor2Panel6');">
                    
                    <option value="Diretoria">Diretoria</option>
                    <option value="Dimensao">Dimensão</option>
                    <option value="Objetivo">Diretriz</option>
                    <option value="IndicadoresDiretriz">Indicadores / Diretriz</option>
                    <option value="TemaAssunto">Tema / Assunto</option>
                    <option value="Gerencia">Gerência</option>
                    <option value="Coordenacao">Coordenação</option>
                    <option value="Iniciativa">Projeto / Iniciativa</option>
                    <option value="Acao._GrupoCausa">Grupo Causa</option>
                    <option value="Acao._CausaGenerica">Causa Genérica</option>
                    <option value="Acao._ContramedidaGenerica">Ação Genérica</option>
                    <option value="Acao.UnidadeName">Unidade</option>
                    <option value="Acao._Quem">Quem</option>
                    <option value="Acao._StatusName" selected>Status</option>
                    <option value="Acao.Regional">Regional</option>
                    <option value="Acao.Level1Name">Indicador</option>
                    <option value="Acao.Level2Name">Monitoriamento</option>
                    <option value="Acao.Level3Name">Tarefa</option>
                    <option class="optionAlternativeRole" value="Acao.TipoIndicador">Tipo Indicador</option>
                </select>

                <select       id="valor2Panel6"></select>

                <button class="btn btn-warning btn-filter" id="btnpanel6"><span class="glyphicon glyphicon-filter"></span></button>
                <button class="btn btn-danger btn-filter" onclick="btnOrder('campo1Panel6','campo2Panel6','panel6', this.id);" id="btnOrderFilterPanel6"><span class="glyphicon glyphicon-sort-by-attributes-alt" title="Orderm por Valor" id="spanOrder"></span></button>
            </div>
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Comparativo</span>
                <br />
                <span class="defaultSubtitle" id="FirstParamPanel6">Status</span>
                <span class="defaultSubtitle">&nbsp;por&nbsp;</span>
                <span class="defaultSubtitle" id="LastParamPanel6">Pessoa</span>
            </div>
            <div id="panel6" class="defaultSizeMedPanel"></div>
        </div>
    </div>

    <!--FIM LINHA 2-->
    <!--LINHA 3-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 defaultDiv">
        <div class="col-lg-12 col-md-12 col-sm-12 defaultDivInternal defaultSizeMax">
            <div class="defaultGroupTitle">
                <span class="defaultTitle">Gerenciador de Tarefas</span>
                <br />
                <span class="defaultSubtitle" id="spanSubTable">Todas as tarefas para filtrar</span>
            </div>

            <br /><br /><br />

            <div id="panel7" class="defaultSizeMaxPanel outer">
                <div class="inner">
                    <table id="example" class="display" cellspacing="0" style="font-size: 8pt;">
                        <thead>
                            <tr>

                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--FIM LINHA 3-->


    @Scripts.Render("~/bundles/panovoScriptBundle")



</body>

<footer>

    @*<script type="text/javascript" src="~/Scripts/PANovo/js/jquery-1.12.4.js"></script>

        <script src="~/Scripts/PANovo/js/popper.min.js"></script>
        <script src="~/Scripts/PANovo/js/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/PANovo/js/highcharts.js"></script>
        <script src="~/Scripts/PANovo/js/treemap.js"></script>
        <script src="~/Scripts/PANovo/js/bootstrap-select.min.js"></script>
        <script src="~/Scripts/PANovo/js/defaults-pt_BR.min.js"></script>
        <script src="~/Scripts/GuardJs.js"></script>

        <script type="text/javascript" src="~/Scripts/PANovo/js/moment.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/daterangepicker.js"></script>

        <script type="text/javascript" src="~/Scripts/PANovo/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/jszip.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/pdfmake.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/vfs_fonts.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="~/Scripts/PANovo/js/buttons.print.min.js"></script>

        <script type="text/javascript" src="~/Scripts/PANovo/js/pt-br.js"></script>*@


</footer>

@*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@

<script>

    //Graficos Instancia

    //Cria Arr de dados e instancia HC para Grafico Estoque, panel4
    function graficoEstoque() {


        dadosEstoque = [];

        jQuery.each(dados, function (i, val) {
            //if (dados[i].Acao._Acompanhamento.length != 0)
            dadosEstoque.push(dados[i]);
        });
        //MOCK Acompanhamento
        dadosEstoque.forEach(function (o, c) {
            //if (c < 5)
            //    o.Acao['Acompanhamento'] = { AddDate: "2017-11-08T14:43:19.3044096" }
            //else if (c > 5 && c < 8)
            //    o.Acao['Acompanhamento'] = { AddDate: "2017-10-08T14:43:19.3044096" }
            //else
            //    o.Acao['Acompanhamento'] = { AddDate: "2017-09-08T14:43:19.3044096" }

            //o.Acao['Acompanhamento'] = { AddDate: '' + o.Acao.AddDate.substring(0, 4) + '-' + o.Acao.AddDate.substring(8, 10) + '-' + o.Acao.AddDate.substring(5, 7) + '' };
            var tamanho = o.Acao._Acompanhamento.length
            if (tamanho == 0) {
                o.Acao['Acompanhamento'] = { AddDate: "1900-01-01" };
            } else {
                o.Acao['Acompanhamento'] = { AddDate: o.Acao._Acompanhamento[tamanho - 1].AddDate };
            }

            //console.log(o.Acao['Acompanhamento']);

        })
        //FIM MOCK Acompanhamento

        //dadosEstoque.sort(function (a, b) { return (a.Acao.Acompanhamento > b.Acao.Acompanhamento) ? 1 : ((b.Acao.Acompanhamento > a.Acao.Acompanhamento) ? -1 : 0); });

        //novo
        //dadosEstoque.sort((a, b) => a.Acao.Acompanhamento !== b.Acao.Acompanhamento ? a.Acao.Acompanhamento < b.Acao.Acompanhamento ? -1 : 1 : 0);

        //dadosEstoque.sort((a, b) => a.Acao.QuandoInicio !== b.Acao.QuandoInicio ? a.Acao.QuandoInicio < b.Acao.QuandoInicio ? -1 : 1 : 0);

        //groups = _.groupBy(dadosEstoque, function (o) {
        //    return moment(o.Acao.Acompanhamento.AddDate.substring(0, 7) + '-01' + o.Acao.Acompanhamento.AddDate.substring(10, 25)).startOf('mounth').format();
        //});

        //let categoriesArr = _.map(groups, function (group, day) {

        //    switch (day.substring(3, 5)) {
        //        case '01':
        //            retorno = "Janeiro";
        //            break;
        //        case '02':
        //            retorno = "Fevereiro";
        //            break;
        //        case '03':
        //            retorno = "Março";
        //            break;
        //        case '04':
        //            retorno = "Abril";
        //            break;
        //        case '05':
        //            retorno = "Maio";
        //            break;
        //        case '06':
        //            retorno = "Junho";
        //            break;
        //        case '07':
        //            retorno = "Julho";
        //            break;
        //        case '08':
        //            retorno = "Agosto";
        //            break;
        //        case '09':
        //            retorno = "Setembro";
        //            break;
        //        case '10':
        //            retorno = "Outubro";
        //            break;
        //        case '11':
        //            retorno = "Novembro";
        //            break;
        //        case '12':
        //            retorno = "Dezembro";
        //            break;
        //    }

        //    return retorno + ' de ' + day.substring(6, 10);
        //})

        //let serieArrFinal = [{
        //    type: 'column',
        //    name: 'Abertas',
        //    data: _.map(groups, function (group, day) {
        //        return getRegistrosNaoConcluidos(group).length
        //    }),
        //    color: andamentoColor
        //}, {
        //    type: 'column',
        //    name: 'Fechada',
        //    data: _.map(groups, function (group, day) {
        //        return getRegistrosConcluidos(group).length
        //    }),
        //    color: concluidoColor
        //}, {
        //    type: 'spline',
        //    name: 'Estoque',
        //    data: _.map(groups, function (group, day) {
        //        return getRegistrosNaoConcluidos(group).length - getRegistrosConcluidos(group).length
        //    }),
        //    color: atrasadaColor,
        //    marker: {
        //        lineWidth: 2,
        //        lineColor: atrasadaColor,
        //        fillColor: atrasadaColor
        //    }
        //}];

        let categoriesArr = [];
        categoriesArr.push(new Date('2017/01/01'));
        categoriesArr.push(new Date('2017/02/01'));
        categoriesArr.push(new Date('2017/03/01'));
        categoriesArr.push(new Date('2017/04/01'));
        categoriesArr.push(new Date('2017/05/01'));
        categoriesArr.push(new Date('2017/06/01'));
        categoriesArr.push(new Date('2017/07/01'));
        categoriesArr.push(new Date('2017/08/01'));
        categoriesArr.push(new Date('2017/09/01'));
        categoriesArr.push(new Date('2017/10/01'));
        categoriesArr.push(new Date('2017/11/01'));
        categoriesArr.push(new Date('2017/12/01'));

        let arrayAndamento = [];

        let arrayFechadas = [];

        let arrayEstoque = [];

        let Aux = [];

        let apenasAcoesAbertas = [];

        let apenasAcoesFechadas = [];

        for (var i = 0; i < categoriesArr.length; i++) {

            arrayAndamento[i] = $.grep(dadosEstoque, function (o, j) {
                return new Date(o.Acao.QuandoInicio).getFullYear() == categoriesArr[i].getFullYear() && new Date(o.Acao.QuandoInicio).getMonth() == categoriesArr[i].getMonth() && o.Acao._StatusName.indexOf('Cancelada') < 0;
            }).length;

        }

        for (var i = 0; i < categoriesArr.length; i++) {

            arrayFechadas[i] = $.grep(dadosEstoque, function (o, j) {
                return new Date(o.Acao.Acompanhamento.AddDate).getFullYear() == categoriesArr[i].getFullYear() && new Date(o.Acao.Acompanhamento.AddDate).getMonth() == categoriesArr[i].getMonth() && o.Acao._StatusName && (o.Acao._StatusName.indexOf('Concluído') >= 0 || o.Acao._StatusName.indexOf('Finalizada')) >= 0;
            }).length;

        }



        //arrayAndamento = [1, 2, 3, 4, 5, 6];
        //arrayFechadas = [6, 2, 4, 1, 0, 1];

        arrayEstoque[0] = 0;

        for (var i = 0; i < categoriesArr.length; i++) {
            if (i == 0) {
                arrayEstoque[0] = arrayAndamento[0] - arrayFechadas[0];
            } else {
                arrayEstoque[i] = arrayEstoque[i - 1] + (arrayAndamento[i] - arrayFechadas[i]);
            }

        }



        let serieArrFinal = [{
            type: 'column',
            name: 'Abertas',
            data: arrayAndamento,
            color: andamentoColor
        }, {
            type: 'column',
            name: 'Fechada',
            data: arrayFechadas,
            color: concluidoColor
        }, {
            type: 'spline',
            name: 'Estoque',
            data: arrayEstoque,
            color: atrasadaColor,
            marker: {
                lineWidth: 2,
                lineColor: atrasadaColor,
                fillColor: atrasadaColor
            }
        }];


        for (var i = 0; i < categoriesArr.length; i++) {

            retorno = '';
            
            switch (categoriesArr[i].getMonth()) {
                case 0:
                    retorno = "Janeiro";
                    break;
                case 1:
                    retorno = "Fevereiro";
                    break;
                case 2:
                    retorno = "Março";
                    break;
                case 3:
                    retorno =  "Abril";
                    break;
                case 4:
                    retorno =  "Maio";
                    break;
                case 5:
                    retorno =  "Junho";
                    break;
                case 6:
                    retorno =  "Julho";
                    break;
                case 7:
                    retorno =  "Agosto";
                    break;
                case 8:
                    retorno =  "Setembro";
                    break;
                case 9:
                    retorno =  "Outubro";
                    break;
                case 10:
                    retorno =  "Novembro";
                    break;
                case 11:
                    retorno =  "Dezembro";
                    break;
            }

            categoriesArr[i] = retorno + ' de ' + categoriesArr[i].getFullYear();

        }


        makeChart('panel4', categoriesArr, serieArrFinal, 'column', '', {
            //    //plotOptions: {
            //    //    series: {
            //    //        //stacking: 'normal',
            //    //        events: {
            //    //            click: function (event) {
            //    //                filterBar1ForDataTable(event.point.name, event.point.category)
            //    //            }
            //    //        }
            //    //    },
            //    //    bar: {
            //    //        dataLabels: {
            //    //            enabled: false
            //    //        }
            //    //    }
            //    //},
        })

        $('select:not(#valor1Filtro)').select2({
            dropdownAutoWidth: true,
            width: '140px'
        })

        $('select#valor1Filtro').select2({
            dropdownAutoWidth: true,
            width: '250px'
        })

    }

</script>
