@model  List<SgqSystem.Controllers.ChangeLog>
@{
    ViewBag.Title = "Versão dos Scripts";
    var @urlBuscarScript = Url.Action("GetScriptsVersion", "api/ScriptsVersion");
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "ScriptsVersion")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Script Version</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-2 form-group">
                    <ul>
                        <li>
                            <strong>Versões</strong>
                            <ul>

                                @foreach (var v in (List<SgqSystem.Controllers.Version>)ViewBag.Versions)
                                {
                                    <li>
                                        <a href="?version=@Html.Raw(v.Name)">@Html.Raw(v.Name)</a>
                                        <i class="@Html.Raw(v.Fa_Icon)" aria-hidden="true"></i>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

                @if (Model.Count > 0)
                {
                    <div class="panel-group col-sm-10">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                            <h2 class="panel-title">
                                <a id="v103" class="ing">
                                    Versão @Html.Raw(Model[0].Version)
                                    <button class="btn btn-sm btn-primary pull-right"
                                            id="btnBaixarScripts"
                                            style="margin-top:-5px !important;">
                                        Baixar Scripts
                                    </button>
                                </a>
                            </h2>
                        </div>

                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div id="pt1" class="panel panel-default ">
                                <div class="panel-heading accordion-toggle question-toggle collapsed"
                                     data-toggle="collapse" data-target="@Html.Raw("#changeLog"+i)">
                                    <h4 class="panel-title">
                                        <a href="#" id="" class="ing">@Html.Raw(Model[i].CardNumber) - @Html.Raw(Model[i].Description)</a>
                                    </h4>
                                </div>
                                <div id="@Html.Raw("changeLog"+i)" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        @if (Model[i].Script.Length > 0)
                                        {
                                            <pre>Insert into MigrationHistory (Name, AddDate) VALUES ('@Html.Raw(Model[i].CardNumber)',GetDate())</pre>

                                            <pre>@Html.Raw(Model[i].Script)</pre>
                                        }
                                        else
                                        {
                                            <small>Não há scripts nesta entrega</small>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        var urlBuscarScript = '@Html.Raw(@urlBuscarScript)';

        $("#btnBaixarScripts").on("click", function () {

            var script = '';
            $($('pre')).each(function (i, o) {
                script += $(o).text();
                script += '\nGO\n'
            });

            // Start file download.
            @if (Model.Count > 0) {
                <text>download("@Html.Raw(Model[0].Version+".txt")", script);</text>
            }

        })

    </script>
}
