@model SgqSystem.ViewModels.ContextExampleViewModel
@{
    ViewBag.Title = "Example";
    var url = Url.Action("AddExample", "api/Example"); //URL relativa
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.example.Id)
  
    @Html.LabelFor(m => m.example.Name, htmlAttributes: new { @class = "", @style = "width:210px" })
    @Html.TextBoxFor(m => m.example.Name, htmlAttributes: new { @class = "form-control", @style = "width:210px" })

    @Html.LabelFor(m => m.example.Description, htmlAttributes: new { @class = "", @style = "width:210px" })
    @Html.TextBoxFor(m => m.example.Description, htmlAttributes: new { @class = "form-control", @style = "width:210px" })

    @Html.Label("Select item Example", htmlAttributes: new { @class = "", @style = "width:210px" })
    @Html.DropDownList("example.SelectedElement", Model.ShiftSelectListExample, "Select one", htmlAttributes: new { @class = "form-control", @style = "width:210px" })
    
    <input type="button" value="Enviar Para API" onclick="indexParamsLevel1.enviarDadosParaApi()"/>
}

<script>
    var url1 = '@Html.Raw(@url)';

    var indexParamsLevel1 = {
        enviarDadosParaApi: function (e) {
            var dados = $('form').serializeObject();
            $.post(url1, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                console.log(objetoReturn);
                console.log(statusmessage);
                console.log(respostaCompleta);
            });
        }
    }

</script>