
@{
    Layout = null;
}

@Styles.Render("~/Content/General")
@Styles.Render("~/Content/Erp")
@Styles.Render("~/Content/select2css")
@Styles.Render("~/Content/DatePikerContentCss")
@Scripts.Render("~/bundles/modernizr")
@Styles.Render("~/Content/Tables")

@*<link href="~/Scripts/theme/css/components.min.css" rel="stylesheet" />*@
@*<link href="~/Scripts/theme/css/darkblue.min.css" rel="stylesheet" />*@
<link href="~/Scripts/theme/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@*<link href="~/Scripts/theme/css/layout.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/ScriptTables")
@*@Scripts.Render("~/bundles/theme")*@
@Scripts.Render("~/bundles/select2js")
@Scripts.Render("~/bundles/DatePikerContent")
@Scripts.Render("~/bundles/Guard")
@Scripts.Render("~/bundles/mask")
@Scripts.Render("~/bundles/hc")


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TesteSelect2</title>
</head>
<body>
    <div> 
        <select class="form-control">
            <option value="1">Teste1</option>
            <option value="2">Teste2</option>
            <option value="3">Teste3</option>
            <option value="4">Teste4</option>
        </select>
    </div>
</body>
</html>
