@model IEnumerable<Dominio.ParReason>

@{
    ViewBag.Title = Resources.Resource.LateReason;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>

                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.LateReason</span>
                </li>
            </ul>
            <div class="page-toolbar"> </div>
        </div>
        @Html.Partial("~/Views/Shared/_MensagemAtualizartablets.cshtml")
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.LateReason</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">
                                <p>
                                    @Html.ActionLink(Resources.Resource.create, "Create", null, new { @class = "btn btn-primary" })
                                </p>
                                <table class="table table-condensed" id="tabelaMotivo">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Resources.Resource.LateReason
                                            </th>
                                            <th>
                                                @Resources.Resource.is_active
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Motivo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsActive)
                                                </td>
                                                <td>
                                                    @Html.ActionLink(Resources.Resource.edit, "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        DataTableComResourcesEpropriedadesjaSetadas.aoColumns = [
            null,
            null,
            { "bSearchable": false }
        ];
        $('#tabelaMotivo').dataTable(DataTableComResourcesEpropriedadesjaSetadas);
    });

</script>