@model Dominio.ParCluster

@{
    ViewBag.Title = "Delete";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "ParClusters")">@Resources.Resource.clusters</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.cluster</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span class="thin uppercase" id="currentDate"></span>&nbsp;
                    </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.cluster</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <h3>@Resources.Resource.confirm_delete?</h3>
                                <div>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Resources.Resource.name
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Name)
                                        </dd>

                                        <dt>
                                            @Resources.Resource.description
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>

                                        <dt>
                                            @Resources.Resource.cluster
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ParClusterParent_Id)
                                        </dd>

                                        <dt>
                                            @Resources.Resource.cluster_group
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ParClusterGroup.Name)
                                        </dd>

                                    </dl>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            @*<input type="submit" value="@Resources.Resource.delete" class="btn btn-default" /> |*@
                                            @Html.ActionLink(Resources.Resource.back_to_list, "Index", null, new { @class = "btn btn-default" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
</div>


<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar3");

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>
