@model Dominio.ParLevel3BoolFalse

<div class="page-content-wrapper">
    <div class="page-content" style="min-height: 600px;">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "ParBinaryDataType")">@Resources.Resource.measurement_units</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.measurement_unit</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">
                                <h4>@Resources.Resource.negative_input_type</h4>
                                <hr />
                                <h3>@Resources.Resource.confirm_delete?</h3>
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayName(Resources.Resource.name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>

                                    @*<dt>
                                            @Html.DisplayNameFor(model => model.AddDate)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AddDate)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.AlterDate)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AlterDate)
                                        </dd>*@

                                    <dt>
                                        @Html.DisplayName(Resources.Resource.is_active)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.IsActive)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
            {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="@Resources.Resource.delete" class="btn btn-danger" />
                                        @Html.ActionLink(Resources.Resource.back_to_list, "Index", null, new { @class = "btn btn-default" })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar5");

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>
