@{
    ViewBag.Title = "Edit";
    var Id = Url.RequestContext.RouteData.Values["Id"];
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="@Url.Action("Index", "UserSgq")">@Resources.Resource.users</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.edit_user</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span class="thin uppercase" id="currentDate"></span>&nbsp;
                    </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.edit_user</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="setup_tab">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group hide">
                                        <div class="col-md-10">
                                            @Html.Editor("userSgqDto.Id", new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.FullName", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group hide">
                                            @Html.Label(Resources.Resource.date, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.AccessDate", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group hide">
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.AddDate", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group hide">
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.AlterDate", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.Email", new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.Phone", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                @Html.Label(Resources.Resource.default_company, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.DropDownList("userSgqDto.ParCompany_Id", new SelectList(ViewBag.listaParCompany, "Id", "Name"), new { @class = "form-control" })
                                                </div>
                                            </div>*@

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.company, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("userSgqDto.ListParCompany_Id", new SelectList(ViewBag.listaParCompany, "Id", "Name"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.role, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("userSgqDto.ListRole", new SelectList(ViewBag.listaRoleSGQ, "Name", "Name"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        @if (@DTO.GlobalConfig.Eua)
                                        {
                                            <div class="form-group">
                                                @Html.Label(Resources.Resource.is_active, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <input id="userSgqDto_IsActive" name="userSgqDto.IsActive" type="checkbox" value="">
                                                </div>
                                            </div>
                                        }

                                        <hr />

                                        @if (@DTO.GlobalConfig.Eua)
                                        {
                                            <div class="form-group">
                                                @Html.Label(Resources.Resource.use_active_directory, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    <input id="userSgqDto_UseActiveDirectory" name="userSgqDto.UseActiveDirectory" type="checkbox" value="">
                                                </div>
                                            </div>
                                        }

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.username, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.Editor("userSgqDto.Name", new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div id="passwordContainer">

                                            <div class="form-group">
                                                @Html.Label(Resources.Resource.password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.Editor("userSgqDto.Password", new { htmlAttributes = new { @class = "form-control", @type = "password", @maxlength = "7" } })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.Label(Resources.Resource.confirm_password, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.Editor("userSgqDto.ConfirmPassword", new { htmlAttributes = new { @class = "form-control", @type = "password", @maxlength = "7" } })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="button" id="btnChangePassword" class="btn btn-warning">@Resources.Resource.change_password</button>
                                                <button type="button" id="btnSave" class="btn btn-default">@Resources.Resource.save</button>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>

                            <div>
                                @Html.ActionLink(Resources.Resource.back_to_list, "Index")
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar15");

    $('#AlterDate').val(new Date($.now()).toUTCString());

    $(document).on("click", "#btnChangePassword", function () {
        if ($("#passwordContainer").hasClass("hide")) {
            $("#passwordContainer").removeClass("hide");
            $("#userSgqDto_Password").val("");
            $("#userSgqDto_ConfirmPassword").val("");
            $(this).text(Resources('do_not_change_password'));
        } else {
            $(this).text(Resources('change_password'));
            $("#passwordContainer").addClass("hide");
        }
    });

    $(document).on("click", "#btnSave", function () {

        var valid = true;

        if ($("#userSgqDto_FullName").val() == "") {
            openMessageModal(Resources('fullname_required'), '');
            return;
        }

        if ($("#userSgqDto_Name").val() == "") {
            openMessageModal(Resources('username_required'), '');
            return;
        }

        if ($("#userSgqDto_ListParCompany_Id").val().length == 0) {
            openMessageModal(Resources('select_one_company'), '');
            return;
        }


        if (!$("#passwordContainer").hasClass("hide")) {

            if ($("#userSgqDto_Password").val() == "") {
                openMessageModal(Resources('password_required'), '');
                return;
            }

            if ($("#userSgqDto_Password").val() != $("#userSgqDto_ConfirmPassword").val()) {
                openMessageModal(Resources('invalid_password'), '');
                return;
            }

        }

        $.post("@Url.Action("Save", "UserSgq")", $('form').serializeObject(), function () {
            openMessageModal(Resources('user_save_success'), '');
        })
    });

    $(document).on('switchChange.bootstrapSwitch', '#userSgqDto_UseActiveDirectory', function () {
        $(this).is(":checked") ? $('#userSgqDto_UseActiveDirectory').val(true) : $('#userSgqDto_UseActiveDirectory').val(false)
        setupAD();
    });

    function setupAD() {
        if ($('#userSgqDto_UseActiveDirectory').length > 0) {
            if (!$('#userSgqDto_UseActiveDirectory').prop('checked')) {
                $('#btnChangePassword').removeClass("hide");
            } else {
                $('#passwordContainer').addClass("hide");
                $('#btnChangePassword').addClass("hide");
            }
        }
    }

    $(document).ready(function () {

        $.fn.bootstrapSwitch.defaults.size = 'small';
        $.fn.bootstrapSwitch.defaults.onText = '@Resources.Resource.yes';
        $.fn.bootstrapSwitch.defaults.offText = '@Resources.Resource.no';
        $("[type='checkbox']").bootstrapSwitch();

        $.get("@Url.Action("Get", "api/UserSgq")", { 'Id': @Id }, function (object) {
            for (var key in object) {
                var obj = object[key];
                $('#userSgqDto_' + key).val(obj);

                if (!!$('#userSgqDto_' + key).data("select2")) {
                    $('#userSgqDto_' + key).val(obj).trigger("change");
                }
            }

            if(object["IsActive"]){
                $("#userSgqDto_IsActive").attr('checked', true).trigger('change');
            }

            if (object["UseActiveDirectory"]) {
                $("#userSgqDto_UseActiveDirectory").attr('checked', true).trigger('change');
            }

            $("#passwordContainer").addClass("hide");
            $("#userSgqDto_Password").val("");
            $("#userSgqDto_ConfirmPassword").val("");

            setupAD();
        })

        $("#userSgqDto_ListParCompany_Id").attr("multiple", "multiple");
        $("#userSgqDto_ListParCompany_Id").select2();

        $("#userSgqDto_ListRole").attr("multiple", "multiple");
        $("#userSgqDto_ListRole").select2();

        $('#userSgqDto_IsActive').change(function(){

            $(this).is(":checked") ? $('#userSgqDto_IsActive').val(true) : $('#userSgqDto_IsActive').val(false)

        });
    })

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
