@using SgqSystem.Helpers

@using (Html.BeginForm(null, null, new { @id = string.Empty }, FormMethod.Post,
    new { @id = "formParCompany" }))
{
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-sm" onclick='indexParCompany.novo();'>@Resources.Resource._new</button>
        </div>
        <div class="col-lg-12">
            <table class="table-erp table table-condensed table-bordered table-margin">
                <thead>
                    <tr>
                        <th>@Resources.Resource.name</th>
                        <th>@Resources.Resource.description</th>
                        <th>@Resources.Resource.initials</th>
                        <th>@Resources.Resource.sif</th>
                        <th>@Resources.Resource.company_number</th>
                        <th>@Resources.Resource.ip_server</th>
                        <th>@Resources.Resource.db_server</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tBodySC">
                    @foreach (var o in ViewBag.listaParCompany)
                    {
                        <tr>
                            <td>@o.Name</td>
                            <td>@o.Description</td>
                            <td>@o.Initials</td>
                            <td>@o.SIF</td>
                            <td>@o.CompanyNumber</td>
                            <td>@o.IPServer</td>
                            <td>@o.DBServer</td>
                            <td><button type="button" class="btn btn-primary btn-sm" onclick='indexParCompany.editar(@Html.Raw(Json.Encode(o)));'>@Resources.Resource.edit</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<script>

    function clusterListAdd() {
        if ($('#clusterListId :selected').val() != "") {
            if ($('#clusterList').children('tbody').children('tr[value=' + $('#clusterListId :selected').val() + ']').length == 0)
                $('#clusterList').children('tbody').append('<tr value=' + $('#clusterListId :selected').val() + '><td>' + $('#clusterListId :selected').text() + '<i class="fa fa-close pull-right text-danger" onclick="removeClusterList(' + $('#clusterListId :selected').val() + ')" style="margin: 4px;"></i></td></tr>');

            if ($('#clusterList').children('tbody').children('tr[value=' + $('#clusterListId :selected').val() + ']').length == 1)
                $("#btnAddCluster").addClass("disabled");
        }             
    }

    function structureGroupListAdd() {
        if ($('#structureGroupListId :selected').val() != "") {
            if ($('#structureGroupList').children('tbody').children('tr[value=' + $('#structureGroupListId :selected').val() + ']').length == 0)
                $('#structureGroupList').children('tbody').append('<tr value=' + $('#structureGroupListId :selected').val() + '><td>' + $('#structureGroupListId :selected').text() + '<i class="fa fa-close pull-right text-danger" onclick="removeStructureGroupList(' + $('#structureGroupListId :selected').val() + ')" style="margin: 4px;"></i></td></tr>');
        }
    }

    function removeClusterList(value) {
        $('#clusterList').children('tbody').children('tr[value=' + value + ']').remove();
        $("#btnAddCluster").removeClass("disabled");
    }

    function removeStructureGroupList(value, modal) {
        $('#structureGroupList').children('tbody').children('tr[value=' + value + ']').remove();
    }

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>