@model Dominio.VolumeCepRecortes

@{
    var ValorNbr = Model.NBR ?? 0;
    var adicaoEdicao = "Edição";
    ViewBag.Title = "CEP Recortes - Volume";
}


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "CepRecortes")">Volume de @Resources.Resource.cep_recortes</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@adicaoEdicao</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.cep_recortes</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @{ Html.EnableClientValidation(false); }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @{ Html.EnableClientValidation(true); }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParCompany_id, "Unidade", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.ParCompany_id, new SelectList(ViewBag.UnidadeUsuario, "Id", "Name"), @*Resources.Resource.select + "...",*@ new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ParCompany_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParLevel1_id, "Indicador", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.ParLevel1_id, null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ParLevel1_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HorasTrabalhadasPorDia, "Horas trabalhadas por dia", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.HorasTrabalhadasPorDia, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.HorasTrabalhadasPorDia, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.QtdadeMediaKgRecProdDia, "Quantidade Média em KG de Recortes Produzidos Diáriamente", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.QtdadeMediaKgRecProdDia, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.QtdadeMediaKgRecProdDia, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.QtdadeMediaKgRecProdHora, "Quantidade Média em KG de Recortes Produzidos Por Hora", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.QtdadeMediaKgRecProdHora, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                                                @Html.ValidationMessageFor(model => model.QtdadeMediaKgRecProdHora, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.QtdadeMediaKgRecProdHora, htmlAttributes: new { @id = "QtdadeMediaKgRecProdHoraHidden" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NBR, "NBR - Nível Geral de Inspeção Escolhido", htmlAttributes: new { @class = "control -label col-md-2" })
                                            <div class="col-md-10">
                                                <select id="NBR" name="NBR" class="form-control valid">
                                                    <option value="-1">@Resources.Resource.select</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    
                                                </select>

                                                @Html.ValidationMessageFor(model => model.NBR, "", new { @class = "text-danger" })

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalKgAvaliaHoraProd, "Total em KG Para Avaliação Por Hora de Produção", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TotalKgAvaliaHoraProd, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                                                @Html.ValidationMessageFor(model => model.TotalKgAvaliaHoraProd, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.TotalKgAvaliaHoraProd, htmlAttributes: new { @id = "TotalKgAvaliaHoraProdHidden" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.QtadeTrabEsteiraRecortes, "Quantidade de Colaboradores Ou Esteiras de Recortes", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.QtadeTrabEsteiraRecortes, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.QtadeTrabEsteiraRecortes, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalAvaliaColaborEsteirHoraProd, "Total em KG Para Avaliação Por Colaborador/Esteira, Por Hora de Produção", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TotalAvaliaColaborEsteirHoraProd, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TotalAvaliaColaborEsteirHoraProd, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TamanhoAmostra, "Tamanho de Cada Amostra (3KG; 4KG ou 5KG)", htmlAttributes: new { @class = "control -label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.TamanhoAmostra, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.TamanhoAmostra, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.TotalAmostraAvaliaColabEsteiraHoraProd, "Total de Amostras Para Avaliação Por Colaborador/Esteira, Por Hora de Produção", htmlAttributes: new { @class = "control -label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TotalAmostraAvaliaColabEsteiraHoraProd, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                                                @Html.ValidationMessageFor(model => model.TotalAmostraAvaliaColabEsteiraHoraProd, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.TotalAmostraAvaliaColabEsteiraHoraProd, htmlAttributes: new { @id = "TotalAmostraAvaliaColabEsteiraHoraProdHidden" })
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Avaliacoes, "Avaliações", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Avaliacoes, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Avaliacoes, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.Avaliacoes, htmlAttributes: new { @id = "avaliacaoHidden" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Amostras, "Amostras", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Amostras, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Amostras, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.Amostras, htmlAttributes: new { @id = "amostraHidden" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Salvar" class="btn btn-default" /> |
                                                @Html.ActionLink("Voltar para Volume de CEP Recortes", "Index")
                                            </div>
                                        </div>
                                    </div>
                                            }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<script>


    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar7");

    $('#HorasTrabalhadasPorDia').on('input', function () {
        $('#Avaliacoes').val($(this).val());
        $('#avaliacaoHidden').val($(this).val());
    });

    $('#HorasTrabalhadasPorDia, #QtdadeMediaKgRecProdDia').on('input', function () {
        $('#QtdadeMediaKgRecProdHora').val(Math.round(($('#QtdadeMediaKgRecProdDia').val() / $('#HorasTrabalhadasPorDia').val())));
        $('#QtdadeMediaKgRecProdHoraHidden').val(Math.round(($('#QtdadeMediaKgRecProdDia').val() / $('#HorasTrabalhadasPorDia').val())));
    });

    $('#QtdadeMediaKgRecProdHora, #NBR').on('input', function () {

        $.get("../api/NQA/getNQA/" + $('#NBR').val() + "/" + $('#QtdadeMediaKgRecProdHora').val() + "", function (r) {
            console.log(r);

            $('#TotalKgAvaliaHoraProd').val(r);
            $('#TotalKgAvaliaHoraProdHidden').val(r);

        });

    });

    $('#QtadeTrabEsteiraRecortes, #TotalKgAvaliaHoraProd').on('input', function () {
        $('#TotalAvaliaColaborEsteirHoraProd').val(($('#TotalKgAvaliaHoraProd').val() / $('#QtadeTrabEsteiraRecortes').val()));
        $('#TotalAvaliaColaborEsteirHoraProdHidden').val(($('#TotalKgAvaliaHoraProd').val() / $('#QtadeTrabEsteiraRecortes').val()));
    });


    $('#TotalAvaliaColaborEsteirHoraProd, #TamanhoAmostra').on('input', function () {
        var resultadoSeiLaDoQue = ($('#TotalAvaliaColaborEsteirHoraProd').val() / $('#TamanhoAmostra').val());
        $('#TotalAmostraAvaliaColabEsteiraHoraProd').val(Math.round(resultadoSeiLaDoQue));
        $('#TotalAmostraAvaliaColabEsteiraHoraProdHidden').val(Math.round(resultadoSeiLaDoQue));
        $('#Amostras').val((Math.round(resultadoSeiLaDoQue)) * $('#QtadeTrabEsteiraRecortes').val());
        $('#amostraHidden').val(resultadoSeiLaDoQue);
    });

    $('#btnTeste').click(function (e) {


    });



    //$('#Data').daterangepicker({
    //    singleDatePicker: true,
    //    showDropdowns: true
    //});

    $(document).ready(function () {

        $('#HorasTrabalhadasPorDia').inputmask("integer", { rightAlign: false, min: 0, max: 24 });
        $('#QtdadeMediaKgRecProdDia').inputmask("integer", { rightAlign: false });
        $('#QtadeTrabEsteiraRecortes').inputmask("integer", { rightAlign: false });
        $('#TotalAvaliaColaborEsteirHoraProd').inputmask("integer", { rightAlign: false });
        $('#EditorFor').inputmask("integer", { rightAlign: false });
        $('#TamanhoAmostra').inputmask("integer", { rightAlign: false });

        $('#Data').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            'locale': {
                "format": "DD/MM/YYYY",
            }
        });

        var data = "@Model.Data.Value.Date.ToString("dd/MM/yyyy")";
        $('#Data').val(data);

        $('#Avaliacoes').val($('#HorasTrabalhadasPorDia').val());
        $('#Amostras').val($('#AmostraPorDia').val() / $('#QtdadeFamiliaProduto').val());
        $('#TamanhoAmostra').trigger('input');
        $('#TamanhoAmostra').trigger('input');

        var parcompany = @Html.Raw(Json.Encode(Model.ParCompany_id));
        if(parcompany != undefined && parcompany != null && parcompany > 0){
            $('#ParCompany_id').val(parcompany).change();
        }

        try {
            $('#NBR').val(@Html.Raw(Json.Encode(ValorNbr))).change();

        } catch (e) {

        }

    });

</script>
