@model Dominio.Seara.ParFamiliaProdutoXParProduto

@{
    ViewBag.Title = "Criar - Familia ProdutoXProduto";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "ParFamiliaProdutoXParProduto")">Familia ProdutoXProduto</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.create</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span class="thin uppercase" id="currentDate"></span>&nbsp;
                    </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.create  Familia ProdutoXProduto</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.ParFamiliaProduto_Id, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.ParFamiliaProduto_Id, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ParFamiliaProduto_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParProduto_Id, @Resources.Resource.seara_Produto as string, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-6">
                                                <button id="btnBuscaParProduto" type="button"
                                                        data-filtroselect3-btn
                                                        data-filtroselect3-select="select[name=ParProduto_Id]"
                                                        data-filtroselect3-url="@Url.Action("GetFilteredParProduto", "api/Formulario")">
                                                    Abrir
                                                </button>
                                                <select class="form-control" name="ParProduto_Id" id="ParProduto_Id"></select>
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.ParCompany_Id, @Resources.Resource.unit as string, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-6">
                                                @Html.EditorFor(model => model.ParCompany_Id, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ParCompany_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IsActive, @Resources.Resource.is_active as string, htmlAttributes: new { @class = "control-label col-md-3" })
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    @Html.EditorFor(model => model.IsActive)
                                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="submit" value="@Resources.Resource.save" class="btn btn-primary" />
                                                @*@Html.ActionLink(Resources.Resource.back as string + " para detalhes", "Details", new { id = ViewBag.Parent_Id }, new { @class = "btn btn-default" })*@
                                                @Html.ActionLink(Resources.Resource.back_to_list as string, "Details", "ParFamiliaProduto", new { id = Model.ParFamiliaProduto_Id }, new { @class = "btn btn-default" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/Select3/select3.js"></script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    /* IE 6 doesn't support max-height
    * we use height instead, but this forces the menu to always be this tall
    */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar4");
    $('select').select2();

    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>
