@model Dominio.ParClusterXModule

@{
    ViewBag.Title = Resources.Resource.details;
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "ParClusterXModules")">@Resources.Resource.module X @Resources.Resource.clusters</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.module X @Resources.Resource.clusters</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span class="thin uppercase" id="currentDate"></span>&nbsp;
                    </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.module X @Resources.Resource.clusters</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <dl class="dl-horizontal">
                                    <dt>
                                        @Resources.Resource.points
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Points)
                                    </dd>

                                    <dt>
                                        @Resources.Resource.add_date
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AddDate)
                                    </dd>

                                    <dt>
                                        @Resources.Resource.alter_date
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AlterDate)
                                    </dd>

                                    <dt>
                                        @Resources.Resource.is_active
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.IsActive)
                                    </dd>

                                    <dt>
                                        @Resources.Resource.effectiveDate
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.EffectiveDate)
                                    </dd>

                                    <dt>
                                        @Resources.Resource.cluster
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ParCluster.Name)
                                    </dd>

                                    <dt>
                                        @Resources.Resource.module
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ParModule.Name)
                                    </dd>

                                </dl>
                            </div>
                            <p>
                                @Html.ActionLink(Resources.Resource.edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
                                @Html.ActionLink(Resources.Resource.back_to_list, "Index", null, new { @class = "btn btn-default" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->
</div>


<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar3");

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>