@model Dominio.ParLevel1XModule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParLevel1XModule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParLevel1_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParLevel1_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParModule_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParModule_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDateEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
