@model IEnumerable<Dominio.ParLevel1XModule>

@{
    ViewBag.Title = "Indicador por Módulos";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.parlevel1xmodules</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.parlevel1xmodules</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">
                                <p>
                                    @Html.ActionLink(Resources.Resource.create, "Create", null, new { @class = "btn btn-primary" })
                                </p>
                                <table class="table" id="tabelaIndicadorModulo">
                                    <thead>
                                        <tr>

                                            <th>
                                                @Html.DisplayName(Resources.Resource.parlevel1)
                                            </th>
                                            <th>
                                                @Html.DisplayName(Resources.Resource.parModule)
                                            </th>
                                            <th>
                                                @Html.DisplayName(Resources.Resource.clusters)
                                            </th>
                                            @*
                                                <th>
                                                    @Html.DisplayName(Resources.Resource.points)
                                                </th>*@
                                            @*
                                                <th>
                                                    @Html.DisplayName(Resources.Resource.is_active)
                                                </th>*@
                                            <th>
                                                @Html.DisplayName(Resources.Resource.effective_date_start)
                                            </th>
                                            <th>
                                                @Html.DisplayName(Resources.Resource.effective_date_end)
                                            </th>
                                            <th>
                                                @Resources.Resource.action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ParLevel1.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ParModule.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ParCluster.Name)
                                                </td>
                                                @*
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Points)
                                                    </td>*@
                                                @*
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IsActive)
                                                    </td>*@
                                                <td>
                                                    @Html.Raw(item.EffectiveDateStart?.ToString("dd/MM/yyyy"))
                                                </td>
                                                <td>
                                                    @Html.Raw(item.EffectiveDateEnd?.ToString("dd/MM/yyyy"))
                                                </td>
                                                @*
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EffectiveDateStart?.ToString("dd/MM/yyyy"))
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EffectiveDateEnd)
                                                    </td>*@
                                                <td>
                                                    @Html.ActionLink(Resources.Resource.edit, "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                                    @*@Html.ActionLink(Resources.Resource.details, "Details", new { id = item.Id }, new { @class = "btn btn-info" })*@
                                                    @Html.ActionLink(Resources.Resource.delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<script>

    $(document).ready(function () {
        $('#tabelaIndicadorModulo').dataTable({
            "aoPaging": true,
            "aoSearching": true,

            "aoColumns": [
                null,
                null,
                null,
                null,
                null,
                { "bSearchable": false }
            ],
            "order": [[1, "asc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ resultados por página",
                "emptyTable": "@Resources.Resource.no_data_to_show",
                "info": "Página _PAGE_ de _PAGES_"
            },
        });
    });

</script>