<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssBootstrap")
    @Styles.Render("~/bundles/hcstyle")
    @Styles.Render("~/Content/Tables")
    @Styles.Render("~/Content/select2css")

    @Scripts.Render("~/bundles/modernizr")

    <style>
        .message
        {
            padding: 32px;
            top: 35%;
            min-height: 200px;
            width: 100%;
            background-color: #5353c6;
            color: #fff;
            z-index: 9999;
            position: fixed;
        }
        .overlay
        {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.5;
            filter: alpha(opacity=10);
            z-index:9998;
        }
    </style>

    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <div id="overlay" class="overlay" style="display:none"></div>
    <div id="messageModal" class="message padding20" style="display:none">
        <h1 class="head">Titulo</h1>
        <div class="body font16">Mensagem</div>
        <div class="foot">
            <button id="btnMessageOk" class="btn btn-lg marginRight30 btn-primary pull-right"> Ok</button>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/ScriptTables")
    @Scripts.Render("~/bundles/select2js")
    @Scripts.Render("~/bundles/loadingoverlay")

    @RenderSection("scripts", required: false)

    <script>

        /*
            http://plentz.github.io/jquery-maskmoney/
        */
        function MoneyMask(preffix) {
            var config = { prefix: '', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false }
            if (preffix != undefined) {
                config.prefix = preffix
            }
            $(".money").maskMoney(config);
        }
        /*
            https://bootstrap-datepicker.readthedocs.io/en/latest/
            https://uxsolutions.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=0&endDate=&startView=0&minViewMode=0&maxViewMode=4&todayBtn=linked&clearBtn=false&language=pt-BR&orientation=auto&multidate=false&multidateSeparator=&todayHighlight=on&keyboardNavigation=on&forceParse=on#sandbox
        */
        function InitDatePiker() {
            $('.datepicker').datepicker({
                startDate: 0,
                todayBtn: "linked",
                language: "pt-BR",
                multidate: false,
                todayHighlight: true
            });
        }
        $(document).ready(function () {
            InitDatePiker();
            MoneyMask();
        })

        function openMessageModal(title, content) {

            var mensagem = $('#messageModal');

            mensagem.children('.head').html(title);
            mensagem.children('.body').html(content);
            $('#overlay').fadeIn("fast");
            $('#btnMessageOk').fadeIn("fast");

            mensagem.fadeIn("fast");

            setTimeout(function () {
                $('#overlay').fadeOut("slow");
                $('#btnMessageOk').fadeOut("slow");
                mensagem.fadeOut("slow");
            }, 20000);


        }

        $('#btnMessageOk').click(function () {
            $('#overlay').fadeOut("fast");
            var mensagem = $('#messageModal');
            mensagem.fadeOut("fast");
        });
    </script>

</body>
</html>
