@model SgqSystem.ViewModels.UserViewModel
@{
    ViewBag.Title = Resources.Resource.log_in;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="login">
        <div class="head"></div>
        <div class="form-signin">
            <h2 class="form-signin-heading">@Resources.Resource.please_sign_in</h2>

                <label for="inputUserName" class="sr-only">@Resources.Resource.username</label>
                <input type="text" id="inputUserName" class="form-control" placeholder="@Resources.Resource.username" required="" autofocus="" name="Name">
                <label for="inputPassword" class="sr-only">@Resources.Resource.password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="@Resources.Resource.password" required="" name="Password">
            
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, Resources.Resource.username_or_password_are_incorrect)

                <button class="btn btn-lg btn-primary marginTop10 btn-block" type="submit" data-loading-text="Authenticating..." id="btnLogin">@Resources.Resource.sign_in</button>
                
        </div>
        <div class="foot"></div>
    </div>

}
@section Scripts {
    <script type="text/javascript">


    </script>
}