@{
    Layout = null;
}
<script src="~/Angular/RecuperaSenhaController.js"></script>

<div class="container" ng-controller="recuperaSenhaController" id="recSenha">
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="input-group">
                <label class="sr-only">@Resources.Resource.username</label>
                <input type="text" id="userName" class="form-control" placeholder="@Resources.Resource.username" name="Name" />

                <label>@Resources.Resource.email</label>
                <input type="text" class="form-control input-sm disabled" id="userEmail" placeholder="@Resources.Resource.email" />
            </div>
            <div style="margin-top:10px;">
                <button type="button" class="btn btn-success" onclick="recSenha.enviarDados();" id="btnGetDados">@Resources.Resource.recoveryPass</button>
                <button type="button" class="btn btn-success" onclick="recSenha.enviarEmail();" id="btnSendEmail">@Resources.Resource.sendPassEmail</button>
            </div>
        </div>
    </div>
}
</div>