@{
    Layout = null;
}
@*<script src="~/Angular/RecuperaSenhaController.js"></script>*@

<div id="recSenha">
    @*ng-controller="recuperaSenhaController"*@ 
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group col-xs-12">
                <label class="sr-only">@Resources.Resource.username</label>
                <input type="text" id="userName" class="form-control" placeholder="@Resources.Resource.username" name="Name" />

                @*<label>@Resources.Resource.email</label>*@
                @*<input type="text" class="form-control input-sm disabled" id="userEmail" placeholder="@Resources.Resource.email" />*@
            </div>
            <div style="margin-top:10px;">
                @*<button type="button" class="btn btn-success" onclick="recSenha.enviarDados();" id="btnGetDados">@Resources.Resource.recoveryPass</button>*@
                @*<button type="button" class="btn btn-success" onclick="recSenha.enviarEmail();" id="btnSendEmail">@Resources.Resource.sendPassEmail</button>*@
                <button type="button" class="btn btn-success col-xs-12" onclick="recSenha.enviarDados();" id="btnSendEmail">@Resources.Resource.sendPassEmail</button>
            </div>
        </div>
    </div>
}
</div>

@section Scripts {
    <script type="text/javascript">

        HideMenuLayout();

    </script>
}