@model QualidadeTotal.Models.Equipamentos

@{
    ViewBag.Title = Resources.Resource.Detalhes;
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink(Resources.Resource.Parametros as string, "Parametros", "Home")</li>
    <li>@Html.ActionLink(Model.Nome, "Index", "ParEquipamentos")</li>
    <li class="active">@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Resources.Resource.Equipamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(Resources.Resource.Nome as string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.Tipo as string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.Subtipo as string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtipo)
        </dd>

        <dt>
            @Html.DisplayName(Resources.Resource.Unidade as string)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades.Sigla)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Resource.Editar as string, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.Resource.Voltar as string, "Index")
</p>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>