@using DTO
@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var urlCheck = Url.Action("CheckGC", "GlobalConfigApi");
    //var urlAlter = Url.Action("AlterGC", "GlobalConfigApi");
    var urlSenha = Url.Action("RecSenha", "GlobalConfigApi");
    //var urlConverteValorCalculado = Url.Action("ConverteValorCalculadoString", "GlobalConfigApi");
    //var urlConverteValorCalculadoDecimal = Url.Action("DesconverteValorCalculadoDecimal", "GlobalConfigApi");
    //var linkAtual = GlobalConfig.linkDataCollect;
}

<h2>Config</h2>


<table style="background-color:white">
    @*<tr>
        <td>Link Data Collect Atual:</td>
        <td>@linkAtual</td>
        <td>Selecione para alterar: @Html.DropDownList("linkDataCollect", new SelectList(ViewBag.linksDataCollect), Resources.Resource.select + "...")</td>
    </tr>*@
    @*<tr>
        <td>
            <label>Checar versão global</label>
        </td>
        <td>
            <button id="check" onclick="check();"> Checar Versão Global</button>
        </td>
        <td id="resultsCheck">

        </td>
    </tr>*@
    @*<tr>
        <td>
            <label>Mudar Versão global</label>
        </td>
        <td>
            <select id="seletor">
                <option value="1">Brasil</option>
                <option value="2">EUA</option>
            </select>
        </td>
        <td>
            <button id="alter" onclick="alter();"> Alterar Versão Global</button>
        </td>
    </tr>*@
    <tr id="secret">
        <td>recuperar senha</td>
        <td><input id="senha" /></td>
        <td> <button id="alter" onclick="senha();"> Recuperar</button> </td>
    </tr>
    @*<tr>
        <td><button id="alter" onclick="ConverteValorCalculado();"> Testar Guard.ConverteValorCalculado RETURN DECIMAL</button> </td>
        <td><button id="alter" onclick="DesconverteValorCalculado();"> Testar Guard.ConverteValorCalculado RETURN STRING</button> </td>
        <td></td>
    </tr>*@

    <tr>
        <td>Config</td>
        <td>
            <div>
                @GlobalConfig.Verifica;
            </div>
        </td>
    </tr>
</table>



<script>

    @*/*function ConverteValorCalculado() {
        $.post('@Html.Raw(urlConverteValorCalculado)', function (r) { console.log(r); alert(r); });
    }

    function DesconverteValorCalculado() {
        $.post('@Html.Raw(urlConverteValorCalculadoDecimal)', function (r) { console.log(r); alert(r); });
    }

    function check() {
        $.post('@Html.Raw(urlCheck)', function (data) { $('#resultsCheck').empty().html(data); });
    }

    function alter() {
        $.post('@Html.Raw(urlAlter)' + '/' + $('#seletor :selected').val(), function (data) {
            check();
        });
    }*/*@
    
    function senha() {

        $.post('@Html.Raw(urlSenha)', { '': $('#senha').val() }, function (data) {
            $("#senha").val(data);
        });

    }
</script>

