@using DTO
@{
    ViewBag.Title = Resources.Resource.config_global;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var urlCheck = Url.Action("CheckGC", "GlobalConfigApi");
    //var urlAlter = Url.Action("AlterGC", "GlobalConfigApi");
    var urlSenha = Url.Action("RecSenha", "GlobalConfigApi");
    //var urlConverteValorCalculado = Url.Action("ConverteValorCalculadoString", "GlobalConfigApi");
    //var urlConverteValorCalculadoDecimal = Url.Action("DesconverteValorCalculadoDecimal", "GlobalConfigApi");
    //var linkAtual = GlobalConfig.linkDataCollect;

    var emailFrom = GlobalConfig.emailFrom;
    var emailSSL = GlobalConfig.emailSSL;
    var emailPort = GlobalConfig.emailPort;
    var emailSmtp = GlobalConfig.emailSmtp;
    var mockEmail = GlobalConfig.mockEmail;
    var paramsDisponiveis = GlobalConfig.PaginaDoTablet;

}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title">
            Config
        </h1>


        <table class="table table-striped" style="background-color:white">
            @*<tr>
                    <td>Link Data Collect Atual:</td>
                    <td>@linkAtual</td>
                    <td>Selecione para alterar: @Html.DropDownList("linkDataCollect", new SelectList(ViewBag.linksDataCollect), Resources.Resource.select + "...")</td>
                </tr>*@
            @*<tr>
                    <td>
                        <label>Checar versão global</label>
                    </td>
                    <td>
                        <button id="check" onclick="check();"> Checar Versão Global</button>
                    </td>
                    <td id="resultsCheck">

                    </td>
                </tr>*@
            @*<tr>
                    <td>
                        <label>Mudar Versão global</label>
                    </td>
                    <td>
                        <select id="seletor">
                            <option value="1">Brasil</option>
                            <option value="2">EUA</option>
                        </select>
                    </td>
                    <td>
                        <button id="alter" onclick="alter();"> Alterar Versão Global</button>
                    </td>
                </tr>*@
            <tr id="secret">
                <td>recuperar senha</td>
                <td><input id="senha" /><button id="alter" onclick="senha();"> Recuperar</button> </td>
            </tr>
            @*<tr>
                    <td><button id="alter" onclick="ConverteValorCalculado();"> Testar Guard.ConverteValorCalculado RETURN DECIMAL</button> </td>
                    <td><button id="alter" onclick="DesconverteValorCalculado();"> Testar Guard.ConverteValorCalculado RETURN STRING</button> </td>
                    <td></td>
                </tr>*@
            <tr>
                <td>@emailFrom, @emailSSL, @emailPort, @emailSmtp, @mockEmail</td>
                <td></td>
            </tr>
            <tr>
                <td>Config</td>
                <td>
                    <div>
                        @GlobalConfig.Verifica;
                    </div>
                </td>
            </tr>

            <tr id="email">
                <td>Testar Email: </td>
                <td> <input type="email" id="mailTo" /> <button id="email" onclick="testeEmail(true);"> Testar</button> </td>
            </tr>

            <tr id="email">
                <td>Testar Email EUA: </td>
                <td> <input type="email" id="mailToUSA" /><button id="email" onclick="testeEmailEua(true);"> Testar</button> </td>
            </tr>

        </table>

        <h2>Unidades</h2>

        @foreach (var i in ViewBag.unidades)
            {
                if (paramsDisponiveis != null && paramsDisponiveis.ContainsKey(i.Id))
                {
                <div>
                    <strong>@i.Id </strong>
                    Gerado em:
                </div>

            }
            else
            {

                <div class="col-sm-3">
                    <div class="col-sm-4">
                        <strong>@i.Id </strong>
                    </div>
                    <div class="col-sm-8">
                        <button>Criar</button>
                    </div>
                </div>

            }
        }

        <div class="clearfix"></div>
    </div>
</div>

<script>

    function testeEmail(executeCallback) {
        $.post('@Url.Action("TestaEmail", "GlobalConfigApi")', { "executeCallback": executeCallback, email: $('#mailTo').val() }, function (r) {

        });
    }

    function testeEmailEua(executeCallback) {
        $.post('@Url.Action("TestaEmailUSA", "GlobalConfigApi")', { "executeCallback": executeCallback, email: $('#mailToUSA').val() }, function (r) {

        });
    }

    @*/*function ConverteValorCalculado() {
        $.post('@Html.Raw(urlConverteValorCalculado)', function (r) { console.log(r); alert(r); });
    }

    function DesconverteValorCalculado() {
        $.post('@Html.Raw(urlConverteValorCalculadoDecimal)', function (r) { console.log(r); alert(r); });
    }

    function check() {
        $.post('@Html.Raw(urlCheck)', function (data) { $('#resultsCheck').empty().html(data); });
    }

    function alter() {
        $.post('@Html.Raw(urlAlter)' + '/' + $('#seletor :selected').val(), function (data) {
            check();
        });
    }*/*@

    function senha() {

        $.post('@Html.Raw(urlSenha)', { '': $('#senha').val() }, function (data) {
            $("#senha").val(data);
        });

    }
</script>

