@model Dominio.VolumePcc1b

@{
    ViewBag.Title = "PCC1b - Volume";
}


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "Pcc1b")">PCC1B</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.pcc1b</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.pcc1b</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                 
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Id)

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.Indicador, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Indicador, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Indicador, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Unidade, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Unidade, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Unidade, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                        @{ Html.EnableClientValidation(false); }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @{ Html.EnableClientValidation(true); }
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParCompany_id, "Unidade", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("ParCompany_id", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ParCompany_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParLevel1_id, "Indicador", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("ParLevel1_id", null, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ParLevel1_id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.Departamento, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Departamento, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Departamento, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VolumeAnimais, "Número de animais", htmlAttributes: new { @class = "control -label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.VolumeAnimais,  new { @class = "form-control" } )
                                                @Html.ValidationMessageFor(model => model.VolumeAnimais, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Quartos, "Número de quartos", htmlAttributes: new { @class = "control -label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Quartos, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Quartos, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                            @Html.LabelFor(model => model.Meta, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.HiddenFor(model => model.Meta)
                                                @Html.Editor("MetaFake", new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Meta, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ToleranciaDia, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.ToleranciaDia, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.ToleranciaDia, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Nivel11, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Nivel11, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Nivel11, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Nivel12, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Nivel12, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Nivel12, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Nivel13, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Nivel13, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Nivel13, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Avaliacoes, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Avaliacoes, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Avaliacoes, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.Avaliacoes, htmlAttributes: new { @id = "avaliacaoHidden" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Amostras, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Amostras, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                                                @Html.ValidationMessageFor(model => model.Amostras, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.Amostras, htmlAttributes: new { @id = "amostraHidden" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Salvar" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div>
                                    @Html.ActionLink("Voltar", "Index")
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar6");

    $('#VolumeAnimais').on('input', function () {
        $('#Quartos').val($('#VolumeAnimais').val() * 4);
        $('#Amostras').val($('#VolumeAnimais').val() * 4);

        var calc = ($('#Quartos').val() * (Number(($('#MetaFake').val().substring(0, 6).replace(',', '.'))) / 100));
        $('#ToleranciaDia').val(calc ? calc : 0);
        $('#Nivel11').val(calc / 3 ? calc / 3 : 0);
        $('#Nivel12').val(calc / 3 * 2 ? calc / 3 * 2 : 0);
        $('#Nivel13').val(calc ? calc : 0);
    });

    $('#Data').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true
    });

    $(document).ready(function () {
        

        $('#VolumeAnimais').inputmask("integer", { rightAlign: false });

        $('#Data').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            'locale': {
                "format": "DD/MM/YYYY",
            }
        })
        
        if('@Resources.Resource.resource_id' == "en_us")
            $('#MetaFake').inputmask({ mask: "999.99%" });
        else
            $('#MetaFake').inputmask({ mask: "999,99%" });

        $('#Avaliacoes').val(1);
        $('#avalicaohidden').val(1);
        //$('#MetaFake').val($('#Meta').val() / 100);

        $('#Quartos').val($('#VolumeAnimais').val() * 4);
        $('#Amostras').val($('#VolumeAnimais').val() * 4);
        $('#amostrahidden').val($('#VolumeAnimais').val() * 4);

        //var calc = ($('#Quartos').val() * (Number(($('#MetaFake').val().substring(0, 6).replace(',', '.'))) / 100));
        //$('#ToleranciaDia').val(calc ? calc : 0);
        //$('#Nivel11').val(calc / 3 ? calc / 3 : 0);
        //$('#Nivel12').val(calc / 3 * 2 ? calc / 3 * 2 : 0);
        //$('#Nivel13').val(calc ? calc : 0);


    });

</script>
