@using DTO
@model IEnumerable<Dominio.VolumePcc1b>

@{
    ViewBag.Title = "PCC1b - Volume";
}


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                  
                </li>
                <li>
                    <span>Volume de @Resources.Resource.pcc1b</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.pcc1b</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="setup_tab">
                                <p>

                                    <div class="" id="complexCallendar" style="float:right;display:inline;width:550px;">
                                        <button id="btnFilter" class="btn-info" style="float:right;margin-left:5px;padding:7px;margin-top:-12px;">Filtrar</button>
                                        <div id="reportrange" class="" style="background: #fff; cursor: pointer; border: 1px solid #ccc; width: 210px;padding:5px;margin-left:5px;margin-top:-12px;float:right;">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                            <span></span> <b class="caret"></b>
                                        </div>
                                        @Html.DropDownList("ParCompany_id", new SelectList(ViewBag.UnidadeUsuario, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control", @style = "width:200px;float:right;margin-top:-12px;margin-left:5px;" })
                                        <span style="float:right;margin-top:-5px;margin-left:5px;">Filtro: </span>
                                    </div>
                                    @Html.ActionLink("Novo volume de PCC1b", "Create", null, new { @class = "btn btn-primary" })
                                </p>
                                <table class="table table-condensed">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Data)
                                        </th>
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.ParLevel1.Name)
                                        </th>*@
                                        <th>
                                            Unidade
                                        </th>
                                        <th>
                                            Avaliações
                                        </th>
                                        <th>
                                            Amostras
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.Data)*@
                                                @item.Data.Value.ToString("dd/MM/yyyy")
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.ParLevel1.Name)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ParCompany.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Avaliacoes)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amostras)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar7");

</script>
@*Referencing the Angular library to the page*@
@Scripts.Render("~/Scripts/angular.js")
<script>

    var enviar = {};

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar7");

    $(function () {

        //Start config datepickerrange full
        var start = moment();
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format() + ' - ' + end.format());
            enviar['startDate'] = start.format();
            enviar['endDate'] = end.format();
        }
        var configQueryData = @Html.Raw(Json.Encode(GlobalConfig.LanguageBrasil));
        var configCallendar = {};
        if(configQueryData){
            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                opens: "left",
                locale: {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Aplicar",
                    "cancelLabel": "Cancelar",
                    "customRangeLabel": "Seleção",
                },
                //autoApply: false,
                alwaysShowCalendars: true,
                showDropdowns: true,
                ranges: rangesCalendar,
                linkedCalendars: false
            }, cb);
        }else{
            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                //autoApply: false,
                locale: {
                    "format": "MM/DD/YYYY",
                    "separator": " - ",
                },
                alwaysShowCalendars: true,
                showDropdowns: true,
                ranges: rangesCalendar,
                linkedCalendars: false
            }, cb);
        }

        //cb(start, end);
        //End config datepickerrange full

        //GET UPDATE DATE CALLBACK
        if(getParameterByName("startDate") == null || getParameterByName("endDate") == null){
            $('#reportrange span').html("");
        }else{
            $('#reportrange span').html(getParameterByName("startDate") + ' - ' + getParameterByName("endDate"));
            enviar['startDate'] = getParameterByName("startDate");
            enviar['endDate'] = getParameterByName("endDate");
        }

        if(getParameterByName("ParCompany_id") != null){
            $('#ParCompany_id option[value="'+getParameterByName("ParCompany_id")+'"]').prop('selected', true);
        }

        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $("#btnFilter").on('click',function(){
            var filterUrlCall = "@Url.Action("Index", "Pcc1b")?"+
                ((enviar['startDate']!= null)?"startDate="+enviar['startDate']+"&":"")+
                ((enviar['endDate']!= null)?"endDate="+enviar['endDate']+"&":"")+
                (($('#ParCompany_id').val() > 0)?"ParCompany_id="+$('#ParCompany_id').val()+"&":"");
            window.location = filterUrlCall;
        });
    });

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();
    });
</script>