@using DTO
@{
    ViewBag.Title = Resources.Resource.management;
    var version = ViewBag.Asembly;
    var urlScorecard = Url.Action("Scorecard", "RelatoriosSgq");
    var urlRelatorioDiario = Url.Action("RelatorioDiario", "RelatoriosSgq");
    var urlApontamentosDiarios = Url.Action("ApontamentosDiarios", "RelatoriosSgq");
    var urlNaoConformidade = Url.Action("NaoConformidade", "RelatoriosSgq");
    var urlVerificacaoTipificacao = Url.Action("VerificacaoTipificacao", "RelatoriosSgq");
    var urlVisaoGeralDaArea = Url.Action("VisaoGeralDaArea", "RelatoriosSgq");
    var urlAcaoCorretiva = Url.Action("CorrectiveActionreport", "Reports");
    var urlEvolutivo = Url.Action("RelatorioDeResultados", "RelatoriosSgq");
    var urlCEP = Url.Action("CartasCep", "RelatoriosSgq");

    //EUA PROD
    //ViewBag.urlRootPa = "https://sgq.jbssa.com/ActionPlan";
    //ViewBag.urlRootPaFTA = "https://sgq.jbssa.com/ActionPlan/Pa_Acao/NewFTA?";

    //EUA HML
    //ViewBag.urlRootPa = "https://sgqtest.jbssa.com/actionPlanHML";
    //ViewBag.urlRootPaFTA = "https://sgqtest.jbssa.com/actionPlanHML/Pa_Acao/NewFTA?";

    //EUA GRT
    ViewBag.urlRootPa = "http://192.168.25.200/PlanoAcaoUSA";
    ViewBag.urlRootPaFTA = "http://192.168.25.200/PlanoAcaoUSA/Pa_Acao/NewFTA?";

    //BR GRT
    //ViewBag.urlRootPa = "http://192.168.25.200/PlanoAcao";
    //ViewBag.urlRootPaFTA = "http://192.168.25.200/PlanoAcao/Pa_Acao/NewFTA?";

    //JBS HML / PROD
    //ViewBag.urlRootPa = "http://mtzsvmqsc/PlanoDeAcao";
    //ViewBag.urlRootPaFTA = "http://mtzsvmqsc/PlanoDeAcao/Pa_Acao/NewFTA?";
}

<style>
    #divMenu {
        width: 450px;
        height: 450px;
        margin: auto;
        background-image: url('../Imagens/setas.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 400px;
        font-family: 'Century Gothic';
        font-size: small;
    }

    .circuloPDCA {
        border-radius: 50% !important;
        display: inline-block;
        cursor: pointer;
        background-color: yellow;
        width: 150px;
        height: 150px !important;
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    #circulo1Plan {
        background-color: #e5e498;
        padding-top: 60px;
        height: 90px;
    }

    #circulo2Do {
        background-color: #9fe598;
        float: right;
        padding-top: 50px;
        height: 100px;
    }

    #circulo3Check {
        background-color: #e59898;
        padding-top: 40px;
        height: 110px;
    }

    #circulo4Action {
        background-color: #b4bcc5;
        float: left;
        padding-top: 60px;
        height: 90px;
    }

    .fundoMenu {
        position: absolute;
        height: 450px;
        width: 450px;
    }

    #fundoMenuSuperior {
        position: absolute;
        top: 0px;
        height: 450px;
        width: 450px;
        display: none;
        z-index: 1;
    }

    .item-menu, .item-sub-menu {
        height: 30px;
        padding: 0px;
    }

        .item-menu a, .item-sub-menu a {
            display: block;
            height: 30px;
            vertical-align: middle;
            line-height: 30px;
            padding: 1px 3px 1px 8px;
            color:#959fae;
            text-decoration:none;
        }

        .item-menu a:hover, .item-sub-menu a:hover {
            text-decoration:none;
        }

        .item-menu a {
            display: block;
            background-color: rgb(44, 53, 66) !important;
        }

        .item-menu a:hover {
            background-color: #404f63 !important;
        }

        .item-sub-menu a {
            background-color: #364150 !important;
            padding-left: 25px;
        }

        .item-sub-menu a:hover {
            background-color: #3e4b5c !important;
        }

    .under_construction {
        height: 20px;
        width: 20px;
        float: right;
        margin-top:5px;
    }

    .popover-content {
        padding: 0px;
        width: 200px;
    }
    
    .popover.right .arrow:after {
        border-right-color: rgb(44, 53, 66);
    }
</style>
@*<a class="btn btn-lg btn-danger" role="button" tabindex="0"  data-toggle="popover" data-trigger="focus" title="" data-content="">Dismissible popover</a>*@

<div class="page-content-wrapper">
    <div class="page-content" style=" padding-right: 30px;">

        <!--Circulo-->
        <div id="divMenu">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="~/Content/Imagens/GRTJBSLogo.png" />
                </div>
                <div class="col-xs-4">
                    <div role="button" tabindex="0" data-toggle="popover" data-trigger="focus" id="circulo1Plan" class="circuloPDCA">
                        @Resources.Resource.planning
                    </div>
                </div>
                <div class="col-xs-4">
                    <img class="img-responsive" src="~/Content/Imagens/GRTJBSLogo.png" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div role="button" tabindex="0" data-toggle="popover" data-trigger="focus" id="circulo4Action" class="circuloPDCA">
                        @Resources.Resource.chronic_problems_and_anomaly_reports
                    </div>
                </div>
                <div class="col-xs-4">
                    <img class="img-responsive" src="~/Content/Imagens/GRTJBSLogo.png" />
                </div>
                <div class="col-xs-4">
                    <div role="button" tabindex="0" data-toggle="popover" data-trigger="focus" id="circulo2Do" class="circuloPDCA">
                        @Resources.Resource.data_collect_execution_and_action_plan
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" src="~/Content/Imagens/GRTJBSLogo.png" />
                </div>
                <div class="col-xs-4">
                    <div role="button" tabindex="0" data-toggle="popover" data-trigger="focus" id="circulo3Check" class="circuloPDCA">
                        @Resources.Resource.result_evaluation_and_deviation_communication
                    </div>
                </div>
                <div class="col-xs-4">
                    <img class="img-responsive" src="~/Content/Imagens/GRTJBSLogo.png" />
                </div>
            </div>

            <!--Listagem-->
            <div id="fundoMenuSuperior">

                <div id="menu1Plan">
                    @if (GlobalConfig.Eua)
                    {
                        <div class="col-xs-12 item-menu"><a href="#">@Resources.Resource.general_view_of_the_area <img class="under_construction" src="~/Imagens/under_construction_red.png" alt="Under_construction" /></a></div>
                    }
                    else
                    {
                        <div class="col-xs-12 item-menu"><a href="@urlVisaoGeralDaArea">@Resources.Resource.general_view_of_the_area</a></div>
                    }
                    <div class="col-xs-12 item-menu"><a href="@ViewBag.urlRootPa">@Resources.Resource.action_plan</a></div>
                </div>

                <div id="menu2Do">
                    <div class="col-xs-12 item-menu">
                        <a href="#">@Resources.Resource.collection_reports</a>
                    </div>
                    <div class="col-xs-12 item-sub-menu">
                        <a href="@urlApontamentosDiarios">@Resources.Resource.daily_apointments</a>
                    </div>
                    <div class="col-xs-12 item-menu">
                        <a href="@ViewBag.urlRootPa">@Resources.Resource.action_plan</a>
                    </div>

                </div>

                <div id="menu3Check">
                    <div class="col-xs-12 item-menu"><a href="@urlRelatorioDiario">@Resources.Resource.daily_report</a></div>
                    <div class="col-xs-12 item-menu"><a href="@urlNaoConformidade">@Resources.Resource.defects_reports</a></div>
                    <div class="col-xs-12 item-menu"><a href="@urlCEP">@Resources.Resource.spc_charts</a></div>
                    @if (GlobalConfig.Eua)
                    {
                        <div class="col-xs-12 item-menu"><a href="#">@Resources.Resource.scorecard <img class="under_construction" src="~/Imagens/under_construction_red.png" alt="Under_construction" /></a></div>
                    }
                    else
                    {
                        <div class="col-xs-12 item-menu"><a href="@urlScorecard">@Resources.Resource.scorecard</a></div>
                    }
                    <div class="col-xs-12 item-menu"><a href="@urlAcaoCorretiva">@Resources.Resource.corrective_action_reports</a></div>
                    <div class="col-xs-12 item-menu"><a href="@urlEvolutivo">@Resources.Resource.evolutional <img class="under_construction" src="~/Imagens/under_construction.png" alt="Under_construction" /></a></div>
                </div>

                <div id="menu4Action">
                    <div class="col-xs-12 item-menu"><a href="#">@Resources.Resource.recidivism <img class="under_construction" src="~/Imagens/under_construction_red.png" alt="Under_construction" /></a></div>
                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('#circulo1Plan[data-toggle="popover"]').popover({
            container: 'body',
            html: true,
            content: function () {
                var clone = $("#menu1Plan").html();
                return clone;
            }
        }).click(function (e) {
            e.preventDefault();
        });
    });

    $(function () {
        $('#circulo2Do[data-toggle="popover"]').popover({
            container: 'body',
            html: true,
            content: function () {
                var clone = $("#menu2Do").html();
                return clone;
            }
        }).click(function (e) {
            e.preventDefault();
        });
    });

    $(function () {
        $('#circulo3Check[data-toggle="popover"]').popover({
            container: 'body',
            html: true,
            content: function () {
                var clone = $("#menu3Check").html();
                return clone;
            }
        }).click(function (e) {
            e.preventDefault();
        });
    });

    $(function () {
        $('#circulo4Action[data-toggle="popover"]').popover({
            container: 'body',
            html: true,
            content: function () {
                var clone = $("#menu4Action").html();
                return clone;
            }
        }).click(function (e) {
            e.preventDefault();
        });
    });
</script>

<script>

    $(document).ready(function () {
        $(".sidebar-toggler").removeClass("hide");
        $(".page-sidebar-wrapper").removeClass("hide");
        closeLeftSidebar();
    });

    var version = '@Html.Raw(ViewBag.Asembly)';

</script>
