@model SgqSystem.Controllers.Api.RelatoriosBrasil.Retorno
@{
//var header = Model.header;
//var body = Model.body;
//var teste = model => model.header;
//var teste2 = model => model.body;
}

<table id="divTable" style="display:none" class="display"  cellspacing="0" width="100%">
    <thead>
        <tr>
            @foreach (var item in Model.header)
            {
                <th>@item.title</th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.body)
            {
            <tr>
                <td>@item.Col0</td>
                <td>@item.Col1</td>
                <td>@item.Col2</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @foreach (var item in Model.header)
            {
                <th>@item.title</th>
            }
        </tr>
    </tfoot>
</table>

