  <!-- Modal Edição  crudNxN -->
<div class="modal fade" id="crudNxNEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="">
    <div class="modal-dialog    " role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-gray">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">a</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.close</button>
                <button type="button" class="btn btn-primary" id="save">@Resources.Resource.save</button>
            </div>
        </div>
    </div>
</div>

<script>

    var crudNxN = {
        verificaCompany: function (companyName, tableId, clomunIndex) {
            var isValid = true;
            $('#tableMeta  tbody  tr  td:nth-child(' + clomunIndex + ')').each(function (c, o) {
                var existente = $(o).text();
                if (existente == companyName) {
                    openMessageModal("Dados já cadastrados para a empresa " + companyName + ".")
                    isValid = false;
                }
            });
            return isValid;
        },
        adiciona: function (o, idTable, tdsName) {

            
           

            var tr = "";
            var objData = {};

            if (o["IsActive"] == true) {
                tr += "<tr pos=" + crudNxN.inifnito + ">"
            } else {
                tr += "<tr pos=" + crudNxN.inifnito + " class='inativeTr'>";
            }

            tdsName.forEach(function (oo, cc) {/*Para cada name de tdName monta uma TD, coloca valor a ser mostrado na TD a prop do objeto[name].*/
                if (oo == "btn") {
                    if (o["Id"] != null && o["Id"] != undefined && o["Id"] > 0) {
                        if (o["IsActive"]) {
                            o[oo] = crudNxN.btnInactive + crudNxN.btnEdit; //+ crudNxN.btnRemoveDb;
                        } else {
                            o[oo] = crudNxN.btnReActive + crudNxN.btnEdit; //+ crudNxN.btnRemoveDb;
                        }
                    } else {
                        o[oo] = crudNxN.btnRemove + crudNxN.btnEdit;
                    }
                }
                tr += '<td>' + o[oo] + '</td>';
            });

            tr += '</tr>'
            $(tr)
            $('#' + idTable + ' > tbody').append($(tr).data(o));
            crudNxN.verificaSeMostraTable(idTable);
            reloadPopovers();

        },
        verificaSeMostraTable: function (idTable) {
            if ($('#' + idTable + ' > tbody > tr').length > 0) {
                $('#' + idTable).fadeIn();
            } else {
                $('#' + idTable).fadeOut();
            }
        },
        btnRemove: '<button type="button" class="btn btn-danger btn-xs popovers" data-content="@Resources.Resource.remove" data-trigger="hover" data-placement="right" name="" onclick="crudNxN.funcRemove($(this));"><i class="fa fa-times" aria-hidden="true"></i></button>',
        funcRemove: function (e) {
            $(e).parents('tr').remove();
        },
        btnInactive: '<button type="button" class="btn btn-danger btn-xs popovers" data-content="@Resources.Resource.inactivate" data-trigger="hover" data-placement="right" name="" onclick="crudNxN.funcInactive($(this));"><i class="fa fa-times" aria-hidden="true"></i></button>',
        funcInactive: function (e) {
            var obj = $(e).parents('tr').data();
            obj["IsActive"] = false;
            $(e).parents('tr').removeData();
            $(e).parents('tr').data(obj);
            var element = $(e).parents('tr');
            element.find('td:last').empty();
            element.find('td:last').append(crudNxN.btnReActive, crudNxN.btnEdit);
            reloadPopovers();
        },
        btnReActive: '<button type="button" class="btn btn-info btn-xs popovers" data-content="@Resources.Resource.reactivate" data-trigger="hover" data-placement="right" name="" onclick="crudNxN.funcReActive($(this));"><i class="fa fa-undo" aria-hidden="true"></i></button>',
        funcReActive: function (e) {
            var obj = $(e).parents('tr').data();
            obj["IsActive"] = true;
            $(e).parents('tr').removeData();
            $(e).parents('tr').data(obj);
            var element = $(e).parents('tr');
            element.find('td:last').empty();
            element.find('td:last').append(crudNxN.btnInactive, crudNxN.btnEdit);
            reloadPopovers();
        },
        //btnRemoveDb: '<button type="button" class="btn btn-danger btn-xs popovers" data-content="Excluir" data-trigger="hover" data-placement="right" name="" onclick="crudNxN.funcRemove($(this));"><i class="fa fa-trash" aria-hidden="true"></i></button>',
        //funcRemoveDb: function (e) {
        //    var obj = $(e).parents('tr').data();
        //    obj["IsRemove"] = true;
        //    $(e).parents('tr').removeData();
        //    $(e).parents('tr').data(obj);
        //    var element = $(e).parents('tr');
        //    element.find('td:last').empty();
        //    element.find('td:last').append(crudNxN.btnInactive, crudNxN.btnEdit);
        //    reloadPopovers();
        //},

        btnEdit: '<button type="button" class="btn btn-success btn-xs popovers" data-content="@Resources.Resource.alter" data-trigger="hover" data-placement="right" name="" onclick="crudNxN.funcEdit($(this));"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>',
        funcEdit: function (e) {

            $('#crudNxNEdit > div > div > div.modal-body').empty();
            $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').off('click');
            var obj = $(e).parents('tr').data();

            /*RegraNc*/
            if ($(e).parents('#level1_nc_accordion').length || $(e).parents('#level2_nc_accordion').length || $(e).parents('#level3_nc_accordion').length) {
                crudNxN.modalAlterarRegraNc(obj);
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {
                    var editado = crudNxN.retornaObjetoAlteradoRegraNc(obj);
                    $(e).parents('tr').removeData();
                    $(e).parents('tr').data(editado);
                    $($(e).parents('tr').find('td')[0]).html(editado.ParNotConformityRule_Name)
                    $($(e).parents('tr').find('td')[1]).html(editado.Value)
                    $($(e).parents('tr').find('td')[2]).html(editado.IsReauditShowTable)
                    $('#crudNxNEdit').modal('hide');
                });
            }
                /*Contadores*/
            else if ($(e).parents('#level1_counter_accordion').length || $(e).parents('#level2_counter_accordion').length || $(e).parents('#level3_counter_accordion').length) {
                crudNxN.modalAlterarContadores(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {
                    var editado = crudNxN.retornaObjetoAlteradoContadores(obj);//
                    $(e).parents('tr').removeData();
                    $(e).parents('tr').data(editado);
                    $($(e).parents('tr').find('td')[0]).html(editado.ParCounterName)//
                    $($(e).parents('tr').find('td')[1]).html(editado.ParLocalName)//
                    $('#crudNxNEdit').modal('hide');
                });
            }
                /*Reincidencia*/
            else if ($(e).parents('#level1_reincidencia_accordion').length || $(e).parents('#level2_reincidencia_accordion').length || $(e).parents('#level3_reincidencia_accordion').length) {
                crudNxN.modalAlterarReincidencia(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {
                    var editado = crudNxN.retornaObjetoAlteradoReincidencia(obj);//
                    $(e).parents('tr').removeData();
                    $(e).parents('tr').data(editado);
                    $($(e).parents('tr').find('td')[0]).html(editado.NcNumber)//
                    $($(e).parents('tr').find('td')[1]).html(editado.EffectiveLength)//
                    $($(e).parents('tr').find('td')[2]).html(editado.parFrequencyName)//
                    $('#crudNxNEdit').modal('hide');
                });
            }
                /*Cluster*/
            else if ($(e).parents('#level1_cluster_accordion').length) {
                crudNxN.modalAlterarCluster(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {
                    var editado = crudNxN.retornaObjetoAlteradoCluster(obj);//
                    $(e).parents('tr').removeData();
                    $(e).parents('tr').data(editado);
                    $($(e).parents('tr').find('td')[0]).html(editado.Cluster_Name)//
                    $($(e).parents('tr').find('td')[1]).html(editado.ParCriticalLevel_Name)//
                    $($(e).parents('tr').find('td')[2]).html(editado.Points)//
                    $('#crudNxNEdit').modal('hide');
                });
            }
                /*Grupo L2*/
            else if ($(e).parents('#level2_GroupLevel_accordion').length) {
                crudNxN.modalAlterarGroupLevel2(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {
                    var editado = crudNxN.retornaObjetoAlteradoGroupLevel2(obj);//
                    $(e).parents('tr').removeData();
                    $(e).parents('tr').data(editado);
                    $($(e).parents('tr').find('td')[0]).html(editado.Name)//
                    $('#crudNxNEdit').modal('hide');
                });
            }
                /*Pontos L3*/
            else if ($(e).parents('#level3_PesoL3_accordion').length) {
                crudNxN.modalAlterarPesoL3(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {

                    if (PesoL3.veifyAdd('crudNxNEdit')) {
                        var editado = PesoL3.getObjAdd('crudNxNEdit', obj);
                        $(e).parents('tr').removeData();
                        $(e).parents('tr').data(editado);
                        $($(e).parents('tr').find('td')[0]).html(editado.companyName)//
                        $($(e).parents('tr').find('td')[1]).html(editado.Weight)//
                        $($(e).parents('tr').find('td')[2]).html(editado.groupName)//
                        $('#crudNxNEdit').modal('hide');
                        //$('#crudNxNEdit #percentVal').inputmask('remove');
                    }

                });
            }
                /*AvAm L2*/
            else if ($(e).parents('#level2_AvAmostra_accordion').length) {
                crudNxN.modalAlterarAvAmL2(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {

                    if (AvAm2.veifyAdd('crudNxNEdit')) {//
                        var editado = AvAm2.getObjAdd('crudNxNEdit', obj);//
                        $(e).parents('tr').removeData();
                        $(e).parents('tr').data(editado);
                        $($(e).parents('tr').find('td')[0]).html(editado.companyName)//
                        $($(e).parents('tr').find('td')[1]).html(editado.evaluationNumber)//
                        $($(e).parents('tr').find('td')[2]).html(editado.sampleNumber)//
                        $('#crudNxNEdit').modal('hide');
                    }

                });
            }
                /*Meta L1*/
            else if ($(e).parents('#level1_Meta_accordion').length) {
                crudNxN.modalAlterarMetal1(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {

                    if (MetaL1.veifyAdd('crudNxNEdit')) {//
                        var editado = MetaL1.getObjAdd('crudNxNEdit', obj);//
                        $(e).parents('tr').removeData();
                        $(e).parents('tr').data(editado);
                        $($(e).parents('tr').find('td')[0]).html(editado.companyName)//
                        $($(e).parents('tr').find('td')[1]).html(editado.PercentValue)//
                        $('#crudNxNEdit').modal('hide');
                    }

                });
            }
                /*Tipos de dados L3*/
            else if ($(e).parents('#tableLevel3Value').length) {
                crudNxN.modalAlterarLevel3Value(obj);//
                $('#crudNxNEdit > div > div > div.modal-footer > button.btn.btn-primary').on('click', function () {

                    if (level3Value.veifyAdd('crudNxNEdit')) {//
                        var editado = level3Value.getObjAdd('crudNxNEdit', obj);//
                        $(e).parents('tr').removeData();
                        $(e).parents('tr').data(editado);
                        $($(e).parents('tr').find('td')[0]).html(editado.ParLevel3InputType_Name)//
                        $($(e).parents('tr').find('td')[1]).html(editado.ParCompany_Name)//
                        $($(e).parents('tr').find('td')[2]).html(editado.ParMeasurementUnit_Name)//
                        $($(e).parents('tr').find('td')[3]).html(editado.IntervalMin)//
                        $($(e).parents('tr').find('td')[4]).html(editado.IntervalMax)//
                        $($(e).parents('tr').find('td')[5]).html(editado.AcceptableValueBetween_Name)//
                        $($(e).parents('tr').find('td')[6]).html(editado.ParLevel3BoolFalse_Name)//
                        $($(e).parents('tr').find('td')[7]).html(editado.ParLevel3BoolTrue_Name)//
                        $('#crudNxNEdit').modal('hide');
                    }

                });
            }

            $('#crudNxNEdit').modal();

        },

        /*Tipos de dados L3*/
        modalAlterarLevel3Value: function (obj) {
            var divDeEdicao;

            divDeEdicao = $('#companyValueL3 > td').clone();
            $(divDeEdicao).show();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/

            if (obj.ParLevel3InputType_Id == 3 || obj.ParLevel3InputType_Id == 4) {

                divDeEdicao = $('.ParIntervalos').clone();
                $(divDeEdicao).show();
                $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/

                $('#crudNxNEdit #selectUnidadeDeMedidas').val(obj.ParMeasurementUnit_Id).change();
                $('#crudNxNEdit #parLevel3Value_IntervalMin').val(obj.IntervalMin);
                $('#crudNxNEdit #parLevel3Value_IntervalMax').val(obj.IntervalMax);
                $('#crudNxNEdit #parIntervalosType').val(obj.AcceptableValueBetween).change().show().append();
                if (obj.ParCompany_Id > 0)
                    $('#crudNxNEdit #selectUnidadeParL3Value').val(obj.ParCompany_Id).change();

                $(document).on('input', '#crudNxNEdit #parLevel3Value_IntervalMax', function (e) {
                    changeComboEdit();
                });

                $(document).on('input', '#crudNxNEdit #parLevel3Value_IntervalMin', function (e) {
                    changeComboEdit();
                });
                $('#crudNxNEdit #parLevel3Value_IntervalMin').trigger('input');
                $('#crudNxNEdit #parIntervalosType').val(obj.AcceptableValueBetween ? 1 : 0).change();

            } else if (obj.ParLevel3InputType_Id == 1) {

                divDeEdicao = $('.ParBinarios').clone();
                $(divDeEdicao).show();
                $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/

                $('#crudNxNEdit #selectConforme').val(obj.ParLevel3BoolTrue_Id).change();
                $('#crudNxNEdit #selectNaoConforme').val(obj.ParLevel3BoolFalse_Id).change();
                if (obj.ParCompany_Id > 0)
                    $('#crudNxNEdit #selectUnidadeParL3Value').val(obj.ParCompany_Id).change();

            } else if (obj.ParLevel3InputType_Id == 2) {
                divDeEdicao = $('.ParIntervalos').clone();
                $(divDeEdicao).show();
                $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/

                $('#crudNxNEdit #selectUnidadeDeMedidas').val(obj.ParMeasurementUnit_Id).change();
                $('#crudNxNEdit #parLevel3Value_IntervalMin').val(obj.IntervalMin);

                $('#crudNxNEdit > div > div > div.modal-body > tr > td:nth-child(1)').hide();
                $('#crudNxNEdit > div > div > div.modal-body > tr > td:nth-child(2)').hide()

                $('#crudNxNEdit #parLevel3Value_IntervalMax').val(obj.IntervalMax);
                $('#crudNxNEdit #parIntervalosType').val(obj.AcceptableValueBetween).change().show().append();

                if (obj.ParCompany_Id > 0)
                    $('#crudNxNEdit #selectUnidadeParL3Value').val(obj.ParCompany_Id).change();

                $(document).on('input', '#crudNxNEdit #parLevel3Value_IntervalMax', function (e) {
                    changeComboEdit();
                });

                $(document).on('input', '#crudNxNEdit #parLevel3Value_IntervalMin', function (e) {
                    changeComboEdit();
                });
                $('#crudNxNEdit #parLevel3Value_IntervalMin').trigger('input');
                $('#crudNxNEdit #parIntervalosType').val(obj.AcceptableValueBetween ? 1 : 0).change();
            }

            divDeEdicao = $('#selectTipoInput');
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #selectTipoInput').val(obj.ParLevel3InputType_Id).change().hide();

            $('#crudNxNEdit #selectUnidadeParL3Value').attr("disabled", true).parents('tr').show();
            $('#crudNxNEdit > div > div > div.modal-body').show();
            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
            $('#crudNxNEdit #myModalLabel').html($('#tableLevel3Value').attr('nameModal'));

        },

        /*MetaLevel1*/
        modalAlterarMetal1: function (obj) {
            var divDeEdicao = $('#level1_Meta_accordion > div  table.table-erp').clone();

            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #percentVal').val(obj.PercentValue);
            $('#crudNxNEdit #metaCompany').attr("disabled", true);
            if (obj.ParCompany_Id > 0)
                $('#crudNxNEdit #metaCompany').val(obj.ParCompany_Id).change();

            GuardJs.mascaraNumerica('#crudNxNEdit #percentVal');
            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
            $('#crudNxNEdit #myModalLabel').html($('#tableMeta').attr('nameModal'));
        },
        /*Avaliação e Amostra L2*/
        modalAlterarAvAmL2: function (obj) {
            var divDeEdicao = $('#level2_AvAmostra_accordion > div  table.table-erp').clone();

            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/

            $('#crudNxNEdit #avaliacao').val(obj.evaluationNumber);
            $('#crudNxNEdit #amostra').val(obj.sampleNumber);
            $('#crudNxNEdit #avAmCompany').attr("disabled", true);
            if (obj.companyId > 0)
                $('#crudNxNEdit #avAmCompany').val(obj.companyId).change();

            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
            $('#crudNxNEdit #myModalLabel').html($('#tableAvAm').attr('nameModal'));
        },
        /*Peso L3*/
        modalAlterarPesoL3: function (obj) {
            var divDeEdicao = $('#level3__PesoL3_collapse > div > table.table-erp').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #pesoCompany').attr("disabled", true);
            if (obj.ParCompany_Id > 0) {
                $('#crudNxNEdit #pesoCompany').val(obj.ParCompany_Id).change();
            }
            $('#crudNxNEdit #peso').val(obj.Weight);
            $('#crudNxNEdit #peso').inputmask("mascaraNumericaPositivaNegativa");
            $('#crudNxNEdit #pesoGroupLevel2').val(obj.ParLevel3Group_Id).change();
            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
            $('#crudNxNEdit #myModalLabel').html($('#tablePeso').attr('nameModal'));
        },

        modalAlterarMeta: function(obj) {
            var divDeEdicao = $('#level1__Meta_collapse > div > table.table-erp').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #metaCompany').val(obj.ParCompany_Id).change();
            $('#crudNxNEdit #percentVal').val(obj.PercentValue);
            GuardJs.mascaraPorcentegem('#crudNxNEdit #percentVal');
            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();

        },
        retornaObjetoAlteradoMetaL1: function (obj) {
            /*Valida se pode criar o objeto*/
            MetaL1.veifyAdd('crudNxNEdit')
            MetaL1.getObjAdd('crudNxNEdit', obj);
            return obj;
        },

        //modalAlterarLevel3Value: function (obj) {

        //    var divDeEdicao = $('#level1__Meta_collapse > div > table.table-erp').clone();
        //    $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
        //    $('#crudNxNEdit #metaCompany').val(obj.ParCompany_Id).change();
        //    $('#crudNxNEdit #percentVal').val(obj.PercentValue);
        //    GuardJs.mascaraPorcentegem('#crudNxNEdit #percentVal');
        //    $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
        //},
        //retornaObjetoAlteradoLevel3Value: function (obj) {
        //    /*Valida se pode criar o objeto*/
        //    level3Value.veifyAdd('crudNxNEdit')
        //    level3Value.getObjAdd('crudNxNEdit', obj);
        //    return obj;
        //},


        modalAlterarRegraNc: function (obj) {

            $("#paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_IsReaudit").bootstrapSwitch('destroy', true);

            var divDeEdicao = $('#level1_nc_collapse > div > table.table-erp').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #selectNotConformityRule').val(obj.ParNotConformityRule_Id);/*Preenche*/
            $("#crudNxNEdit .check-box").bootstrapSwitch('state', obj.IsReaudit);
            $('#crudNxNEdit #paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_Value').val(obj.Value);
            $("#paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_IsReaudit").bootstrapSwitch();

            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();

        },
        retornaObjetoAlteradoRegraNc: function (obj) {

            /*Valida se pode criar o objeto*/
            if ($('#crudNxNEdit #selectNotConformityRule :selected').val() <= 0) {
                alert("Por favor Selecione Regra de Não conformidade.");
                return;
            }

            if ($('#crudNxNEdit #paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_Value').val().replace(/[^0-9.]/g, '') == "") {
                alert("É necessário preencher o campo Valor da Regra de alerta.");
                return;
            }

            obj.ParNotConformityRule_Id = $('#crudNxNEdit #selectNotConformityRule :selected').val();
            obj.ParNotConformityRule_Name = $('#crudNxNEdit #selectNotConformityRule :selected').text();
            obj.Value = $('#crudNxNEdit #paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_Value').val();
            obj.IsReaudit = $('#crudNxNEdit #paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_IsReaudit').is(":checked");
            obj.IsReauditShowTable = $('#crudNxNEdit #paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_IsReaudit').is(":checked") ? "Sim" : "Não";

            return obj;
        },

        modalAlterarContadores: function (obj) {

            var divDeEdicao = $('#camposContador').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #myModalLabel').html($('#tableContadores').attr('nameModal'));
            $('#crudNxNEdit #parCounter').val(obj.ParCounter_Id);/*Preenche*/
            $('#crudNxNEdit #parLocal').val(obj.ParLocal_Id);/*Preenche*/

            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
        },
        retornaObjetoAlteradoContadores: function (obj) {

            /*Valida se pode criar o objeto*/
            if ($('#crudNxNEdit #parCounter :selected').val() <= 0) {
                alert("Por favor selecione o contador.");
                return;
            }

            if ($('#crudNxNEdit #parLocal').val() <= 0) {
                alert("Por favor selecione o local.");
                return;
            }

            obj.ParLocal_Id = $('#crudNxNEdit #parLocal :selected').val();
            obj.ParLocalName = $('#crudNxNEdit #parLocal :selected').text();
            obj.ParCounter_Id = $('#crudNxNEdit #parCounter :selected').val();
            obj.ParCounterName = $('#crudNxNEdit #parCounter :selected').text();

            return obj;
        },

        modalAlterarReincidencia: function (obj) {

            var divDeEdicao = $('#camposRencidencia').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #myModalLabel').html($('#tableReincidencia').attr('nameModal'));
            $('#crudNxNEdit #selectFrequenciaReincidencia').val(obj.ParFrequency_Id);/*Preenche*/
            $('#crudNxNEdit #inputNumeroNC').val(obj.NcNumber);/*Preenche*/
            $('#crudNxNEdit #inputVigencia').val(obj.EffectiveLength);/*Preenche*/

            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();

        },
        retornaObjetoAlteradoReincidencia: function (obj) {
            /*Valida se pode criar o objeto*/
            ReincidenciaL1.veifyAdd('crudNxNEdit')
            ReincidenciaL1.getObjAdd('crudNxNEdit', obj);
            return obj;
        },

        modalAlterarCluster: function (obj) {

            var divDeEdicao = $('#camposCluster').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #myModalLabel').html($('#tableClusters').attr('nameModal'));
            $('#crudNxNEdit #valueCluster').val(obj.ParCluster_Id).attr('disabled', true);/*Preenche*/
            $('#crudNxNEdit #valCrit').val(obj.ParCriticalLevel_Id);/*Preenche*/
            $('#crudNxNEdit #pontosCluster').val(obj.Points);/*Preenche*/

            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();
        },
        retornaObjetoAlteradoCluster: function (obj) {
            /*Valida se pode criar o objeto*/
            ClusterL1.veifyAdd('crudNxNEdit')
            ClusterL1.getObjAdd('crudNxNEdit', obj);
            return obj;
        },

        modalAlterarGroupLevel2: function (obj) {

            var divDeEdicao = $('#camposGroup').clone();
            $('#crudNxNEdit > div > div > div.modal-body').append(divDeEdicao)/*append*/
            $('#crudNxNEdit #myModalLabel').html($('#tableGroupLevel').attr('nameModal'));
            $('#crudNxNEdit #inputParLevel03Name').val(obj.Name);/*Preenche*/

            $('#crudNxNEdit button').not('#save').not('.close').not('.btn-default').remove();

        },
        retornaObjetoAlteradoGroupLevel2: function (obj) {
            /*Valida se pode criar o objeto*/
            GroupL2.veifyAdd('crudNxNEdit')
            GroupL2.getObjAdd('crudNxNEdit', obj);
            return obj;
        },

    }

</script>
