@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel
<table>

    <tr>&nbsp;</tr>
    <tr>
        <td class="dl-fake">
            @Html.Label("Date: ", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td style="margin-top:10px;">
            <div id="sandbox-container">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="dataInicio" />
                    <span class="input-group-addon">&nbsp; to &nbsp; </span>
                    <input type="text" class="input-sm form-control" name="dataFim" />
                </div>
            </div>
        </td>
        <td class="dl-fake">
            @Html.Label("Unit: ", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DropDownList("unitId", Model.Units, "All", htmlAttributes: new { @class = "form-control required" })
        </td>

    </tr>
    <tr>
        <td class="dl-fake">
            @Html.Label("Shift: ", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DropDownList("shift", Model.ShiftSelectList, "All", htmlAttributes: new { @class = "form-control required" })
        </td>
        <td class="dl-fake">
            @Html.Label("Period: ", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DropDownList("period", Model.PeriodSelectList, "All", htmlAttributes: new { @class = "form-control required" })
        </td>
        <td class="dl-fake">
            @Html.Label("Auditor: ", htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DropDownList("auditorId", Model.UserSelectList, "All", htmlAttributes: new { @class = "form-control required" })
        </td>
        <td style="margin-top:10px; margin-left:15px;">
            &nbsp; &nbsp; <button type="button" class="btn btn-default" id="btnCarregaGraficoDiario" onclick="send()">Atualizar</button>
        </td>
    </tr>
</table>