@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel

<style>

     /*!
     * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
     * Copyright 2013-2016 Start Bootstrap
     * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
     */

     body {
         overflow-x: hidden;
     }

     /* Toggle Styles */

     .wrapper {
         padding-left: 0;
         -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
         transition: all 0.5s ease;
     }

         .wrapper.toggled {
             padding-left: 300px;
         }

     #sidebar-wrapper {
         z-index: 1000;
         position: fixed;
         left: 300px;
         width: 0;
         height: 95%;
         margin-left: -300px;
         overflow-y: scroll;
         background: #ecebeb;
         -webkit-transition: all 0.5s ease;
         -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
         transition: all 0.5s ease;
     }

     .wrapper.toggled #sidebar-wrapper {
         width: 300px;
     }

     .page-content-wrapper {
         width: 100%;
         position: absolute;
         padding: 15px;
     }

     .wrapper.toggled .page-content-wrapper {
         position: absolute;
         margin-right: -300px;

     }

    .page-content-wrapper {
         float: none!important;
         width: 100%;
     }
     /* Sidebar Styles */

     .sidebar-nav {
         position: absolute;
         top: 0;
         width: 300px;
         margin: 0;
         padding: 0;
         list-style: none;
     }

         

         .sidebar-nav button {
             margin-left: 15px;
             margin-top: 20px;
         }

         .sidebar-nav span.redLabel {
             margin-left: 15px;
             line-height: 25px;
             font-size: 14px;
             font-family: Verdana;
             color: #247DBD;
         }

         .sidebar-nav span.redLabelTitle {
             margin-left: 15px;
             line-height: 30px;
             font-size: 19px;
             font-family: Verdana;
             color: #247DBD;
         }

     span.redLabelSecTitle {
         margin-left: 15px;
         line-height: 25px;
         font-size: 14px;
         font-family: Verdana;
         color: #247DBD;
     }

     .sidebar-nav input {
         margin-left: 20px;
     }

     .sidebar-nav select {
         margin-left: 20px;
     }

     .sidebar-nav div {
         margin-left: 20px;
         text-indent: 5px;
         line-height: 30px;
     }

     .sidebar-nav li a {
         display: block;
         text-decoration: none;
         color: #999999;
     }

         .sidebar-nav li a:hover {
             text-decoration: none;
             color: #fff;
             background: rgba(255,255,255,0.2);
         }

         .sidebar-nav li a:active,
         .sidebar-nav li a:focus {
             text-decoration: none;
         }

     .sidebar-nav > .sidebar-brand {
         height: 65px;
         font-size: 18px;
         line-height: 60px;
     }

         .sidebar-nav > .sidebar-brand a {
             color: #999999;
         }

             .sidebar-nav > .sidebar-brand a:hover {
                 color: #fff;
                 background: none;
             }

     @@media(min-width:768px) {
         .wrapper {
             padding-left: 300px;
         }

             .wrapper.toggled {
                 padding-left: 0;
             }

         #sidebar-wrapper {
             width: 300px;
         }

         .wrapper.toggled #sidebar-wrapper {
             width: 0;
         }

         .page-content-wrapper {
             padding: 20px;
             position: relative;
         }

         .wrapper.toggled .page-content-wrapper {
             position: relative;
             margin-right: 0;
         }
     }

     .input-mini{
         width: 100%!important;
     }

     .singleCalendar{
         background-image: ;
         background-repeat: no-repeat;
         padding-left: 25px;
     }

</style>

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <span class="redLabelTitle">
                @ViewBag.Title
            </span>
        </li>

        <li>
            <div class="" id="simpleCallendar" style="display:none">
                <span class="redLabel">@Resources.Resource.date </span>
                <div class="has-feedback">
                    <span>
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <input type="text" class="" name="datefilter" style="background: #fff; cursor: pointer; border: 1px solid #ccc; width: 210px" />
                    </span>
                </div>
            </div>
        </li>

        <li>
            <div class="" id="complexCallendar" style="display:none">
                <span class="redLabel">@Resources.Resource.date @*<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>*@</span>
                <div id="reportrange" class="" style="background: #fff; cursor: pointer; border: 1px solid #ccc; width: 210px">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span></span> <b class="caret"></b>
                </div>
            </div>
        </li>

        <li>
            <div id="showUnit" style="display:none">
                <span class="redLabel">@Resources.Resource.unit</span>
                @Html.DropDownList("unitId", Model.UnitsSelectList, @Resources.Resource.all, htmlAttributes: new { @class = "form-control", @style = "width:210px" })
            </div>
        </li>

        <li>
            <div id="showShift" style="display:none">
                <span class="redLabel">@Resources.Resource.shift</span>
                @Html.DropDownList("shift", Model.ShiftSelectList, "All", htmlAttributes: new { @class = "form-control", @style = "width:210px" })
            </div>
        </li>

        <li>
            <div id="showPeriod" style="display:none">
                <span class="redLabel">@Resources.Resource.period</span>
                @Html.DropDownList("period", Model.PeriodSelectList, "All", htmlAttributes: new { @class = "form-control", @style = "width:210px" })
            </div>
        </li>

        <li>
            <div id="showUsers" style="display:none">
                <span class="redLabel">@Resources.Resource.auditor</span>
                @Html.DropDownList("auditorId", Model.UserSelectList, "All", htmlAttributes: new { @class = "form-control required", @style = "width:210px" })
            </div>


        </li>

        <li>
            <br />
            <div id="showManutencao" style="display:none">

                <div class="btn-group hide" data-toggle="buttons">
                    <label class="btn btn-primary" style="min-width: 0px; margin-left: -1px; margin-right: 0px;">
                        <!--<input type="checkbox" autocomplete="off" class="manutencaoAno2015"> 2015-->
                        @Html.CheckBox("manutencaoAno2015", false, new { @class = "redLabel" })
                        @Html.Label("2015")
                    </label>
                    <label class="btn btn-primary" style="min-width: 0px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoAno2016", false, new { @class = "redLabel" })
                        @Html.Label("2016")
                    </label>
                    <label class="btn btn-primary" style="min-width: 0px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoAno2017", false, new { @class = "redLabel" })
                        @Html.Label("2017")
                    </label>
                </div>


                <div class="btn-group hide" data-toggle="buttons">
                    <label class="btn btn-primary data" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoJaneiro", false, new { @class = "redLabel" })
                        @Html.Label("Jan")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoFevereiro", false, new { @class = "redLabel" })
                        @Html.Label("Fev")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoMarco", false, new { @class = "redLabel" })
                        @Html.Label("Mar")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoAbril", false, new { @class = "redLabel" })
                        @Html.Label("Abr")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoMaio", false, new { @class = "redLabel" })
                        @Html.Label("Mai")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoJunho", false, new { @class = "redLabel" })
                        @Html.Label("Jun")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoJulho", false, new { @class = "redLabel" })
                        @Html.Label("Jul")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoAgosto", false, new { @class = "redLabel" })
                        @Html.Label("Ago")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoSetembro", false, new { @class = "redLabel" })
                        @Html.Label("Set")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoOutubro", false, new { @class = "redLabel" })
                        @Html.Label("Out")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoNovembro", false, new { @class = "redLabel" })
                        @Html.Label("Nov")
                    </label>
                    <label class="btn btn-primary" style="min-width: 66px; margin-left: 0px; margin-right: 0px;">
                        @Html.CheckBox("manutencaoDezembro", false, new { @class = "redLabel" })
                        @Html.Label("Dez")
                    </label>

                </div>

                <div class="form-group" id="cbxlistaRegionais"></div>

                <div class="form-group" id="cbxlistaAnos"></div>

                <div class="form-group" id="cbxlistaMeses"></div>

            </div>
        </li>

        <li>
            <button style="margin-bottom: 40px; margin-left: 40px; max-width: 210px;" type="button" class="btn margin-top margin-bottom btn-block btn-primary" id="btnSend" onclick="">@Resources.Resource.send</button>
        </li>

    </ul>
</div>

<!-- Menu Toggle Script -->

<script>

    var enviar = {};
    var start = moment();
    var end = moment();

    var monthNames = [
        '@Resources.Resource.january',
        '@Resources.Resource.february',
        '@Resources.Resource.march',
        '@Resources.Resource.april',
        '@Resources.Resource.may',
        '@Resources.Resource.june',
        '@Resources.Resource.july',
        '@Resources.Resource.august',
        '@Resources.Resource.september',
        '@Resources.Resource.october',
        '@Resources.Resource.november',
        '@Resources.Resource.december'];

    $(function () {

        $('#unitId').on('change', function (e) {
            enviar['unitId'] = $('#unitId option:selected').val();
        });

        $('#shift').on('change', function (e) {
            enviar['shift'] = $('#shift option:selected').val();
        });

        $('#period').on('change', function (e) {
            enviar['period'] = $('#period option:selected').val();
        });

        $('#auditorId').on('change', function (e) {
            enviar['auditorId'] = $('#auditorId option:selected').val();
        });

        enviar['level01Id'] = null;
        enviar['level02Id'] = null;
        enviar['level03Id'] = null;

        //Start config datepickerrange simple
        $('input[name="datefilter"]').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            autoApply: true,
            showDropdowns: true,
            startDate: start,
            endDate: end,
            //opens: "left",
            //"locale": localCultureRangePicker,
            locale: {
                cancelLabel: 'Clear'
            }
        }, function (start, end, label) {
            //console.log("New date range selected: ' + start.format('MM/DD/YYYY') + ' to ' + end.format('MM/DD/YYYY') + ' (predefined range: ' + label + ')");
            enviar['startDate'] = start.format();
            enviar['endDate'] = start.format();
        });

        $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format());
        });

        $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            enviar['startDate'] = "";
            enviar['endDate'] = "";
        });
        //Start config datepickerrange simple

        //Start config datepickerrange full
        var start = moment();
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format() + ' - ' + end.format());
            enviar['startDate'] = start.format();
            enviar['endDate'] = end.format();
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            //opens: "left",
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "customRangeLabel": "Seleção",
            },
            //autoApply: false,
            alwaysShowCalendars: true,
            showDropdowns: true,
            ranges: rangesBR,
            linkedCalendars: false
        }, cb);

        cb(start, end);
        //End config datepickerrange full

        enviar['startDate'] = moment().format();
        enviar['endDate'] = moment().format();
    });

    $(document).ready(function () {
        $("#menu-toggle").click(function (e) {
            $("#menu-toggle > i").toggleClass("glyphicon-chevron-right");
            $('.redLabelSecTitle').toggle();
            e.preventDefault();
            $(".wrapper").toggleClass("toggled");

            //Ajusta as datatables presentes.
            var tables = $('table[id]')
            setTimeout(function (e) {

                tables.each(function (c, o) {
                    if ($.fn.DataTable.isDataTable('#' + $(o).attr('id'))) {
                        var oTable = $(o).dataTable();
                        if (oTable.length > 0) {
                            oTable.fnAdjustColumnSizing();
                        }
                        oTable = null;
                    }
                });

                $(Highcharts.charts).each(function (c, chart) {
                    if (chart != undefined) {
                        chart.reflow()
                    }
                });

            }, 500)


        });
    });

    var formControl = {
        showUsers: function () {
            $('#showUsers').show();
        },
        showPeriod: function () {
            $('#showPeriod').show();
        },
        showUnit: function () {
            $('#showUnit').show();
        },
        showShift: function () {
            $('#showShift').show();
        },
        showSimpleDate: function () {
            $('#simpleCallendar').show();
        },
        showFullCallendar: function () {
            $('#complexCallendar').show();
        },
        ShowAllFielsAndFullCallendar() {
            formControl.showPeriod();
            formControl.showFullCallendar();
            formControl.showShift();
            formControl.showUnit();
            formControl.showUsers();
        },
        orderDdls: function () {

        },
        showManutencao: function () {
            $("#showManutencao").show();
        },
        loadManutencaoParametros: function (){

            $("#cbxlistaAnos").empty();

            var data = new Date();

            var ano = data.getFullYear();
            var selectAnos = $("<select multiple='multiple' class='form-control'></select>");
            for (var i = ano; i > 2010; i--) {
                selectAnos.append("<option value='" + i + "'>" + i + "</option>");
            }
            $("#cbxlistaAnos").append("<label>Anos: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>").append(selectAnos);
            $("#cbxlistaAnos select").select2();

            $("#cbxlistaMeses").empty();
            var selectMeses = $("<select multiple='multiple' class='form-control'></select>");
            for (var i = 0; i < 12; i++) {
                selectMeses.append("<option value='" + parseInt(i + 1) + "'>" + monthNames[i] + "</option>");
            }
            $("#cbxlistaMeses").append("<label>Meses:     </label>").append(selectMeses);
            $("#cbxlistaMeses select").select2();


            $("#cbxlistaRegionais").empty();
            var selectRegionais = $("<select multiple='multiple' class='form-control'></select>");
            $.post("../api/Manutencao/getSelectEmpresaRegionalList", function (r) {
                for (var i = 0 ; i < r.length; i++) {
                    selectRegionais.append("<option value='" + r[i].Regional + "'>" + r[i].Regional + "</option>");
                }
                $("#cbxlistaRegionais").append("<label>Regionais:    </label>").append(selectRegionais);
                $("#cbxlistaRegionais select").select2();

                $("#showManutencao").find(".select2").css("width", "210px");
            }); 

            $("#showManutencao").find(".select2").css("width", "210px");
        }
    }



</script>


