@using DTO

@{
//var urlSend = Url.Action("Save", "api/ParLevel2ControlCompany"); //URL relativa
//var urlChangeLevel2 = Url.Action("ChangeLevel2", "ParLevel2ControlCompany"); //URL relativa
//var urlChangeLevel2UserCompany = Url.Action("ChangeLevel2UserCompany", "ParLevel2ControlCompany"); //URL relativa
//var userRolesCompany =
}
@using SgqSystem.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/General")
    @Styles.Render("~/Content/Erp")
    @Styles.Render("~/Content/select2css")
    @Styles.Render("~/Content/DatePikerContentCss")

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Tables")

    <link href="~/Content/Timeout/timeout-dialog.css" rel="stylesheet" />

    <link href="~/Scripts/theme/css/components.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/css/darkblue.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/css/layout.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles");
    }

</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ScriptTables")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/select2js")
    @Scripts.Render("~/bundles/DatePikerContent")
    @Scripts.Render("~/bundles/Guard")
    @Scripts.Render("~/bundles/mask")
    @Scripts.Render("~/bundles/hc")

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/Timeout/timeout-dialog.js"></script>*@
    <script src="~/Scripts/Timeout/timeout-dialog.js"></script>

    <div class="modal fade modalLoader" id="modalLoader" role="dialog" style="display: none; background-color: rgba(173, 173, 173, 0.35);">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                        </div>
                        <div class="col-xs-11" id="modalLoaderMessage">Message </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade modalConfirm" id="modalConfirm" role="dialog" style="display: none; background-color: rgba(173, 173, 173, 0.35);">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Resource.confirm_the_action</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="modalConfirmMessage">Message </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modalConfirmNo" type="button" class="btn btn-default">@Resources.Resource.no</button>
                    <button id="modalConfirmYes" type="button" class="btn btn-primary">@Resources.Resource.yes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" class="overlay" style="display:none"></div>

    <div id="messageModal" class="message padding20" style="display:none">
        <h1 class="head">Titulo</h1>
        <div class="body font16">Mensagem</div>
        <div class="foot">
            <button id="btnMessageOk" class="btn btn-lg marginRight30 btn-primary pull-right"> Ok</button>
        </div>
    </div>

    <!--Loaders e messages-->
    <script>

        $modalLoader = $('#modalLoader').clone();
        $modalConfirm = $('#modalConfirm').clone();

        var loaderMessages = [];

        var openLoader = function (message) {
            if (loaderMessages.length == 0) {
                $('.modalLoader').remove();
                $('body').append($modalLoader);
                $('#modalLoader').modal({ backdrop: false });
                $('#modalLoaderMessage').text(message);
                loaderMessages.push(message);
            } else {
                loaderMessages.push(message);
            }
        }

        var closeLoader = function () {
            loaderMessages.splice(0, 1);
            if (loaderMessages.length == 0) {
                $('.modalLoader').remove();
            }
        }

        var openConfirm = function (message, callbackYes, callbackNo) {
            $('.modalConfirm').remove();
            $('body').append($modalConfirm);
            $('#modalConfirm').modal({ backdrop: false });
            $('#modalConfirmMessage').text(message);

            if (callbackYes) {
                $('#modalConfirmYes').click(function () {
                    callbackYes();
                });
            }

            if (callbackNo) {
                $('#modalConfirmNo').click(function () {
                    callbackNo();
                });
            }
        }

        var closeConfirm = function () {
            $('.modalConfirm').remove();
        }

        function openMessageModal(title, content) {

            var mensagem = $('#messageModal');

            mensagem.children('.head').html(title);
            mensagem.children('.body').html(content);
            $('#overlay').fadeIn("fast");
            $('#btnMessageOk').fadeIn("fast");

            mensagem.fadeIn("fast");

            setTimeout(function () {
                $('#overlay').fadeOut("slow");
                $('#btnMessageOk').fadeOut("slow");
                mensagem.fadeOut("slow");
            }, 2000);


        }

        $('#btnMessageOk').click(function () {
            $('#overlay').fadeOut("fast");
            var mensagem = $('#messageModal');
            mensagem.fadeOut("fast");
        });

    </script>

    <div class="page-wrapper">

        @Html.Partial("~/Views/Shared/_Navbar.cshtml")
        <div class="page-container">

            @*@Html.Partial("~/Views/Shared/_RightLayout.cshtml")*@
            @Html.Partial("~/Views/Shared/_LeftLayout.cshtml")

            @RenderBody()

        </div>
    </div>

    <footer class="wrapper">
        @*<div>
                <a href="#" id="timeout-example">Click Here to See Demo</a>
            </div>*@

        <p class="page-content-wrapper" style="padding-left: 16px; padding-right: 16px;">
            <label class="pull-right">Version: @Html.AssemblyVersion()</label>
            <label class="pull-right" style="margin-right: 30px;">&copy; @DateTime.Now.Year - @Resources.Resource.jbs_and_grt_aplication </label>
        </p>
    </footer>

    @RenderSection("scripts", required: false)


    <script>

        /*Muda select2 para PADRÂO BR*/
        $.fn.select2.defaults.set("language", "pt-BR");

        /*Muda select2 para PADRÂO EUA*/
        //$.fn.select2.defaults.set("language", "en");

        /*DataTable Padrão BR*/
        $.extend(true, $.fn.dataTable.defaults,
           {
               "columnDefs": [
                   { "className": "dt-center", "targets": "_all" }
               ],
               "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
               "oLanguage": {

                   "sProcessing": "Aguarde enquanto os dados são carregados ...",
                   "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                   "sZeroRecords": "Nenhum registro correspondente ao criterio encontrado",
                   "sInfoEmtpy": "Exibindo 0 a 0 de 0 registros",
                   "sInfo": "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                   "sInfoFiltered": "",
                   "sSearch": "Procurar",
                   "oPaginate": {
                       "sFirst": "Primeiro",
                       "sPrevious": "Anterior",
                       "sNext": "Próximo",
                       "sLast": "Último"
                   }
               }
           });


        var rangesEUA = {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }

        var rangesBR = {
            'Hoje': [moment(), moment()],
            'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            'Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            'Este mês': [moment().startOf('month'), moment().endOf('month')],
            'Último mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }

        var configLayout = @Html.Raw(Json.Encode(GlobalConfig.Brasil));
        var rangesCalendar;
    
        /*Configura date range picker para PT-BR*/
        if(configLayout){
            moment.locale("Pt-Br");
            moment.defaultFormat = "DD/MM/YYYY";

            $.fn.daterangepicker('locale', {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "de",
                "toLabel": "até",
                "customRangeLabel": "Customizado",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Dom",
                    "Seg",
                    "Ter",
                    "Qua",
                    "Qui",
                    "Sex",
                    "Sab"
                ],
                "monthNames": [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ],
                //"firstDay": 0
            });

            rangesCalendar = rangesBR;

        }else {
            moment.defaultFormat = "MM/DD/YYYY";
            $.fn.daterangepicker('locale', {
                "format": "MM/DD/YYYY",
                "separator": " - ",
            });

            rangesCalendar = rangesEUA;
        }

        $.fn.daterangepicker('ranges', rangesCalendar);


        var monthNames = [
            '@Resources.Resource.january',
            '@Resources.Resource.february',
            '@Resources.Resource.march',
            '@Resources.Resource.april',
            '@Resources.Resource.may',
            '@Resources.Resource.june',
            '@Resources.Resource.july',
            '@Resources.Resource.august',
            '@Resources.Resource.september',
            '@Resources.Resource.october',
            '@Resources.Resource.november',
            '@Resources.Resource.december'];

        function twoDigits(str) {
            str = ("000" + str).slice(-2);
            return str;
        }

        function watcher() {

            var date = new Date();
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hour = date.getHours();
            var minute = date.getMinutes();
            var second = date.getSeconds();

            $("#currentDate").text(twoDigits(day) + ' @Resources.Resource.of ' + monthNames[monthIndex] + ' @Resources.Resource.of ' + year + ' ' + twoDigits(hour) + ':' + twoDigits(minute) + ':' + twoDigits(second));

            setTimeout(watcher, 1000);
        }

        watcher();

        /*
            Serializa objeto usando bind de property Name
            $('form').serializeObject();
        */
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function FiltrosPorColuna() {

            $('.dataTable thead th').each(function (i) {
                var title = $('.dataTable thead th').eq($(this).index()).text();
                $(this).html(title + '<br><input type="text" style="font-size:x-small; color: #555; text-align:center;" placeholder="Filtrar ' + title + '" data-index="' + i + '" />');
            });

            // DataTable
            var table = $('.dataTable').DataTable();

            // Filter event handler
            $(table.table().container()).on('keyup', 'thead input', function () {
                table
                    .column($(this).data('index'))
                    .search(this.value)
                    .draw();
            });

        }

        $(document).ready(function () {
            //var settngs = $.data($('form')[0], 'validator').settings;
            //settngs.ignore = ".ignore";
        });

        @*var cccccounter = 0;
        if (!!getCookie('webControlCookie')) {
            var keepAlive = '@Url.Action(ViewBag.KeepAlive, "UserAuthentication")';
            setTimeout(function () {
                $.timeoutDialog({
                    timeout: 305,
                    countdown: 300,
                    logout_redirect_url: '@Url.Action("LogOut", "UserAuthentication")',
                    keep_alive_url: keepAlive,
                });
            }, 300000 * 8);

            console.log("0/3 (300000 * 8): " + new Date());

            setTimeout(function () {

                console.log(cccccounter + "/3 (300000 * 8): " + new Date());
                cccccounter++;

            }, 100000 * 8);
        }*@

        @*$(function () {
            $("#timeout-example").click(function (e) {
                e.preventDefault();
                $.timeoutDialog({ timeout: 1,
                    countdown: 60,
                    logout_redirect_url: '@Url.Action("LogOut", "UserAuthentication")',
                    restart_on_yes: false
                });
            });
        });*@

    </script>



</body>
</html>

