<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/General")
    @Styles.Render("~/Content/Erp")
    @Styles.Render("~/Content/select2css")
    @Styles.Render("~/Content/DatePikerContentCss")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/css/components.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/css/darkblue.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/theme/css/layout.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles");
    }

</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ScriptTables")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/select2js")
    @Scripts.Render("~/bundles/DatePikerContent")
    @Scripts.Render("~/bundles/Guard")
    @Scripts.Render("~/bundles/mask")

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="page-wrapper">

        @Html.Partial("~/Views/Shared/_Navbar.cshtml")
        <div class="page-container">

            @Html.Partial("~/Views/Shared/_RightLayout.cshtml")
            @Html.Partial("~/Views/Shared/_LeftLayout.cshtml")

            @RenderBody()

        </div>
    </div>

    <footer class="wrapper">
        <p class="page-content-wrapper">&copy; @DateTime.Now.Year - @Resources.Resource.jbs_and_grt_aplication </p>
    </footer>

    @RenderSection("scripts", required: false)

    <script>

        var monthNames = [
            '@Resources.Resource.january',
            '@Resources.Resource.february',
            '@Resources.Resource.march',
            '@Resources.Resource.april',
            '@Resources.Resource.may',
            '@Resources.Resource.june',
            '@Resources.Resource.july',
            '@Resources.Resource.august',
            '@Resources.Resource.september',
            '@Resources.Resource.october',
            '@Resources.Resource.november',
            '@Resources.Resource.december'];

        function twoDigits(str) {
            str = ("000" + str).slice(-2);
            return str;
        }

        function watcher() {

            var date = new Date();
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hour = date.getHours();
            var minute = date.getMinutes();
            var second = date.getSeconds();

            $("#currentDate").text(twoDigits(day) + ' @Resources.Resource.of ' + monthNames[monthIndex] + ' @Resources.Resource.of ' + year + ' ' + twoDigits(hour) + ':' + twoDigits(minute) + ':' + twoDigits(second));

            setTimeout(watcher, 1000);
        }

        watcher();
    </script>
</body>
</html>
