@using DTO

@{
    Layout = null;
    var urlDataCollection = ViewBag.UrlDataCollect;
}
@using DTO
F
<div class="page-sidebar-wrapper hide">
    <div class="page-sidebar navbar-collapse collapse" style="position: fixed !important; height: 100% !important; z-index: 2000;">
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>icon-home
                </div>
            </li>
            <li class="nav-item" id="navbar10">
                <a href="@Url.Action("Index", "Home")" class="nav-link nav-toggle">
                    <i class="fa fa-home"></i>
                    <span class="title">@Resources.Resource.home</span>
                </a>
            </li>
            <li class="nav-item" id="navbar10">
                <a href="@urlDataCollection" class="nav-link nav-toggle">
                    <i class="fa fa-bookmark"></i>
                    <span class="title">@Resources.Resource.data_collection</span>
                </a>
            </li>
            <li class="nav-item" id="navbar10">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-tasks"></i>
                    <span class="title">@Resources.Resource.management</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    @if (GlobalConfig.Brasil)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Scorecard", "RelatoriosSgq")" class="nav-link nav-toggle">
                                <span class="title">@Resources.Resource.scorecard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("RelatorioDiario", "RelatoriosSgq")" class="nav-link nav-toggle">
                                <span class="title">@Resources.Resource.daily_report</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("NaoConformidade", "RelatoriosSgq")" class="nav-link nav-toggle">
                                <span class="title">@Resources.Resource.nc_report</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ApontamentosDiarios", "RelatoriosSgq")" class="nav-link nav-toggle">
                                <span class="title">@Resources.Resource.daily_apointments</span>
                            </a>
                        </li>
                    }

                    @if (GlobalConfig.Eua)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("CorrectiveActionReport", "Reports")" class="nav-link nav-toggle">
                                <span class="title">@Resources.Resource.corrective_action_reports</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DataCollectionReport", "Reports")" class="nav-link nav-toggle">
                                <span class="title">@Resources.Resource.data_collection_reports</span>
                            </a>
                        </li>
                    }

                </ul>
            </li>
            <li class="nav-item" id="navbar1">
                <a href="@Url.Action("Index", "Params")" class="nav-link nav-toggle">
                    <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.customization</span>
                    <span class="selected"></span>
                    <span class="arrow closed"></span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">@Resources.Resource.controls</h3>
            </li>

            @if (!GlobalConfig.Eua)
            {
                <li class="nav-item" id="navbar6">
                    <a href="@Url.Action("Index", "ParLevel2ControlCompany")" class="nav-link nav-toggle">
                        <i class="fa fa-sliders"></i>
                        <span class="title">@Resources.Resource.family</span>
                        <span class="arrow"></span>
                    </a>
                </li>
            }

            <li class="nav-item" id="navbar7">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-tasks"></i>
                    <span class="title">@Resources.Resource.volume</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "CepDesossas")" class="nav-link nav-toggle">
                            <span class="title">@Resources.Resource.cep_desossa</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "CepRecortes")" class="nav-link nav-toggle">
                            <span class="title">@Resources.Resource.cep_recortes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "VacuoGRDs")" class="nav-link nav-toggle">
                            <span class="title">@Resources.Resource.vacuo_grd</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Pcc1b")" class="nav-link nav-toggle">
                            <span class="title">@Resources.Resource.pcc1b</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">@Resources.Resource.register</h3>
            </li>
            <li class="nav-item" id="navbar2">
                <a href="@Url.Action("Index", "ParCompany")" class="nav-link nav-toggle">
                    <i class="fa fa-industry" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.company</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item" id="navbar17">
                <a href="@Url.Action("Index2", "ParCompany")" class="nav-link nav-toggle">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.company_structure</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item" id="navbar3">
                <a href="@Url.Action("Index", "ParClusters")" class="nav-link nav-toggle">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.cluster</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item" id="navbar4">
                <a href="@Url.Action("Index", "ParDepartments")" class="nav-link nav-toggle">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.department</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item" id="navbar5">
                <a href="@Url.Action("Index", "ParMeasurementUnits")" class="nav-link nav-toggle">
                    <i class="fa fa-thermometer" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.measurement_unit</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item" id="navbar15">
                <a href="@Url.Action("Index", "UserSgq")" class="nav-link nav-toggle">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.users</span>
                    <span class="arrow"></span>
                </a>
            </li>
            <li class="nav-item" id="navbar16">
                <a href="@Url.Action("Index", "Role")" class="nav-link nav-toggle">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    <span class="title">@Resources.Resource.profiles_and_roles</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script>

    function navbarSelect(id) {
        $('.nav-item').removeClass('active').removeClass('start').removeClass('open');
        $('#' + id).addClass('active').addClass('start').addClass('open');
    };

    $('.nav-item').click(function () {
        if ($(this).hasClass('open')) {
            $(this).children('.sub-menu').css("display", "none");
            $(this).removeClass('open');
        } else {
            $(this).addClass('open');
            $(this).children('.sub-menu').css("display", "block");
        }
    });

</script>