@using DTO

@{
    Layout = null;
    var urlDataCollection = ViewBag.UrlDataCollect;

    var ListItensMenu = (IEnumerable<DTO.DTO.ItemMenuDTO>)ViewBag.ItensMenu;
}

@functions{


    string RetornaIcone(DTO.DTO.ItemMenuDTO item)
    {
        if (!string.IsNullOrEmpty(item.Icon))
        {
            return $"<i class='{item.Icon}'></i>";
        }
        return "";
    }

    System.Web.IHtmlString MontaURL(string url, ref string target)
    {
        string urlRetorno = "javascript:;";
        target = "";
        if (url != null)
        {
            if (url.Contains("~"))
            {
                urlRetorno = Url.Content(url);
            }
            else
            {
                urlRetorno = url;
                target = "_blank";
            }
        }

        return Html.Raw(urlRetorno);
    }

    string MontaSubItem(DTO.DTO.ItemMenuDTO item)
    {
        string html = "";
        string target = "";
        var url = MontaURL(item.Url, ref target);
        html += "<li class='nav-item'>";
        if (item.ListaFilho.Count > 0)
        {
            html += $@"<a href = '{url}' target='{target}' class='nav-link nav-toggle'>
{RetornaIcone(item)}
<span class='title'>{item.Name}</span>
<span class='arrow'></span>
</a>";
            html += $@"<ul class='sub-menu'>";
            foreach (var filho in item.ListaFilho.OrderBy(x => x.Name))
            {
                html += MontaSubItem(filho);
            }
            html += "</ul>";
        }
        else
        {
            html += $@"<a href = '{url}' target='{target}' class='nav-link nav-toggle'>
{RetornaIcone(item)}
<span class='title'>{item.Name}</span>
</a>";
        }
        html += "</li>";
        return html;
    }
}
&nbsp;
<div class="page-sidebar-wrapper hide">
    <div class="page-sidebar navbar-collapse collapse zindex-control" style="height: 100% !important; z-index: 2000;">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>icon-home
                </div>
            </li>


            @{
                if (ListItensMenu != null)
                {
                    //Prepara as classes para a montagem do menu
                    foreach (var item in ListItensMenu.OrderBy(x => x.Name))
                    {
                        foreach (var filho in ListItensMenu.OrderBy(x => x.Name))
                        {
                            if (item.Id == filho.ItemMenu_Id)
                            {
                                item.ListaFilho.Add(filho);
                                filho.IsSubItem = true;
                            }
                        }
                    }


                    //Gera a visualização do menu
                    foreach (var item in ListItensMenu.Where(i => !i.IsSubItem).OrderBy(x => x.Name))
                    {
                        @Html.Raw(MontaSubItem(item))
                    }
                }
            }

            @if (ViewBag.UserId == "-1")
            {
                <li class="nav-item">
                    <a href="javascript:;" target="" class="nav-link nav-toggle">
                        <i class="fa fa-tasks"></i>
                        <span class="title">Regras e Acessos</span>
                        <span class="arrow"></span>
                    </a><ul class="sub-menu">
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "ItemMenu"))" target="" class="nav-link nav-toggle">
                                <span class="title">Menus</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("EstruturaMenus", "ItemMenu"))" target="" class="nav-link nav-toggle">
                                <span class="title">Estrutura Menus</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "RoleUserSgq"))" target="" class="nav-link nav-toggle">
                                <span class="title">Regras</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" target="" class="nav-link nav-toggle">
                        <i class="fa fa-tasks"></i>
                        <span class="title">Dicionários</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "resourcePTs"))" target="" class="nav-link nav-toggle">
                                <span class="title">Resources PT</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "resourceENs"))" target="" class="nav-link nav-toggle">
                                <span class="title">Resources EN</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "DicionarioEstatico"))" target="" class="nav-link nav-toggle">
                                <span class="title">Dicionário Estático</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("UpdateAppScripts","Config"))" target="" class="nav-link nav-toggle">
                                <span class="title">Atualizar scritps Coleta</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("UpdateDicionarioEstatico","Config"))" target="" class="nav-link nav-toggle">
                                <span class="title">Atualizar Dicionário Estático</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" target="" class="nav-link nav-toggle">
                        <i class="fa fa-tasks"></i>
                        <span class="title">Enumeradores</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "ParReasonTypes"))" target="" class="nav-link nav-toggle">
                                <span class="title">Tipo Razão</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "ParAlertTypes"))" target="" class="nav-link nav-toggle">
                                <span class="title">Tipos de Alerta</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "ParScoreTypes"))" target="" class="nav-link nav-toggle">
                                <span class="title">Tipo de Score </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "ParConsolidationTypes"))" target="" class="nav-link nav-toggle">
                                <span class="title">Tipo de Consolidação</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="javascript:;" target="" class="nav-link nav-toggle">
                        <i class="fa fa-tasks"></i>
                        <span class="title">ChangeLog</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("Index", "ScriptsVersion"))" target="" class="nav-link nav-toggle">
                                <span class="title">ChangeLog (GMUD)</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="javascript:;" target="" class="nav-link nav-toggle">
                        <i class="fa fa-tasks"></i>
                        <span class="title">Utilidades</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="@Html.Raw(Url.Action("SqlStudio", "Utilidades"))" target="" class="nav-link nav-toggle">
                                <span class="title">Sql Studio</span>
                            </a>
                        </li>
                    </ul>
                </li>


            }
            <li class="nav-item">
                <a href="javascript:;" target="" class="nav-link nav-toggle">
                    <i class="fa fa-question"></i>
                    <span class="title">Ajuda</span>
                    <span class="arrow"></span>
                </a>

                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="@Html.Raw(Url.Action("Index", "Faq"))" target="" class="nav-link nav-toggle">
                            <span class="title">FAQ</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade update-all-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalUpdateAllTablets" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <table class="table col-sm-12" id="tableAllUnitTelaTablet">
                <thead>
                    <tr>
                        <td></td>
                        <td>Data Inicio</td>
                        <td>Data Fim</td>
                        <td>Unidade</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function navbarSelect(id) {
        $('.nav-item').removeClass('active').removeClass('start').removeClass('open');
        $('#' + id).addClass('active').addClass('start').addClass('open');
    };

    $('.nav-item a').click(function () {
        var open = $(this).parent().hasClass('open');
        $(this).parent().siblings('.open').find('a').click();
        $(this).parent().find('.sub-menu').css("display", "none");
        if (open) {
            $(this).children('span.arrow').removeClass('open')
            $(this).parent().removeClass('open');
        } else {
            $(this).parent().find('.open').removeClass('open');
            $(this).children('span.arrow').addClass('open');
            $(this).parent().addClass('open');
            $(this).parent().children('.sub-menu').css("display", "block");
        }
    });

    var root = @Html.Raw(Json.Encode(GlobalConfig.urlPreffixAppColleta));

    var progress = new LoadingOverlayProgress();

    let ListItensMenu = @Html.Raw(Json.Encode(ListItensMenu));


</script>