@model SgqSystem.ViewModels.ParamsViewModel

@using (Html.BeginForm())
{
    @*@Html.LinkVoltar("back", "Voltando")*@
    @Html.Label("Id (para testes)");
    @Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.Id);

    <div id="divCadastroIndicadores" style="display: table; border: 1px solid #ccc;">

        <div style="padding: 5px; display:inline-table;">
            <b>@Resources.Resource.indicator_name :</b>
            @Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.Name, htmlAttributes: new { @class = "", @style = "padding: 2px; width: 300px; background-color: rgb(255, 255, 255);" })
        </div>
        <br>
        <div style="padding: 5px; display:inline-table;">
            <b>@Resources.Resource.indicator_description :</b>
            @Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.Description, htmlAttributes: new { @class = "", @style = "padding: 2px; width: 300px; background-color: rgb(255, 255, 255);" })
        </div>

        <div id="corpoIndicador" style="display: block; margin-top: 10px;">

            <table>
                <tbody>
                    <tr>
                        <td>
                            <b>@Resources.Resource.consolidation_type :</b> <input class="btQuestion" type="button" value="?" onclick="getAlerta('Definir o tipo da consolidação dentre os tipos padrões. Contadores do sistema serão baseados no tipo da consolidação.')">
                        </td>
                        <td>
                            @Html.DropDownList("paramsDto.parLevel1Dto.ParConsolidationType_Id", Model.DdlParConsolidation, htmlAttributes: new { @class = "", @style = "padding: 2px;", @id = "selectConsolidacao" })
                            @*<select style="padding: 2px;" name="" id="selectConsolidacao">
                                    <option>Selecione o tipo de consolidacao</option>
                                    <option>por Tarefa (level 3)</option>
                                    <option>por monitormento (level 2)</option>
                                    <option>por outros</option>
                                </select>*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Frequencia</b> <input class="btQuestion" type="button" value="?" onclick="getAlerta('Frequencia.')">
                        </td>
                        <td>
                            @Html.DropDownList("paramsDto.parLevel1Dto.ParFrequency_Id", Model.DdlFrequency, htmlAttributes: new { @class = "", @style = "padding: 2px;", @id = "selectFrequencia" })
                            @*<select style="padding: 2px;" name="" id="selectConsolidacao">
                                    <option>Selecione o tipo de consolidacao</option>
                                    <option>por Tarefa (level 3)</option>
                                    <option>por monitormento (level 2)</option>
                                    <option>por outros</option>
                                </select>*@
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Botão de salvar nos monitoramentos</b> <span class="labelUSA">(USA)</span> <input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se haverá botão para salvar o level 2 sem inserir dados (sem não conformidades)')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasSaveLevel2)
                                <span><a></a></span>
                            </label>
                        </td>


                    </tr>

                    <tr>
                        <td>
                            <b>Botão Não Aplicado (N/A) nos monitoramentos</b> <span class="labelUSA">(USA)</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se haverá botão de N/A no level 2 para quando os mesmos não se aplicarem à auditoria')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasNoApplicableLevel2)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Agrupador de Monitoramentos</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasGroupLevel2)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Emite Alerta</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasAlert)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Permite cadastro especifico por unidade</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecific)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Permite editar campos do cabeçalho</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificHeaderField)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Permite editar numeros de avaliação</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificNumberEvaluetion)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Permite editar numeros de amostras</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificNumberSample)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Permite editar vínculo com tarefas</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificLevel3)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <b>Permite editar metodo indicador por unidade</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificGoal)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Critério</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                Conforme
                                @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsRuleConformity, "true")
                                Não Conforme
                                @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsRuleConformity, "false")
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Cadastro do Total Avaliado</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                Fixo
                                @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsFixedEvaluetionNumber, "true")
                                Variável
                                @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsFixedEvaluetionNumber, "false")
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <b>Número de Avaliações Limitado</b> <span class="labelUSA">USA</span>	<input class="btQuestion" type="button" value="?" onclick="getAlerta('Define se existirão agrupadores de Monitoramentos. Se sim, Abre uma lista para criar os grupos.')">
                        </td>
                        <td>
                            <label class="on-off">
                                @Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsLimitedEvaluetionNumber)
                                <span><a></a></span>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Mostrar contadores do Indicador :</b> <input class="btQuestion" type="button" value="?" onclick="getAlerta('Definir o tipo da consolidação dentre os tipos padrões. Contadores do sistema serão baseados no tipo da consolidação.')">
                        </td>
                        <td>
                            @*@Html.DropDownList("paramsDto.parLevel1Dto.ParConsolidationType_Id", Model.DdlParConsolidation, "Selecione o tipo de consolidacao", htmlAttributes: new { @class = "", @style = "padding: 2px;", @id = "selectConsolidacao" })*@
                        </td>
                    </tr>

                    <tr>
                        <td>DdlparCluster</td>
                        <td>
                            @Html.DropDownListFor(m => m.paramsDto.parLevel1XClusterDto.ParCluster_Id, Model.DdlparCluster, htmlAttributes: new { @class = "", @style = "padding: 2px;" })
                           <input type="hidden" name="paramsDto.parLevel1XClusterDto.ParLevel1_Id" value="@Model.paramsDto.parLevel1Dto.Id" id="parLevel1XClusterDto" />
                        </td>
                    </tr>

                    <tr>
                        <td>Pontos</td>
                        <td>@*@Html.EditorFor(model => model.paramsDto.parLevel1Dto.NonConformityRule)*@</td>
                    </tr>

                </tbody>
            </table>

            <div id="ParClusterLevel1">
                @*@Html.Partial("~/Views/Params/_ParCluster.cshtml", Model)*@
            </div>

            <div style="width: 100%; float: left;">
                <input type="button" value="Salvar o Indicador" onclick="indexParamsLevel1.enviarDadosParaApi();" style="font-size: small; padding: 10px; font-weight: bold;">
            </div>

        </div>

    </div>

}

