@model SgqSystem.ViewModels.ParamsViewModel
@using SgqSystem.Helpers
@{
    ViewBag.Title = "ParLeve3";
    //  var url = Url.Action("AddUpdateLevel3", "api/ParamsApi"); //URL relativa
    //  var urlGetLevel1 = Url.Action("GetParLevel3ById", "api/ParamsApi"); //URL relativa
}
<div id="newLevel3Modal">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-12">

                <table class="table-erp">
                    <tr class="row hide">
                        @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel3Dto.Id), @Html.Label("Id (para testes)"), Table.PosicaoLabel.top)
                    </tr>
                    <tr class="row">

                        @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel3Dto.Name, htmlAttributes: new { @class = "form-control input-sm" })
                         , @Html.Label(Resources.Resource.level3_name)
                         , Table.PosicaoLabel.top
                         , error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel3Dto.Name, null, new { @class = "text-danger" }))

                        @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel3Dto.Description, htmlAttributes: new { @class = "form-control input-sm" })
                         , @Html.Label(Resources.Resource.level3_description)
                         , Table.PosicaoLabel.top
                         , error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel3Dto.Description, null, new { @class = "text-danger" }))


                    </tr>
                    <tr class="row">
                        @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel3Dto.IsActive, new { @class = "form-control checkbox-erp", @checked = "" }), @Html.Label(Resources.Resource.is_active), Table.PosicaoLabel.left, null, null)
                    </tr>
                </table>

                <div class="panel-group accordion" id="level3_data_type_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level3_data_type_accordion" href="#level3_data_type_collapse" aria-expanded="false"> @Resources.Resource.data_type_entry</a>
                            </h4>
                        </div>
                        <div id="level3_data_type_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">

                                <table class="table-erp">
                                    <tr class="row">
                                        @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel3Value.ParLevel3InputType_Id", Model.paramsDdl.DdlParLevel3InputType, htmlAttributes: new { @class = "form-control input-sm", @id = "selectTipoInput" })
                         , @Html.Label(Resources.Resource.data_type_entry)
                         , Table.PosicaoLabel.top
                         , error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel3Value.ParLevel3InputType_Id, null, new { @class = "text-danger" }), colspan: 3)
                                    </tr>

                                    <tr class="row ParIntervalos" style="display: none;">
                                        @Table.GerarColunaButton(@Html.DropDownList("paramsDto.parLevel3Value.ParMeasurementUnit_Id", Model.paramsDdl.DdlParMeasurementUnit, htmlAttributes: new { @class = "form-control input-sm", @id = "selectUnidadeDeMedidas" }), @Html.Label(Resources.Resource.measurement_unit), Table.PosicaoLabel.top, button: "<button type='button' id='btnUnidadeMedida' class='btn btn-primary btn-sm'><i class='fa fa-external-link' aria-hidden='true'></i></button>")
                                        @Table.GerarColuna(@Html.TextBox("paramsDto.parLevel3Value.IntervalMin", Model.paramsDto.parLevel3Value.IntervalMin.Value, new { @Id = "parLevel3Value_IntervalMin", @class = "form-control input-sm maskDecimal" }), @Html.Label(Resources.Resource.minimum_range), Table.PosicaoLabel.top)
                                        @Table.GerarColuna(@Html.TextBox("paramsDto.parLevel3Value.IntervalMax", Model.paramsDto.parLevel3Value.IntervalMax.Value, new { @Id = "parLevel3Value_IntervalMax", @class = "form-control input-sm maskDecimal" }), @Html.Label(Resources.Resource.maximum_range), Table.PosicaoLabel.top)
                                        <td style="display: none;">
                                            <label>@Resources.Resource.values_between</label>
                                            <select class="form-control input-sm" id="parIntervalosType" name="paramsDto.parLevel3Value.AcceptableValueBetween"></select>
                                        </td>
                                    </tr>
                                    <tr class="row" style="display:none;padding:10px;">
                                        <td colspan="3">
                                            *
                                            <span id="ParIntervalosLabel"></span>
                                        </td>
                                    </tr>

                                    <tr class="row ParBinarios" style="display: none;">
                                        @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel3Value.ParLevel3BoolTrue_Id", Model.paramsDdl.DdlParLevel3BoolTrue, htmlAttributes: new { @class = "form-control input-sm", @id = "selectConforme" }), @Html.Label(Resources.Resource.positive_value), Table.PosicaoLabel.top)
                                        @Table.GerarColunaButton(@Html.DropDownList("paramsDto.parLevel3Value.ParLevel3BoolFalse_Id", Model.paramsDdl.DdlParLevel3BoolFalse, htmlAttributes: new { @class = "form-control input-sm", @id = "selectNaoConforme" }), @Html.Label(Resources.Resource.negative_value), Table.PosicaoLabel.top, button: "<button type='button' id='btnPositiveNegative' class='btn btn-primary btn-sm'><i class='fa fa-external-link' aria-hidden='true'></i></button>")
                                    </tr>
                                    <tr class="row" id="companyValueL3">
                                        @Table.GerarColunaButton(@Html.DropDownList("paramsDto.parLevel3Value.ParCompany_Id", Model.paramsDdl.DdlParCompany, htmlAttributes: new { @class = "form-control input-sm", @id = "selectUnidadeParL3Value" }), @Html.Label(Resources.Resource.company), Table.PosicaoLabel.top
                   , button: "<button type='button' id='btnSaveCounter' onclick='level3Value.adiciona(); ' class='btn btn-primary btn-sm'><i class='fa fa-plus' aria-hidden='true'></i></button>")

                                    </tr>
                                </table>

                                <table id="tableLevel3Value" class="table table-condensed table-responsive no-margin margin-top" nameModal="Editar tipo de dados de entrada:">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Resource.data_type_entry</th>
                                            <th>@Resources.Resource.company</th>
                                            <th>@Resources.Resource.measurement_unit</th>
                                            <th>@Resources.Resource.minimum_range</th>
                                            <th>@Resources.Resource.maximum_range</th>
                                            <th>@Resources.Resource.values_between</th>
                                            <th>@Resources.Resource.positive_value</th>
                                            <th>@Resources.Resource.negative_value</th>
                                            <th style="min-width: 65px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>



                @{
                    Model.levelControl = 3;
                }

                @Html.Partial("_ReincidenciaXLevel", Model)

                @if (Model.paramsDto.parLevel3Dto.hasVinculo)
                {
                    @Html.Partial("_Peso", Model)
                }

                <button type="button" id="btnSaveNewLevel3" data-loading-text="@Resources.Resource.saving_the_level3" onclick="indexParamsLevel3.enviarDadosParaApi();" class="btn btn-danger margin-button">@Resources.Resource.save_level3</button>
            </div>
        </div>
        <!-- Modal -->
                    <div class="modal fade" id="modalPositiveNegative" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog  modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">@Resources.Resource.positive_negative</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">@Resources.Resource.positive_value</div>
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" id="modalInputPositive" />
                                        </div>
                                        <div class="col-xs-12">@Resources.Resource.negative_value</div>
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" id="modalInputNegative" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="clicModalBinarioSave()">@Resources.Resource.save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.paramsDto.parLevel3Value.Id)

        <!-- Modal -->
                    <div class="modal fade" id="modalUnidadeMedida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog  modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" id="fechar" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">@Resources.Resource.measurement_unit</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12">@Resources.Resource.measurement_unit</div>
                                        <div class="col-xs-12">
                                            <input class="form-control input-sm" id="modalInputMeasurementUnit" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.close</button>
                                    <button type="button" class="btn btn-primary" onclick="UpdateUnidadeMedidas();">@Resources.Resource.save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    }

</div>
<script>


    function UpdateUnidadeMedidas() {
        var valor = $("#modalInputMeasurementUnit").val();
        $.post(urlSaveMeassurementUnit + "/" + valor, function(r) {
            $('#selectUnidadeDeMedidas').append('<option value="' + r.Id + '">' + r.Name + '</option>');
            $('#selectUnidadeDeMedidas').val(r.Id).change();
            $("#modalInputMeasurementUnit").val('');
            $('#fechar').modal('hide');
        });
    }

    /*Vinculo Level3Level2*/
    function saveLevel3Level2() {

        /*Level2*/
        var idLevel2 = $('#paramsDto_parLevel2Dto_Id').val();
        if (idLevel2 == undefined || idLevel2 <= 0 || idLevel2 == null) {
            openMessageModal("@Resources.Resource.warning", "@Resources.Resource.select_the_level2");
            //alert("É necessario selecionar o level 2");
            return;
        }

        /*Level3*/
        var idLevel3 = $('#paramsDto_parLevel3Dto_Id').val();
        if (idLevel3 == undefined || idLevel3 <= 0 || idLevel3 == null) {
            openMessageModal("@Resources.Resource.warning", "@Resources.Resource.select_the_level3");
            //alert("É necessario selecionar o level 3");
            return;
        }


        var peso = 0;
        var groupoLevel2 = 0;

        $.get(vinculoL2L3 + '/' + idLevel2 + '/' + idLevel3 + '/' + peso + '/' + groupoLevel2 + '/', function (obj, responseText, xhr) {
            if (obj != null) {
                openMessageModal("@Resources.Resource.done", "@Resources.Resource.level2_linked_to_level3_successfully"+" #" + obj.Id);
                //alert("Vinculado L3 com L2 ID: " + obj.Id);
                UpdateSelect2Level3(idLevel2, undefined, function(){$('#parLevel3Select2').trigger('change');});
            }
            initialFormLevel3 = $($('form')[2]).clone();

        });

    }


    var levelParamsDTO = @Html.Raw(Json.Encode(@Model.paramsDto));

    var level3Value =  {
        /*Setup*/
        levelControl: 3,
        level: "newLevel3Modal",
        listObjSalvo: levelParamsDTO.parLevel3Dto.listLevel3Value,
        idTable: 'tableLevel3Value',//
        tdsNames: ['ParLevel3InputType_Name', 'ParCompany_Name', 'ParMeasurementUnit_Name', 'IntervalMin', 'IntervalMax', 'AcceptableValueBetween_Name', 'ParLevel3BoolFalse_Name', 'ParLevel3BoolTrue_Name', 'btn'],
        getObjAdd: function(isEdit, obj){

            var preseletor = "";
            if(isEdit != undefined){
                preseletor = isEdit;
            } else {
                preseletor = level3Value.level;
            }

            var companyName = $('#' + preseletor + ' #selectUnidadeParL3Value :selected').text();
            var companyValue = $('#' + preseletor + ' #selectUnidadeParL3Value :selected').val();

            var selectTipoInputName = $('#' + preseletor + ' #selectTipoInput :selected').text();
            var selectTipoInput = $('#' + preseletor + ' #selectTipoInput :selected').val();
            var selectNaoConformeName = $('#' + preseletor + ' #selectNaoConforme :selected').text();
            var selectNaoConforme = $('#' + preseletor + ' #selectNaoConforme :selected').val();
            var selectConformeName = $('#' + preseletor + ' #selectConforme :selected').text();
            var selectConforme = $('#' + preseletor + ' #selectConforme :selected').val();

            var selectUnidadeDeMedidasName = $('#' + preseletor + ' #selectUnidadeDeMedidas :selected').text(); //Unidade de Medida
            var selectUnidadeDeMedidas = $('#' + preseletor + ' #selectUnidadeDeMedidas :selected').val();
            var parIntervalosTypeName = $('#' + preseletor + ' #parIntervalosType :selected').text(); //Valores entre
            var parIntervalosType = $('#' + preseletor + ' #parIntervalosType :selected').val();
            var parLevel3Value_IntervalMin = $('#' + preseletor + ' #parLevel3Value_IntervalMin').val(); //Limite Inferior
            var parLevel3Value_IntervalMax = $('#' + preseletor + ' #parLevel3Value_IntervalMax').val(); //Limite Superior

            if(companyValue == -1){
                companyValue = null;
                companyName = "Todas";
            }

            if(selectTipoInput == 2 || selectTipoInput == 3 || selectTipoInput == 4 || selectTipoInput == 5){
                selectConformeName = "";
                selectNaoConformeName = "";
            }

            if(selectTipoInput == 1){
                selectUnidadeDeMedidasName = "";
                parLevel3Value_IntervalMin = "";
                parLevel3Value_IntervalMax = "";
                parIntervalosTypeName  = "";
            }

            if(isEdit != undefined){

                obj.ParCompany_Name =                companyName;
                obj.ParCompany_Id =                  companyValue;
                obj.IsActive =                       true;

                //Bin
                //obj.ParLevel3InputType_Name = selectTipoInputName;
                //obj.ParLevel3InputType_Id =   selectTipoInput;
                obj.ParLevel3BoolFalse_Name = selectNaoConformeName;
                obj.ParLevel3BoolFalse_Id =   selectNaoConforme;
                obj.ParLevel3BoolTrue_Name =  selectConformeName;
                obj.ParLevel3BoolTrue_Id =    selectConforme;

                //Intervalos
                obj.ParMeasurementUnit_Name =        selectUnidadeDeMedidasName;
                obj.ParMeasurementUnit_Id =          selectUnidadeDeMedidas;
                obj.AcceptableValueBetween_Name =    parIntervalosTypeName;
                obj.AcceptableValueBetween =         parseInt(parIntervalosType) ? true : false;
                obj.IntervalMin =                    parLevel3Value_IntervalMin;
                obj.IntervalMax =                    parLevel3Value_IntervalMax;

                return obj;

            }else{

                return {

                    ParCompany_Name:             companyName,
                    ParCompany_Id:               companyValue,
                    IsActive:                    true,

                    //Bin
                    ParLevel3InputType_Name:     selectTipoInputName,
                    ParLevel3InputType_Id:       selectTipoInput,
                    ParLevel3BoolFalse_Name:     selectNaoConformeName,
                    ParLevel3BoolFalse_Id:       selectNaoConforme,
                    ParLevel3BoolTrue_Name:      selectConformeName,
                    ParLevel3BoolTrue_Id:        selectConforme,

                    //Intervalos
                    ParMeasurementUnit_Name:     selectUnidadeDeMedidasName,
                    ParMeasurementUnit_Id:       selectUnidadeDeMedidas,
                    AcceptableValueBetween_Name: parIntervalosTypeName,
                    AcceptableValueBetween:      parseInt(parIntervalosType) ? true : false,
                    IntervalMin:                 parLevel3Value_IntervalMin,
                    IntervalMax:                 parLevel3Value_IntervalMax,
                    IsActive:                    true,
                };
            }
        },
        veifyAdd: function(isEdit) {
            var seletorTato = !!isEdit ? isEdit : level3Value.level;
            /*Valida se pode criar o objeto*/

            if($('#' + seletorTato + ' #selectTipoInput :selected').val() == 1){ // Binario
                if($('#' + seletorTato + ' #selectConforme :selected').val() <= 0){
                    openMessageModal("@Resources.Resource.required_field_was_not_filled", "@Resources.Resource.select_positive_value_for_binary_field");
                    return false;
                }else if($('#' + seletorTato + ' #selectNaoConforme :selected').val() <= 0){
                    openMessageModal("@Resources.Resource.required_field_was_not_filled", "@Resources.Resource.select_negative_value_for_binary_field");
                    return false;
                }
            } // Intervalo ou Calculado.
            else if($('#' + seletorTato + ' #selectTipoInput :selected').val() == 3 || $('#' + seletorTato + ' #selectTipoInput :selected').val() == 4){
                if($('#' + seletorTato + ' #selectUnidadeDeMedidas :selected').val() <= 0){
                    openMessageModal("@Resources.Resource.required_field_was_not_filled", "@Resources.Resource.select_the_measurement_unit");
                    return false;
                }
            }

            /*Verifica Unidade*/
            var companySelected = $('#' + seletorTato + ' #selectUnidadeParL3Value :selected').val();//
            var display = $('#' + seletorTato + ' #selectUnidadeParL3Value :selected').text();//
            var exist = $.grep($('#tableLevel3Value  tbody  tr  td:nth-child(1)'), function(o, c){//
                if(companySelected == -1){
                    return $(o).parent().data().companyId == 0 || $(o).parent().data().companyId == -1 || $(o).parent().data().companyId == null
                }
                return $(o).parent().data().companyId == companySelected;
            });

            if(!!isEdit){/*Edição*/

            } else {/*Inclusão*/
                if(exist.length){

                    if(companySelected == -1)
                        display= "Todas";

                    openMessageModal("@Resources.Resource.data_already_register_on_company"+" " + display + ".", "")
                    return false;

                }
            }


            return true;
        },
        incluiNoObjetoParaSubmit: function(dados){

            var level = level3Value.levelControl;
            $('#' + level3Value.level + ' #' + level3Value.idTable + ' > tbody > tr ').each(function(c, obj){

                var o = $(obj).data();
                //#edit
                if((o.Id != null || o.Id != undefined) && o.Id > 0){
                    dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].Id"] = o.Id;
                }

                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].ParCompany_Id"] = o.ParCompany_Id;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].ParLevel3InputType_Id"] = o.ParLevel3InputType_Id;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].ParLevel3BoolFalse_Id"] = o.ParLevel3BoolFalse_Id;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].ParLevel3BoolTrue_Id"] = o.ParLevel3BoolTrue_Id;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].ParMeasurementUnit_Id"] = o.ParMeasurementUnit_Id;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].AcceptableValueBetween"] = o.AcceptableValueBetween;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].IntervalMin"] = o.IntervalMin;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].IntervalMinCalculado"] = o.IntervalMin;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].IntervalMax"] = o.IntervalMax;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].IntervalMaxCalculado"] = o.IntervalMax;
                dados["paramsDto.parLevel" + level + "Dto.listLevel3Value[" + c + "].IsActive"] = o.IsActive;
                //
            });

        },
        carregaDadosDoDb: function(){
            var id = level3Value.level + ' #' + level3Value.idTable;
            var tdNamess = level3Value.tdsNames;
            if( level3Value.listObjSalvo != null){ /*Carrega regras de NC*/
                level3Value.listObjSalvo.forEach(function(o, c){
                    o["ParLevel3InputType_Name"] = o.ParLevel3InputType.Name;

                    if(o.ParCompany_Id > 0)
                        o["ParCompany_Name"] = o.ParCompany.Name;
                    else
                        o["ParCompany_Name"] = "Todas";


                    if(o.ParLevel3InputType_Id == 1){
                        o["ParLevel3BoolFalse_Name"] = o.ParLevel3BoolFalse.Name;
                        o["ParLevel3BoolTrue_Name"] = o.ParLevel3BoolTrue.Name;
                        o["ParMeasurementUnit_Name"] = "";
                        o["AcceptableValueBetween_Name"] = "";
                        o["IntervalMin"] = "";
                        o["IntervalMax"] = "";
                    }else if (o.ParLevel3InputType_Id == 3 || o.ParLevel3InputType_Id == 2){
                        o["ParMeasurementUnit_Name"] = o.ParMeasurementUnit.Name;
                        o["ParLevel3BoolFalse_Name"] = "";
                        o["ParLevel3BoolTrue_Name"] = "";
                        o["AcceptableValueBetween_Name"] = o.AcceptableValueBetween == 0 ? "O valor e aceitavel quando esta entre " + o.IntervalMin + " e " + o.IntervalMax : "O valor e aceitavel quando e menor que " + o.IntervalMin + " ou maior que " + o.IntervalMax;
                    }else if(o.ParLevel3InputType_Id == 4){
                        o["ParMeasurementUnit_Name"] = o.ParMeasurementUnit.Name;
                        o["ParLevel3BoolFalse_Name"] = "";
                        o["ParLevel3BoolTrue_Name"] = "";
                        o["AcceptableValueBetween_Name"] = o.AcceptableValueBetween == 0 ? "O valor e aceitavel quando esta entre " + o.IntervalMinCalculado + " e " + o.IntervalMaxCalculado : "O valor e aceitavel quando e menor que " + o.IntervalMinCalculado + " ou maior que " + o.IntervalMaxCalculado;
                        o["IntervalMin"] = o.IntervalMinCalculado;
                        o["IntervalMinCalculado"] = o.IntervalMinCalculado;
                        o["IntervalMax"] = o.IntervalMaxCalculado;
                        o["IntervalMaxCalculado"] = o.IntervalMaxCalculado;
                    }
                    //o["AcceptableValueBetween_Name"] = o.ParCriticalLevel.Name;
                    crudNxN.adiciona(o,  id, tdNamess);
                });
            }
        },
        /*Fim Setup*/
        adiciona: function(e) {
            if(level3Value.veifyAdd()){
                var object = level3Value.getObjAdd();
                crudNxN.adiciona(object, level3Value.level + ' #' + level3Value.idTable, level3Value.tdsNames);
            }
        },
    };

    var hasPeso = @Html.Raw(Json.Encode(@Model.paramsDto.parLevel3Dto.pesoDoVinculo));
    var grouLevel2Selected = @Html.Raw(Json.Encode(@Model.paramsDto.parLevel3Dto.groupLevel2Selected));
    //var
    $('#paramsDto_parLevel3Dto_pesoDoVinculo').val(hasPeso);

    $('#pesoDefinido').html(hasPeso).show();
    $('#painelPeso').show();

    $('#btnUnidadeMedida').click(function (e) {
        $('#modalUnidadeMedida').modal({ backdrop: false });
    });

    $('#btnPositiveNegative').click(function (e) {
        $('#modalPositiveNegative').modal({ backdrop: false });
    });

    $(document).on('input', '#parLevel3Value_IntervalMax', function (e) {

        changeCombo();

    });

    $(document).on('input', '#parLevel3Value_IntervalMin', function (e) {

        changeCombo();

    });

    function changeCombo(){
        //se os dois campos estão nulos
        parIntervalosTypeCreate();
    }
    function changeComboEdit(){
        //se os dois campos estão nulos
        parIntervalosTypeCreateEdit();
    }
    function level03ValueIntervalWriter(valueMin, valueMax) {
        return "@Resources.Resource.acceptable_value_less_than " + valueMin + " @Resources.Resource.and_greater_than " + valueMax;
    }

    function parIntervalosTypeCreate() {

        var value = "";
        if($('#selectUnidadeDeMedidas :selected').val() > 0)
            value = $('#selectUnidadeDeMedidas :selected').text();

        if ($("#parLevel3Value_IntervalMin").val() == "" && !$("#parLevel3Value_IntervalMax").val() == "") {
            var options =''
            "<option value='0'>" +
                "@Resources.Resource.acceptable_value_equal_or_greater_than " + $("#parLevel3Value_IntervalMax").val()+" "+ value+
            "</option>";

            $('#parIntervalosType').empty();
            $('#parIntervalosType').append(options);
            $("#parIntervalosType").parents("td").show();

        }

        else if (!$("#parLevel3Value_IntervalMin").val() == "" && $("#parLevel3Value_IntervalMax").val() == "") {
            var options =
                "<option value='0'>" +
                    "@Resources.Resource.acceptable_value_equal_or_greater_than " + $("#parLevel3Value_IntervalMin").val()+" "+ value+
                "</option>";

            $('#parIntervalosType').empty();
            $('#parIntervalosType').append(options);
            $("#parIntervalosType").parents("td").show();

        }

        else if (!$("#parLevel3Value_IntervalMin").val() == "" && !$("#parLevel3Value_IntervalMax").val() == "") {
            var options =
                "<option value='0'>" +
                    "@Resources.Resource.value_is_acceptable_between " + $("#parLevel3Value_IntervalMin").val() + " @Resources.Resource.and " + $("#parLevel3Value_IntervalMax").val() +" "+ value+
                "</option>" +
                "<option value='1'>" +
                    "@Resources.Resource.value_is_acceptable_less_than " + $("#parLevel3Value_IntervalMin").val() + " @Resources.Resource.or_greater_than " + $("#parLevel3Value_IntervalMax").val() +" "+ value+
                "</option>";

            $('#parIntervalosType').empty();
            $('#parIntervalosType').append(options);
            $("#parIntervalosType").parents("td").show();
        } else {
            $("#parIntervalosType").parents("td").hide();
        }
    }

    function parIntervalosTypeCreateEdit() {

        var value = "";
        if($('#crudNxNEdit #selectUnidadeDeMedidas :selected').val() > 0)
            value = $('#crudNxNEdit #selectUnidadeDeMedidas :selected').text();

        if ($("#crudNxNEdit #parLevel3Value_IntervalMin").val() == "" && !$("#crudNxNEdit #parLevel3Value_IntervalMax").val() == "") {
            var options =''
            "<option value='0'>" +
                "@Resources.Resource.acceptable_value_equal_or_greater_than " + $("#crudNxNEdit #parLevel3Value_IntervalMax").val()+" "+ value+
            "</option>";

            $('#crudNxNEdit #parIntervalosType').empty();
            $('#crudNxNEdit #parIntervalosType').append(options);
            $("#crudNxNEdit #parIntervalosType").parents("td").show();

        }

        else if (!$("#crudNxNEdit #parLevel3Value_IntervalMin").val() == "" && $("#crudNxNEdit #parLevel3Value_IntervalMax").val() == "") {
            var options =
                "<option value='0'>" +
                    "@Resources.Resource.acceptable_value_equal_or_greater_than " + $("#crudNxNEdit #parLevel3Value_IntervalMin").val()+" "+ value+
                "</option>";

            $('#crudNxNEdit #parIntervalosType').empty();
            $('#crudNxNEdit #parIntervalosType').append(options);
            $("#crudNxNEdit #parIntervalosType").parents("td").show();

        }

        else if (!$("#crudNxNEdit #parLevel3Value_IntervalMin").val() == "" && !$("#crudNxNEdit #parLevel3Value_IntervalMax").val() == "") {
            var options =
                "<option value='0'>" +
                    "@Resources.Resource.value_is_acceptable_between O valor e aceitavel quando esta entre " + $("#crudNxNEdit #parLevel3Value_IntervalMin").val() + " @Resources.Resource.and " + $("#crudNxNEdit #parLevel3Value_IntervalMax").val() +" "+ value+
                "</option>" +
                "<option value='1'>" +
                    "@Resources.Resource.value_is_acceptable_less_than " + $("#crudNxNEdit #parLevel3Value_IntervalMin").val() + " @Resources.Resource.and_greater_than " + $("#crudNxNEdit #parLevel3Value_IntervalMax").val() +" "+ value+
                "</option>";

            $('#crudNxNEdit #parIntervalosType').empty();
            $('#crudNxNEdit #parIntervalosType').append(options);
            $("#crudNxNEdit #parIntervalosType").parents("td").show();
        } else {
            $("#crudNxNEdit #parIntervalosType").parents("td").hide();
        }
    }

    $('#selectTipoInput').change(function () {

        if ($("#selectTipoInput option:selected").val() == "-1") {

            $('#selectNaoConforme').val(-1)
            $('#selectConforme').val(-1)
            $('#selectUnidadeDeMedidas').val(-1)
            $('#paramsDto_parLevel3Value_IntervalMin, #paramsDto_parLevel3Value_IntervalMax').val("")

            $('.ParIntervalos').hide();
            $('.ParBinarios').hide();

            $('#companyValueL3').hide();
        }

        //Binários
        if ($("#selectTipoInput option:selected").val() == "1") {
            resetaParIntervalos();
            resetaParBinarios();
            $('.ParIntervalos').hide();
            $('.ParBinarios').fadeIn();
            $('#companyValueL3').fadeIn();
        }
        //Intervalos
        if ($("#selectTipoInput option:selected").val() == "3" || $("#selectTipoInput option:selected").val() == "2") {
            resetaParIntervalos();
            resetaParBinarios();
            $('#parLevel3Value_IntervalMin').inputmask("numeric",  {
                //radixPoint: ".",
                //groupSeparator: ",",
                //groupSize: 3,
                //digits: 2,
                //autoGroup: true,
                //allowPlus: true,
                allowMinus: true
            });
            $('#parLevel3Value_IntervalMax').inputmask("numeric",  {
                //radixPoint: ".",
                //groupSeparator: ",",
                //groupSize: 3,
                //digits: 2,
                //autoGroup: true,
                //allowPlus: true,
                allowMinus: true
            });
            $('.ParBinarios').hide();
            $('.ParIntervalos').fadeIn();
        }

        if ($("#selectTipoInput option:selected").val() == "4") {
            resetaParIntervalos();
            resetaParBinarios();
            GuardJs.mascaraCampoCalculado('#parLevel3Value_IntervalMin');
            GuardJs.mascaraCampoCalculado('#parLevel3Value_IntervalMax');
            $('.ParBinarios').hide();
            $('.ParIntervalos').fadeIn();
        }
    });

    function resetaParCalculado(){
        $('#selectUnidadeParL3Value').val(-1);
        $('#ParCalculado_IntervalMin').val("");
        $('#ParCalculado_IntervalMax').val("");
        $('#selectUnidadeDeMedidas').val(-1);
    }

    function resetaParIntervalos(){
        $('#selectUnidadeDeMedidas').val(-1);
        $('#parLevel3Value_IntervalMin').val("");
        $('#parLevel3Value_IntervalMax').val("");
        $('#parIntervalosType').empty().parents('td').hide();
    }

    function resetaParBinarios(){
        $('#selectConforme').val(-1);
        $('#selectNaoConforme').val(-1);
        $('#companyValueL3').fadeIn();
    }

    $('#selectTipoInput').change();

    function clicModalBinarioSave () {
        var valInpPos = $('#modalInputPositive').val();
        var valInpNeg =  $('#modalInputNegative').val();

        if(!valInpPos.length){
            alert("Valor invalido para:", "Valor Positivo");
            return;
        }

        if(!valInpNeg.length){
            alert("@Resources.Resource.invalid_value_for", "@Resources.Resource.positive_value");
            return;
        }

        $('#selectConforme').append("<option>" + valInpPos + "</option>");
        $('#selectNaoConforme').append("<option>" + valInpNeg + "</option>");
        $('#modalInputPositive').val("");
        $('#modalInputNegative').val("");

        $('#modalPositiveNegative').modal("hide");
    };

    $(document).ready(function () {

        var modalPontos = $('#modalPontos').detach();
        $('body > #modalPontos').remove();
        modalPontos.appendTo('body');
        if(grouLevel2Selected > 0){
            $('#paramsDto_parLevel3Dto_listGroupsLevel2').val(grouLevel2Selected)
        }
        updateAllTables();

        $('[data-toggle="popover"]').popover();

        level3Value.carregaDadosDoDb();

        $('[data-toggle="popover"]').popover();

        ///initialize form
        initialFormLevel3 = $($('form')[2]).clone();
    });

</script>
