@model SgqSystem.ViewModels.ParamsViewModel
@using SgqSystem.Helpers

<!--MODAL-->

<div id="newLevel1Modal">
    @using (Html.BeginForm())
    {

        <div class="row">
            <div class="col-lg-12">
                <table class="table-erp">
                    <tbody>
                        <tr class="row hide">
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.Id, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.id), Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.Name, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level1_name), Table.PosicaoLabel.top, error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel1Dto.Name, null, new { @class = "text-danger" }))
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.Description, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level1_description), Table.PosicaoLabel.top, error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel1Dto.Description, null, new { @class = "text-danger" }))
                        </tr>
                        <tr class="row">
                            @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel1Dto.ParConsolidationType_Id", Model.paramsDdl.DdlParConsolidation, new { @class = "form-control input-sm", @id = "selectConsolidacao" }), @Html.Label(Resources.Resource.consolidation_type), Table.PosicaoLabel.top, info: Resources.Resource.consolidation_type_popover, error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel1Dto.ParConsolidationType_Id, null, new { @class = "text-danger" }))
                            @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel1Dto.ParFrequency_Id", Model.paramsDdl.DdlFrequency, htmlAttributes: new { @class = "form-control input-sm", @id = "selectFrequencia" }), @Html.Label(Resources.Resource.frequency), Table.PosicaoLabel.top, info: Resources.Resource.frequency_popover, error: @Html.ValidationMessageFor(m => m.paramsDto.parLevel1Dto.ParFrequency_Id, null, new { @class = "text-danger" }))
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasSaveLevel2, new { @class = "make-switch checkbox-erp" }), @Html.Label(Resources.Resource.save_button_on_level2), Table.PosicaoLabel.left, null, Resources.Resource.save_button_on_level2_popover)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasNoApplicableLevel2, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.not_applicable_on_level_2), Table.PosicaoLabel.left, null, Resources.Resource.not_applicable_on_level_2_popover)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.HasAlert, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.has_alert), Table.PosicaoLabel.left, null, Resources.Resource.has_alert_popover)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecific, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.allow_specific_register_by_unit), Table.PosicaoLabel.left, null, Resources.Resource.allow_specific_register_by_unit_popover)
                        </tr>
                        <tr class="row groupCadastroEspecificoUnidade padding-left" style="display:none">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificHeaderField, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.allow_field_edition_of_the_header, new { @class = "padding-left" }), Table.PosicaoLabel.left, null, null)
                        </tr>
                        <tr class="row groupCadastroEspecificoUnidade padding-left" style="display:none">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificNumberEvaluetion, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.allow_the_edition_of_the_evaluation_number, new { @class = "padding-left" }), Table.PosicaoLabel.left, null, null)
                        </tr>
                        <tr class="row groupCadastroEspecificoUnidade padding-left" style="display:none">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificNumberSample, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.allow_the_edition_of_the_sample_number, new { @class = "padding-left" }), Table.PosicaoLabel.left, null, null)
                        </tr>
                        <tr class="row groupCadastroEspecificoUnidade padding-left" style="display:none">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificLevel3, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.allow_the_edition_of_the_level3_connection, new { @class = "padding-left" }), Table.PosicaoLabel.left, null, Resources.Resource.allow_the_edition_of_the_level3_connection_popover)
                        </tr>
                        <tr class="row groupCadastroEspecificoUnidade padding-left" style="display:none">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsSpecificGoal, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.allow_the_edition_of_the_goal_of_the_level1_by_unit, new { @class = "padding-left" }), Table.PosicaoLabel.left, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaRadioButton(@Html.Label(Resources.Resource.standard), @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsRuleConformity, "true", new { @class = "icheck" }), @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsRuleConformity, "false", new { @class = "icheck"}), Resources.Resource.conform, Resources.Resource.not_conform, Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaRadioButton(@Html.Label(Resources.Resource.register_total_evaluated), @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsFixedEvaluetionNumber, "true", new { @class = "radio-erp" }), @Html.RadioButtonFor(model => model.paramsDto.parLevel1Dto.IsFixedEvaluetionNumber, "false", new { @class = "radio-erp" }), Resources.Resource.permanent, Resources.Resource.variable, Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.IsLimitedEvaluetionNumber, new { @class = "form-control checkbox-erp", @checked = "checked" }), @Html.Label(Resources.Resource.limited_number_of_evaluations), Table.PosicaoLabel.left, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaLabel(@Html.Label(Resources.Resource.show_level1_counters))
                        </tr>
                    </tbody>
                </table>

                <div class="panel-group accordion" id="level1_cluster_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level1_cluster_accordion" href="#level1_cluster_collapse" aria-expanded="false"> @Resources.Resource.clusters </a>
                            </h4>
                        </div>
                        <div id="level1_cluster_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.DropDownList("valueCluster", Model.paramsDdl.DdlparCluster, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level1_clusters), Table.PosicaoLabel.top)
                                            @Table.GerarColunaButton(@Html.Editor("pontosCluster", new { htmlAttributes = new { @value = 0, @type = "number", @class = "form-control input-sm" } }), @Html.Label(Resources.Resource.cluster_points), Table.PosicaoLabel.top, button: "<button class='btn btn-primary btn-sm' type='button' id='btnIncluirCluster' onclick='Cluster.IncluirCluster();'><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>")
                                        </tr>
                                    </tbody>
                                </table>
                                @*Tabela de Cluster Incluidos*@
                                <table id="clusterIncluidos" class="table table-condensed table-responsive no-margin margin-top" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Resource.cluster_name</th>
                                            <th>@Resources.Resource.cluster_points</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="clusters" class="example"></tr>
                                        <tr id="clustersVazia" style="display:none" class="example">
                                            <td id="nomeCluster"></td>
                                            <td id="pontosCluster"></td>
                                            <td id="alterarCluster">
                                                <button type="button" class="btn btn-primary btn-xs pull-right" id="btnAlterarCluster"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-danger btn-xs pull-right" id="btnExcluirCluster"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        @if (Model.paramsDto.parLevel1Dto.clustersInclusos != null)
                                        {
                                            foreach (var i in Model.paramsDto.parLevel1Dto.clustersInclusos)
                                            {
                                                <tr id="editar">
                                                    <td id="">@i.ParCluster.Name</td>
                                                    <td id="">@i.Points.ToString("#")</td>
                                                    <td id="editarCluster">
                                                        @*<input type="button" value="Alterar" id="Cluster.btnEDITARCluster" />*@
                                                        <button type="button" class="btn btn-danger btn-xs" onclick="Cluster.btnINATIVARLevel1XCluster($(this))"><i class="fa fa-times"></i></button>
                                                        @Html.Hidden("paramsDto.parLevel1Dto.removerParCluster", i.Id, htmlAttributes: new { @disabled = "disabled" })
                                                        @Html.Hidden("clusterId", i.Id, htmlAttributes: new { @disabled = "disabled", @id = "clusterId" })

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="level1_header_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level1_header_accordion" href="#level1_header_collapse" aria-expanded="false"> @Resources.Resource.header_fields </a>
                            </h4>
                        </div>
                        <div id="level1_header_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                @*Obj cabecalho*@
                                <table id="CamposDoCabecalho" class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.DropDownList("headerLevel", Model.paramsDdl.DdlparLevelDefinition, new { @class = "form-control input-sm" }), @Html.Label("Nível do Campo"), Table.PosicaoLabel.top, @Html.ErrorManual("nivelCampoCabecalho", "O Nível do Campo deve ser selecionado"), null)
                                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parHeaderFieldDto.Name, new { @class = "form-control input-sm" }), @Html.LabelFor(m => m.paramsDto.parHeaderFieldDto.Name), Table.PosicaoLabel.top, @Html.ErrorManual("nomeCampoCabecalho", "O campo Nome deve ser preenchido para Nível do Campo"), null)
                                            @Table.GerarColuna(@Html.DropDownList("parFieldType", Model.paramsDdl.DdlParFieldType, new { @class = "form-control input-sm" }), @Html.Label("Tipo"), Table.PosicaoLabel.top, @Html.ErrorManual("tipoCampoCabecalho", "O campo Tipo deve ser selecionado para Nível do Campo"), null)
                                            @Table.GerarColunaCheckbox(@Html.EditorFor(m => m.paramsDto.parHeaderFieldDto.LinkNumberEvaluetion, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.link_number_evaluation), Table.PosicaoLabel.top, null, null)
                                        </tr>
                                    </tbody>
                                </table>
                                @*Obj cabecalho inputs para: multipla escolha, binario*@
                                <div id="allObjCamposCabecalho">

                                    @*Multipla Escolha*@
                                    <div id="objMultiplaEscolha" style="display:none;">
                                        <table id="tblOpcaoMultiplaEscolha">
                                            <tbody>
                                                <tr class="row">
                                                    @Table.GerarColuna(@Html.Editor("objMultiplaEscolhaName", new { htmlAttributes = new { @value = 0, @type = "text", @style = "max-width: 200px;", @class = "form-control input-sm" } }), @Html.Label(Resources.Resource.option), Table.PosicaoLabel.top, @Html.ErrorManual("multiplaEscolhaNameCabecalho", "O campo Opção deve ser preenchido para o Cabeçalho."), null)
                                                    @Table.GerarColunaButton(@Html.Editor("objMultiplaEscolhaPunishmentValue", new { htmlAttributes = new { @value = 0, @type = "number", @style = "max-width: 200px;", @class = "form-control input-sm" } }), @Html.Label(Resources.Resource.punishment_value), Table.PosicaoLabel.top, @Html.ErrorManual("multiplaEscolhaPunishmentValueCabecalho", "O campo Punição/Premiação deve ser selecionado para o Cabeçalho."), button: "<button class='btn btn-primary btn-sm' type='button' id='btnIncluirMultiplaEscolha' onclick='Cabecalhos.IncluirMultiplaEscolha();'><i class='fa fa-plus' aria-hidden='true'></i></button>")
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    @*Binario*@
                                    <div id="objBinario" style="display:none;">
                                        <table id="tblBinario">
                                            <tbody>
                                                <tr class="row">
                                                    <td class="td-erp"></td>
                                                    @Table.GerarColunaLabel(@Html.Label(Resources.Resource.value))
                                                    @Table.GerarColunaLabel(@Html.Label(Resources.Resource.punishment_value), Resources.Resource.punishment_value_popover)
                                                </tr>
                                                <tr class="row" id="positivo">
                                                    @Table.GerarColunaLabel(@Html.Label(Resources.Resource.positive))
                                                    <td>
                                                        <input type="text" id="objBinarioPunishmentName1" class="form-control input-sm">
                                                        @Html.ErrorManual("punishmentNameCabecalho1", "O campo Nome deve ser preechido para o Cabecalho.")
                                                    </td>
                                                    <td>
                                                        <input type="number" id="objBinarioPunishmentValue1" class="form-control input-sm" value="0">
                                                        @Html.ErrorManual("punishmentValueCabecalho1", "O campo Punição/Premiação deve ser selecionado para o Cabecalho.")
                                                    </td>
                                                </tr>
                                                <tr class="row" id="negativo">
                                                    @Table.GerarColunaLabel(@Html.Label(Resources.Resource.negative))
                                                    <td>
                                                        <input type="text" id="objBinarioPunishmentName2" class="form-control input-sm">
                                                        @Html.ErrorManual("punishmentNameCabecalho2", "O campo Nome deve ser preechido para o Cabecalho.")
                                                    </td>
                                                    <td>
                                                        <input type="number" id="objBinarioPunishmentValue2" class="form-control input-sm" value="0">
                                                        @Html.ErrorManual("punishmentValueCabecalho2", "O campo Punição/Premiação deve ser selecionado para o Cabecalho.")
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm margin-button" type="button" id="btnIncluirCluster" onclick="Cabecalhos.IncluirBinario();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    @*Obj Texto*@
                                    <div id="objTexto" style="display:none;">
                                        @*@Table.GerarColuna(@Html.Editor("objTextoName", new { htmlAttributes = new { @value = 0, @type = "text", @style = "max-width: 200px;", @class = "form-control input-erp" } }), @Html.Label(Resources.Resource.option), Table.PosicaoLabel.top, @Html.ErrorManual("objTextoName", "*"), null)*@
                                        <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Texto" id="btnIncluirTexto" onclick="Cabecalhos.IncluirSalvarTexto();" />
                                    </div>

                                    @*Obj Numerico*@
                                    <div id="objNumerico" style="display:none;">
                                        <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Numerico" id="btnIncluirNumerico" onclick="Cabecalhos.IncluirSalvarNumerico();" />
                                    </div>

                                    @*Obj Data*@
                                    <div id="objData" style="display:none;">
                                        <input class="btn btn-primary btn-sm margin-button" type="button" value="Incluir Campo Data" id="btnIncluirData" onclick="Cabecalhos.IncluirSalvarTexto(true);" />
                                    </div>

                                    @*tabela cabecalho itens inputados*@
                                    <div id="divCamposCabecalhoIncluidos" style="display:none;">
                                        <table id="camposCabecalhoIncluidos" class="">
                                            <thead>
                                                <tr>
                                                    @*<th>Cod.</th>*@
                                                    <th>Nivel do campo</th>
                                                    <th>Nome</th>
                                                    <th>Vinculado</th>
                                                    <th>Tipo</th>
                                                    <th>Opções</th>
                                                    <th>Valor</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    @*<th></th>*@
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>


                                    @*Btn salvar cabecalho*@
                                    <div style="width: 100%; float: left;" id="btnIncluirCabecalho">
                                        <input type="button" class="btn btn-primary btn-sm margin-button" id="salvarCabecalho" value="" onclick=";" style="font-size: small; padding: 10px; font-weight: bold;">
                                        <input type="button" class="btn btn-primary btn-sm margin-button" id="salvarCabecalho1" value="" onclick=";" style="font-size: small; padding: 10px; font-weight: bold;">
                                        <input type="button" class="btn btn-primary btn-sm margin-button" id="salvarCabecalho2" value="" onclick=";" style="font-size: small; padding: 10px; font-weight: bold;">
                                        <input type="button" class="btn btn-primary btn-sm margin-button" id="salvarCabecalho3" value="" onclick=";" style="font-size: small; padding: 10px; font-weight: bold;">
                                    </div>

                                    @*Cabecalho Preview Edicao*@
                                    <div id="cabecalhoPreviewEDICAO" class="table">

                                        <div id="alteracao" style="padding: 8px;">


                                        </div>
                                    </div>


                                    @*Cabecalho Preview inclusao*@
                                    <div id="cabecalhoPreview" class="table">
                                        <table id="tableCabecalhosPreview" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nível do campo</th>
                                                    <th>Nome</th>
                                                    <th>Tipo</th>
                                                    <th>Preview</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.paramsDto.parLevel1Dto.cabecalhosInclusos != null)
                                                {
                                                    foreach (var parLevel1XHeaderField in Model.paramsDto.parLevel1Dto.cabecalhosInclusos)
                                                    {

                                                        if (parLevel1XHeaderField.ParHeaderField.ParFieldType_Id == 1)
                                                        {
                                                            <tr class="alteracao">
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParLevelDefiniton.Name</td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.Name </td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParFieldType.Name</td>
                                                                <td>
                                                                    @Html.DropDownList("DropDownList", parLevel1XHeaderField.ParHeaderField.DropDownList, htmlAttributes: new { @class = "form-control input-sm fixed-width", @id = parLevel1XHeaderField.ParHeaderField.Id })
                                                                    @Html.Hidden("paramsDto.parLevel1Dto.removerParHeaderField", parLevel1XHeaderField.Id, htmlAttributes: new { @disabled = "disabled" })
                                                                </td>
                                                                <td><button type="button" class="btn btn-danger btn-xs" onclick="Cabecalhos.RemoveCabecalhoEDICAO($(this));"><i class="fa fa-times"></i></button></td>
                                                            </tr>
                                                        }


                                                        if (parLevel1XHeaderField.ParHeaderField.ParFieldType_Id == 3)
                                                        {
                                                            <tr class="alteracao">
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParLevelDefiniton.Name</td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.Name </td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParFieldType.Name</td>
                                                                <td>
                                                                    @foreach (var radioOpt in parLevel1XHeaderField.ParHeaderField.ParMultipleValues)
                                                                    {
                                                                        <label>@radioOpt.Name</label>
                                                                        @Html.RadioButton("removerParHeaderField", true, new { @class = "" });
                                                                    }
                                                                    @Html.Hidden("paramsDto.parLevel1Dto.removerParHeaderField", parLevel1XHeaderField.Id, htmlAttributes: new { @class = "", @disabled = "disabled" })
                                                                </td>
                                                                <td><button type="button" class="btn btn-danger btn-xs" onclick="Cabecalhos.RemoveCabecalhoEDICAO($(this));"><i class="fa fa-times"></i></button> </td>
                                                            </tr>
                                                        }

                                                        if (parLevel1XHeaderField.ParHeaderField.ParFieldType_Id == 4)
                                                        {
                                                            <tr class="alteracao">
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParLevelDefiniton.Name</td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.Name </td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParFieldType.Name</td>
                                                                <td>
                                                                    @Html.TextBox("a", null, new { @class = "fixed-width form-control input-sm" })
                                                                    @Html.Hidden("paramsDto.parLevel1Dto.removerParHeaderField", parLevel1XHeaderField.Id, htmlAttributes: new { @class = "", @disabled = "disabled" })
                                                                </td>
                                                                <td><button type="button" class="btn btn-danger btn-xs" onclick="Cabecalhos.RemoveCabecalhoEDICAO($(this));"><i class="fa fa-times"></i></button></td>
                                                            </tr>
                                                        }

                                                        if (parLevel1XHeaderField.ParHeaderField.ParFieldType_Id == 5)
                                                        {
                                                            <tr class="alteracao">
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParLevelDefiniton.Name</td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.Name </td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParFieldType.Name</td>
                                                                <td>
                                                                    <input type="number" class="fixed-width form-control input-sm" />
                                                                    @Html.Hidden("paramsDto.parLevel1Dto.removerParHeaderField", parLevel1XHeaderField.Id, htmlAttributes: new { @class = "", @disabled = "disabled" })
                                                                </td>
                                                                <td><button type="button" class="btn btn-danger btn-xs" onclick="Cabecalhos.RemoveCabecalhoEDICAO($(this));"><i class="fa fa-times"></i></button></td>
                                                            </tr>
                                                        }
                                                        if (parLevel1XHeaderField.ParHeaderField.ParFieldType_Id == 6)
                                                        {
                                                            <tr class="alteracao">
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParLevelDefiniton.Name</td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.Name </td>
                                                                <td>@parLevel1XHeaderField.ParHeaderField.ParFieldType.Name</td>
                                                                <td>
                                                                    <input type="text" class="dataInput active form-control input-sm">
                                                                    @Html.Hidden("paramsDto.parLevel1Dto.removerParHeaderField", parLevel1XHeaderField.Id, htmlAttributes: new { @class = "", @disabled = "disabled" })
                                                                </td>
                                                                <td><button type="button" class="btn btn-danger btn-xs" onclick="Cabecalhos.RemoveCabecalhoEDICAO($(this));"><i class="fa fa-times"></i></button></td>
                                                            </tr>
                                                        }

                                                    }
                                                }

                                            </tbody>
                                            <tfoot>

                                            </tfoot>
                                        </table>

                                        <div id="textPreview"></div>
                                        <div id="numericPreview"></div>
                                        <div id="multiplePreview"></div>
                                        <div id="binPreview"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="level1_counter_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level1_counter_accordion" href="#level1_counter_collapse" aria-expanded="false"> @Resources.Resource.counters </a>
                            </h4>
                        </div>
                        <div id="level1_counter_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table id="camposContador" class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.DropDownList("parCounter", Model.paramsDdl.DdlParCounter_Level1, new { @class = "form-control input-erp input-sm" }), @Html.Label(Resources.Resource.counter), Table.PosicaoLabel.top, null, null)
                                            @Table.GerarColunaButton(@Html.DropDownList("parLocal", Model.paramsDdl.DdlParLocal_Level1, new { @class = "form-control input-erp input-sm" }), @Html.Label(Resources.Resource.local), Table.PosicaoLabel.top, button: "<button type=\"button\" id=\"btnSaveCounter\" onclick=\"CounterLevel1.SaveCounter(false); \" class=\"btn btn-primary btn-sm\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>")
                                        </tr>
                                    </tbody>
                                </table>

                                <div id="counterHidden1"></div>
                                <div id="counterEditHidden1"></div>

                                <table id="tblPreviewCounter1" class="table-erp table table" style="display: none;">
                                    <thead class="thead-default">
                                        <tr>
                                            <th>@Resources.Resource.counter</th>
                                            <th>@Resources.Resource.local</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.paramsDto.parLevel1Dto.contadoresIncluidos != null)
                                        {
                                            foreach (var contadoresEditar in Model.paramsDto.parLevel1Dto.contadoresIncluidos)
                                            {
                                                <tr>
                                                    <td>@contadoresEditar.ParCounter.Name</td>
                                                    <td>@contadoresEditar.ParLocal.Name</td>
                                                    <td>&nbsp;<button type="button" class="btn btn-danger btn-xs pull-right" onclick="CounterLevel1.RemoveCounterEdicao($(this), @contadoresEditar.Id)"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="level1_repetition_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level1_repetition_accordion" href="#level1_repetition_collapse" aria-expanded="false"> @Resources.Resource.repetition</a>
                            </h4>
                        </div>
                        <div id="level1_repetition_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.TextBox("inputNumeroNC", null, htmlAttributes: new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.number_nc), Table.PosicaoLabel.top)
                                            @Table.GerarColuna(@Html.TextBox("inputVigencia", null, htmlAttributes: new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.validation), Table.PosicaoLabel.top)
                                            @Table.GerarColunaButton(@Html.DropDownList("selectFrequenciaReincidencia", Model.paramsDdl.DdlFrequency, htmlAttributes: new { @Id = "selectFrequenciaReincidencia", @class = "form-control input-sm" }), @Html.Label(Resources.Resource.frequency), Table.PosicaoLabel.top, button: "<button type=\"button\" class=\"btn btn-primary btn-sm\" id=\"btnAddFrequenciaReincidencia\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>")
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table-erp table table-condensed" id="tableRepetition" style="display: none;">
                                    <thead>
                                        <tr>
                                            <td>@Resources.Resource.rule</td>
                                            <td>@Resources.Resource.number_nc</td>
                                            <td>@Resources.Resource.validation</td>
                                            <td colspan="2">@Resources.Resource.frequency</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="RegraReincidenciaGroup" class="example"></tr>
                                        @if (Model.paramsDto.listParRelapseDto != null)
                                        {
                                            int i = 0;
                                            foreach (var rp in Model.paramsDto.listParRelapseDto)
                                            {
                                                i++;
                                        <tr id="@rp.Id">
                                            <td>Regra @i</td>
                                            <td>@rp.NcNumber</td>
                                            <td>@rp.EffectiveLength</td>
                                            <td>@rp.parFrequency.Name</td>
                                            <td><button type="button" class="btn btn-danger btn-xs pull-right" id="btnRemoverFrequenciaReincidencia"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="level1_nc_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level1_nc_accordion" href="#level1_nc_collapse" aria-expanded="false"> @Resources.Resource.not_conformity_rule</a>
                            </h4>
                        </div>
                        <div id="level1_nc_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Html.HiddenFor(m => m.paramsDto.parLevel1Dto.parNotConformityRuleXLevelDto.Id)
                                            @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel1Dto.parNotConformityRuleXLevelDto.ParNotConformityRule_Id", Model.paramsDdl.DdlParNotConformityRule, htmlAttributes: new { @class = "form-control input-sm fixed-width", @id = "selectNotConformityRule" }), @Html.Label(Resources.Resource.not_conformity_rule), Table.PosicaoLabel.top)
                                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel1Dto.parNotConformityRuleXLevelDto.Value, htmlAttributes: new { @class = "form-control input-sm fixed-width", type = "number", min = "0" }), @Html.Label(Resources.Resource.value), Table.PosicaoLabel.top)
                                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel1Dto.parNotConformityRuleXLevelDto.IsReaudit, new { @class = "make-switch checkbox-erp" }), @Html.Label(Resources.Resource.reaudit), Table.PosicaoLabel.top)
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" data-loading-text="@Resources.Resource.saving_the_level1" id="btnSaveNewLevel1" onclick="indexParamsLevel1.enviarDadosParaApi();" class="btn btn-primary">@Resources.Resource.save_level1</button>
            </div>
        </div>
    }
</div>


<script>



    $('#paramsDto_parLevel1Dto_IsSpecific').on('switchChange.bootstrapSwitch', function (event, state) {
        if (state) {
            $('.groupCadastroEspecificoUnidade').fadeIn();
        } else {
            $('.groupCadastroEspecificoUnidade').fadeOut();
        }
    });

    var Cluster = {
        Counter: 0,
        EventoDdlClusters: function () {
            $('#valueCluster').on('change', function () {
                if ($('#valueCluster option:selected').val() == -1) {
                    $('#btnIncluirCluster').hide();
                } else {
                    $('#btnIncluirCluster').show();
                }
            });
        },
        IncluirCluster: function () {

            /*Valida cluster name*/
            if ($('#valueCluster option:selected').val() == -1) {
                $('#valueClusterSelected').show();
                setTimeout(function () { $('#valueClusterSelected').hide(); }, 10000)
                return;
            }

            /*Valida cluster pontos*/
            if ($('#pontosCluster').val().length == 0) {
                $('#pontosCluster').val('0');
            }

            /**/
            var $this = $('#clustersVazia'), $parentTR = $this.closest('tr');

            /**/
            var novaTr = $parentTR.clone()
            $(novaTr).removeClass('example');
            var idCluster = $('#valueCluster option:selected').val();
            var nomeCluster = $('#valueCluster option:selected').text();
            var pontosCluster = $('#pontosCluster').val();

            /**/
            novaTr.find('#nomeCluster').append(nomeCluster +
                ' <input type="hidden" name="paramsDto.parLevel1XClusterDto[].ParCluster_Id" value="' + idCluster + '" />' +
                '<input type="hidden" name="paramsDto.parLevel1XClusterDto[].Points" value="' + pontosCluster + '" />');
            novaTr.find('#pontosCluster').append(pontosCluster)
            novaTr.find('#btnAlterarCluster').attr('id', novaTr.find('#btnAlterarCluster').attr('id') + idCluster);
            novaTr.find('#btnExcluirCluster').attr('id', novaTr.find('#btnExcluirCluster').attr('id') + idCluster);
            novaTr.attr('id', idCluster);

            //$("#tableid tbody:last").append(
            novaTr.insertAfter($parentTR);
            novaTr.show();

            //Cluster.EventoAlterar(novaTr.find('#btnAlterarCluster' + idCluster).attr('id'), idCluster);
            Cluster.EventoRemove(novaTr.find('#btnExcluirCluster' + idCluster).attr('id'), idCluster);
            Cluster.EventoAlterar(novaTr.find('#btnAlterarCluster' + idCluster).attr('id'), idCluster);
            Cluster.Index++;

            $('#valueCluster').val(-1);
            $('#pontosCluster').val("");
            $('#valueCluster option[value=' + idCluster + ']').attr('disabled', true)
            //Cluster.Counter++;
            Cluster.VerificaShowTable();

            updateAllTables();
        },
        VerificaShowTable: function () {

        },
        EventoRemove: function (btnSelector, idCluster) {
            $('#' + btnSelector).click(function () {
                $('#valueCluster option[value=' + idCluster + ']').attr('disabled', false);
                $(this).parents('tr').first().remove();
                Cluster.VerificaShowTable();
            });
            updateAllTables();
        },
        EventoAlterar: function (btnSelector, idCluster) {
            $('#' + btnSelector).click(function () {
                //$(this).parents('tr').first().remove();
                alert('Nao implmentado');
            });
        },
        UpdateCounter: function () {
            Cluster.Counter = 0;
            $('#clusterIncluidos > tbody > tr').not('#clustersVazia, #clusters, #editar').each(function (c, o) {
                $(o).find('td:first').each(function (cc, oo) {
                    $(oo).find('input').each(function (ccc, ooo) {
                        var parte1 = ooo.name.split('[')[0];
                        var parte2 = ooo.name.split(']')[1];
                        var tempName = parte1 + '[' + Cluster.Counter + ']' + parte2;
                        ooo.name = tempName;
                    });
                    Cluster.Counter++;
                });
            });
        },

        CounterRemoveClusterEDICAO: 0,
        btnINATIVARLevel1XCluster: function (e) {
            var nameNovo = e.parent().find('input[type="hidden"]').attr("name") + "[" + Cluster.CounterRemoveClusterEDICAO + "]";
            e.parent().find('input[type="hidden"]').attr("disabled", false).attr("name", nameNovo);
            e.parents('tr').hide();
            Cluster.CounterRemoveClusterEDICAO++;
            console.log(e.parents('tr'));
        },
        verificaClustersJsIncluidosParaDesabilitar: function () {

            $('#valueCluster option[value=' + idCluster + ']').attr('disabled', true)
        },
    }

    var Cabecalhos = {

        BtnExcluir:  '<button type="button" class="btn btn-danger btn-xs" name="" onclick="Cabecalhos.RemoverDaTabela($(this));"><i class="fa fa-times"></i></button>',
        BtnExcluir2: '<button type="button" class="btn btn-danger btn-xs" name=""  onclick="Cabecalhos.RemoverDaTabela($(this));"><i class="fa fa-times"></i></button>',
        //ParMultipleValues: new {
        //    Id: '',
        //    ParHeaderField_Id: '',
        //    Name: '',
        //    Description: '',
        //    PunishmentValue: '',
        //    Conformity: '',
        //    IsActive: true,
        //},
        //ParHeaderField: new {
        //    Id: '',
        //    ParFieldType_Id: '',
        //    Name: '',
        //    Description: '',
        //    ParLevelDefinition_Id: '',
        //    LinkNumberEvaluetion: '',
        //    IsActive: true,
        //    ParMultipleValues: []
        //},
        ListaDeCabecalhos: [],

        listParHeaderFieldDto: [],

        ValidaCamposCabecalho: function (isValid) {

            if ($('#headerLevel option:selected').val() == -1) {
                $('#nivelCampoCabecalho').show();
                isValid = false;
            }

            if ($('#parFieldType option:selected').val() == -1) {
                $('#tipoCampoCabecalho').show();
                isValid = false;
            }

            if ($('#paramsDto_parHeaderFieldDto_Name').val().length == 0) {
                $('#nomeCampoCabecalho').show();
                isValid = false;
            }

            return isValid;
        },
        tableMultiplaEscolha: $('#camposCabecalhoIncluidos').DataTable({
            info: false,
            searching: false,
            paging: false,
            ordering: true,
        }),
        hideAllObj: function () {

            /*Esconde campos*/
            $('#objMultiplaEscolha').hide();
            $('#objBinario').hide();
            $('#salvarCabecalho').hide().val('');
            $('#btnIncluirCabecalho input').hide();
            $('#btnIncluirTexto').hide();
            $('#btnIncluirNumerico').hide();
            $('#btnIncluirData').hide();
            $('#btnIncluirIntegracoes').hide();

            /*Esconde mensagens*/
            Cabecalhos.EscondeMensagemValidacaoCabecalho();
        },
        EscondeMensagemValidacaoCabecalho: function () {
            $('#nivelCampoCabecalho').hide();
            $('#tipoCampoCabecalho').hide();
            $('#nomeCampoCabecalho').hide();

            $('#multiplaEscolhaNameCabecalho').hide();
            $('#multiplaEscolhaPunishmentValueCabecalho').hide();
            $('#punishmentNameCabecalho1').hide();
            $('#punishmentNameCabecalho2').hide();
            $('#punishmentValueCabecalho1').hide();
            $('#punishmentValueCabecalho2').hide();
        },
        TipoChange: function () {

            var escolhaSelecionada = parseInt($('#parFieldType option:selected').val());
            Cabecalhos.hideAllObj();
            Cabecalhos.tableMultiplaEscolha.clear().draw();
            $('#divCamposCabecalhoIncluidos').hide();
            Cabecalhos.ParMultiplaEscolhaOpcoes = [];
            Cabecalhos.ParBinario = [];

            switch (escolhaSelecionada) {
                case 1: //Multipla Escolha
                    Cabecalhos.ShowMutiplaEscolha();
                    break;
                case 2:
                    break;
                case 3: //Binario
                    Cabecalhos.ShowBinario();
                    break;
                case 4: //Texto
                    Cabecalhos.ShowTexto();
                    break;
                case 5:
                    Cabecalhos.ShowNumerico();
                    break;
                case 6:
                    Cabecalhos.ShowData();
                    break;
                default:
                    Cabecalhos.hideAllObj();
            }
        },

        //MULTIPLA ESCOLHA
        Counter: 0,
        ParMultiplaEscolhaOpcoes: [],
        ValidaMultiplaEscolha: function (isValid) {

            var isValid = true;
            isValid = Cabecalhos.ValidaCamposCabecalho(isValid);

            if ($('#objMultiplaEscolhaName').val().length == 0) {
                $('#multiplaEscolhaNameCabecalho').show();
                isValid = false;
            }

            if ($('#objMultiplaEscolhaPunishmentValue').val().length == 0) {
                $('#multiplaEscolhaPunishmentValueCabecalho').show();
                isValid = false;
            }

            return isValid;
        },
        ShowMutiplaEscolha: function () {
            $('#objMultiplaEscolha').show();
            $('#btnIncluirCabecalho input').hide();
            $('#salvarCabecalho1').val('Salvar ' + $('#parFieldType option:selected').text());

            if($(camposCabecalhoIncluidos).find('tbody > tr:first > td').attr('colspan') == 7)
                $('#salvarCabecalho1').fadeOut();
            else
                $('#salvarCabecalho1').fadeIn();

        },
        IncluirMultiplaEscolha: function (e) {

            /*Valida se os campos estão preenchidos*/
            if (Cabecalhos.ValidaMultiplaEscolha() == false) {
                setTimeout(Cabecalhos.EscondeMensagemValidacaoCabecalho, 10000);
                return;
            }

            var cod = "?";
            var nivelDoCampo = $('#headerLevel option:selected').text();
            var nivelDoCampoVal = $('#headerLevel option:selected').val();

            var nome = $('#paramsDto_parHeaderFieldDto_Name').val();
            var vinculado = $('#paramsDto_parHeaderFieldDto_LinkNumberEvaluetion').is(':checked') ? "Sim" : "Não";
            var tipo = $('#parFieldType option:selected').text();
            var tipoVal = $('#parFieldType option:selected').val();
            var opcoes = $('#objMultiplaEscolhaName').val();
            var valor = $('#objMultiplaEscolhaPunishmentValue').val();
            var obj = Cabecalhos.BtnExcluir;

            /*Obj*/
            Cabecalhos.ParMultiplaEscolhaOpcoes.push({
                //'Id': ' ',
                'Name': opcoes,
                'ParHeaderField_Id': '0',
                'Description': '',
                'ParFieldType_Id': tipoVal,
                'ParLevelDefinition_Id': nivelDoCampoVal,
                'PunishmentValue': valor
            });

            /*Table*/
            Cabecalhos.tableMultiplaEscolha.row.add([
               //cod,
               nivelDoCampo,
               nome,
               vinculado,
               tipo,
               opcoes,
               valor,
               obj
            ]).draw(false);

            $('#divCamposCabecalhoIncluidos').show();

            $('#objMultiplaEscolhaName').val('');
            $('#objMultiplaEscolhaPunishmentValue').val('0');

            if($(camposCabecalhoIncluidos).find('tbody > tr:first > td').attr('colspan') == 7)
                $('#salvarCabecalho1').fadeOut();
            else
                $('#salvarCabecalho1').fadeIn();

            updateAllTables();

            //var tempData = Cabecalhos.ParMultipleValues;
            //tempData.Id =
            //tempData.Name = opcoes
            //tempData.Description = ''
            //tempData.ParHeaderField_Id =  '0',
            //tempData.PunishmentValue = valor
            //tempData.ParHeaderField_Id = tipoVal

            //Cabecalhos.ParHeaderField.ParMultipleValues.push(ParMultipleValues)

        },
        SalvaMultiplaEscolha: function () {

            /* <tr><th>Nível do campo</th></tr>
            <tr><th>Nome</th></tr>
            <tr><th>Tipo</th></tr>
            <tr><th>Preview</th></tr>
            <tr><th></th></tr>*/

            var example = '<tr><td>' + $('#headerLevel :selected').text() + '</td>' // Nivel
            example += '<td id=""><label class="fixed-width"> ' + $('#paramsDto_parHeaderFieldDto_Name').val() + '</label></td>' + // nome
                       '<td id=""><label class="fixed-width"> ' + $('#parFieldType :selected').text() + '</label></td>' + // Tipo
                          '<td><select class="" id="" name="" class="form-control input-sm fixed-width" >' + //Preview
                          '<option value="-1">Selecione...</option> ';
            Cabecalhos.ParMultiplaEscolhaOpcoes.forEach(function (o, c) {
                example += '<option value="1">' + o.Name + '</option>';
            });
            example += '</select>';

            /*Cria inputs para objeto: */
            var obj1 = Cabecalhos.ParMultiplaEscolhaOpcoes[0]
            for (var key in obj1 ) {
                if(key == "Name")
                    example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].' + key + '"     value="' + $('#paramsDto_parHeaderFieldDto_Name').val() + '" />';
                else
                    example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].' + key + '"     value="' + obj1[key] + '" />';
            }
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].IsActive"                value="true" />';

            Cabecalhos.ParMultiplaEscolhaOpcoes.forEach(function (o, counter) {
                /*Cria inputs para objeto: */
                for (var key in o) {
                    example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].parMultipleValuesDto[' + counter + '].' + key + '"     value="' + o[key] + '" />';
                }
            });

            example += '</td>'
            example += '<td>&nbsp;' + Cabecalhos.BtnExcluir + '</td></tr>';//Btn excluir

            $('#tableCabecalhosPreview').append(example);

            /*Limpa formulario Header*/
            $('#paramsDto_parHeaderFieldDto_Name').val('');
            $('#objMultiplaEscolhaName').val('');
            $('#objMultiplaEscolhaPunishmentValue').val('0');
            $('#parFieldType').val('-1').trigger('change');
            $('#headerLevel').val('-1').trigger('change');
            Cabecalhos.tableMultiplaEscolha.clear().draw();
            $('#divCamposCabecalhoIncluidos').hide();
            Cabecalhos.ParMultiplaEscolhaOpcoes = [];

            updateAllTables();
        },

        //BINARIO
        CounterParBinario: 0,
        ParBinario: [],
        ValidaBinario: function () {

            var isValid = true;
            isValid = Cabecalhos.ValidaCamposCabecalho(isValid);

            if ($('#objBinarioPunishmentName1').val().length == 0) {
                $('#punishmentNameCabecalho1').show();
                isValid = false;
            }

            if ($('#objBinarioPunishmentName2').val().length == 0) {
                $('#punishmentNameCabecalho2').show();
                isValid = false;
            }

            if ($('#objBinarioPunishmentValue1').val().length == 0) {
                $('#punishmentValueCabecalho1').show();
                isValid = false;
            }

            if ($('#objBinarioPunishmentValue2').val().length == 0) {
                $('#punishmentValueCabecalho2').show();
                isValid = false;
            }

            return isValid;

        },
        IncluirBinario: function (e) {

            /*Valida se os campos estão preenchidos*/
            if (Cabecalhos.ValidaBinario() == false) {
                setTimeout(Cabecalhos.EscondeMensagemValidacaoCabecalho, 10000);
                return;
            }
            if($('#headerLevel option:selected').val() == -1){
                alert('Selecione o Nivel do Cabecalho')
                return;
            }

            var cod = "?";
            var nivelDoCampo = $('#headerLevel option:selected').text();
            var nivelDoCampoVal = $('#headerLevel option:selected').val();
            var nome = $('#paramsDto_parHeaderFieldDto_Name').val();
            var vinculado = $('#paramsDto_parHeaderFieldDto_LinkNumberEvaluetion').is(':checked') ? "Sim" : "Não";
            var tipo = $('#parFieldType option:selected').text();
            var tipoVal = $('#parFieldType option:selected').val();

            var nameObjBinario1 = $('#objBinarioPunishmentName1').val();
            var nameObjBinario2 = $('#objBinarioPunishmentName2').val();
            var valorObjBinario1 = $('#objBinarioPunishmentValue1').val();
            var valorObjBinario2 = $('#objBinarioPunishmentValue2').val();

            var obj = Cabecalhos.BtnExcluir;
            /*Obj1*/
            Cabecalhos.ParBinario.push({
                'Name': nameObjBinario1,
                'ParHeaderField_Id': '0',
                'Description': '',
                'ParLevelDefinition_Id': nivelDoCampoVal,
                'ParFieldType_Id': tipoVal,
                'PunishmentValue': valorObjBinario1,
                'Conformity': true
            });

            /*Obj2*/
            Cabecalhos.ParBinario.push({
                'Name': nameObjBinario2,
                'ParHeaderField_Id': '0',
                'Description': '',
                'ParLevelDefinition_Id': nivelDoCampoVal,
                'ParFieldType_Id': tipoVal,
                'PunishmentValue': valorObjBinario2,
                'Conformity': false
            });

            Cabecalhos.tableMultiplaEscolha.row.add([
               //cod,
               nivelDoCampo,
               nome,
               vinculado,
               tipo,
               nameObjBinario1,
               valorObjBinario1,
               obj
            ]).draw(false);

            Cabecalhos.tableMultiplaEscolha.row.add([
               //cod,
               nivelDoCampo,
               nome,
               vinculado,
               tipo,
               nameObjBinario2,
               valorObjBinario2,
               obj
            ]).draw(false);

            if($(camposCabecalhoIncluidos).find('tbody > tr:first > td').attr('colspan') == 7)
                $('#salvarCabecalho2').fadeOut();
            else
                $('#salvarCabecalho2').fadeIn();

            $('#divCamposCabecalhoIncluidos').show();

            $('#objBinarioPunishmentName1').val('');
            $('#objBinarioPunishmentName2').val('');
            $('#objBinarioPunishmentValue1').val('0');
            $('#objBinarioPunishmentValue2').val('0');

            updateAllTables();
        },
        ShowBinario: function () {
            $('#objBinario').show();
            $('#btnIncluirCabecalho input').hide();
            $('#salvarCabecalho2').val('Salvar ' + $('#parFieldType option:selected').text()).show();

            if($(camposCabecalhoIncluidos).find('tbody > tr:first > td').attr('colspan') == 7)
                $('#salvarCabecalho2').fadeOut();
            else
                $('#salvarCabecalho2').fadeIn();
        },
        SalvaBinario: function () {

            var fieldType = $('#parFieldType option:selected').val();
            var example = '<tr><td>' + $('#headerLevel :selected').text() + '</td>' // Nivel
            example += '<td id=""><label class="fixed-width"> ' + $('#paramsDto_parHeaderFieldDto_Name').val() + '</label></td>' + // nome
                       '<td id=""><label class="fixed-width"> ' + $('#parFieldType :selected').text() + '</label></td>' ; // Tipo
            //var example = '<div><label class="on-off fixed-width">';
            //example += '<label>' + $('#paramsDto_parHeaderFieldDto_Name').val() + ':&nbsp;</label>';
            /*Cria preview*/
            example += '<td>';
            Cabecalhos.ParBinario.forEach(function (o, c) {
                example += o.Name;
                var a = c == 0 ? 'checked = "checked"' : '';
                var b = c == 0 ? "true" : "false";
                example += '<input disable="disabled" ' + a + ' type="radio" value="' + b + '" >'
            });
            //example += '</label>';
            /*Cria Hiddens*/
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParFieldType_Id"        value="' + $('#parFieldType option:selected').val() + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].Name"                   value="' + $('#paramsDto_parHeaderFieldDto_Name').val() + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].Description"            value="" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParLevelDefinition_Id"  value="' + Cabecalhos.ParBinario[0].ParLevelDefinition_Id + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParFieldType_Id"  value="' + Cabecalhos.ParBinario[0].ParFieldType_Id + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].LinkNumberEvaluetion"   value="' + $('#paramsDto_parLevel1Dto_IsLimitedEvaluetionNumber').is(':checked') + '"/>';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].IsActive"               value="true" />';
            Cabecalhos.ParBinario.forEach(function (o, counter) {
                /*Cria inputs para objeto: */
                for (var key in o) {
                    example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].parMultipleValuesDto[' + counter + '].' + key.toString() + '"     value="' + o[key].toString() + '" />';
                }
            });
            example += '</td>';

            example += '<td>';
            example += '&nbsp;<input type="button" class="btn btn-danger btn-xs"  name="" onclick="Cabecalhos.RemoverDaTabela($(this));"><i class="fa fa-times"></i></button>';
            //example += '</div>';
            example += '</td>';

            $('#tableCabecalhosPreview').append(example);

            /*Limpa formulario Header*/
            $('#paramsDto_parHeaderFieldDto_Name').val('');

            $('#objBinarioPunishmentName1').val('');
            $('#objBinarioPunishmentName2').val('');
            $('#objBinarioPunishmentValue1').val('0');
            $('#objBinarioPunishmentValue2').val('0');

            $('#headerLevel').val('-1').trigger('change');
            $('#parFieldType').val('-1').trigger('change');

            Cabecalhos.tableMultiplaEscolha.clear().draw();
            $('#divCamposCabecalhoIncluidos').hide();
            $('#objBinario').hide();
            $('#salvarCabecalho2').hide();
            Cabecalhos.ParBinario = [];

            updateAllTables();
        },

        //TEXTO
        ShowTexto: function () {
            $('#btnIncluirTexto').show();
            $('#objTexto').show();
            $('#btnIncluirCabecalho input').hide();
        },
        IncluirSalvarTexto: function (isData) {

            if($('#headerLevel option:selected').val() == -1){
                alert('Selecione o Nivel do Cabecalho')
                return;
            }


            if($('#paramsDto_parHeaderFieldDto_Name').val().length == 0){
                alert('Digite o nome para o Campo Texto');
                return;
            }

            var nome = $('#paramsDto_parHeaderFieldDto_Name').val();
            var nivelCabecalho = $('#headerLevel option:selected').val();
            var tipo = $('#parFieldType option:selected').val();
            var linkedNumberEvaluation = $('#paramsDto_parLevel1Dto_IsLimitedEvaluetionNumber').is(':checked');

            Cabecalhos.AtualizaPreviewCampotexto({
                Name: nome,
                Nivel: nivelCabecalho,
                Type: tipo,
                IsRemoved: false,
                Description: "",
                Link: linkedNumberEvaluation,
                isDataDefined: isData
            });

            updateAllTables();

        },
        AtualizaPreviewCampotexto: function (o) {

            var example = '<tr><td>' + $('#headerLevel :selected').text() + '</td>' // Nivel
            example += '<td id=""><label class="fixed-width"> ' + $('#paramsDto_parHeaderFieldDto_Name').val() + '</label></td>' + // nome
                       '<td id=""><label class="fixed-width"> ' + $('#parFieldType :selected').text() + '</label></td>' ; // Tipo
            //var example = '<div>';
            //example += '<label> ' + o.Name + ' </label>&nbsp;';//Label
            example += '<td>';
            if(o.isDataDefined){
                example += '<input type="text" class="dataInput form-control input-sm fixed-width"/>';//Input Date
            }else{
                example += '<input type="text" class="form-control input-sm fixed-width" />';//Input
            }

            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParFieldType_Id"        value="' + o.Type + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].Name"                   value="' + o.Name + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].Description"            value="' + o.Description + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParLevelDefinition_Id"  value="' + o.Nivel + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].LinkNumberEvaluetion"   value="' + o.Link + '"/>';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].IsActive"               value="true" />';
            example += '</td>';

            example += '<td>';
            example += '&nbsp;' +  Cabecalhos.BtnExcluir;
            //example += '</div>';
            example += '</td>';

            $('#tableCabecalhosPreview').append(example);

            if (o.isDataDefined) {
                SingleCallendar.IntiFullCallendarByClass('dataInput');
            }

        },
        ExcluirCampoTexto: function (e) {
            e.parent().remove();
            updateAllTables();
        },

        //INTEGRAÇÕES
        ShowIntegracoes: function () {
            $('#btnIncluirNumerico').show();
            $('#objNumerico').show();
            $('#btnIncluirCabecalho input').hide();
        },

        //NUMERICO
        ShowNumerico: function () {
            $('#btnIncluirNumerico').show();
            $('#objNumerico').show();
            $('#btnIncluirCabecalho input').hide();
        },
        IncluirSalvarNumerico: function () {

            if($('#headerLevel option:selected').val() == -1){
                alert('Selecione o Nivel do Cabecalho');
                return;
            }

            if($('#paramsDto_parHeaderFieldDto_Name').val().length == 0){
                alert('Digite o nome para o Campo Numerico');
                return;
            }

            var nome = $('#paramsDto_parHeaderFieldDto_Name').val();
            var nivelCabecalho = $('#headerLevel option:selected').val();
            var tipo = $('#parFieldType option:selected').val();
            var linkedNumberEvaluation = $('#paramsDto_parLevel1Dto_IsLimitedEvaluetionNumber').is(':checked');

            Cabecalhos.AtualizaPreviewCampoNumerico({
                Name: nome,
                Nivel: nivelCabecalho,
                Type: tipo,
                IsRemoved: false,
                Description: "",
                Link: linkedNumberEvaluation
            });

            updateAllTables();

        },
        AtualizaPreviewCampoNumerico: function (o) {

            var example = '<tr><td>' + $('#headerLevel :selected').text() + '</td>' // Nivel
            example += '<td id=""><label class="fixed-width"> ' + $('#paramsDto_parHeaderFieldDto_Name').val() + '</label></td>' + // nome
                       '<td id=""><label class="fixed-width"> ' + $('#parFieldType :selected').text() + '</label></td>' ; // Tipo

            //var example = '<div>';
            //example += '<label> ' + o.Name + ' </label>&nbsp;';//Label
            example += '<td>';
            example += '<input class="form-control input-sm fixed-width" type="number" />';//Input

            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParFieldType_Id"        value="' + o.Type + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].Name"                   value="' + o.Name + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].Description"            value="' + o.Description + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].ParLevelDefinition_Id"  value="' + o.Nivel + '" />';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].LinkNumberEvaluetion"   value="' + o.Link + '"/>';
            example += '<input type="hidden"  name="paramsDto.listParHeaderFieldDto[~].IsActive"               value="true" />';
            example += '</td>';
            example += '<td>';
            example += '&nbsp;' + Cabecalhos.BtnExcluir;
            //example += '</div>';
            example += '</td>';
            $('#tableCabecalhosPreview').append(example);
        },
        ExcluirCampoTexto: function (e) {
            e.parent().remove();
        },

        //DATA
        ShowData: function () {
            $('#btnIncluirCabecalho input').hide();
            $('#objData').show();
            $('#btnIncluirData').show();
        },

        UpdateCabecalhos: function () {
            Cabecalhos.Counter = 0;
            //.not('#textPreview').not('#numericPreview')
            var objects = $('#tableCabecalhosPreview > tbody > tr').not('.alteracao')
            objects.each(function (c, o) {

                $(o).find('input[type=hidden]').each(function (cc, oo) {
                    var parte1 = oo.name.split('[')[0];
                    var parte2 = oo.name.split(']')[1];
                    if (oo.name.split(']').length > 2)
                        parte2 += ']' + oo.name.split(']')[2]; //MOCK

                    var tempName = parte1 + '[' + Cabecalhos.Counter + ']' + parte2;
                    oo.name = tempName;
                });
                Cabecalhos.Counter++;
            });
        },

        //EDIÇÃO
        CounterRemoveCabecalhoEDICAO: 0,
        RemoveCabecalhoEDICAO: function (e) {
            e.parents('tr').find('input[type="hidden"]').attr("disabled", false).attr("name", e.parents('tr').find('input[type="hidden"]').attr('name') + "[" + Cabecalhos.CounterRemoveCabecalhoEDICAO + "]");
            e.parents('tr').hide();
            Cabecalhos.CounterRemoveCabecalhoEDICAO++;
            console.log(e.parent());
            updateAllTables();
        },

        RemoverDaTabela: function(e, indexValueOfArray){
            //Cabecalhos.ParMultiplaEscolhaOpcoes.splice(indexValueOfArray,1);
            e.parents('tr').remove();

            updateAllTables();
        },

        ////INCLUSÃO
        //RemoveCabecalhoINCLUSAO: function (e) {
        //    e.parent().remove();
        //},
    }

    var CounterLevel1 = {
        ObjCounters: [],
        ObjCounterRemove: [],
        SaveCounter: function (edicao) {
            CounterLevel1.ObjCounters.push({
                Id: null,
                ParLocal_Id: $('#parLocal  option:selected').val(),
                ParCounter_Id: $('#parCounter option:selected').val(),
                ParLevel1_Id: $('#paramsDto_parLevel1Dto_Id').val(),
                Edicao: edicao,
                ParLocal_Name: $('#parCounter option:selected').text(),
                ParCounter_Name: $('#parLocal option:selected').text(),
            });
            CounterLevel1.CreateCounterPreview();
        },
        CreateCounterPreview: function () {

            //$('#tblPreviewCounter1 > tbody').empty();
            $('#tblPreviewCounter1 > tbody > tr#insert').remove();
            var objHiddenCounter = "";
            CounterLevel1.ObjCounters.forEach(function (o, c) {
                objHiddenCounter += '<tr id="insert" >';
                objHiddenCounter += '<td>' + o.ParLocal_Name + '</td>';
                objHiddenCounter += '<td>' + o.ParCounter_Name + '</td>';
                objHiddenCounter += '<td>&nbsp;<button class="btn btn-danger btn-xs pull-right" onclick="CounterLevel1.RemoveCounter($(this), ' + c + ')"><i class=\"fa fa-times\" aria-hidden=\"true\"></button></td>';
                objHiddenCounter += '</tr>';
            });

            $('#tblPreviewCounter1 > tbody').append(objHiddenCounter);

            updateAllTables();

        },
        UpdateCounters: function () {

            /*Objetos Inseridos*/
            $('#counterHidden1').empty();
            var objHiddenCounter = "";
            CounterLevel1.ObjCounters.forEach(function (o, c) {
                objHiddenCounter += '<input name="paramsDto.listParCounterXLocal[' + c + '].ParCounter_Id" type="hidden" value="' + o.ParCounter_Id + '" />'
                objHiddenCounter += '<input name="paramsDto.listParCounterXLocal[' + c + '].ParLocal_Id" type="hidden"  value="' + o.ParLocal_Id + '" />'
                objHiddenCounter += '<input name="paramsDto.listParCounterXLocal[' + c + '].ParLevel1_Id" type="hidden"  value="' + o.ParLevel1_Id + '" />'
            });
            $('#counterHidden1').append(objHiddenCounter);

            /*Objetos removidos*/
            $('#counterEditHidden1').empty();

            var objHiddenCounter = "";
            CounterLevel1.ObjCounterRemove.forEach(function (o, c) {
                objHiddenCounter += '<input name="paramsDto.parLevel1Dto.removerParCounterXlocal[' + c + ']" type="hidden" value="' + o.Id + '" />'
            });

            $('#counterEditHidden1').append(objHiddenCounter);
        },
        RemoveCounter: function (e, c) {
            e.parents('tr').remove();
            CounterLevel1.ObjCounters.splice(c, 1);

            updateAllTables();
        },
        RemoveCounterEdicao: function (e, id) {
            //e.preventDefaut();
            e.parents('tr').hide();
            CounterLevel1.ObjCounterRemove.push({ Id: id })
        },

    }

    $('#salvarCabecalho1').on('click', Cabecalhos.SalvaMultiplaEscolha);
    $('#salvarCabecalho2').on('click', Cabecalhos.SalvaBinario);

    Cluster.EventoDdlClusters();
    Cabecalhos.hideAllObj();
    $('#parFieldType').on('change', Cabecalhos.TipoChange);
    $('#paramsDto_parHeaderFieldDto_ParFieldType_Id').on('change', Cabecalhos.TipoChange);

    Cluster.VerificaShowTable();

    $(document).ready(function () {
        
        $('#paramsDto_parLevel1Dto_IsLimitedEvaluetionNumber').attr('checked', 'checked');
        defaults();
        $('#paramsDto_parLevel1Dto_IsRuleConformity[value="true"]').trigger('click');

        if($('#paramsDto_parLevel1Dto_IsSpecific').is(':checked'))
            $('.groupCadastroEspecificoUnidade').fadeIn();

        updateAllTables();

        $('[data-toggle="popover"]').popover();

        SingleCallendar.IntiFullCallendarByClass('dataInput');

        var parLevel1 = @Html.Raw(Json.Encode(@Model.paramsDto.parLevel1Dto));
        if(parLevel1.parNotConformityRuleXLevelDto.ParNotConformityRule_Id > 0)
            $('#newLevel1Modal').find('#selectNotConformityRule').val(parLevel1.parNotConformityRuleXLevelDto.ParNotConformityRule_Id).change();

        $('#newLevel1Modal').find('#paramsDto_parLevel1Dto_parNotConformityRuleXLevelDto_Value').val(parLevel1.parNotConformityRuleXLevelDto.Value)

        //Geral.TableShow();
    });

</script>
