@model SgqSystem.ViewModels.ParamsViewModel
@using SgqSystem.Helpers

@{
    /**/

    var level = "3";
    var id = "level" + level + "_ParLevel3XDepartment_accordion";
    var id2 = "#level" + level + "__ParLevel3XDepartment_accordion";
    var id3 = "#level" + level + "__ParLevel3XDepartment_collapse";
    var id4 = "level" + level + "__ParLevel3XDepartment_collapse";
    var click = "ParLevel3XDepartment" + level + ".adiciona($(this))";
    //var click = "alert();";
}

<div class="panel-group accordion" id="@id">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="@id2" href="@id3" aria-expanded="false"> @Resources.Resource.department</a>
            </h4>
        </div>
        <div id="@id4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
            <div class="panel-body">

                <table class="table-erp">

                    <tbody>

                        <tr class="alert-info" style="">
                            @Table.GerarColuna(@Html.DropDownList("parCompanySelectParLevel3XDepartment",
                           Model.paramsDdl.DdlParCompany,
                           htmlAttributes: new
                           {
                               @class = "form-control input-sm",
                               @id = "parCompanySelectParLevel3XDepartment"
                           })
                                , @Html.Label(Resources.Resource.company)
                                , Table.PosicaoLabel.top, colspan: 1)
                        </tr>
                    </tbody>
                </table>

                <table class="table-erp">
                    <tbody>
                        <tr class="" style="">
                            <td class="td-erp col-sm-6">
                                <label for="paramsDto.parLevel1Selected">@Resources.Resource.level1</label>
                                <div>
                                    @Html.DropDownList("paramsDto.parLevel1Selected",
                                   new List<SelectListItem> {
                                       new SelectListItem { Text = Resources.Resource.all, Value = "-1" }
                                   },
                                   htmlAttributes: new
                                   {
                                       @class = "form-control select2",
                                       @id = "parLevel1SelectParLevel3XDepartment",
                                       style = "width: 100%"
                                   })
                                </div>
                            </td>
                            <td class="td-erp col-sm-6">
                                <label for="paramsDto.parLevel1Selected">@Resources.Resource.level1</label>
                                <div>
                                    @Html.DropDownList("paramsDto.parLevel2Selected",
                                   new List<SelectListItem> {
                                       new SelectListItem { Text = Resources.Resource.all, Value = "-1" }
                                   },
                                   htmlAttributes: new
                                   {
                                       @class = "form-control select2",
                                       @id = "parLevel2SelectParLevel3XDepartment",
                                       style = "width: 100%"
                                   })
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-erp">
                    <tr class="row" id="companyValueL3">
                        @Table.GerarColunaButton(@Html.DropDownList("parDepartmentSelectParLevel3XDepartment",
                       Model.paramsDdl.DdlParDepartment,
                       htmlAttributes: new { @class = "form-control input-sm",
                           @id = "parDepartmentSelectParLevel3XDepartment" }),
                       @Html.Label(Resources.Resource.department), Table.PosicaoLabel.top
                                            , button: "<button type='button' id='btnSaveparLevel3Department' onclick='ParLevel3XDepartment.adiciona(); ' class='btn btn-primary btn-sm'><i class='fa fa-plus' aria-hidden='true'></i></button>")
                    </tr>
                </table>

                <table id="tableParLevel3XDepartment" class="table table-condensed table-responsive no-margin margin-top" nameModal="Editar Avaliação e Amostra:">
                    <thead>
                        <tr>
                            <th>@Resources.Resource.company</th>
                            <th>@Resources.Resource.level1</th>
                            <th>@Resources.Resource.level2</th>
                            <th>@Resources.Resource.department</th>
                            <th class="options"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<script>

    //function changeCompanyParLevel3XDepartment() {

    var levelParamsDTO = @Html.Raw(Json.Encode(@Model.paramsDto));

    var ParLevel3XDepartment = {
        /*Setup*/
        levelControl: 3,
        level: "newLevel3Modal",
        listObjSalvo: levelParamsDTO.parLevel3Dto.listParLevel3XDepartment,
        idTable: 'tableParLevel3XDepartment',//
        tdsNames: ['CompanyName', 'ParLevel1_Name', 'ParLevel2_Name', 'ParDepartment_Name', 'btn'],
        getObjAdd: function(isEdit, obj){
            if(isEdit != undefined){

                var compId = $('#' + isEdit + ' #parCompanySelectParLevel3XDepartment :selected').val();
                var compName = $('#' + isEdit + ' #parCompanySelectParLevel3XDepartment :selected').text();
                if(compId == "-1"){
                    compName = "@Resources.Resource.all"
                }
                obj.ParCompany_Id = compId;
                obj.CompanyName = compName;

                return obj;
            }else{
                var compId = $('#' + this.level + ' @id3 #parCompanySelectParLevel3XDepartment :selected').val();
                var compName = $('#' + this.level + ' @id3 #parCompanySelectParLevel3XDepartment :selected').text();
                if(compId == "-1"){
                    compName = "@Resources.Resource.all"
                }

                var ParLevel1_Id = $(' #parLevel1SelectParLevel3XDepartment :selected').val();
                var ParLevel1_Name = $(' #parLevel1SelectParLevel3XDepartment :selected').text();
                if(ParLevel1_Id == "-1"){
                    ParLevel1_Name = "@Resources.Resource.all"
                }

                var ParLevel2_Id = $(' #parLevel2SelectParLevel3XDepartment :selected').val();
                var ParLevel2_Name = $(' #parLevel2SelectParLevel3XDepartment :selected').text();
                if(ParLevel2_Id == "-1"){
                    ParLevel2_Name = "@Resources.Resource.all"
                }

                var ParDepartment_Id = $(' #parDepartmentSelectParLevel3XDepartment :selected').val();
                var ParDepartment_Name = $(' #parDepartmentSelectParLevel3XDepartment :selected').text();

                return {/*Objeto*/
                    ParCompany_Id  :  compId,
                    CompanyName  : compName,
                    ParLevel1_Id : ParLevel1_Id,
                    ParLevel1_Name : ParLevel1_Name,
                    ParLevel2_Id : ParLevel2_Id,
                    ParLevel2_Name : ParLevel2_Name,
                    ParDepartment_Id : ParDepartment_Id,
                    ParDepartment_Name : ParDepartment_Name,
                    IsActive: true
                }
            }
        },
        veifyAdd: function(isEdit) {
            var seletorTato = !!isEdit ? isEdit : this.level;

            function verify(data){
                return (data == 0 || data == -1 || data == null) ? 1 : 0;
            }

            //console.log('#' + seletorTato + ' @id3 #parCompanySelectParLevel3XDepartment :selected');
            var companySelected = $('#' + seletorTato + ' @id3 #parCompanySelectParLevel3XDepartment :selected').val();//
            var parLevel1Selected = $(' #parLevel1SelectParLevel3XDepartment :selected').val();
            var parLevel2Selected = $(' #parLevel2SelectParLevel3XDepartment :selected').val();
            var parDepartmentSelected = $('#parDepartmentSelectParLevel3XDepartment :selected').val();
            var display = $('#' + seletorTato + ' @id3 #parCompanySelectParLevel3XDepartment :selected').text();

            var exist = false;

            $.each($('#tableParLevel3XDepartment  tbody  tr  td:nth-child(1)'), function (i, o) {

                var count = 0;
                //verifica se existe unidade
                if(companySelected == -1){
                    count += verify($(o).parent().data().ParCompany_Id);
                }else{
                    count += $(o).parent().data().ParCompany_Id == companySelected ? 1 : 0;
                }

                //verifica se existe indicador
                if(parLevel1Selected == -1){
                    count += verify($(o).parent().data().ParLevel1_Id);
                }else{
                    count += $(o).parent().data().ParLevel1_Id == parLevel1Selected ? 1 : 0;
                }

                //verifica se existe monitoramento
                if(parLevel2Selected == -1){
                    count += verify($(o).parent().data().ParLevel2_Id);
                }else{
                    count += $(o).parent().data().ParLevel2_Id == parLevel2Selected ? 1 : 0;
                }

                //verifica se existe departamento
                if(parDepartmentSelected == -1){
                    count += verify($(o).parent().data().ParDepartment_Id);
                }else{
                    count += $(o).parent().data().ParDepartment_Id == parDepartmentSelected ? 1 : 0;
                }

                //caso exista um com os memos valores
                if(count == 4)
                    exist = true;

            });

            if (!!isEdit) {/*Edição*/

            } else {/*Inclusão*/
                if(exist){

                    if(companySelected == -1)
                        display= "@Resources.Resource.all";

                    openMessageModal("@Resources.Resource.data_already_register_on_company"+" " + display + ".", "")
                    return false;

                }
            }

            return true;
        },
        incluiNoObjetoParaSubmit: function(dados){

            var level = this.levelControl;
            $('#' + this.level + ' #' + this.idTable + ' > tbody > tr ').each(function(c, obj){

                var o = $(obj).data();
                //#edit
                if((o.Id != null || o.Id != undefined) && o.Id > 0){
                    dados["paramsDto.parLevel" + level + "Dto.listParLevel3XDepartment[" + c + "].Id"] = o.Id;
                }

                dados["paramsDto.parLevel" + level + "Dto.listParLevel3XDepartment[" + c + "].ParCompany_Id"] = o.ParCompany_Id;
                dados["paramsDto.parLevel" + level + "Dto.listParLevel3XDepartment[" + c + "].ParLevel1_Id"] = o.ParLevel1_Id;
                dados["paramsDto.parLevel" + level + "Dto.listParLevel3XDepartment[" + c + "].ParLevel2_Id"] = o.ParLevel2_Id;
                dados["paramsDto.parLevel" + level + "Dto.listParLevel3XDepartment[" + c + "].ParDepartment_Id"] = o.ParDepartment_Id;
                dados["paramsDto.parLevel" + level + "Dto.listParLevel3XDepartment[" + c + "].IsActive"] = o.IsActive;
            });

        },
        carregaDadosDoDb: function(){
            var id = this.level + ' #' + this.idTable;
            var idPaleativoParaElementosDentroDoCollapse = this.level + ' @id3';
            var tdNamess = this.tdsNames;
            if( this.listObjSalvo != null){ /*Carrega regras de NC*/
                this.listObjSalvo.forEach(function(o, c){
                    if(o.ParCompany_Id != null){
                        if(o.ParCompany_Id != "-1"){
                            o['CompanyName'] = $('#'+ idPaleativoParaElementosDentroDoCollapse + ' #parCompanySelectParLevel3XDepartment option[value=' + o.ParCompany_Id + ']').text();
                        }
                    }else{
                        o['CompanyName'] = "@Resources.Resource.all";
                    }
                    if(o.ParLevel1_Id != null){
                        if(o.ParLevel1_Id != "-1"){
                            o['ParLevel1_Name'] = $('#parLevel1Select2 option[value=' + o.ParLevel1_Id + ']').text();
                        }
                    }else{
                        o['ParLevel1_Name'] = "@Resources.Resource.all";
                    }

                    if(o.ParLevel2_Id != null){
                        if(o.ParLevel2_Id != "-1"){
                            o['ParLevel2_Name'] = $('#parLevel2Select2 option[value=' + o.ParLevel2_Id + ']').text();
                        }
                    }else{
                        o['ParLevel2_Name'] = "@Resources.Resource.all";
                    }

                    o['ParDepartment_Name'] = $('#parDepartmentSelectParLevel3XDepartment option[value=' + o.ParDepartment_Id + ']').text();

                    if((o.ParLevel1_Id == null
                        || o.ParLevel1_Id == "-1"
                        || o.ParLevel1_Id == $('#parLevel1Select2 :selected').val())
                        &&
                        (o.ParLevel2_Id == null
                        || o.ParLevel2_Id == "-1"
                        || o.ParLevel2_Id == $('#parLevel2Select2 :selected').val()))
                        crudNxN.adiciona(o,  id, tdNamess);
                    $('#tableParLevel3XDepartment tbody tr:last button.btn-success').remove();
                });
            }

            $('#parLevel1SelectParLevel3XDepartment').prepend($("<option></option>")
                    .attr("value",$('#parLevel1Select2 :selected').val())
                    .text($('#parLevel1Select2 :selected').text()));
            $('#parLevel1SelectParLevel3XDepartment').val($('#parLevel1Select2 :selected').val());

            $('#parLevel2SelectParLevel3XDepartment').prepend($("<option></option>")
                    .attr("value",$('#parLevel2Select2 :selected').val())
                    .text($('#parLevel2Select2 :selected').text()));
            $('#parLevel2SelectParLevel3XDepartment').val($('#parLevel2Select2 :selected').val());
        },
        /*Fim Setup*/
        adiciona: function(e) {
            if(this.veifyAdd()){
                var object = this.getObjAdd();
                crudNxN.adiciona(object, this.level + ' #' + this.idTable, this.tdsNames);

                //remover tosos os botoes de editar
                //$('#tableParLevel3XDepartment .btn-success').remove();

                $("#parLevel1SelectParLevel3XDepartment").val($("#parLevel1SelectParLevel3XDepartment option:first").val());
                $("#parLevel2SelectParLevel3XDepartment").val($("#parLevel2SelectParLevel3XDepartment option:first").val());
                $("#parCompanySelectParLevel3XDepartment").val($("#parCompanySelectParLevel3XDepartment option:first").val());
            }
        },
    };

    $(document).ready(function () {
        ParLevel3XDepartment.carregaDadosDoDb();
    });

</script>