@model SgqSystem.ViewModels.ParamsViewModel
@using SgqSystem.Helpers
@{
    ViewBag.Title = "ParLeve2";
    var url = Url.Action("AddUpdateLevel2", "api/ParamsApi"); //URL relativa
    var urlGetLevel1 = Url.Action("GetParLevel2ById", "api/ParamsApi"); //URL relativa
}
<div id="newLevel2Modal">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-12">
                <table class="table-erp">
                    <tbody>
                        <tr class="row hide">
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel2Dto.Id, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parEvaluationDto.ParCompany_Id, htmlAttributes: new { @Value = "1", @class = "" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parSampleDto.ParCompany_Id, htmlAttributes: new { @Value = "1", @class = "" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parNotConformityRuleXLevelDto.ParCompany_Id, htmlAttributes: new { @Value = "1" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parNotConformityRuleXLevelDto.Level, htmlAttributes: new { @Value = "2" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel2Dto.Name, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level2_name), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel2Dto.Description, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level2_description), Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parEvaluationDto.Number, new { @class = "form-control input-sm", type = "number", min = "0" }), @Html.Label(Resources.Resource.evaluation), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parSampleDto.Number, new { @class = "form-control input-sm", type = "number", min = "0" }), @Html.Label(Resources.Resource.sample), Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel2Dto.ParDepartment_Id", Model.paramsDdl.DdlParDepartment, htmlAttributes: new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.department), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.DropDownList("paramsDto.parLevel2Dto.ParFrequency_Id", Model.paramsDdl.DdlFrequency, htmlAttributes: new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.frequency), Table.PosicaoLabel.top, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel2Dto.IsEmptyLevel3, new { @class = "make-switch checkbox-erp" }), @Html.Label(Resources.Resource.allow_the_audit_of_detached_level3), Table.PosicaoLabel.left, null, Resources.Resource.allow_the_audit_of_detached_level3_popover)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel2Dto.HasShowLevel03, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.show_group_on_level3), Table.PosicaoLabel.left, null, null)
                        </tr>
                        <tr class="row">
                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parLevel2Dto.HasGroupLevel3, new { @class = "form-control checkbox-erp" }), @Html.Label(Resources.Resource.has_group_on_level3), Table.PosicaoLabel.left, null, null)
                        </tr>
                    </tbody>
                </table>

                <div class="panel-group accordion" id="level2_group_accordion" style="display: none">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level2_group_accordion" href="#level2_group_collapse" aria-expanded="false"> @Resources.Resource.groups</a>
                            </h4>
                        </div>
                        <div id="level2_group_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-erp">

                                    <tbody>
                                        <tr>
                                            @Table.GerarColunaButton(@Html.TextBox("inputParLevel03Name", null, htmlAttributes: new { @Id = "inputParLevel03Name", @class = "form-control input-sm" }), @Html.Label(Resources.Resource.group), Table.PosicaoLabel.top, button: "<button type=\"button\" class=\"btn btn-primary btn-sm\" id=\"btnParLevel03GroupInsert\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>")
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table-erp table table-condensed" id="tableLevel3Group">
                                    <thead>
                                        <tr>
                                            <th>Nome do Grupo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.paramsDto.listParLevel3GroupDto != null)
                                        {
                                            foreach (var lg in Model.paramsDto.listParLevel3GroupDto)
                                            {
                                                <tr id="@lg.Id">
                                                    <td>@lg.Name</td>
                                                    <td><button type="button" class="btn btn-danger btn-xs pull-right" id="btnRemoveLevel3GroupAdded"><i class="fa fa-times" aria-hidden="true"></i></button></td>

                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="level2_repetition_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level2_repetition_accordion" href="#level2_repetition_collapse" aria-expanded="false"> @Resources.Resource.repetition</a>
                            </h4>
                        </div>
                        <div id="level2_repetition_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.TextBox("inputNumeroNC", null, htmlAttributes: new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.number_nc), Table.PosicaoLabel.top)
                                            @Table.GerarColuna(@Html.TextBox("inputVigencia", null, htmlAttributes: new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.validation), Table.PosicaoLabel.top)
                                            @Table.GerarColunaButton(@Html.DropDownList("selectFrequenciaReincidencia", Model.paramsDdl.DdlFrequency, htmlAttributes: new { @Id = "selectFrequenciaReincidencia", @class = "form-control input-sm" }), @Html.Label(Resources.Resource.frequency), Table.PosicaoLabel.top, button: "<button type=\"button\" class=\"btn btn-primary btn-sm\" id=\"btnAddFrequenciaReincidencia\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>")
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table-erp table table-condensed" id="tableRepetition">
                                    <thead>
                                        <tr>
                                            <td>@Resources.Resource.rule</td>
                                            <td>@Resources.Resource.number_nc</td>
                                            <td>@Resources.Resource.validation</td>
                                            <td colspan="2">@Resources.Resource.frequency</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="RegraReincidenciaGroup"></tr>
                                        @if (Model.paramsDto.listParRelapseDto != null)
                                        {
                                            int i = 0;
                                            foreach (var rp in Model.paramsDto.listParRelapseDto)
                                            {
                                                i++;
                                                <tr id="@rp.Id">
                                                    <td>Regra @i</td>
                                                    <td>@rp.NcNumber</td>
                                                    <td>@rp.EffectiveLength</td>
                                                    <td>@rp.parFrequency.Name</td>
                                                    <td><button type="button" class="btn btn-danger btn-xs pull-right" id="btnRemoverFrequenciaReincidencia"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group accordion" id="level2_nc_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level2_nc_accordion" href="#level2_nc_collapse" aria-expanded="false"> @Resources.Resource.not_conformity_rule</a>
                            </h4>
                        </div>
                        <div id="level2_nc_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.DropDownList("paramsDto.parNotConformityRuleXLevelDto.ParNotConformityRule_Id", Model.paramsDdl.DdlParNotConformityRule, htmlAttributes: new { @class = "form-control input-sm", @id = "selectNotConformityRule" }), @Html.Label(Resources.Resource.not_conformity_rule), Table.PosicaoLabel.top)
                                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parNotConformityRuleXLevelDto.Value, htmlAttributes: new { @class = "form-control input-sm", type = "number", min = "0" }), @Html.Label(Resources.Resource.value), Table.PosicaoLabel.top)
                                            @Table.GerarColunaCheckbox(@Html.EditorFor(model => model.paramsDto.parNotConformityRuleXLevelDto.IsReaudit, new { @class = "make-switch checkbox-erp" }), @Html.Label(Resources.Resource.reaudit), Table.PosicaoLabel.top)
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table-erp">
                    <tbody>
                        <tr class="row hide">
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel2Dto.Id, new { @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parEvaluationDto.ParCompany_Id, new { @Value = "1", @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parSampleDto.ParCompany_Id, new { @Value = "1", @class = "form-control input-sm" }), @Html.Label(Resources.Resource.level2), Table.PosicaoLabel.top, null, null)
                        </tr>
                    </tbody>
                </table>

                <div class="panel-group accordion" id="level2_counter_accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level2_counter_accordion" href="#level2_counter_collapse" aria-expanded="false"> @Resources.Resource.counters</a>
                            </h4>
                        </div>
                        <div id="level2_counter_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table id="camposContador" class="table-erp">
                                    <tbody>
                                        <tr class="row">
                                            @Table.GerarColuna(@Html.DropDownList("selectCounter", Model.paramsDdl.DdlParCounter_Level2, htmlAttributes: new { @class = "form-control input-erp input-sm", @id = "selectCounter" }), @Html.Label(Resources.Resource.counter), Table.PosicaoLabel.top, null, null)
                                            @Table.GerarColunaButton(@Html.DropDownList("selectLocal", Model.paramsDdl.DdlParLocal_Level2, htmlAttributes: new { @class = "form-control input-erp input-sm", @id = "selectLocal" }), @Html.Label(Resources.Resource.local), Table.PosicaoLabel.top, button: "<button id=\"btnSaveCounter\" type=\"button\" onclick=\"CounterLevel2.SaveCounter(false); \" class=\"btn btn-primary btn-sm\"><i class=\"fa fa-plus\" aria-hidden=\"true\"></i></button>")
                                        </tr>
                                    </tbody>
                                </table>


                                <div id="counterHidden2"></div>
                                <div id="counterEditHidden2"></div>

                                <table id="tblPreviewCounter2" class="table-erp table table" style="display: none">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Resource.counter</th>
                                            <th>@Resources.Resource.local</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.paramsDto.listParCounterXLocal != null)
                                        {
                                            foreach (var cl in Model.paramsDto.listParCounterXLocal)
                                            {
                                                <tr id="@cl.Id">
                                                    <td>@cl.ParCounter.Name </td>
                                                    <td>@cl.ParLocal.Name</td>
                                                    <td>&nbsp;<button type="button" class="btn btn-danger btn-sm" onclick="CounterLevel2.RemoveCounterEdicao()"><i class="fa fa-times" aria-hidden="true"></i></button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" onclick="indexParamsLevel2.enviarDadosParaApi();" class="btn btn-primary">@Resources.Resource.save_level2</button>
            </div>
        </div>
    }
</div>
<script>

    $('#paramsDto_parLevel2Dto_HasGroupLevel3').on('switchChange.bootstrapSwitch', function (event, state) {
        if (state) {
            $('#level2_group_accordion').fadeIn();
        } else {
            $('#level2_group_accordion').fadeOut();
        }
    });


    $('#BtnAddContadorMonitoramento').click(function (e) {

        e.preventDefault();

        var idCounter = $('#selectCounter').val();
        var idLocal = $('#selectLocal').val();

        var includeItem = true;


        if (includeItem == true) {
            var indexValue = $('.counterLevel2Class').length;

            var inputHidden = '<input class="counterLevel2Class" type="hidden" name="paramsDto.listParCounterXLocalDto[' + indexValue + '].ParCounter_Id" value="' + idCounter + '" />' +
                                '<input class="LocalLevel2Class" type="hidden" name="paramsDto.listParCounterXLocalDto[' + indexValue + '].ParLocal_Id" value="' + idLocal + '" />';


            var elemento = $('<div class="HederLevel2Group" style="margin-left:30px">' + $('#selectCounter option:selected').text() + " | " + $('#selectLocal option:selected').text() + inputHidden + '<button type="button" class="btn btn-danger btn-sm pull-right" id="btnRemoveHeaderGroup"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button>' + '</div>');
            $('td#HederLevel2Group').append(elemento);
            $('#selectCounter,  #selectLocal').prop('selectedIndex', 0);
        }

    });

    var CounterLevel2 = {
        ObjCounters: [],
        ObjCounterRemove: [],
        SaveCounter: function (edicao) {
            CounterLevel2.ObjCounters.push({
                Id: null,
                ParLocal_Id: $('#selectLocal  option:selected').val(),
                ParCounter_Id: $('#selectCounter option:selected').val(),
                ParLevel1_Id: $('#paramsDto_parLevel2Dto_Id').val(),
                Edicao: edicao,
                ParLocal_Name: $('#selectLocal option:selected').text(),
                ParCounter_Name: $('#selectCounter option:selected').text(),
            });
            CounterLevel2.CreateCounterPreview();
        },
        CreateCounterPreview: function () {

            //$('#tblPreviewCounter2 > tbody').empty();
            $('#tblPreviewCounter2 > tbody > tr#insert').remove();
            var objHiddenCounter = "";
            CounterLevel2.ObjCounters.forEach(function (o, c) {
                objHiddenCounter += '<tr id="insert" >';
                objHiddenCounter += '<td>' + o.ParCounter_Name + '</td>';
                objHiddenCounter += '<td>' + o.ParLocal_Name + '</td>';
                objHiddenCounter += '<td>&nbsp;<button type="button" class="btn btn-danger btn-xs pull-right" onclick="CounterLevel2.RemoveCounter($(this), ' + c + ')"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button></td>';
                objHiddenCounter += '</tr>';
            });

            $('#tblPreviewCounter2 > tbody').append(objHiddenCounter);

            if (CounterLevel2.ObjCounters.length == 0)
                $('#tblPreviewCounter2').hide();
            else
                $('#tblPreviewCounter2').show();

        },
        UpdateCounters: function () {

            /*Objetos Inseridos*/
            $('#counterHidden2').empty();
            var objHiddenCounter = "";
            CounterLevel2.ObjCounters.forEach(function (o, c) {
                objHiddenCounter += '<input name="paramsDto.listParCounterXLocal[' + c + '].ParCounter_Id" type="hidden" value="' + o.ParCounter_Id + '" />'
                objHiddenCounter += '<input name="paramsDto.listParCounterXLocal[' + c + '].ParLocal_Id" type="hidden"  value="' + o.ParLocal_Id + '" />'
                objHiddenCounter += '<input name="paramsDto.listParCounterXLocal[' + c + '].ParLevel2_Id" type="hidden"  value="' + o.ParLevel1_Id + '" />'
            });
            $('#counterHidden2').append(objHiddenCounter);

            /*Objetos removidos*/
            $('#counterEditHidden2').empty();

            var objHiddenCounter = "";
            CounterLevel2.ObjCounterRemove.forEach(function (o, c) {
                objHiddenCounter += '<input name="paramsDto.parLevel2Dto.removerParCounterXlocal[' + c + ']" type="hidden" value="' + o.Id + '" />'
            });

            $('#counterEditHidden2').append(objHiddenCounter);
        },
        RemoveCounter: function (e, c) {
            e.parents('tr').remove();
            CounterLevel2.ObjCounters.splice(c, 1);

            if (CounterLevel2.ObjCounters.length == 0)
                $('#tblPreviewCounter2').hide();
            else
                $('#tblPreviewCounter2').show();
        },
        RemoveCounterEdicao: function (e, id) {
            e.preventDefaut();
            e.parents('tr').hide();

            CounterLevel2.ObjCounterRemove.push({ Id: id })
        },

    }

    $('#btnParLevel03GroupInsert').click(function (e) {
        e.preventDefault();

        var inputs = $('input[name="paramsDto.parLevel3GroupDto.Name"]');
        var input = $('#inputParLevel03Name');

        var includeItem = true;

        inputs.each(function (e) {

            if ($(this).val() == input.val()) {
                alert('Já cadastrou esse grupo para o input');
                includeItem = false;
                return false;
            }

        });
        if (includeItem == true) {
            var indexValue = $('.groupLevel03Class').length;

            var inputHidden = '<input class="groupLevel03Class" type="hidden" name="paramsDto.listParLevel3GroupDto[' + indexValue + '].Name" value="' + input.val() + '" />'

            var elemento = $('<tr class="hide"><td>' + input.val() + inputHidden + '</td><td><button type="button" class=\"btn btn-danger btn-xs pull-right\" id="btnRemoveLevel3Group"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button></td></tr>');

            $('#tableLevel3Group').append(elemento);

            if ($('select[name="paramsDto.parLevel2Selected"]').val() > 0) {
                var dados = $('#newLevel2Modal > form').serializeObject();
                $.post(AddLevel3Group, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                    if (objetoReturn.paramsDto.parLevel2Dto.Id > 0) {
                        elemento.removeClass('hide');
                        input.val("");

                    }
                });
            }
            else {
                elemento.removeClass('hide');
                input.val("");
            }

        }

        input.focus();


    });
    $('#btnAddFrequenciaReincidencia').click(function (e) {

        e.preventDefault();

        var NcNumber = $('#inputNumeroNC').val();
        var Vigencia = $('#inputVigencia').val();
        var idFrequencia = $('#selectFrequenciaReincidencia').val()
        var includeItem = true;

        if (includeItem == true) {
            var indexValue = $('#tableRepetition tbody tr').length;

            var inputHidden = '<input class="counterRegraReincidenciaClass" type="hidden" name="paramsDto.listParRelapseDto[' + indexValue + '].NcNumber" value="' + NcNumber + '" />' +
                              '<input class="LocalLevel2Class" type="hidden" name="paramsDto.listParRelapseDto[' + indexValue + '].EffectiveLength" value="' + Vigencia + '" />' +
                              '<input class="LocalLevel2Class" type="hidden" name="paramsDto.listParRelapseDto[' + indexValue + '].ParFrequency_Id" value="' + idFrequencia + '" />';

            var elemento = $('<tr><td>' + 'Regra ' + (indexValue + 1) + " </td><td> " + NcNumber + " </td><td> " + Vigencia + " </td><td> " + $('#selectFrequenciaReincidencia option:selected').text() + inputHidden + '</td><td><button type="button" class="btn btn-danger btn-xs pull-right" id="btnRemoverFrequenciaReincidencia"><i class=\"fa fa-times\" aria-hidden=\"true\"></i></button>' + '</td><tr>');
            $('#tableRepetition tbody').append(elemento);
            $('#selectFrequenciaReincidencia').prop('selectedIndex', 0);
            $('#inputNumeroNC, #inputVigencia').val("");
            $('#inputNumeroNC').focus();
        }

        if ($('tr#RegraReincidenciaGroup').length == 0)
            $('#tableRepetition').hide();
        else
            $('#tableRepetition').show();
    });

    $(document).on('click', '#btnRemoveLevel3Group', function (e) {
        e.preventDefault();
        $(this).parents('.level03Group').remove();
    });
    $(document).ready(function () {

        defaults();
        if ($('input[name="paramsDto.parLevel2Dto.HasGroupLevel3"]').is(':checked')) {
            $('#level2_group_accordion').fadeIn();
        }
    });
    /*Fim Submit Level1*/

    $(document).ready(function () {
        defaults();
    });

</script>
