@model SgqSystem.ViewModels.ParamsViewModel
@using SgqSystem.Helpers

@{

    ViewBag.Title = "ParLeve1";
    //URL relativa
    var url1 = Url.Action("AddUpdateLevel1", "api/ParamsApi");
    var url2 = Url.Action("AddUpdateLevel2", "api/ParamsApi");
    var url3 = Url.Action("AddUpdateLevel3", "api/ParamsApi");
    var urlGetLevel1 = Url.Action("GetParLevel1ById", "api/ParamsApi");
    var urlGetLevel2 = Url.Action("GetParLevel2ById", "api/ParamsApi");
    var urlGetLevel3 = Url.Action("GetParLevel3ById", "api/ParamsApi");
    var vinculoL2L3 = Url.Action("AddVinculoL3L2", "api/ParamsApi");
    var vinculoL1L2 = Url.Action("AddVinculoL1L2", "api/ParamsApi");
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/General")
    @Styles.Render("~/Content/Theme")
    @Styles.Render("~/Content/Erp")
    @Styles.Render("~/Content/Tables")
    @Styles.Render("~/Content/select2css")

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ScriptTables")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/select2js")

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="page-wrapper">

        @Html.Partial("~/Views/Params/_Navbar.cshtml")
        <div class="page-container">

            @Html.Partial("~/Views/Params/_RightLayout.cshtml")
            @Html.Partial("~/Views/Params/_LeftLayout.cshtml")

            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height: 650px;">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE TITLE-->
                    <h1 class="page-title">
                        @Resources.Resource.customization
                        <small>Construct data collection screen</small>
                    </h1>
                    <!-- END PAGE TITLE-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <span>  </span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                            <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                            <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span class="thin uppercase" id="currentDate"></span>&nbsp;
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption">
                                        <i class="icon-share font-dark"></i>
                                        <span class="caption-subject font-dark bold uppercase">@Resources.Resource.customization</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#setup_tab" data-toggle="tab" aria-expanded="true"> Setup </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="setup_tab">
                                            <div class="row">
                                                <div class="col-xs-3"><button class="btn btn-primary btn-block" id="btnNewLevel1">@Resources.Resource.new_level1</button></div>
                                                <div class="col-xs-9">
                                                    @Html.DropDownList("paramsDto.parLevel1Selected", Model.paramsDdl.DdlparLevel1, htmlAttributes: new { @class = "form-control", @id = "parLevel1Select2" })
                                                </div>
                                                <hr />
                                            </div>
                                            <div class="panel-group accordion" id="level1_accordion">
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level1_accordion" href="#level1_collapse" aria-expanded="false" id="level1Title">  </a>
                                                        </h4>
                                                    </div>
                                                    <div id="level1_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div id="ParLevel1">
                                                                @Html.Partial("~/Views/Params/_ParLevel1.cshtml", Model)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-3"><button class="btn btn-warning btn-block" id="btnNewLevel2">@Resources.Resource.new_level2</button></div>
                                                <div class="col-xs-9" id="partialSelectLevel2">
                                                    @*@Html.DropDownList("paramsDto.parLevel2Selected", Model.paramsDdl.DdlparLevel2, htmlAttributes: new { @class = "form-control", @id = "parLevel2Select2" })*@
                                                    @Html.Partial("~/Views/Params/_SelectBoxLevel2.cshtml", Model)
                                                </div>
                                                <hr />
                                            </div>
                                            <div class="panel-group accordion" id="level2_accordion">
                                                <div class="panel panel-warning">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level2_accordion" href="#level2_collapse" aria-expanded="false" id="level2Title"> @Resources.Resource.level2 </a>
                                                            <a id="vinculoLevel1">Vincular ao nivel 1</a>
                                                        </h4>
                                                    </div>
                                                    <div id="level2_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div id="ParLevel2">
                                                                @Html.Partial("~/Views/Params/_ParLevel2.cshtml", Model)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-3"><button class="btn btn-danger btn-block" id="btnNewLevel3">@Resources.Resource.new_level3</button></div>
                                                <div class="col-xs-9" id="partialSelectLevel3"> 
                                                    @*@Html.DropDownList("paramsDto.parLevel3Selected", Model.paramsDdl.DdlparLevel3, htmlAttributes: new { @class = "form-control", @id = "parLevel3Select2" })*@
                                                    @Html.Partial("~/Views/Params/_SelectBoxLevel3.cshtml", Model)
                                                </div>
                                                <hr />
                                            </div>
                                            <div class="panel-group accordion" id="level3_accordion">
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level3_accordion" href="#level3_collapse" aria-expanded="false" id="level3Title"> @Resources.Resource.level3 </a>
                                                            <a id="vinculoLevel2" data-toggle="modal" data-target="#modalPontos">Vincular ao nivel 2</a>
                                                        </h4>
                                                    </div>
                                                    <div id="level3_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div id="ParLevel3">
                                                                @Html.Partial("~/Views/Params/_ParLevel3.cshtml", Model)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @*<div class="panel-group accordion" id="level3level2_accordion">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#level3level2_accordion" href="#level3level2_collapse" aria-expanded="false"> Vinculo Level3 com Level 2 </a>
                                                        </h4>
                                                    </div>
                                                    <div id="level3level2_collapse" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <div id="ParLevel3level2">
                                                                <table class="table-erp">
                                                                    <tbody>
                                                                        <tr>
                                                                            @Table.GerarColuna(@Html.Label("Nivel 2"), @Html.Label("Nivel 2 Label"), Table.PosicaoLabel.top, null, null)
                                                                            @Table.GerarColuna(@Html.Label("Nivel 3"), @Html.Label("Nivel 3 Label"), Table.PosicaoLabel.top, null, null)
                                                                            @Table.GerarColuna(@Html.TextBoxFor(m => m.paramsDto.parLevel3Level2.Weight, new { @class = "form-control input-sm" }), @Html.Label("Peso"), Table.PosicaoLabel.top, null, null)
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="3"><button>Ok</button></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>


          

        </div>
    </div>
    <script>

        ///initialize switches

        function defaults() {
            $.fn.bootstrapSwitch.defaults.size = 'mini';
            $.fn.bootstrapSwitch.defaults.onText = '@Resources.Resource.yes';
            $.fn.bootstrapSwitch.defaults.offText = '@Resources.Resource.no';
            $(".check-box").bootstrapSwitch();
        }

        $('[data-toggle="popover"]').popover();

        defaults();

        var t1 = @Html.Raw(Json.Encode(@Resources.Resource.new_level1));
        var t2 = @Html.Raw(Json.Encode(@Resources.Resource.new_level2));
        var t3 = @Html.Raw(Json.Encode(@Resources.Resource.new_level3));

        $('#level1Title').text(t1);
        $('#level2Title').text(t2);
        $('#level3Title').text(t3);

        $('#btnNewLevel1').click(function () {
            $('#parLevel1Select2').val('-1').trigger('select2:select').change();
            $('#paramsDto_parLevel1Dto_Name').focus();
        });

        $('#btnNewLevel2').click(function () {
            $('#parLevel2Select2').val('-1').trigger('select2:select').change();
            $('#paramsDto_parLevel2Dto_Name').focus();
        });

        $('#btnNewLevel3').click(function () {
            $('#parLevel3Select2').val('-1').trigger('select2:select').change();
            $('#paramsDto_parLevel3Dto_Name').focus();
        });


        var monthNames = [
           '@Resources.Resource.january',
           '@Resources.Resource.february',
           '@Resources.Resource.march',
           '@Resources.Resource.april',
           '@Resources.Resource.may',
           '@Resources.Resource.june',
           '@Resources.Resource.july',
           '@Resources.Resource.august',
           '@Resources.Resource.september',
           '@Resources.Resource.october',
           '@Resources.Resource.november',
           '@Resources.Resource.december'];

        closeLeftSidebar();

        function twoDigits(str) {
            str = ("000" + str).slice(-2);
            return str;
        }

        function watcher() {

            var date = new Date();
            var day = date.getDate();
            var monthIndex = date.getMonth();
            var year = date.getFullYear();
            var hour = date.getHours();
            var minute = date.getMinutes();
            var second = date.getSeconds();

            $("#currentDate").text(twoDigits(day) + ' @Resources.Resource.of ' + monthNames[monthIndex] + ' @Resources.Resource.of ' + year + ' ' + twoDigits(hour) + ':' + twoDigits(minute) + ':' + twoDigits(second));

            setTimeout(watcher, 1000);
        }

        watcher();


        var url1 = '@Html.Raw(@url1)';
        var url2 = '@Html.Raw(@url2)';
        var url3 = '@Html.Raw(@url3)';

        /*
            Serializa objeto usando bind de property Name
            $('form').serializeObject();
        */
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        var parLevel1Empty = $('#ParLevel1 > form').clone();
        var parLevel2Empty = $('#ParLevel2 > form').clone();
        var parLevel3Empty = $('#ParLevel3 > form').clone();

        var urlGetLevel1 = '@Html.Raw(@urlGetLevel1)';
        var urlGetLevel2 = '@Html.Raw(@urlGetLevel2)';
        var urlGetLevel3 = '@Html.Raw(@urlGetLevel3)';

        /*LEVEL 1*/
        var indexParamsLevel1 = {
            new_level1: @Html.Raw(Json.Encode(@Resources.Resource.new_level1)),
            enviarDadosParaApi: function (e) {

                if ($('#newLevel1Modal > form').valid()) {
                    Cabecalhos.UpdateCabecalhos();
                    Cluster.UpdateCounter();
                    CounterLevel1.UpdateCounters();
                    var dados = $('#newLevel1Modal > form').serializeObject();

                    $.post(url1, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                        if (objetoReturn.paramsDto.parLevel1Dto.Id > 0) {

                            $.get('GetParLevel1ById/' + objetoReturn.paramsDto.parLevel1Dto.Id, function (obj, responseText, xhr) {

                                if (obj != null) {
                                    $('#ParLevel1').empty();
                                    $('#ParLevel1').append(xhr.responseText);
                                }

                                var retornoId = $('#paramsDto_parLevel1Dto_Id').val();
                                var retornoName = $('#paramsDto_parLevel1Dto_Name').val();
                                $('#level1Title').text('#' + retornoId + ' - ' + retornoName); /*Texto do panel*/

                                /*Atualiza Select2*/
                                if ($("#parLevel1Select2 option:selected").val() == retornoId) {
                                    if ($("#parLevel1Select2 option:selected").text() != retornoName) {
                                        $("#parLevel1Select2 option:selected").text(retornoId + ' - ' + retornoName);
                                        //$('#parLevel1Select2').select2();
                                    }
                                } else {
                                    $("#parLevel1Select2").append("<option value=" + retornoId + "> " + retornoId + ' - ' + retornoName + " </option>")
                                    $("#parLevel1Select2").val(retornoId)
                                }

                            });

                            alert(statusmessage);
                        }
                    });
                }

            },
            select2: function () {
                $('#parLevel1Select2').select2({

                }).on("select2:select", function (e) {

                    if (e.currentTarget.value == "") {
                        $('#ParLevel1').empty();
                        $('#ParLevel1').append(parLevel1Empty);
                        $('#level1Title').text(indexParamsLevel1.new_level1);
                    } else {
                        $.get('GetParLevel1ById/' + e.currentTarget.value, function (obj, responseText, xhr) {
                            if (obj != null) {
                                $('#ParLevel1').empty();
                                $('#ParLevel1').append(xhr.responseText);
                                UpdateSelect2Level2(e.currentTarget.value);
                            }
                            if (e.currentTarget.value > 0) {
                                $('#level1Title').text('#' + $('#paramsDto_parLevel1Dto_Id').val() + ' - ' + $('#paramsDto_parLevel1Dto_Name').val());
                            } else {
                                $('#level1Title').text(indexParamsLevel1.new_level1);
                            }
                        });
                    }

                }).on("select2:unselect", function (e) {

                    if (e.currentTarget.value == "") {
                        $('#ParLevel1').empty()
                        $('#ParLevel1').append(parLevel1Empty)
                        $('#level1Title').text(indexParamsLevel1.new_level1);
                    }

                });
            },
            selectNormal: function () {
                $('#parLevel1Select2').on("click", function (e) {
                    var valorSelecionado = $('#parLevel1Select2 option:selected').val();
                    if (valorSelecionado == "") {
                        $('#ParLevel1').empty();
                        $('#ParLevel1').append(parLevel1Empty);
                        $('#level1Title').text(indexParamsLevel1.new_level1);
                    } else {
                        $.get('GetParLevel1ById/' + valorSelecionado, function (obj, responseText, xhr) {
                            if (obj != null) {
                                $('#ParLevel1').empty();
                                $('#ParLevel1').append(xhr.responseText);
                                UpdateSelect2Level2(valorSelecionado);
                            }
                            if (e.currentTarget.value > 0) {
                                $('#level1Title').text('#' + $('#paramsDto_parLevel1Dto_Id').val() + ' - ' + $('#paramsDto_parLevel1Dto_Name').val());
                            } else {
                                $('#level1Title').text(indexParamsLevel1.new_level1);
                            }
                        });
                    }

                })
            },
        }
        //indexParamsLevel1.select2();
        indexParamsLevel1.selectNormal();

        /*LEVEL 2*/
        var indexParamsLevel2 = {
            new_level2: @Html.Raw(Json.Encode(@Resources.Resource.new_level2)),
            selectNormal: function () {
                $('#parLevel2Select2').on("change", function (e) {
                    var valorSelecionado = $('#parLevel2Select2 option:selected').val();
                    if (valorSelecionado == "") {
                        $('#ParLevel2').empty();
                        $('#ParLevel2').append(parLevel2Empty);
                        $('#level2Title').text(indexParamsLevel2.new_level2);
                    } else {
                        $.get('GetParLevel2ById/' + valorSelecionado, function (obj, responseText, xhr) {
                            if (obj != null) {
                                $('#ParLevel2').empty();
                                $('#ParLevel2').append(xhr.responseText);
                                UpdateSelect2Level3(valorSelecionado);
                            }
                            if (e.currentTarget.value > 0) {
                                $('#level2Title').text('#' + $('#paramsDto_parLevel2Dto_Id').val() + ' - ' + $('#paramsDto_parLevel2Dto_Name').val());
                            } else {
                                $('#level2Title').text(indexParamsLevel2.new_level2);
                            }
                        });
                    }

                });
            },
            select2: function () {
                $('#parLevel2Select2').select2({
                    //placeholder: {
                    //    id: "-1",
                    //    text: "Selecione..."
                    //},
                }).on("select2:select", function (e) {

                    if (e.currentTarget.value == "") {
                        $('#ParLevel2').empty();
                        $('#ParLevel2').append(parLevel2Empty);
                        $('#level2Title').text(indexParamsLevel2.new_level2);
                    } else {
                        $.get('GetParLevel2ById/' + e.currentTarget.value, function (obj, responseText, xhr) {
                            if (obj != null) {
                                $('#ParLevel2').empty();
                                $('#ParLevel2').append(xhr.responseText);
                                UpdateSelect2Level3(e.currentTarget.value);
                            }
                            if (e.currentTarget.value > 0) {
                                $('#level2Title').text('#' + $('#paramsDto_parLevel2Dto_Id').val() + ' - ' + $('#paramsDto_parLevel2Dto_Name').val());
                            } else {
                                $('#level2Title').text(indexParamsLevel2.new_level2);
                            }
                        });
                    }

                }).on("select2:unselect", function (e) {

                    if (e.currentTarget.value == "") {
                        $('#ParLevel2').empty()
                        $('#ParLevel2').append(parLevel2Empty)
                        $('#level2Title').text(indexParamsLevel2.new_level2);
                    }
                });
            },
            enviarDadosParaApi: function (e) {

                if ($('#newLevel2Modal > form')) {
                    //Cabecalhos.UpdateCabecalhos();
                    //Cluster.UpdateCounter();
                    CounterLevel2.UpdateCounters();
                    var dados = $('#newLevel2Modal > form').serializeObject();

                    $.post(url2, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                        if (objetoReturn.paramsDto.parLevel2Dto.Id > 0) {
                            $.get('GetParLevel2ById/' + objetoReturn.paramsDto.parLevel2Dto.Id, function (obj, responseText, xhr) {
                                if (obj != null) {
                                    $('#ParLevel2').empty();
                                    $('#ParLevel2').append(xhr.responseText);
                                }

                                var retornoId = $('#paramsDto_parLevel2Dto_Id').val();
                                var retornoName = $('#paramsDto_parLevel2Dto_Name').val();
                                $('#level2Title').text('#' + retornoId + ' - ' + retornoName); /*Texto do panel*/

                                /*Atualiza Select2*/
                                if ($("#parLevel2Select2 option:selected").val() == retornoId) {
                                    if ($("#parLevel2Select2 option:selected").text() != retornoName) {
                                        $("#parLevel2Select2 option:selected").text(retornoId + ' - ' + retornoName);
                                        //$('#parLevel2Select2').select2();
                                    }
                                } else {
                                    $("#parLevel2Select2").append("<option value=" + retornoId + "> " + retornoId + ' - ' + retornoName + " </option>")
                                    $("#parLevel2Select2").val(retornoId)
                                }
                            });
                            alert(statusmessage);
                        }
                        //console.log(objetoReturn);
                        //console.log(respostaCompleta);
                    });
                }

            },
        }
        //indexParamsLevel2.select2();
        indexParamsLevel2.selectNormal();

        /*LEVEL 3*/
        var indexParamsLevel3 = {
            newLevel3: @Html.Raw(Json.Encode(@Resources.Resource.new_level3)),
            select2: function () {
                $('#parLevel3Select2').select2({
                    //placeholder: {
                    //    id: "-1",
                    //    text: "Selecione..."
                    //},
                }).on("select2:select", function (e) {

                    if (e.currentTarget.value == "") {
                        $('#ParLevel3').empty();
                        $('#ParLevel3').append(parLevel3Empty);
                        $('#level3Title').text(indexParamsLevel3.newLevel3);
                    } else {
                        $.get('GetParLevel3ById/' + e.currentTarget.value + "&", function (obj, responseText, xhr) {
                            if (obj != null) {
                                $('#ParLevel3').empty();
                                $('#ParLevel3').append(xhr.responseText);
                            }
                            if (e.currentTarget.value > 0) {
                                $('#level3Title').text('#' + $('#paramsDto_parLevel3Dto_Id').val() + ' - ' + $('#paramsDto_parLevel3Dto_Name').val());
                            } else {
                                $('#level3Title').text(indexParamsLevel3.newLevel3);
                            }
                        });
                    }

                }).on("select2:unselect", function (e) {

                    if (e.currentTarget.value == "") {
                        $('#ParLevel3').empty()
                        $('#ParLevel3').append(parLevel3Empty)
                        $('#level3Title').text(indexParamsLevel3.newLevel3);
                    }

                });
            },
            selectNormal: function () {
                $('#parLevel3Select2').on("change", function () {
                    var valorSelecionado = $('#parLevel3Select2 option:selected').val();
                    var valorSelecionadoLevel2 = $('#parLevel2Select2 :selected').val();
                    if (valorSelecionado == "") {
                        $('#ParLevel3').empty();
                        $('#ParLevel3').append(parLevel3Empty);
                        $('#level3Title').text(indexParamsLevel3.newLevel3);
                    } else {
                        $.get('GetParLevel3ById', { id: valorSelecionado, idParLevel2: valorSelecionadoLevel2 }, function (obj, responseText, xhr) {
                            if (obj != null) {
                                $('#ParLevel3').empty();
                                $('#ParLevel3').append(xhr.responseText);
                            }
                            if (valorSelecionado > 0) {
                                $('#level3Title').text('#' + $('#paramsDto_parLevel3Dto_Id').val() + ' - ' + $('#paramsDto_parLevel3Dto_Name').val());
                            } else {
                                $('#level3Title').text(indexParamsLevel3.newLevel3);
                            }
                        });
                    }

                })
            },
            enviarDadosParaApi: function (e) {

                if ($('#newLevel3Modal > form').valid()) {
                    //Cabecalhos.UpdateCabecalhos();
                    //Cluster.UpdateCounter();
                    //  Counter.UpdateCounters();
                    var dados = $('#newLevel3Modal > form').serializeObject();

                    if(dados['paramsDto.parLevel3Value.IntervalMax'] != undefined && dados['paramsDto.parLevel3Value.IntervalMax'] != null)
                        dados['paramsDto.parLevel3Value.IntervalMax'] = dados['paramsDto.parLevel3Value.IntervalMax'].replace(',', '.');

                    if(dados['paramsDto.parLevel3Value.IntervalMin'] != undefined && dados['paramsDto.parLevel3Value.IntervalMin'] != null)
                        dados['paramsDto.parLevel3Value.IntervalMin'] = dados['paramsDto.parLevel3Value.IntervalMin'].replace(',', '.');

                    $.post(url3, dados, function (objetoReturn, statusmessage, respostaCompleta) {
                        if (objetoReturn.paramsDto.parLevel3Dto.Id > 0) {
                            $.get('GetParLevel3ById', { id: objetoReturn.paramsDto.parLevel3Dto.Id, idParLevel2: $('#paramsDto_parLevel2Dto_Id').val() }, function (obj, responseText, xhr) {
                                if (obj != null) {
                                    $('#ParLevel3').empty();
                                    $('#ParLevel3').append(xhr.responseText);
                                }

                                var retornoId = $('#paramsDto_parLevel3Dto_Id').val();
                                var retornoName = $('#paramsDto_parLevel3Dto_Name').val();
                                $('#level3Title').text('#' + retornoId + ' - ' + retornoName); /*Texto do panel*/

                                /*Atualiza Select2*/
                                if ($("#parLevel3Select2 option:selected").val() == retornoId) {
                                    if ($("#parLevel3Select2 option:selected").text() != retornoName) {
                                        $("#parLevel3Select2 option:selected").text(retornoId + ' - ' + retornoName);
                                        //$('#parLevel3Select2').select2();
                                    }
                                } else {
                                    $("#parLevel3Select2").append("<option value=" + retornoId + "> " + retornoId + ' - ' + retornoName + " </option>")
                                    $("#parLevel3Select2").val(retornoId);
                                }

                                //$('#level3Title').text('#' + $('#paramsDto_parLevel3Dto_Id').val() + ' - ' + $('#paramsDto_parLevel3Dto_Name').val());
                            });

                            alert(statusmessage);

                        }
                    });
                }

            },
        }
        //indexParamsLevel3.select2();
        indexParamsLevel3.selectNormal();

        /*Vincula Level 3 ao level2*/
        var vinculoL1L2 = '@Html.Raw(@vinculoL1L2)';
        $('#vinculoLevel1').on('click', function (e) {

            var idLevel1 = $('#paramsDto_parLevel1Dto_Id').val();
            var idLevel2 = $('#paramsDto_parLevel2Dto_Id').val();//Verifico se tenho um level2 salvo
            var idLevel3 = $('#paramsDto_parLevel3Dto_Id').val();//Verifico se tenho um level2 salvo
            var level2Selecionado = $('#parLevel2Select2 option:selected');
            var idLevel3Level2 = 0;

            if (idLevel1 <= 0) {
                alert("é necessario selecionar um level 1 para realizar este vinculo.");
                return;
            }

            if (idLevel2 <= 0) {
                alert("é necessario selecionar um level 2 para realizar este vinculo.");
                return;
            }

            if (idLevel3 <= 0) {
                alert("é necessario selecionar um level 3 realizar este vinculo.");
                return;
            }


            $.get(vinculoL1L2 + '/' + idLevel1 + '/' + idLevel2 + '/' + idLevel3, function (obj, responseText, xhr) {
                if (obj != null) {
                    console.log(obj);
                    alert("Vinculado L3 com L2 ID: " + obj.Id);
                    UpdateSelect2Level2(idLevel1);
                }
            }).fail(function (e, h, x) {
                alert(e.responseJSON.Message); // or whatever
            });

        });

        /*Vincula Level 2 ao level1*/
        var vinculoL2L3 = '@Html.Raw(@vinculoL2L3)';
        function saveLevel3Level2() {

            /*Level2*/
            var idLevel2 = $('#paramsDto_parLevel2Dto_Id').val();
            if (idLevel2 == undefined || idLevel2 <= 0 || idLevel2 == null) {
                alert("É necessario selecionar o level 2");
                return;
            }

            /*Level3*/
            var idLevel3 = $('#paramsDto_parLevel3Dto_Id').val();
            if (idLevel3 == undefined || idLevel3 <= 0 || idLevel3 == null) {
                alert("É necessario selecionar o level 3");
                return;
            }

            var peso = $('#paramsDto_parLevel3Dto_ponstoDoVinculo').val().replace(",", ".");
            if (peso <= 0)
            {
                alert("O peso deve ser maior que zero.");
                return;
            }

            $.get(vinculoL2L3 + '/' + idLevel2 + '/' + idLevel3 + '/' + peso + '/', function (obj, responseText, xhr) {
                if (obj != null) {
                    alert("Vinculado L3 com L2 ID: " + obj.Id);
                    UpdateSelect2Level3(idLevel2);
                }
            });

        }

        function UpdateSelect2Level2(idLevel1, idNewLevel2) {
            //$('#parLevel2Select2').select2("destroy").remove();
            var selecionado = $('#parLevel2Select2 :selected').val();
            $('#partialSelectLevel2').load('UpdateSelectLevel2?id=' + idLevel1, function () {
                indexParamsLevel2.selectNormal();
                if (selecionado > 0) {
                    $('#parLevel2Select2').val(selecionado);
                }
                if (idNewLevel2 != undefined) {
                    $('#parLevel2Select2').val(idNewLevel2);
                }
            });
        }

        function UpdateSelect2Level3(idLevel2, idNewLevel3) {
            //$('#parLevel3Select2').select2("destroy")
            var selecionado = $('#parLevel3Select2 :selected').val();
            $('#partialSelectLevel3').load('UpdateSelectLevel3?id=' + idLevel2, function () {
                indexParamsLevel3.selectNormal();
                if (selecionado > 0) {
                    $('#parLevel3Select2').val(selecionado);
                }
                if (idNewLevel3 != undefined) {
                    $('#parLevel3Select2').val(idNewLevel3);
                }
            });
        }

    </script>
</body>
</html>
