@model IEnumerable<Dominio.Entities.ResultOld>
@using GridMvc.Html
@{
    ViewBag.Title = "Audit Reports";
    var url = Url.Action("Index", "Home");
}

<h2>Audit Reports:</h2>
<p><a href="@url" class="btn btn-primary btn-lg"><< Back</a></p>

@*@Html.Grid(Model).AutoGenerateColumns()*@
@Html.Grid(Model).Columns(columns =>
{
    //columns.Add(c => c.Id).Titled("Id Resultado").Filterable(true);
    columns.Add(c => c.Operacao).Titled("Audit").Filterable(true);
    columns.Add(c => c.Monitoramento).Titled("Monitoring").Filterable(true);
    columns.Add(c => c.Tarefa).Titled("Task").Filterable(true);
    columns.Add(c => c.Evaluate).Titled("Evaluated").Filterable(true);
    columns.Add(c => c.NotConform)
        .Titled("Non Conform")
        .Filterable(true)
        .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending);

    columns.Add(c => c.AddDate).Titled("Add Date").Filterable(true);

    //columns.Add()
    //    .Encoded(false)
    //    .Sanitized(false)
    //    .SetWidth(30)
    //    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id }));

}).WithPaging(20).Sortable(true)


<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/Scripts/gridmvc.min.js")
}
