@{

    ViewBag.Title = "SIF Embarque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #cabecalho tbody tr td .titleTd {
        font-size: 8px;
    }

    #cabecalho tbody tr td .value {
        font-size: 11px;
        font-weight: bold;
    }

    #tabelaEsquerda tbody tr td {
        font-size: 8px;
        /*white-space: nowrap;*/
    }

    #tabelaDireita tbody tr td {
        font-size: 8px;
        /*white-space: nowrap;*/
    }

    .cabecalho2 tbody tr td {
        font-size: 8px;
        /*white-space: nowrap;*/
    }

    @@media print {

        #trAmostra {
            background-color: #c3c3c3 !important;
            -webkit-print-color-adjust: exact !important;
        }
    }

</style>

<div class="page-content-wrapper">
    <div class="page-content">

        @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

        <div id="formBodyContent">

            @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")

            <div class="col-xs-12">

                <div id="loader"></div>

                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                            </div>
                        </div>
                        <button class="btn btn-primary" id="btnPrint">@Resources.Resource.print</button>
                        <br />
                        <br />
                        <div style="display:none">
                            <div id="contentHeader">
                                <table border="1" cellspacing="0" cellpadding="1" style="width:100%;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size:12px;">
                                    <tbody>
                                        <tr>
                                            <td rowspan="3" width="120px" align="center"><img id="printImagemCabecalhoLeft" src="../Imagens/logo-jbs.png" width="80px"></td>
                                            <td id="printTitulo" align="center" style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size:20px;"></td>
                                            <td rowspan="3" width="120px" align="center"><img id="printImagemCabecalhoRight" src="../Imagens/logo-gq.png" width="80px"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Elaborador:</b> <span id="printElaborador"></span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Aprovador:</b> <span id="printAprovador"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="contentFooter" style="display:none;">
                            <div>
                                <strong id="printCodigoRodape"></strong>
                            </div>
                        </div>

                        <div id="contentBody">
                            <table id="cabecalho" class="table table-bordered">
                                <tr>
                                    <td>
                                        <div class="titleTd">Data:</div>
                                        <span class="value" id="CollectionDate"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            CD:
                                        </div>
                                        <span class="value" id="ParCompanyName"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Unidade JBS/SIF:
                                        </div>
                                        <span class="value" id="SifNumber"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Tipo de Veículo:
                                        </div>
                                        <span class="value" id="TipoVeiculo"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Pedido:
                                        </div>
                                        <span class="value" id="Pedido"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Conferente da Operação:
                                        </div>
                                        <span class="value" id="NomeUsuario"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titleTd">
                                            Termógrafo presente:
                                        </div>
                                        <span class="value" id="TermografoIsPresente"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Numero:
                                        </div>
                                        <span class="value" id="Termografo_Id"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Temp mínima e máxima:
                                        </div>
                                        <span class="value" id="TemperaturaMin"></span> ºC | <span class="value" id="TemperaturaMax"></span> ºC
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Tipo de Embalagem:
                                        </div>
                                        <span class="value" id="TipoEmbalagem"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Tipo de Carga:
                                        </div>
                                        <span class="value" id="TipoCarga"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Transportador:
                                        </div>
                                        <span class="value" id="Transportador"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="titleTd">
                                            Nome do Motorista:
                                        </div>
                                        <span class="value" id="NomeMotorista"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Monitoramento (Verificar nome correto):
                                        </div>
                                        <span class="value" id="ParLevel2_Name"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Nota Fiscal:
                                        </div>
                                        <span class="value" id="NumeroNotaFiscal"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Lacre número:
                                        </div>
                                        <span class="value" id="LacreNumero"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Placa:
                                        </div>
                                        <span class="value" id="Placa"></span>
                                    </td>
                                    <td>
                                        <div class="titleTd">
                                            Instrução:
                                        </div>
                                        <span class="value" id="Instrucao"></span>
                                    </td>
                                </tr>
                            </table>

                            <hr />
                            <br />
                            <div class="avoid-page-break">
                                <div class="">
                                    <table border="0" cellspacing="0" cellpadding="1" style="width:100%;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size:10px;">
                                        <tbody>
                                            <tr>
                                                <td><strong>Assinatura dos responsáveis pela avaliação deste relatório.</strong></td>
                                            </tr>
                                            <tr><td height="30px;"></td></tr>
                                            <tr>
                                                <td height="20px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="1" style="font-size:10px;">
                                                        <tbody>
                                                            <tr>
                                                                <td height="20px" width="5%" align="center"></td>
                                                                <td width="20%" align="center" style="border-bottom:1px solid black"></td>
                                                                <td width="5%" align="center"></td>
                                                                <td width="20%" align="center" style="border-bottom:1px solid black"></td>
                                                                <td width="5%" align="center"></td>
                                                                <td width="20%" align="center" style="border-bottom:1px solid black"></td>
                                                                <td width="5%" align="center"></td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20px" width="5%" align="center"></td>
                                                                <td width="20%" align="center">Monitor GQ</td>
                                                                <td width="5%" align="center"></td>
                                                                <td width="20%" align="center">Supevisor do Setor<br>&nbsp;</td>
                                                                <td width="5%" align="center"></td>
                                                                <td width="20%" align="center">Garantia da Qualidade<br>&nbsp;</td>
                                                                <td width="5%" align="center"></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td><div id="divRodape"><table width="100%" border="0" cellspacing="0" cellpadding="1" style="font-size:10px;"></table></div></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script src="~/Scripts/Print/printGRT.js"></script>

<script>

    var $btn = $('#btnSend');
    $('button').button({ loadingText: '@Resources.Resource.loading...' });
    var urlGet = '@Html.Raw(Url.Action("Get", "api/AcompanhamentoEmbarque"))';
    exibeTodosLevels = false;
    let elaborador = "";
    let aprovador = "";
    let nomeRelatorio = "";
    var siglaUnidade = "";

    $(document).ready(function () {

        closeLeftSidebar();

        $(".sidebar-toggler").removeClass("hide");
        $(".page-sidebar-wrapper").removeClass("hide");

        $('#simpleCallendar input[type="text"]').val(start.format());

        $('#unitId').children('option:first').remove();
        $('#level1Id').children('option:first').remove();

        $('#level1Id').prop("disabled", true);
        $('#level1Id').select2("destroy");

        setTimeout(function () {

            $('#level1Id option[value="number:89"]').attr('selected', 'selected'); //Numero do Indicador na JBS
            //$('#level1Id option[value="number:68"]').attr('selected', 'selected'); //Numero Indicador na GRT
            $('#level1Id').trigger("change");
            $('select').select2();

        }, 2000);

        $('#showLevel1 > div:nth-child(3)').hide();

        $("#btnSend").click(function (e) {

            Send(true);

        });

        $('.portlet').hide();


        formControl.showSimpleDate();
        formControl.showLevel1();
        formControl.showUnit();
        formControl.showNumeroAvaliacao();

    });

    function Send(toggle) {

        $('#divMensagemAlerta').hide();

        if (formIsValid()) {

            $btn.button('loading');

            $('.portlet').hide();

            $('#level1Id').trigger("change");

            EasyAjax(urlGet, enviar, GerarRelatorio, "loader", toggle);
        }
    }

    function GerarRelatorio(r) {

        $('.cabecalho2').remove();

        if (!r) {
            GuardJs.exibirMensagemAlerta(Resources("no_data_to_show"));
            return false;
        }

        elaborador = r.Elaborador;
        aprovador = r.Aprovador;
        nomeRelatorio = r.NomeRelatorio;
        siglaUnidade = $('#unitId :selected').text();

        PreencherCabecalho(r);

        let tamanhoAmostra = Math.max.apply(null, [...new Set(r.Coletas.map(obj => obj.Amostra))]);

        for (let i = 0; i < tamanhoAmostra; i = i + 9) {

            let inicio = i;
            let fim = i + 9;

            if (fim > r.Coletas.length) {
                fim = r.Coletas.length;
            }

            let coletas = r.Coletas.filter((obj) => obj.Amostra > inicio && obj.Amostra <= fim)

            let conteudoTabela = "";

            conteudoTabela += PreencherCabecalho2(coletas);

            conteudoTabela += PreencherConteudo(coletas);

            $('<table class="table table-bordered cabecalho2"><tbody>' + conteudoTabela + '</tbody></table>').insertAfter($('#contentBody > table:last'));
        }

        $('.portlet').show();
    }

    function PreencherCabecalho(r) {

        $("#CollectionDate").html(new Date(r.CollectionDate).toLocaleDateString());
        $("#ParCompanyName").html(r.ParCompanyName);
        $("#SifNumber").html(r.SifNumber);
        $("#TipoVeiculo").html(r.TipoVeiculo);
        $("#Pedido").html(r.Pedido);
        $("#NomeUsuario").html(r.NomeUsuario);
        $("#TermografoIsPresente").html(r.TermografoIsPresente ? "Sim" : "Não");
        $("#Termografo_Id").html(r.Termografo_Id);
        $("#TemperaturaMax").html(r.TemperaturaMax);
        $("#TemperaturaMin").html(r.TemperaturaMin);
        $("#TipoEmbalagem").html(r.TipoEmbalagem);
        $("#TipoCarga").html(r.TipoCarga);
        $("#Transportador").html(r.Transportador);
        $("#NomeMotorista").html(r.NomeMotorista);
        $("#ParLevel2_Name").html(r.ParLevel2_Name);
        $("#NumeroNotaFiscal").html(r.NumeroNotaFiscal);
        $("#LacreNumero").html(r.LacreNumero);
        $("#Placa").html(r.Placa);
        $("#Instrucao").html(r.Instrucao);

    }

    function PreencherCabecalho2(array) {

        let produtos = [...new Set(array.map(item => item.Produto))];
        let produtos_Id = [...new Set(array.map(item => item.Produto_Id))];

        let lstObjProduto = [];

        produtos.forEach((item, index) => {
            lstObjProduto.push({ "Produto": produtos[index], "Produto_Id": produtos_Id[index] })
        });


        let linhaAmostra =
            `<tr id="trAmostra" style="background-color: #c3c3c3 !important;-webkit-print-color-adjust: exact !important;">
                    <td colspan="3"><strong>Amostras</strong></td>`;

        let terceiraLinha =
            `<tr>
                    <td>Data</td>`;

        let segundaLinha = `<tr>`;

        let primeiraLinha = `<tr>
                                    <td rowspan="3" colspan="2">Caracteristicas da Qualidade</td>
                                    <td rowspan="2">Padrão</td>`;

        lstObjProduto.forEach((item) => {

            let amostrasPorProduto = array.filter((coleta) => { return coleta.Produto == item.Produto });

            let numeroAmostras = [...new Set(amostrasPorProduto.map(item => item.Amostra))];

            let dataAmostras = [...new Set(amostrasPorProduto.map(item => item.CollectionDate))];

            numeroAmostras.forEach((amostra, index) => {

                let colspanAmostraEData = 1;

                //if (numeroAmostras.length < 2) {
                //    colspanAmostraEData = 2;
                //}

                terceiraLinha += "<td colspan=" + colspanAmostraEData + ">" + new Date(dataAmostras[index]).toLocaleDateString() + "</td>";

                linhaAmostra += "<td colspan=" + colspanAmostraEData + "><strong> " + amostra + "</strong></td>";

            });

            //let colspanMax = Math.ceil(numeroAmostras.length / 2);
            //let colspanMin = Math.floor(numeroAmostras.length / 2);

            //segundaLinha += `<td colspan="${colspanMin}">Produto:</td>
            //                    <td colspan="${colspanMax}">${item.Produto}</td>`;


            //primeiraLinha += `<td colspan="${colspanMin}">Cod:</td>
            //                      <td colspan="${colspanMax}">${item.Produto_Id}</td>`;

            segundaLinha += `<td colspan="${numeroAmostras.length}">Produto: ${item.Produto}</td>`;

            primeiraLinha += `<td colspan="${numeroAmostras.length}">Cod: ${item.Produto_Id}</td>`;

        });

        primeiraLinha += `</tr>`;

        segundaLinha += `</tr>`;

        terceiraLinha += "</tr>";

        linhaAmostra += "</tr>"

        let segundoCabecalho = primeiraLinha + segundaLinha + terceiraLinha + linhaAmostra;

        return segundoCabecalho;
    }

    function PreencherConteudo(array) {

        let levels3_Id = [...new Set(array.map(item => item.ParLevel3_Id))];
        let levels3 = [...new Set(array.map(item => item.ParLevel3))];

        let conteudoTabela = "";
        let level3Group;

        levels3_Id.forEach((level3, index) => {

            //Tabela com o rowspan

            //newLevel3Group = [...new Set(array.filter(item => item.ParLevel3_Id == level3).map(item => item.Level3Group))][0];

            //let qtdeLevel3Group = array.filter(item => item.Level3Group == newLevel3Group).map((value) => { return value.ParLevel3 }).filter((value, index, self) => { return self.indexOf(value) === index; }).length

            //if (newLevel3Group && level3Group != newLevel3Group) {
            //    conteudoTabela +=
            //        `<tr>
            //            <td rowspan="${qtdeLevel3Group}"> ${newLevel3Group} </td>
            //            <td colspan="2">${levels3[index]}</td>`;
            //    level3Group = newLevel3Group;
            //} else if (!newLevel3Group) {
            //    conteudoTabela +=
            //        `<tr>
            //            <td colspan="3">${levels3[index]}</td>`;
            //} else {
            //    conteudoTabela +=
            //        `<tr>
            //            <td colspan="2">${levels3[index]}</td>`;
            //}

            //Tabela sem rowspan

            newLevel3Group = [...new Set(array.filter(item => item.ParLevel3_Id == level3).map(item => item.Level3Group))][0];

            if (!newLevel3Group) {

                conteudoTabela +=
                    `<tr>
                            <td colspan="3">${levels3[index]}</td>`;

            } else {

                conteudoTabela +=
                    `<tr>
                            <td> ${newLevel3Group} </td>
                            <td colspan="2">${levels3[index]}</td>`;
            }


            let Produtos_Id = [...new Set(array.map(item => item.Produto_Id))];

            Produtos_Id.forEach((produto) => {

                let colspanStatus = 1;

                let coletasByLevel3 = array.filter(item => item.Produto_Id == produto && item.ParLevel3_Id == level3);

                let arrayPorProduto = array.filter(item => item.Produto_Id == produto)

                let tamanhoMaximoAmostraPorProduto = Math.max(...[...new Set(arrayPorProduto.map(item => item.Amostra))]);

                let tamanhoMinimoAmostraPorProduto = Math.min(...[...new Set(arrayPorProduto.map(item => item.Amostra))]);

                //if (coletasByLevel3.length < 2 && (tamanhoMaximoAmostraPorProduto - tamanhoMinimoAmostraPorProduto) < 1) {
                //    colspanStatus = 2;
                //}

                for (let i = tamanhoMinimoAmostraPorProduto; i <= tamanhoMaximoAmostraPorProduto; i++) {

                    let td;

                    let item = coletasByLevel3.filter(item => item.Amostra == i)[0];

                    if (item) {

                        if (!item.IsNotEvaluate) {

                            if (item.IsConform) {
                                td = `<td colspan="${colspanStatus}">0</td>`;

                            } else {
                                td = `<td colspan="${colspanStatus}">1</td>`;

                            }

                        } else {
                            td = `<td colspan="${colspanStatus}">N/A</td>`;
                        }
                    } else {
                        td = `<td colspan="${colspanStatus}"></td>`;
                    }

                    conteudoTabela += td;

                }

                //coletasByLevel3.forEach((item) => {

                //let td;

                //if (!item.IsNotEvaluate) {

                //    if (item.IsConform) {
                //        td = `<td colspan="${colspanStatus}">0</td>`;

                //    } else {
                //        td = `<td colspan="${colspanStatus}">1</td>`;

                //    }

                //} else {
                //    td = `<td colspan="${colspanStatus}">N/A</td>`;
                //}

                //conteudoTabela += td;

                //});

            });

            conteudoTabela += `</tr>`;

        });

        return conteudoTabela

    }

    function formIsValid() {

        if (!enviar.level1Id > 0) {
            GuardJs.exibirMensagemAlerta(Resources("select_the_level1"));
            return false;
        }

        if (!enviar.level2Id) {
            GuardJs.exibirMensagemAlerta(Resources("select_the_level2"));
            return false;
        }

        if (!enviar.unitId) {
            GuardJs.exibirMensagemAlerta(Resources("select_the_unit_first"));
            return false;
        }

        if (!enviar.avaliacao) {
            GuardJs.exibirMensagemAlerta("O campo Número da Avaliação é obrigatório");
            return false;
        }

        return true;
    }

    $('body').on('click', '#btnPrint', function () {

        if (elaborador == null) {
            elaborador = "";
        }

        if (aprovador == null) {
            aprovador = "";
        }

        if (nomeRelatorio == null) {
            nomeRelatorio = "";
        }

        PrepararImpressao(
            nomeRelatorio,
            elaborador + " - " + "/" + siglaUnidade,
            aprovador + " - " + "/" + siglaUnidade,
            "",
            //"RGQ-504-GQU-001/05 Aprov. Em 02/05/2018",
            'contentBody',
            "../Imagens/logo-jbs.png",
            "../Imagens/logo-gq.png");
    });

    function PrepararImpressao(titulo, elaborador, aprovador, codigoRodape, idBody, imagemCabecalhoLeft, imagemCabecalhoRight) {

        $('#printTitulo').html(titulo);
        $("#printElaborador").html(elaborador);
        $("#printAprovador").html(aprovador);
        $("#printCodigoRodape").html(codigoRodape);
        $("#printImagemCabecalhoLeft").attr('src', imagemCabecalhoLeft);
        $("#printImagemCabecalhoRight").attr('src', imagemCabecalhoRight);

        printGRT.Inicializar({

            headerHtml: document.getElementById('contentHeader').innerHTML,
            bodyHtml: document.getElementById(idBody).innerHTML,
            footerHtml: document.getElementById('contentFooter').innerHTML,
            numberMarginRight: 25,
            numberMarginBottom: 25,
            renderTableMargin: 0,
            pageMarginHeader: "25px 25px 10px 25px",
            pageMarginFooter: "10px 25px 25px 25px",
            pageMarginBody: "0 25px 0 25px"

        });

        printGRT.Imprimir();

        $('#divRenderPrint').remove();
    }

</script>
}