@model Dominio.ParDepartment

@{
    ViewBag.Title = @Resources.Resource.departments;
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "ParDepartments")">@Resources.Resource.costcenter</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.edit</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span class="thin uppercase" id="currentDate"></span>&nbsp;
                    </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.edit @Resources.Resource.costcenter</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Id)

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, @Resources.Resource.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, @Resources.Resource.description, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Parent_Id, "É pai de", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.Parent_Id, null, new { @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.Parent_Id, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="infoFilho" class="col-md-6" hidden="hidden">
                                                <p class="alert alert-info col-md-6"> Ao vincular um departamento filho o campo de Unidade ficará desabilitado </p>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ParCompany_Id, "Unidade Vinculada", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.ParCompany_Id, null, new { @class = "form-control  select2" })
                                                @Html.ValidationMessageFor(model => model.ParCompany_Id, "", new { @class = "text-danger" })
                                            </div>
                                            <div id="infoVinculoUnidade" class="col-md-6" hidden="hidden">
                                                <p class="alert alert-info col-md-6"> Ao vincular um departamento a uma Unidade o campo de Vinculo ficará desabilitado </p>
                                            </div>
                                        </div>

                                        @if ((bool?)ViewBag.TemFilhos != true)
                                        {
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Active, @Resources.Resource.is_active, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-1">
                                                    <div class="checkbox">
                                                        @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "input-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="@Resources.Resource.save" class="btn btn-primary" />
                                                @Html.ActionLink(Resources.Resource.back, "Index", null, new { @class = "btn btn-default" })
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar4");
    $('#Parent_Id').select2();
    $('#ParCompany_Id').select2();

    $("#Parent_Id, #ParCompany_Id").on('change', function () {
        debugger
        if ($("#ParCompany_Id :selected").val() == 0 && $("#Parent_Id :selected").val() == 0) {
            $("#ParCompany_Id").prop('disabled', false);
            $("#Parent_Id").prop('disabled', false);
            $("#infoFilho").hide();
            $("#infoVinculoUnidade").hide();
        } else if ($("#Parent_Id :selected").val() > 0) {
            $("#ParCompany_Id").prop('disabled', true);
            $("#Parent_Id").prop('disabled', false);
            $("#infoFilho").hide();
            $("#infoVinculoUnidade").show();
        } else {
            $("#Parent_Id").prop('disabled', true);
            $("#ParCompany_Id").prop('disabled', false);
            $("#infoFilho").show();
            $("#infoVinculoUnidade").hide();
        }
    });

</script>

<script>
    $(document).ready(function () {
        if ($("#ParCompany_Id :selected").val() == 0 && $("#Parent_Id :selected").val() == 0) {
            $("#ParCompany_Id").prop('disabled', false);
            $("#Parent_Id").prop('disabled', false);
            $("#infoFilho").hide();
            $("#infoVinculoUnidade").hide();
        } else if ($("#Parent_Id :selected").val() > 0) {
            $("#ParCompany_Id").prop('disabled', true);
            $("#Parent_Id").prop('disabled', false);
            $("#infoFilho").hide();
            $("#infoVinculoUnidade").show();
        } else {
            $("#Parent_Id").prop('disabled', true);
            $("#ParCompany_Id").prop('disabled', false);
            $("#infoFilho").show();
            $("#infoVinculoUnidade").hide();
        }
        closeLeftSidebar();
    });
</script>