@{
    ViewBag.Title = "Index";
}

<style>
    .dataTable td {
        /* essential */
        /*text-overflow: ellipsis;*/
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*width: 200px;
        white-space: nowrap;
        overflow: hidden;*/
        /* for good looks */
        padding: 10px;
    }

        .dataTable td:hover {
            overflow: visible;
            white-space: normal;
        }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: #333;
    }

    table {
        text-align: left;
        /*line-height: 40px;
      border-collapse: separate;
      border-spacing: 0;*/
        /*width: 500px;
      margin: 50px auto;*/
        border-radius: .25rem;
    }

        table.borderedNinja {
            border: 2px solid #c1c1c1;
        }

    thead tr:first-child {
        background: #ffffff;
        /*color: #fff;*/
        border: none;
        height: 60px;
    }

    th:first-child,
    td:first-child {
        padding: 0 15px 0 20px;
    }

    /*thead tr:last-child th {
      border-bottom: 3px solid #ddd;
    }*/

    tbody tr:hover {
        background-color: rgba(170, 170, 170, 0.20);
        cursor: default;
    }

    tbody tr:last-child td {
        border: none;
    }

    /*tbody td {
      border-bottom: 1px solid #ddd;
    }*/

    td:last-child {
        text-align: right;
        padding-right: 10px;
    }

    .button {
        color: #aaa;
        cursor: pointer;
        vertical-align: middle;
    }

    .edit:hover {
        color: #0a79df;
    }

    .delete:hover {
        color: #dc2a2a;
    }




    .modal-header .btnGrp {
        position: absolute;
        top: 8px;
        right: 10px;
    }


    .min {
        width: 250px;
        height: 35px;
        overflow: hidden !important;
        padding: 0px !important;
        margin: 0px;
        float: left;
        position: static !important;
    }

        .min .modal-dialog, .min .modal-content {
            height: 100%;
            width: 100%;
            min-width: 70%;
            align-self: center;
            margin: 0px !important;
            padding: 0px !important;
        }

    .modal-dialog {
        width: 80% !important;
    }

    .min .modal-header {
        height: 100%;
        width: 100%;
        margin: 0px !important;
        padding: 3px 5px !important;
    }

    .display-none {
        display: none;
    }

    button .fa {
        font-size: 16px;
        margin-left: 10px;
    }

    .min .fa {
        font-size: 14px;
    }

    .min .menuTab {
        display: none;
    }

    button:focus {
        outline: none;
    }

    .minmaxCon {
        height: 35px;
        bottom: 1px;
        left: 1px;
        position: fixed;
        right: 1px;
        z-index: 9999;
    }
</style>

<h2>Plano de Ação</h2>

<div>
    <button type="button" class="btn btn-success" id="NovoPlanejamento" onclick="Clicked(false, false, false); ModalOpcoesEstrategico('Planejamento Estratégico', undefined, NovoPlanejamento);" data-toggle="modal"> Novo Planejamento Estratégico</button>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" id="" onclick="Clicked(false, false); ModalOpcoesEstrategico('Planejamento Estratégico'); ">

        </button>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" id="" onclick="Clicked(true, false); ModalOpcoesEstrategico('Planejamento Tático'); ">
        Planejamento Tático
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" id="" onclick="Clicked(false, true); ModalOpcoesEstrategico('Planejamento Operacional'); ">
        Planejamento Operacional
    </button>
    <button type="button" onclick="Relatorios();" class="btn btn-primary">
        Relatórios
    </button>
</div>

<hr />

<div>
    <table id="paTable" class="table-striped dt-body-justify dt-body-nowrap"></table>
</div>

<div class="container">
    <div class="modal fade" id="modalLindo" tabindex="-1" role="dialog" aria-labelledby="" data-backdrop="static">
        <div class="modal-dialog" style="max-width:90%;  min-width:70%" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="times">&times;</span></button>
                    <button class="close modalMinimize"><span aria-hidden="true" class="minus">&minus;</span></button>


                    <h4 class="modal-title" id="Header">ID: Header</h4>
                </div>
                <div class="modal-body" id="body">
                    ID: Body
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" id="Fechar" onclick="Clicked(false, false, false);" data-dismiss="modal" style="display:none">Fechar</button>
                    <button type="button" class="btn btn-default" id="Fechar2" onclick="" style="display:none">Fechar</button>
                    <button type="button" class="btn btn-primary" id="Selecionar" onclick="" style="display:none" disabled>Selecionar</button>
                    <button type="button" class="btn btn-primary" id="Salvar" onclick="" style="display:none">Salvar</button>
                    <button type="button" class="btn btn-info" id="BuscarPlanejamentos" onclick="BuscarPlanejamentos();">Buscar Planejamento</button>
                    <button type="button" class="btn btn-info" id="TaticoVinculado" onclick="BuscarPlanejamentos(); Clicked(true, false, true);" style="display:none">Novo Planejamento Tático Vinculado a um Planejamento Estratégico</button>

                    <button type="button" class="btn btn-primary" id="NovaAcao" onclick="Clicked(isTaticoClicked, isNovaAcao); ModalAcao(true, true);" style="display:none">Nova Ação</button>
                    <button type="button" class="btn btn-default" value="" id="new" style="display:none">Adicionar Ação</button>
                    <button type="button" class="btn btn-default" value="" id="Edit" style="display:none" onclick="SalvarAcaoAvulsa($('.Acao'), true)">Editar Ação</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalNovo" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" id="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="times">×</span></button>
                <button type="button" class="close modalMinimize" aria-label="Minimizar"><span aria-hidden="true" class="minus">−</span></button>
                <h4 class="modal-title" id="novoHeader"></h4>
            </div>
            <div class="modal-body" id="novoBody">
                <form>
                    <div class="form-group">
                        <div style="display:none" id="encadeado">
                            <label id="labelPredecessora">Predecessor: </label>
                        </div>
                        <div>
                            <label>Novo item:</label><input type="text" class="form-control" id="newItem">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="SalvarNovo();">Salvar</button>

            </div>
        </div>
    </div>
</div>

<div class="minmaxCon"></div>

<script src="~/Scripts/angular.min.js"></script>

@section Scripts {

    <script>


        var counter = 0;
        var planejamentoCorrentId = 0;
        var isTaticoClicked = false;
        var isNovaAcao = false;
        var isClickedTaticoVinculado = false;
        var NovaAcaoBuscaFeita = false;

        var GETGrupoCausa = '@Url.Action("GETGrupoCausa", "Pa_Acao")';
        var GETContramedidaGenerica = '@Url.Action("GETContramedidaGenerica", "Pa_Acao")';
        var urlNovaAcao = '@Url.Action("Index", "Pa_Acao")';
        var urlEditAcao = '@Url.Action("Edit", "Pa_Acao")';

        var PlanejamentoDetalhes = '@Url.Action("Details", "Pa_Planejamento")';
        var urlNovoPlanejamento = '@Url.Action("Index", "Pa_Planejamento")';
        var urlBuscarPlanejamentos = '@Url.Action("Buscar", "Pa_Planejamento")';
        var urlFiltraPlanejamentos = '@Url.Action("Filtrar", "Pa_Planejamento")';
        var GETObjetivo = '@Url.Action("GETObjetivo", "Pa_Planejamento")';
        var GETIndicadoresDiretriz = '@Url.Action("GETIndicadoresDiretriz", "Pa_Planejamento")';
        var GETIndicadoresProjetoIniciativa = '@Url.Action("GETIndicadoresProjetoIniciativa", "Pa_Planejamento")';
        var GETObjetivosGerenciais = '@Url.Action("GETObjetivosGerenciais", "Pa_Planejamento")';


        var urlSalvarPlanejamento = '@Url.Action("Save", "api/Pa_Planejamento")';
        var urlGetPlanejamentoAcao = '@Url.Action("GetPlanejamentoAcao", "api/Pa_Planejamento")';
        var urlGetPlanejamento = '@Url.Action("GET", "api/Pa_Planejamento")';

        var urlSalvarAcao = '@Url.Action("Save", "api/Pa_Acao")';

        var urlSalvarNovoItem = '@Url.Action("Save", "api/Generics")';


        /*Btn Minimizar Modal*/
        $(document).ready(function () {

            var $content, $modal, $apnData, $modalCon;
            $content = $(".min");

            //To fire modal
            $(".mdlFire").click(function (e) {
                e.preventDefault();
                var $id = $(this).attr("data-target");
                $($id).modal({ backdrop: false, keyboard: false });
            });

            $(".modalMinimize").on("click", function () {

                $modalCon = $(this).closest(".modal").attr("id");

                $apnData = $(this).closest(".modal");

                $modal = "#" + $modalCon;

                $(".modal-backdrop").addClass("display-none");

                $($modal).toggleClass("min");

                if ($($modal).hasClass("min")) {
                    $(".minmaxCon").append($apnData);
                    ///$(this).find("i").toggleClass('fa-minus').toggleClass('fa-clone');
                } else {
                    $("body").append($apnData);
                    ///$(this).find("i").toggleClass('fa-clone').toggleClass('fa-minus');
                };
            });

            $("button[data-dismiss='modal']").click(function () {
                $(this).closest(".modal").removeClass("min");
                $(".container").removeClass($apnData);
                //$(this).next('.modalMinimize').find("i").removeClass('fa fa-clone').addClass( 'fa fa-minus');
            });

        });
        /*FIM Btn Minimizar Modal*/

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function Clicked(isClickedTatico, isClickedAcao, isTaticoVinculado) {
            isTaticoClicked = isClickedTatico;
            isNovaAcao = isClickedAcao;
            isClickedTaticoVinculado = isTaticoVinculado;
        }

        /*Planejamento*/
        function ModalOpcoesEstrategico(title, IdParaNovaAcao, callback) {//Pos Modal1


            $('#modalLindo').modal();
            $('#modalLindo').find('.modal-body').empty();

            if (title != undefined) {
                $('#Header').html(title);
            } else {
                $('#Header').html("Planejamento");
            }

            if (callback != undefined) {
                callback();
                return false;
            }

            /*Botões*/
            $('#modalLindo').find('.modal-footer button').hide();
            $('#Fechar').show();

            if (isTaticoClicked) {
                $('#TaticoVinculado').show();
            }
            else if (isNovaAcao) {
                $('#NovaAcao').show();
                if (planejamentoCorrentId > 0) {
                    $('#BuscarPlanejamentos').show();
                }

                if (IdParaNovaAcao != undefined || planejamentoCorrentId > 0) { // Mostra Detalhes + BTN nova acao
                    $.get(PlanejamentoDetalhes, { id: planejamentoCorrentId }, function (r) {
                        $('#modalLindo').find('.modal-body').empty().append(r);
                        $('#NovaAcao').show();
                    });
                } else {
                    $('#modalLindo').find('.modal-body').empty();
                }
            }
            else {
                $('#NovoPlanejamento').show();
            }


            /*Fim Botões*/

        }

        function NovoPlanejamento() {//Pos Modal2
            var title = $('#Header').html();
            var title2 = " > Novo"

            $('#Header').html(title + title2);

            $.get(urlNovoPlanejamento, function (r) {
                $('#modalLindo').find('.modal-body').empty().append(r);
                if (isTaticoClicked) {
                    $('.novoItem ').hide();

                    if (isClickedTaticoVinculado) {
                        $('#Planejamento > table > tbody > tr:nth-child(1)').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(4)').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(5)').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(6)').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(7)').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(8)').attr('disabled', true);
                    } else {
                        $('#Planejamento > table > tbody > tr:nth-child(1)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(4)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(5)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(6)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(7)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(8)').hide();
                    }
                    DdlChangeTatico();
                } else {
                    $('.novoItem ').show();
                    $('#Planejamento > table > tbody > tr:nth-child(2)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(3)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(10)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(11)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(12)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(13)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(14)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(15)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(16)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(17)').hide();
                    DdlChangeEstrategico();
                }
                InitDatePiker();
                MoneyMask();



            });

            /*Botões*/
            $('#modalLindo').find('.modal-footer button').hide()
            $('#Fechar').show();
            $('#Salvar').show();

            $('#Salvar').off('click').on('click', SalvarPlanejamento);

            //$('#Fechar2').off('click').on('click', function () { ModalOpcoesEstrategico(title) });
            /*Fim Botões*/
        }

        function DdlChangeEstrategico() {
            $('#Dimensao_Id').off('change').on('change', function () {
                var Dimensao_Id = $('#Dimensao_Id').val() > 0 ? $('#Dimensao_Id').val() : 0;
                $.get(GETObjetivo, { id: Dimensao_Id }, function (r) {
                    $('#Objetivo_Id').parent().append(r);
                    $('#Objetivo_Id').remove();
                    $('#Objetivo_Id').off('change').on('change', function () {
                        var Objetivo_Id = $('#Objetivo_Id').val() > 0 ? $('#Objetivo_Id').val() : 0;
                        $.get(GETIndicadoresDiretriz, { id: Objetivo_Id }, function (r) {
                            $('#IndicadoresDiretriz_Id').parent().append(r);
                            $('#IndicadoresDiretriz_Id').remove();
                        });
                    });
                    $('#Objetivo_Id').change();
                });
            });
            $('#Dimensao_Id').change();
        }

        function DdlChangeTatico() {

            $('#Iniciativa_Id').off('change').on('change', function () {
                var Iniciativa_Id = $('#Iniciativa_Id').val() > 0 ? $('#Iniciativa_Id').val() : 0;
                $.get(GETIndicadoresProjetoIniciativa, { id: Iniciativa_Id }, function (r) {
                    $('#IndicadoresDeProjeto_Id').parent().append(r);
                    $('#IndicadoresDeProjeto_Id').remove();
                    $('#IndicadoresDeProjeto_Id').off('change').on('change', function () {
                        var Objetivo_Id = $('#IndicadoresDeProjeto_Id').val() > 0 ? $('#IndicadoresDeProjeto_Id').val() : 0;
                        $.get(GETObjetivosGerenciais, { id: Objetivo_Id }, function (r) {
                            $('#ObjetivoGerencial_Id').parent().append(r);
                            $('#ObjetivoGerencial_Id').remove();
                        });
                    });
                    $('#IndicadoresDeProjeto_Id').change();
                });
            });
            $('#Iniciativa_Id').change();

        }

        function BuscarPlanejamentos() {//Pos Modal2

            var title = $('#Header').html();
            $('#Header').html("Buscar Planejamento")

            $.get(urlBuscarPlanejamentos, function (r) {
                $('#modalLindo').find('.modal-body').empty().append(r);
                $('#filtrarPlanejamento').click();
            });

            /*Botões*/
            $('#modalLindo').find('.modal-footer button').hide()
            $('#Fechar2').show();
            $('#Selecionar').show();
            $('#Selecionar').prop('disabled', true);
            $('#Selecionar').off('click');

            $('#Fechar2').off('click').on('click', function () { ModalOpcoesEstrategico(title) });
            /*Fim Botões*/
        }

        function SalvarPlanejamento() {
            var sendObj = $('#Planejamento').serializeObject();
            $.post(urlSalvarPlanejamento, sendObj, function (r) {
                //ModalOpcoesEstrategico('');
                planejamentoCorrentId = parseInt(r.Id);
                alert('Registro salvo com sucesso!');
                $('#modalLindo').modal('hide');

                $.post(urlGetPlanejamentoAcao, {}, function (r) { GerarTabela(r) })

            }).fail(function (e, h, x) {
                alert('Não foi possível salvar o registro: ' + e)
            });

        }/*planejamentoCorrentId*/

        function FiltrarPlanejamento() {
            $('#Selecionar').prop('disabled', true);
            $('#Selecionar').off('click');

            var filtro = {};
            filtro["Diretoria_Id"] = $('#Diretoria_Id').val();
            filtro["Gerencia_Id"] = $('#Gerencia_Id').val();
            filtro["Coordenacao_Id"] = $('#Coordenacao_Id').val();
            filtro["TemaAssunto_Id"] = $('#TemaAssunto_Id').val();
            filtro["ObjetivoGerencial_Id"] = $('#ObjetivoGerencial_Id').val();
            filtro["Indicadores_Id"] = $('#Indicadores_Id').val();
            filtro["IndicadoresDeProjeto_Id"] = $('#IndicadoresDeProjeto_Id').val();
            filtro["IndicadoresDiretriz_Id"] = $('#IndicadoresDiretriz_Id').val();

            $.post(urlFiltraPlanejamentos, filtro, function (r) {
                $('#planejamentosFiltrado').empty().append(r);
                $('#planejamentosFiltrado > select').on('change', function (e) {
                    if (e.currentTarget.selectedIndex > 0) {
                        var id = $('#planejamentosFiltrado > select').val()
                        $('#Selecionar').prop('disabled', false);
                        $('#Selecionar').on('click', function () {
                            planejamentoCorrentId = parseInt($('#planejamentosFiltrado > select').val());
                            if (isClickedTaticoVinculado) {
                                $.get(urlGetPlanejamento, { id: planejamentoCorrentId }, function (r) {
                                    EditarPlanejamento(r);
                                });
                            }
                            else if (!isNovaAcao) {
                                ModalOpcoesEstrategico();
                            } else {
                                ModalAcao();
                            }
                        });
                    }
                });
            });

            /*Interação com planejamentoCorrentId*/
        }/*planejamentoCorrentId*/

        function EditarPlanejamento(model) {
            var title = $('#Header').html();
            var title2 = " > Novo"
            if (isTaticoClicked) {
                $('#Header').html("Planejamento Tático");
            } else {
                $('#Header').html(title + title2);
            }

            $.get(urlNovoPlanejamento, function (r) {
                $('#modalLindo').find('.modal-body').empty().append(r);
                if (isTaticoClicked) {
                    $('.novoItem ').hide();

                    if (isClickedTaticoVinculado) {//Novo tatico

                        $('#Planejamento > table > tbody > tr:nth-child(1)').find('input, select').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(4)').find('input, select').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(5)').find('input, select').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(6)').find('input, select').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(7)').find('input, select').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(8)').find('input, select').attr('disabled', true);
                        $('#Planejamento > table > tbody > tr:nth-child(9)').find('input, select').attr('disabled', true);

                        if (model != undefined) {
                            //$('#Id').val(model.Id);
                            $('#Estrategico_Id').val(model.Id);
                            $('#Planejamento > table > tbody > tr:nth-child(1)').find('input, select').val(model.Diretoria_Id);
                            $('#Planejamento > table > tbody > tr:nth-child(4)').find('input, select').val(model.Missao_Id);
                            $('#Planejamento > table > tbody > tr:nth-child(5)').find('input, select').val(model.Visao_Id);
                            $('#Planejamento > table > tbody > tr:nth-child(6)').find('input, select').val(model.Dimensao_Id);
                            $('#Planejamento > table > tbody > tr:nth-child(7)').find('input, select').val(model.Objetivo_Id);
                            $('#Planejamento > table > tbody > tr:nth-child(8)').find('input, select').val(model.IndicadoresDiretriz_Id);
                            $('#Planejamento > table > tbody > tr:nth-child(9)').find('input, select').val(model.Responsavel_Diretriz);
                        }
                        $('.novoTatico').show();
                        DdlChangeTatico();
                    } else {
                        $('#Planejamento > table > tbody > tr:nth-child(1)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(4)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(5)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(6)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(7)').hide();
                        $('#Planejamento > table > tbody > tr:nth-child(8)').hide();
                        DdlChangeEstrategico();
                    }

                } else {
                    $('.novoItem ').show();
                    $('#Planejamento > table > tbody > tr:nth-child(2)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(3)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(9)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(10)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(11)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(12)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(13)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(14)').hide();
                    $('#Planejamento > table > tbody > tr:nth-child(15)').hide();
                }

                InitDatePiker();
                MoneyMask();

            });

            /*Botões*/
            $('#modalLindo').find('.modal-footer button').hide()
            $('#Fechar').show();
            $('#Salvar').show();

            $('#Salvar').off('click').on('click', SalvarPlanejamento);

            //$('#Fechar2').off('click').on('click', function () { ModalOpcoesEstrategico(title) });
            /*Fim Botões*/
        }

        /*Fim Planejamento*/

        /*Acao*/
        var addButton = (function () {
            var counter = 0;

            return function () {
                var objectContainer = $('#obj');
                var header = objectContainer.clone();
                counter += 1;
                var collapseId = "collapsible_obj_" + counter;

                header.find(".collapse").attr("id", collapseId);
                header.find("button[data-toggle='collapse']").attr("data-target", "#" + collapseId);
                header.find("button[data-toggle='collapse']").html("Nova Ação")

                header.appendTo('#final');
                header.show();

                myfunction();
                MoneyMask();
                InitDatePiker();
            };

        })();
        $('#new').click(addButton);

        function ModalAcao(isOpenModal, isFukingNewClicked) {

            if (!(planejamentoCorrentId > 0)) {
                BuscarPlanejamentos();
                return;
            } else {
                if (!$('#body > table').length) {
                    ModalOpcoesEstrategico('Planejamento Operacional', planejamentoCorrentId);
                }
            }

            if (isFukingNewClicked) {

                if (isOpenModal)
                    $('#modalLindo').modal();

                $('#Header').html("Nova Ação");
                //$('#modalLindo').find('.modal-body').empty();

                $.get(urlNovaAcao, function (r) {

                    $('#modalLindo').find('.modal-body').append('<hr>');
                    $('#modalLindo').find('.modal-body').append(r);
                    $('#CausaMedidasXAcao_GrupoCausa_Id').empty().attr('disabled', true);
                    $('#CausaMedidasXAcao_ContramedidaGenerica_Id').empty().attr('disabled', true);

                    myfunction();
                    MoneyMask();

                    $('#new').click();
                    if (isFukingNewClicked) {
                        $('#new').show();
                    } else {
                        $('#new').hide();
                    }

                });

                /*Botões*/
                $('#modalLindo').find('.modal-footer button').hide()
                $('#Fechar').show();
                $('#Salvar').show();
                $('#Salvar').off('click').on('click', SalvarAcao);
                /*Fim Botões*/
            }
        }

        function EditarAcao(html, data) {

            var acao = data.Acao;

            $('#modalLindo').modal();
            $('#Header').html("Editar Ação");
            $('#modalLindo').find('.modal-body').empty().append(html);
            $('#modalLindo').find('.modal-footer button').hide();
            myfunction();

            $('#CausaMedidasXAcao_CausaGenerica_Id').val(acao.CausaMedidasXAcao.CausaGenerica_Id).change();
            $('[name="_QuandoInicio"]').val(acao._QuandoInicio.split(" ")[0]);
            $('[name="_QuandoFim"]').val(acao._QuandoFim.split(" ")[0]);
            $('#Status').val(acao.Status);
            MoneyMask();
            $('#_QuantoCusta').val(acao.QuantoCusta);
            $('#_QuantoCusta').trigger('mask.maskMoney');
            $('#_QuantoCusta').trigger('blur');

            acao.AcaoXQuem.forEach(function (o, c) {
                $($('[id=AcaoXQuemDdl]')[c]).val(o.Quem_Id).change();
                $($('[id=AcaoXQuemDdlId]')[c]).val(o.Id).change();
                if (acao._QuemObj.length > 1 && acao._QuemObj.length - 1 != c)
                    $($('[id=adicionar]')[c]).click();
            });

            $('#Edit').show();
            InitDatePiker();
        }

        function myfunction() {
            $('[id=CausaMedidasXAcao_CausaGenerica_Id]').off('change').on('change', function () {
                var valor = $(this).val();
                var form = $(this).parents('form');
                if (valor) {
                    $.get(GETGrupoCausa, { id: valor }, function (r) {
                        form.find('#GrupoCausa').empty().html(r);
                    });
                    $.get(GETContramedidaGenerica, { id: valor }, function (rr) {
                        form.find('#ContramedidaGenerica').empty().html(rr);
                    });
                }
                else {
                    form.find('#CausaMedidasXAcao_GrupoCausa_Id').empty().attr('disabled', true);
                    form.find('#CausaMedidasXAcao_ContramedidaGenerica_Id').empty().attr('disabled', true);
                }
            });
        } /*Causa Medida Etc...*/

        function SalvarAcao() {

            $('.Acao').not(':first').each(function (c, o) {

                SalvarAcaoAvulsa(o);

            });

        }
        var jaLiberouCallback = false;
        function SalvarAcaoAvulsa(o, isEdit) {

            var sendObj = $(o).serializeObject();
            if (isEdit == undefined) {
                sendObj['Panejamento_Id'] = planejamentoCorrentId;
            }
            sendObj['AcaoXQuem'] = [];

            $('.quemClone').each(function (c, o) {
                if ($('#AcaoXQuemDdlId').length)
                    sendObj['AcaoXQuem'].push({ Id: $(o).find('#AcaoXQuemDdlId').val(), Quem_Id: $(o).find('select').val() });
                else if ($(o).find('select').val())
                    sendObj['AcaoXQuem'].push({ Quem_Id: $(o).find('select').val() });

            });

            $.post(urlSalvarAcao, sendObj, function (r) {
                $.post(urlGetPlanejamentoAcao, {}, function (r) {

                    if (counter == 1 && !jaLiberouCallback) {
                        jaLiberouCallback = true;
                        $('#modalLindo').modal('hide');
                        alert('Registro salvo com sucesso!');
                    }
                    GerarTabela(r);

                }).fail(function (e, h, x) {

                    alert('Não foi possível salvar o registro: ' + e);

                }).always(function () {

                });
            });

        }

        function RemoveAcao(btn) {
            $(btn).parents('#obj').remove();
        }

        /*Fim Acao*/

        function Adicionar(btn) {

            var $tr = $(btn).closest('.tr_clone');
            var $clone;

            $clone = $tr.clone();
            $clone.find(':text').val('');

            $tr.find('#remove').show();
            $tr.find('#adicionar').hide();
            $tr.after($clone);
        }

        function Remover(btn) {
            $(btn).parents('tr').remove();
        }

        /*Novo item*/
        var tempInput;
        var tempName;
        function Novo(btn, encadeado) {

            /*Limpa caso haja DDL denrto do modal.*/
            if ($('#encadeado').find('select').length) {
                $('#encadeado').find('select').remove();
            }

            tempInput = $(btn).parents('tr').find('input , select');
            tempName = $(btn).parents('tr').find('input , select').attr('name');
            var label = $(btn).parents('tr').find('label').html();
            $('#newItem').val("");
            $('#modalNovo').modal();
            $('#novoHeader').html("Incluir novo: " + label);

            if (encadeado != undefined) {
                $('#encadeado').show();
                $('#labelPredecessora').append($('#' + encadeado).clone());
            }
        }

        function SalvarNovo() {
            /*validação*/

            /*Dados*/
            var param1 =  $('#newItem').val();
            var param2 = tempName.split('_Id')[0];
            var param3 = 0;
            if ($('#encadeado').find('select').length) {
                param3 = $('#encadeado').find('select').val();
            }

            /*Ajax*/
            $.get(urlSalvarNovoItem + "/" + param1 + "/" + param2 + "/" + param3, {}, function (r) {
                $(tempInput).append('<option value=' + r + '> ' + $('#newItem').val() + '</option>');
                $(tempInput).val(r).change();
                $('#modalNovo').modal('hide');
                tempInput = undefined;
                tempName = undefined;
                /*Limpa caso haja DDL denrto do modal.*/
                if ($('#encadeado').find('select').length) {
                    $('#encadeado').find('select').remove();
                }
            });

        }
        /*Fim Novo item*/

        $(document).ajaxStart(function () {
            $.LoadingOverlay("show");
            counter++;
        });

        $(document).ajaxStop(function () {
            $.LoadingOverlay("hide");
            counter--;
        });

        /*Table*/
        $(document).ready(function () {
            $.post(urlGetPlanejamentoAcao, {}, function (r) { GerarTabela(r) })
        });

        function GerarTabela(retornoArray) {

            console.log(retornoArray);

            var table = $('#paTable').empty().DataTable({
                data: retornoArray,
                columns: [
                    { title: "Iniciativa", mData: "Iniciativa" },
                    { title: "Diretoria", mData: "Diretoria" },
                    { title: "Gerência", mData: "Gerencia" },
                    { title: "Coordenação", mData: "Coordenacao" },
                    { title: "Missão", mData: "Missao" },
                    { title: "Visão", mData: "Visao" },
                    { title: "Dimenção", mData: "Dimensao" },
                    { title: "Tema / Assunto", mData: "TemaAssunto" },
                    { title: "Objetivo", mData: "Objetivo" },
                    { title: "Indicadores de Projeto", mData: "IndicadoresDeProjeto" },
                    { title: "Indicadores diretriz", mData: "IndicadoresDiretriz" },
                    { title: "Objetivo Gerencial", mData: "ObjetivoGerencial" },
                    { title: "Valor de", mData: "ValorDe" },
                    { title: "Valor para", mData: "ValorPara" },
                    { title: "Data (Início)", mData: "_DataInicio" },
                    { title: "Data (Fim)", mData: "_DataFim" },
                    { title: "Indicador SGQ", mData: null },
                    { title: "Monitoramento SGQ", mData: null },
                    { title: "Tarefa SGQ", mData: null },
                    { title: "Unidade", mData: "Acao.Unidade" },
                    { title: "Departamento", mData: "Acao.Departamento" },
                    { title: "Causa Genérica", mData: "Acao.CausaMedidasXAcao.CausaGenerica" },
                    { title: "Grupo Causa", mData: "Acao.CausaMedidasXAcao.GrupoCausa" },
                    { title: "Contramedida Genérica", mData: "Acao.CausaMedidasXAcao.ContramedidaGenerica" },
                    { title: "Causa Específica", mData: "Acao.CausaMedidasXAcao.CausaEspecifica" },
                    { title: "Contramedida Específica", mData: "Acao.CausaMedidasXAcao.ContramedidaEspecifica" },
                    { title: "Quem", mData: "Acao._Quem[, ]" },
                    { title: "Quando (Início)", mData: "Acao._QuandoInicio" },
                    { title: "Duração", mData: "Acao.DuracaoDias" },
                    { title: "Quando (Fim)", mData: "Acao._QuandoFim" },
                    { title: "Como / Pontos importantes", mData: "Acao.ComoPontosimportantes" },
                    { title: "Predecessora", mData: null },
                    { title: "Pra que", mData: "Acao.PraQue" },
                    { title: "Quanto custa", mData: "Acao.QuantoCusta" },
                    { title: "Status", mData: "Acao.StatusName" },
                    { title: "Prazo", mData: "Acao._Prazo" },
                    { title: "Ação", mData: null, defaultContent: '<p><span class="glyphicon glyphicon-edit" style="cursor:pointer"><span style="color:white">__</span></span><span style="cursor:pointer" class="glyphicon glyphicon-list-alt"></span></p>' },
                ],
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 2,
                },
                scrollX: true,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
                pageLength: 10,
                responsive: true,
                loadingRecords: true,
                destroy: true,
                info: true,
                responsive: true,
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    },
                    {
                        targets: 1,
                        visible: false
                    },
                    {
                        targets: 2,
                        visible: false
                    },
                    {
                        targets: 3,
                        visible: false
                    },
                    {
                        targets: 4,
                        visible: false
                    },
                    {
                        targets: 5,
                        visible: false
                    },
                    {
                        targets: 6,
                        visible: false
                    },

                    {
                        targets: 8,
                        visible: false
                    },
                    {
                        targets: 9,
                        visible: false
                    },
                    {
                        targets: 10,
                        visible: false
                    },
                    {
                        targets: 11,
                        visible: false
                    },
                    {
                        targets: 12,
                        visible: false
                    },
                    {
                        targets: 13,
                        visible: false
                    },
                    {
                        targets: 14,
                        visible: false
                    },
                    {
                        targets: 15,
                        visible: false
                    },
                    {
                        targets: 16,
                        visible: false
                    },
                    {
                        targets: 17,
                        visible: false
                    },
                        {
                            targets: 18,
                            visible: false
                        },
                    {
                        targets: 20,
                        visible: false
                    },
                    {
                        targets: 24,
                        visible: false
                    },
                    {
                        targets: 25,
                        visible: false
                    },
                    {
                        targets: 28,
                        visible: false
                    },
                    {
                        targets: 31,
                        visible: false
                    },
                    {
                        targets: 32,
                        visible: false
                    },
                    {
                        targets: 33,
                        visible: false
                    },
                ],
                initComplete: function () {
                    $('table > tbody > tr > td > p > span.glyphicon.glyphicon-edit').on('click', function (data, a, b) {
                        var data = table.row($(this).parents('tr')).data();
                        console.log(data);
                        $.get(urlEditAcao, { id: data.Acao.Id },
                              function (r) {
                                  EditarAcao(r, data);
                              });
                    });

                    $('table > tbody > tr > td > p > span.glyphicon.glyphicon-list-alt').on('click', function (data, a, b) {
                        var data = table.row($(this).parents('tr')).data();
                        console.log(data);


                        //$.post(urlEdit + "/" + data.ResultLevel3Id, function (r, x, e) {
                        //    $('#estName').html(data.Unidade + " > " + data.Indicador + " > " + data.Monitoramento + " > " + data.Tarefa);
                        //    $('#ResultLevel3_Id').val(r.Id);
                        //    $('#changeConform').empty();
                        //    $('#changeConform').append($(r.showIntervalos));
                        //    $('#changeConform').append($(r.showConform));
                        //    $('#changeConform').append($(r.showCalculado));
                        //    $('#changeConform').append($(r.showNumeroDefeitos));
                        //    console.log(r.Id);
                        //});
                    });

                },
                language: {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                createdRow: function (row, data, index) {
                    try {
                        var bgColorStatus = ""
                        var bgColorPrazo = ""
                        /*Status*/
                        if (data.Acao.StatusName.indexOf("Cancelado") > -1) {
                            bgColorStatus = "grey";
                            bgColorPrazo = "rgb(126, 194, 253)";
                        } else if (data.Acao.StatusName.indexOf('Ativo') > -1) {
                            bgColorStatus = "#ADD8E6";
                        } else if (data.Acao.StatusName.indexOf('Ativo') > -1 && data.Acao.StatusName.indexOf('Atrasado') > -1) {
                            bgColorStatus = "#458fa8"
                        } else if (data.Acao.StatusName.indexOf('Concluído') > -1 && data.Acao.StatusName.indexOf('Prazo') > -1) {
                            bgColorPrazo = "rgb(126, 194, 253)";
                            bgColorStatus = "cyan"
                        } else if (data.Acao.StatusName.indexOf('Concluído') > -1 && data.Acao.StatusName.indexOf('Atrasado') > -1) {
                            bgColorPrazo = "rgb(126, 194, 253)";
                            bgColorStatus = "steelblue"
                        } else if (data.Acao.StatusName.indexOf('Replanejado') > -1) {
                            bgColorStatus = "yellow"
                        }
                        $(row.cells[9]).css("background", bgColorStatus);


                        /*Prazo*/
                        if (data.Acao.StatusName == "Cancelado") {

                        } else if (data.Acao.StatusName.indexOf('Concluído') > -1) {

                        } else if (data.Acao._Prazo.indexOf('Faltam') > -1) {
                            bgColorPrazo = "#90EE90"
                        } else if (data.Acao._Prazo.indexOf('-') > -1 && data.Acao._Prazo.indexOf(' Dias') > -1) {
                            bgColorPrazo = "rgb(250, 128, 114)"
                        }

                        $(row.cells[10]).css("background", bgColorPrazo);

                    } catch (e) {

                    }

                },
                fnDrawCallback: function (data, d, o) {


                }
            });

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        customize: function (win) {
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        },
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                     {
                         extend: 'pdf',
                         text: 'PDF',
                         exportOptions: {
                             columns: ':visible'
                         }
                     },
                      {
                          extend: 'colvis',
                          text: 'Colunas Visíveis',
                          exportOptions: {
                              columns: ':visible'
                          }
                      },
                ]
            });

            table.buttons(0, null).container().prependTo(
                table.table().container()
            );

        }
        /*Fim Table*/

    </script>

}