@model PlanoAcaoCore.Pa_Planejamento


<form  id="PlanejamentoBuscar">

    <table class="nowrap .col-md-6 .col-md-offset-3" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 43%;">
                    @Html.LabelFor(model => model.Diretoria_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td style="min-width: 43%;">
                    @Html.DropDownList("Diretoria_Id", new SelectList(ViewBag.Diretoria, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Diretoria_Id, "", new { @class = "text-danger" })
                </td>
                <td style="width: 16%;"></td>
            </tr>
           
        
            <tr>
                <td>
                    @Html.LabelFor(model => model.Missao_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Missao_Id", new SelectList(ViewBag.Missao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Missao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Visao_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Visao_Id", new SelectList(ViewBag.Visao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Visao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
          
            <tr>
                <td>
                    @Html.LabelFor(model => model.Dimensao_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Dimensao_Id", new SelectList(ViewBag.Dimensao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Dimensao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Objetivo_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Objetivo_Id", new SelectList(ViewBag.Objetivo, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Objetivo_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IndicadoresDiretriz_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("IndicadoresDiretriz_Id", new SelectList(ViewBag.IndicadoresDiretriz, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                </td>
                <td>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Responsavel_Diretriz, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Responsavel_Diretriz", new SelectList(ViewBag.Quem, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                </td>
                <td></td>
            </tr>

            <tr>
                <td style="width: 43%;">
                    <button type="button" data-ng-change="" class="btn btn-primary" id="filtrarPlanejamento" onclick="FiltrarPlanejamento();" style="display: inline-block;">Filtrar</button>
                </td>
                <td style="width: 43%;"></td>
                <td style="width: 16%;"></td>
            </tr>

        </tbody>
    </table>


    <h5 style="font-weight: bold;">Planejamentos</h5>

    <div id="planejamentosFiltrado">
        <select data-ng-model="plan"
                data-ng-options="s.Id as s.Name for s in plans"
                data-ng-change="" class="form-control" style="width:210px">
            <option value="">Selecione...</option>
        </select>
    </div>


</form>

@*<script>
    $(document).ready(function () {
        console.log("teste")
    /*
      START ANGULAR MODULE
      */
    var urlBuscar = '@Url.Action("List", "api/Pa_Planejamento")';
    //Defining a module
    var myApp = angular.module('myApp', []);
    //Defining a Controller
    myApp.controller('MainCtrl', ['$scope', '$http',
        function ($scope, $http) {
            //Defining the $http service for getting the Level1 2 and 3 by default
            $http({
                method: 'POST',
                url: urlBuscar,
                //data: {}
            }).
            then(function (r) {
                $scope.plans = r.data;
            });

            ////Defining the $http service for getting Level2 By Level1
            //$scope.FiltrarPlanejamento = function () {

            //        var filtro = {};
            //        filtro["Diretoria_Id"] = $('#Diretoria_Id').val();
            //        filtro["Gerencia_Id"] = $('#Gerencia_Id').val();
            //        filtro["Coordenacao_Id"] = $('#Coordenacao_Id').val();
            //        filtro["TemaAssunto_Id"] = $('#TemaAssunto_Id').val();
            //        filtro["ObjetivoGerencial_Id"] = $('#ObjetivoGerencial_Id').val();
            //        filtro["Indicadores_Id"] = $('#Indicadores_Id').val();

            //        $http({
            //            method: 'POST',
            //            url: urlBuscar,
            //            data: filtro
            //        }).
            //        then(function (r) {
            //            $scope.plans = r.data;
            //        });
            //}

        }]);

    /*
        END ANGULAR MODULE
    */
    });

</script>*@