@model PlanoAcaoCore.Pa_Planejamento

    <table class="borderedNinja nowrap .col-md-6 .col-md-offset-3 display"  cellspacing="0" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 43%;">
                    @Html.DisplayNameFor(model => model.Diretoria_Id)
                </td>
                <td style="width: 43%;">
                    @Html.DisplayFor(model => model.Diretoria)
                </td>
                <td style="width: 16%;"></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Gerencia_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Gerencia)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Coordenacao_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Coordenacao)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Missao_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Missao)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Visao_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Visao)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.TemaAssunto_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.TemaAssunto)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.IndicadoresDeProjeto_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.IndicadoresDeProjeto)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.IndicadoresDiretriz_Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.IndicadoresDiretriz)
                </td>
                <td></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Iniciativa_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Iniciativa)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.ObjetivoGerencial_Id)
                </td>
                <td >
                    @Html.DisplayFor(model => model.ObjetivoGerencial)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Dimensao)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Dimensao)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.Objetivo)
                </td>
                <td >
                    @Html.DisplayFor(model => model.Objetivo)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.ValorDe)
                </td>
                <td >
                    @Html.DisplayFor(model => model.ValorDe)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.ValorPara)
                </td>
                <td >
                    @Html.DisplayFor(model => model.ValorPara)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.DataInicio)
                </td>
                <td >
                    @Html.DisplayFor(model => model.DataInicio)
                </td>
                <td ></td>
            </tr>
            <tr>
                <td >
                    @Html.DisplayNameFor(model => model.DataFim)
                </td>
                <td >
                    @Html.DisplayFor(model => model.DataFim)
                </td>
                <td ></td>
            </tr>
        </tbody>
    </table>

    
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
