@model PlanoAcaoCore.Pa_Planejamento

@{
    Layout = null;
}

<form id="Planejamento" class="showAsEstrategy">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Estrategico_Id)
    @Html.HiddenFor(model => model.IsTatico)
    @Html.HiddenFor(model => model.Tatico_Id)

    <table class="nowrap .col-md-6 .col-md-offset-3" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 43%;">
                    @Html.LabelFor(model => model.Diretoria_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td style="min-width: 43%;">
                    @Html.DropDownList("Diretoria_Id", new SelectList(ViewBag.Diretoria, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm required estrategico" })
                    @Html.ValidationMessageFor(model => model.Diretoria_Id, "", new { @class = "text-danger" })
                </td>
                <td style="width: 16%;"></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Gerencia_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Gerencia_Id", new SelectList(ViewBag.Gerencia, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm required tatico " })
                    @Html.ValidationMessageFor(model => model.Gerencia_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this)">Gerenciar</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Coordenacao_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Coordenacao_Id", new SelectList(ViewBag.Coordenacao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.Coordenacao_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this, 'Gerencia_Id')">Gerenciar</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Missao_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Missao_Id", new SelectList(ViewBag.Missao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Missao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Visao_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Visao_Id", new SelectList(ViewBag.Visao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Visao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TemaAssunto_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("TemaAssunto_Id", new SelectList(ViewBag.TemaAssunto, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.TemaAssunto_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default" onclick="Novo(this)">Gerenciar</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Dimensao_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Dimensao_Id", new SelectList(ViewBag.Dimensao, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Dimensao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Objetivo_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Objetivo_Id", new SelectList(ViewBag.Objetivo, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Objetivo_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default" onclick="Novo(this, 'Dimensao_Id')">Gerenciar</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IndicadoresDiretriz_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("IndicadoresDiretriz_Id", new SelectList(ViewBag.IndicadoresDiretriz, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.IndicadoresDiretriz_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default" onclick="Novo(this, 'Objetivo_Id')">Gerenciar</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Responsavel_Diretriz, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Responsavel_Diretriz", new SelectList(ViewBag.Quem, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required estrategico" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TipoProjeto_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("TipoProjeto_Id", new SelectList(ViewBag.TipoProjeto, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.TipoProjeto_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TemaProjeto_Id, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("TemaProjeto_Id", new SelectList(ViewBag.TemaProjeto, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.TemaProjeto_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="btn btn-default" onclick="Novo(this)">Gerenciar</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Iniciativa_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Iniciativa_Id", new SelectList(ViewBag.Iniciativa, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required tatico " })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this);">Gerenciar</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.IndicadoresDeProjeto_Id, htmlAttributes: new { @class = "control-label " })

                </td>
                <td>
                    @Html.DropDownList("IndicadoresDeProjeto_Id", new SelectList(ViewBag.IndicadoresDeProjeto, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm   " })
                </td>
                <td>
                    <button type="button" title="Gerenciar Indicadores do Projeto / Iniciativa" class="novoItem btn btn-default novoTatico" onclick="Novo(this, 'Iniciativa_Id')">Gerenciar</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ObjetivoGerencial_Id, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("ObjetivoGerencial_Id", new SelectList(ViewBag.ObjetivoGerencial, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm  required tatico  " })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this, 'IndicadoresDeProjeto_Id')">Gerenciar</button>
                </td>
            </tr>


            @*<tr>
                    <td>
                        @Html.LabelFor(model => model.Dimensao, htmlAttributes: new { @class = "control-label " })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Dimensao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dimensao, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Objetivo, htmlAttributes: new { @class = "control-label " })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Objetivo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Objetivo, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                </tr>*@
            <tr>
                <td>
                    @Html.LabelFor(model => model.UnidadeDeMedida_Id, htmlAttributes: new { @class = "control-label " })

                </td>
                <td>
                    @Html.DropDownList("UnidadeDeMedida_Id", new SelectList(ViewBag.UnidadeMedida, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm UnidadeDeMedidaTatico" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ValorDe, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model._ValorDe, new { htmlAttributes = new { @class = "form-control ValorDe" } })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.ValorPara, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model._ValorPara, new { htmlAttributes = new { @class = "form-control ValorPara" } })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label" })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.Editor("_DataInicio", new { htmlAttributes = new { @class = "form-control datepicker required tatico" } })
                    @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DataFim, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.Editor("_DataFim", new { htmlAttributes = new { @class = "form-control datepicker  required tatico " } })
                    @Html.ValidationMessageFor(model => model.DataFim, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Responsavel_Projeto, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Responsavel_Projeto", new SelectList(ViewBag.Quem, "Id", "Name"), "Selecione...", new { @class = "form-control input-sm required tatico " })
                </td>
                <td></td>
            </tr>

        </tbody>
    </table>

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="SalvarPlanejamento();" value="Create" class="btn btn-default" />
            </div>
        </div>*@
</form>



<script>
    /*Table*/
    $(document).ready(function () {

        $('select').select2({
            //minimumResultsForSearch: -1
        });
    });

</script>
