@model PlanoAcaoCore.Pa_Planejamento

@{
    Layout = null;
}

<form id="Planejamento" class="showAsEstrategy">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Estrategico_Id)
    @Html.HiddenFor(model => model.IsTatico)
    @Html.HiddenFor(model => model.Tatico_Id)

    <table class="nowrap .col-md-6 .col-md-offset-3 table table-striped" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 24%;">
                    @Html.LabelFor(model => model.Diretoria_Id, ResourcesPA.Resource.directorship, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td style="min-width: 60%;">
                    @Html.DropDownListFor(model => model.Diretoria_Id, new SelectList(ViewBag.Diretoria, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm required estrategico col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Diretoria_Id, "", new { @class = "text-danger" })
                </td>
                <td style="width: 16%;">
                    <button type="button" title="Gerenciar Diretoria" class="novoItem btn btn-default novoTatico" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Gerencia_Id, ResourcesPA.Resource.management, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Gerencia_Id, new SelectList(ViewBag.Gerencia, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm required tatico " })
                    @Html.ValidationMessageFor(model => model.Gerencia_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Coordenacao_Id, ResourcesPA.Resource.coordination, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("Coordenacao_Id", new SelectList(ViewBag.Coordenacao, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm tatico" })
                    @Html.ValidationMessageFor(model => model.Coordenacao_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this, 'Gerencia_Id')">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Missao_Id, ResourcesPA.Resource.mission, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Missao_Id", new SelectList(ViewBag.Missao, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Missao_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" title="Gerenciar Missão" class="novoItem btn btn-default novoTatico" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Visao_Id, ResourcesPA.Resource.view, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Visao_Id", new SelectList(ViewBag.Visao, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Visao_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" title="Gerenciar Visão" class="novoItem btn btn-default novoTatico" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TemaAssunto_Id, ResourcesPA.Resource.theme_subject, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("TemaAssunto_Id", new SelectList(ViewBag.TemaAssunto, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm estrategico" })
                    @Html.ValidationMessageFor(model => model.TemaAssunto_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Dimensao_Id, ResourcesPA.Resource.dimension, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownListFor(model => model.Dimensao_Id, new SelectList(ViewBag.Dimensao, "Id", "Name", Model.Dimensao_Id), ResourcesPA.Resource.select2, new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Dimensao_Id, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Objetivo_Id, ResourcesPA.Resource.guideline, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Objetivo_Id", new SelectList(ViewBag.Objetivo, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm  required estrategico" })
                    @Html.ValidationMessageFor(model => model.Objetivo_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default" onclick="Novo(this, 'Dimensao_Id')">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IndicadoresDiretriz_Id, ResourcesPA.Resource.indicators_guidelines, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownList("IndicadoresDiretriz_Id", new SelectList(ViewBag.IndicadoresDiretriz, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.IndicadoresDiretriz_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default" onclick="Novo(this, 'Objetivo_Id')">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Responsavel_Diretriz, ResourcesPA.Resource.responsible_guideline, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Responsavel_Diretriz", new SelectList(ViewBag.Quem, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm  required estrategico" })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.IsActive, ResourcesPA.Resource.active, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @{
                        string IsActive = "";
                        string IsActiveBool = "false";
                        if (Model != null && Model.IsActive)
                        {
                            IsActive = "checked";
                            IsActiveBool = "true";
                        }
                        <input @IsActive name="IsActive" class="input-sm required estrategico" data-val-required="O campo IsActive é obrigatório." id="IsActive" type="checkbox" value="@IsActiveBool" onclick="this.value = this.checked">
                    }
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.TipoProjeto_Id, ResourcesPA.Resource.type_of_project, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("TipoProjeto_Id", new SelectList(ViewBag.TipoProjeto, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm required tatico" })
                    @Html.ValidationMessageFor(model => model.TipoProjeto_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" title="Gerenciar Tipo de Projeto" class="btn btn-default" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TemaProjeto_Id, ResourcesPA.Resource.project_theme, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("TemaProjeto_Id", new SelectList(ViewBag.TemaProjeto, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm required tatico" })
                    @Html.ValidationMessageFor(model => model.TemaProjeto_Id, "", new { @class = "text-danger" })
                </td>
                <td>
                    <button type="button" class="btn btn-default" onclick="Novo(this)">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Iniciativa_Id, ResourcesPA.Resource.project_initiative, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Iniciativa_Id", new SelectList(ViewBag.Iniciativa, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm  required tatico " })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this);">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.IndicadoresDeProjeto_Id, ResourcesPA.Resource.indicators_project_initiative, htmlAttributes: new { @class = "control-label " })

                </td>
                <td>
                    @Html.DropDownList("IndicadoresDeProjeto_Id", new SelectList(ViewBag.IndicadoresDeProjeto, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm tatico" })
                </td>
                <td>
                    <button type="button" title="Gerenciar Indicadores do Projeto / Iniciativa" class="novoItem btn btn-default novoTatico" onclick="Novo(this, 'Iniciativa_Id')">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.ObjetivoGerencial_Id, ResourcesPA.Resource.management_objective, htmlAttributes: new { @class = "control-label " })
                    @*<i style="color:red">*</i>*@
                </td>
                <td>
                    @Html.DropDownList("ObjetivoGerencial_Id", new SelectList(ViewBag.ObjetivoGerencial, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm tatico" })
                </td>
                <td>
                    <button type="button" class="novoItem btn btn-default novoTatico" onclick="Novo(this, 'IndicadoresDeProjeto_Id')">@ResourcesPA.Resource.manage</button>
                </td>
            </tr>


            @*<tr>
                    <td>
                        @Html.LabelFor(model => model.Dimensao, htmlAttributes: new { @class = "control-label " })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Dimensao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Dimensao, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Objetivo, htmlAttributes: new { @class = "control-label " })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Objetivo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Objetivo, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                </tr>*@
            <tr>
                <td>
                    @Html.LabelFor(model => model.UnidadeDeMedida_Id, ResourcesPA.Resource.unit_measurement, htmlAttributes: new { @class = "control-label " })

                </td>
                <td>
                    @Html.DropDownList("UnidadeDeMedida_Id", new SelectList(ViewBag.UnidadeMedida, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm UnidadeDeMedidaTatico tatico" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ValorDe, ResourcesPA.Resource.value_of, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model._ValorDe, new { htmlAttributes = new { @class = "form-control ValorDe tatico", @autocomplete = "off" } })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>

                    @Html.LabelFor(model => model.ValorPara, ResourcesPA.Resource.value_for, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model._ValorPara, new { htmlAttributes = new { @class = "form-control ValorPara tatico", @autocomplete = "off" } })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.DataInicio, ResourcesPA.Resource.start_date_project_initiative, htmlAttributes: new { @class = "control-label" })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.Editor("_DataInicio", new { htmlAttributes = new { @class = "form-control datepicker required tatico" } })
                    @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DataFim, ResourcesPA.Resource.date_end_project_initiative, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.Editor("_DataFim", new { htmlAttributes = new { @class = "form-control datepicker required tatico " } })
                    @Html.ValidationMessageFor(model => model.DataFim, "", new { @class = "text-danger" })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Responsavel_Projeto, ResourcesPA.Resource.responsible_project_initiative, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @Html.DropDownList("Responsavel_Projeto", new SelectList(ViewBag.Quem, "Id", "Name"), ResourcesPA.Resource.select2, new { @class = "form-control input-sm required tatico " })
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.IsActive, ResourcesPA.Resource.active, htmlAttributes: new { @class = "control-label " })
                    <i style="color:red">*</i>
                </td>
                <td>
                    @{
                        string IsActive_Tatico = "";
                        string IsActive_TaticoBool = "false";
                        if (Model != null && Model.IsActive)
                        {
                            IsActive_Tatico = "checked";
                            IsActive_TaticoBool = "true";
                        }
                        <input @IsActive_Tatico name="IsActive_Tatico" class="input-sm required tatico" data-val-required="O campo IsActive_Tatico é obrigatório." id="IsActive_Tatico" type="checkbox" value="@IsActive_TaticoBool" onclick="this.value = this.checked">
                    }
                </td>
                <td></td>
            </tr>

        </tbody>
    </table>

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="SalvarPlanejamento();" value="Create" class="btn btn-default" />
            </div>
        </div>*@
</form>



<script>
    $(document).ready(function () {

        $('#modalLindo select').select2(configSelect2);
    });
</script>
