@model SgqSystem.ViewModels.ParamsViewModel
@{
    ViewBag.Title = "Components with globalization";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/General")

    @Styles.Render("~/Content/Theme")

    @Styles.Render("~/Content/Tables")

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/theme")

    @Scripts.Render("~/bundles/ScriptTables")

    <div class="page-wrapper">
        @Html.Partial("~/Views/Globalization/components/_navbar.cshtml")
        <div class="page-container">
            @Html.Partial("~/Views/Globalization/components/_right_layout.cshtml")
            @Html.Partial("~/Views/Globalization/components/_left_layout.cshtml")
            @Html.Partial("~/Views/Globalization/components/_parameretrization_layout.cshtml", Model)

        </div>
            
    </div>
</body>
</html>