@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
    var urlSend = Url.Action("Save", "api/ParLevel2ControlCompany"); //URL relativa
    var urlChangeLevel2 = Url.Action("ChangeLevel2", "ParLevel2ControlCompany"); //URL relativa
    var urlChangeLevel2UserCompany = Url.Action("ChangeLevel2UserCompany", "ParLevel2ControlCompany"); //URL relativa
}

<h2>Index</h2>

@if (true)
{
    @Html.DropDownList("level1", new SelectList(ViewBag.ParLevel1, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control select2", style = "width: 100%" })
    
    <div id="selectLevel2">
        @Html.Partial("_ControlCompanySelectBoxLevel2")
    </div>

    @Html.Label("Numero de level 2 nao corporativo:")
    @Html.TextBox("level2Number")
    <button id="send" onclick="send()">Enviar</button>
}

@if (true)
{
    @Html.DropDownList("level1UserCompany", new SelectList(ViewBag.ParLevel1, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control select2", style = "width: 100%" })
    <div id="selectLevel2UserCompany">
        @Html.Partial("_ControlCompanySelectBoxLevel2UserCompany")
    </div>
}


<script>

    var urlSend = '@Html.Raw(@urlSend)';
    var urlChangeLevel2 = '@Html.Raw(@urlChangeLevel2)';
    var urlChangeLevel2UserCompany = '@Html.Raw(@urlChangeLevel2UserCompany)';

    function selectLevel2() {
        $.post(urlChangeLevel2, { "id": $('#level1 :selected').val() }, function (r) {
            $('#level2Number').val('');
            $('#selectLevel2').empty().append(r);
        });
    }

    function selectLevel2UserCompany() {
        $.post(urlChangeLevel2UserCompany, { "id": $('#level1UserCompany :selected').val() }, function (r) {
            $('#selectLevel2UserCompany').empty().append(r);
        });
    }

    function send() {
        var data = {};
        data["listLevel2Corporativos"] = $('#level2').val();
        data["Level2NaoCorporativosNumber"] = $('#level2Number').val();
        $.post(urlSend, data, function (r) { });
    }

    $(document).ready(function () {
        loadSelect2();
        $('#level1').on('change', selectLevel2)
        $('#level1UserCompany').on('change', selectLevel2UserCompany)
        $('#level1').select2()
        $('#level2').select2({ allowClear: true, placeholder: "" })
    })

    $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
        console.log("There was an ajax error!");
        //console.log(event);
        //console.log(xhr);
        //console.log(ajaxOptions);
        //console.log(thrownError);
    });

</script>