@using SgqSystem.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlSend = Url.Action("Save", "api/ParLevel2ControlCompany"); //URL relativa
    var urlChangeLevel2 = Url.Action("ChangeLevel2", "ParLevel2ControlCompany"); //URL relativa
    var urlChangeLevel2UserCompany = Url.Action("ChangeLevel2UserCompany", "ParLevel2ControlCompany"); //URL relativa
}

<div class="row">
    <div class="col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-share font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Familias</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="setup_tab">
                        <div class="row">
                            <div class="col-xs-3">
                                @*<button class="btn btn-primary btn-block" id="btnNewLevel1">FAMILIAS</button>*@
                            </div>
                            <div class="col-xs-9">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <table class="table-erp" id="tblFamilia">
                                            <tbody>
                                              
                                                   
                                                    
                                                        <tr class="row">
                                                            <td>@Html.Label("Empresa:")</td>
                                                            <td>@Html.DropDownList("company", new SelectList(ViewBag.company, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control select2", style = "width: 100%" })</td>
                                                        </tr>

                                                        <tr class="row">
                                                            <td>@Html.Label("Indicador:")</td>
                                                            <td>@Html.DropDownList("level1", new SelectList(ViewBag.ParLevel1, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control select2", style = "width: 100%" })</td>
                                                        </tr>
                                                
                                                        @Html.Partial("_ControlCompanySelectBoxLevel2")
                                                   
                                                        @Html.Partial("_ControlCompanySelectBoxLevel2UserCompany")
                                            </tbody>
                                        </table>
                                        <button class='btn btn-primary btn-sm' type='button' id='send' onclick='send();'>Enviar</button>
                                    </div>
                                </div>

                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (HttpContext.Current.Request.Cookies["webControlCookie"].Values["roles"].ToString().ToLower().Contains("admin"))
{
    <script>
        function selectLevel2() {
            var id = $('#level1 :selected').val() > 0 ? $('#level1 :selected').val() : 0;
            $.post(urlChangeLevel2, { "id": id }, function (r) {
                $('#level2Number').val('');
                $('#tblFamilia > tbody > tr')[2].remove();
                $('#tblFamilia > tbody > tr')[2].remove();
                $($('#tblFamilia > tbody > tr')[2]).prev().after(r)
            });
        }
        $(document).ready(function () {
            $('#company').parents('tr').hide();
            $('#level2SelecionadoPorCompany').parents('tr').hide();
        });
    </script>
}
else
{
    <script>
       
        function selectLevel2() {
            var id = $('#level1 :selected').val() > 0 ? $('#level1 :selected').val() : 0;
            var idComp = $('#company :selected').val() > 0 ? $('#company :selected').val() : 0;
            $.post(urlChangeLevel2UserCompany, { "id": id, "companyId": idComp }, function (r) {
                $('#tblFamilia > tbody > tr')[4].remove();
                $('#tblFamilia > tbody').append(r);
                var id2 = $('#level1 :selected').val() > 0 ? $('#level1 :selected').val() : 0;
                $.post(urlChangeLevel2, { "id": id2 }, function (r) {
                    $('#level2Number').val('');
                    $('#tblFamilia > tbody > tr')[2].remove();
                    $('#tblFamilia > tbody > tr')[2].remove();
                    $($('#tblFamilia > tbody > tr')[2]).prev().after(r)
                    $('#level2').attr('disabled', true);
                    $('#level2Number').attr('disabled', true);
                });
            });
        }
        $(document).ready(function () {
            $('#level2').parents('tr').hide();
            $('#level2Number').parents('tr').hide();
            //$('#level2Number').attr("disabled", true);
        });
    </script>
}

<script>

    var formOriginal = $('#tblFamilia > tbody').clone();
    var urlSend = '@Html.Raw(@urlSend)';
    var urlChangeLevel2 = '@Html.Raw(@urlChangeLevel2)';
    var urlChangeLevel2UserCompany = '@Html.Raw(@urlChangeLevel2UserCompany)';
   
    function send() {
        var data = {};
        data["listLevel2Corporativos"] = $('#level2').val();
        data["Id"] = $('#level1 :selected').val();
        data["level2Number"] = $('#level2Number').val();
        data["level2PorCompany"] = $('#level2SelecionadoPorCompany').val();
        data["CompanyControl_Id"] = $('#company :selected').val();
        if (data["Id"] == undefined)
            data["Id"] = $("#company :selected").val();
        
        $.post(urlSend, data, function (r) { });
    }

    $(document).ready(function () {
        loadSelect2();
        $('#level1').on('change', selectLevel2)
        $('#company').on('change', function () { 
            if ($('#level1').val() > 0) {
                selectLevel2();
            }
        });
        $('#level1').select2()
        $('#level2').select2({ allowClear: true, placeholder: "" })
    })

    $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
        console.log("There was an ajax error!");
        //console.log(event);
        //console.log(xhr);
        //console.log(ajaxOptions);
        //console.log(thrownError);
    });

</script>
