@using SgqSystem.Helpers
@{
    ViewBag.Title = Resources.Resource.family;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlSend = Url.Action("Save", "api/ParLevel2ControlCompany"); //URL relativa
    var urlChangeLevel2 = Url.Action("ChangeLevel2", "ParLevel2ControlCompany"); //URL relativa
    var urlChangeLevel2UserCompany = Url.Action("ChangeLevel2UserCompany", "ParLevel2ControlCompany"); //URL relativa

}


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 650px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title">
            @Resources.Resource.family
        </h1>
        <!-- END PAGE TITLE-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="#">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.family</span>
                </li>
            </ul>
            <div class="page-toolbar">
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span class="thin uppercase" id="currentDate"></span>&nbsp;
                </div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">


                                <div class="row">

                                    <style>
                                        .colTabelaFamilia {
                                            padding: 10px;
                                        }

                                        .rowTabelaFamilia {
                                            padding: 10px;
                                        }
                                    </style>

                                    <table id="tblFamilia" style="width: 100%;">
                                        <tbody>

                                            <tr class="rowTabelaFamilia">
                                                <td style="width: 30%;" class="colTabelaFamilia">@Html.Label("Empresa:")</td>
                                                <td class="colTabelaFamilia" align="center">@Html.DropDownList("company", new SelectList(ViewBag.UnidadeUsuario, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control select2", style = "width: 100%" })</td>
                                            </tr>

                                            <tr class="rowTabelaFamilia">
                                                <td style="width: 30%;" class="colTabelaFamilia">@Html.Label("Indicador:")</td>
                                                <td class="colTabelaFamilia" align="center">@Html.DropDownList("level1", new SelectList(ViewBag.ParLevel1, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control select2", style = "width: 100%" })</td>
                                            </tr>

                                            @Html.Partial("_ControlCompanySelectBoxLevel2")

                                            @Html.Partial("_ControlCompanySelectBoxLevel2UserCompany")

                                            <tr class="rowTabelaFamilia">
                                                <td class="colTabelaFamilia" align="left">
                                                    <button class="btn btn-primary" type='button' id='send' onclick='send();'>Gravar as famílias escolhidas</button>
                                                </td>
                                                <td class="colTabelaFamilia"></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>

                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END CONTENT BODY -->
</div>


@if (HttpContext.Current.Request.Cookies["webControlCookie"].Values["roles"].ToString().ToLower().Contains("admin"))
{
    <script>
        function selectLevel2() {
            var id = $('#level1 :selected').val() > 0 ? $('#level1 :selected').val() : 0;
            $.post(urlChangeLevel2, { "id": id }, function (r) {
                $('#level2Number').val('');
                $('#tblFamilia > tbody > tr')[2].remove();
                $('#tblFamilia > tbody > tr')[2].remove();
                $($('#tblFamilia > tbody > tr')[2]).prev().after(r)
            });
        }
        $(document).ready(function () {
            $('#company').parents('tr').hide();
            $('#level2SelecionadoPorCompany').parents('tr').hide();
        });
    </script>
}
else
{
    <script>

        function selectLevel2() {

            var id = $('#level1 :selected').val() > 0 ? $('#level1 :selected').val() : 0;
            var idComp = $('#company :selected').val() > 0 ? $('#company :selected').val() : 0;
            $.post(urlChangeLevel2UserCompany, { "id": id, "companyId": idComp }, function (r) {
                $('#MonEmpresa').remove();
                $(r).insertAfter($($('#tblFamilia > tbody > tr')[2]).closest('tr'));
                var id2 = $('#level1 :selected').val() > 0 ? $('#level1 :selected').val() : 0;
                $.post(urlChangeLevel2, { "id": id2 }, function (rr) {
                    $('#level2Number').val('');
                    $('#monCorpAtivo').remove();
                    $('#numeroFamilias').remove();
                    $(rr).insertAfter($('#MonEmpresa').closest('tr'));
                    $('#level2').attr('disabled', true);
                    $('#level2Number').attr('disabled', true);

                    if ($('#level2Number').val() <= 0) {
                        $('#level2SelecionadoPorCompany').attr('disabled', true);
                        $('#send').attr('disabled', true);
                    } else {
                        $('#level2SelecionadoPorCompany').attr('disabled', false);
                        $('#send').attr('disabled', false);
                    }
                });
            });
        }
        $(document).ready(function () {
            $('#level2').parents('tr').hide();
            $('#level2Number').parents('tr').hide();
            //$('#level2Number').attr("disabled", true);
        });
    </script>
}

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    var $btn = $('#send');
    navbarSelect("navbar1");

    var formOriginal = $('#tblFamilia > tbody').clone();
    var urlSend = '@Html.Raw(@urlSend)';
    var urlChangeLevel2 = '@Html.Raw(@urlChangeLevel2)';
    var urlChangeLevel2UserCompany = '@Html.Raw(@urlChangeLevel2UserCompany)';

    $('button').button({ loadingText: '@Resources.Resource.loading...' });

    function send() {
        var data = {};
        data["listLevel2Corporativos"] = $('#level2').val();
        data["Id"] = $('#level1 :selected').val();
        data["level2Number"] = $('#level2Number').val();
        data["level2PorCompany"] = $('#level2SelecionadoPorCompany').val();
        data["CompanyControl_Id"] = $('#company :selected').val();
        if (data["Id"] == undefined)
            data["Id"] = $("#company :selected").val();

        $btn.button('loading');
        $.post(urlSend, data, function (r) {
            $btn.button('reset');
            openMessageModal('Feito!', '');
        });
    }

    $(document).ready(function () {

        $('#level1').on('change', selectLevel2)
        $('#company').on('change', function () {
            if ($('#level1').val() > 0) {
                $('#level1').trigger("change");
            }
        });
        $('#level1').select2()
        $('#level2').select2({ allowClear: true, placeholder: "" })

        $('body > div > div.page-header.navbar.navbar-fixed-top > div > div.page-logo > div').click();

    })

    $(document).ajaxStart(function () {
        openLoader("@Resources.Resource.please_wait" + "...");
    });

    $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
        $btn.button('reset');
        closeLoader();
        try {
            console.log(xhr.responseJSON.Message)
        } catch (e) {

        }
        openMessageModal('Não foi possivel completar a requisição de dados.', '');
    });

    $(document).ajaxStop(function () {
        closeLoader();
    });

</script>
<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar6");

</script>