@model IEnumerable<Dominio.ParAlertXUser>

@{
    ViewBag.Title = Resources.Resource.create;
}

<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-share font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.alert X Usuário</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="setup_tab">

                <p>
                    @Html.ActionLink(Resources.Resource.create as string, "Create", "ParAlertXUser", new { parAlertId = ViewBag.ParAlertId }, new { @class = "btn btn-primary" })
                </p>
                <table class="table" id="tabelaCargoXDepartment">
                    <thead>
                        <tr>  
                            <th>
                                Usuário
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Email
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserSgq.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserSgq.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserSgq.Email)
                            </td>
                            <td>
                                @Html.ActionLink(Resources.Resource.delete as string, "Delete", "ParAlertXUser", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");

    $(document).ready(function () {

        closeLeftSidebar();

        DataTableComResourcesEpropriedadesjaSetadas.aoColumns = [
            null,
            null,
            null,
            { "bSearchable": false }
        ];

        $('#tabelaCargoXDepartment').dataTable(DataTableComResourcesEpropriedadesjaSetadas);
    });
</script>