@model Dominio.ParClusterGroup

@{
    ViewBag.Title = Resources.Resource.details;
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="@Url.Action("Index", "ParClusters")">@Resources.Resource.cluster_group</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.cluster_group</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <!--<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green" data-placement="top" data-original-title="Change dashboard date range">-->
                @*<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height green">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span class="thin uppercase" id="currentDate"></span>&nbsp;
                    </div>*@
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.cluster_group</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <div>

                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Resources.Resource.name
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Name)
                                        </dd>

                                        <dt>
                                            @Resources.Resource.description
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>

                                        @*<dt>
                                            @Html.DisplayNameFor(model => model.ParClusterGroupParent_Id)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ParClusterGroupParent_Id)
                                        </dd>*@

                                        <dt>
                                            @Resources.Resource.add_date
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AddDate)
                                        </dd>

                                        <dt>
                                            @Resources.Resource.alter_date
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AlterDate)
                                        </dd>

                                        @*<dt>
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.IsActive)
                                        </dd>*@

                                    </dl>
                                </div>
                                <p>
                                    @Html.ActionLink(Resources.Resource.edit, "Edit", new { id = Model.Id }) |
                                    @Html.ActionLink(Resources.Resource.back_to_list, "Index")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar3");

</script>