@{
    ViewBag.Title = "Recravação: Impressão";
    Layout = null;
}

<style type="text/css">
    .level3NameDestacado td:first-child {
        color: red !important;
        border: 1px solid #e43a45 !important;
        padding: 1px !important;
        font-weight: bold !important;
    }

    .nav.navbar-nav{
        display: none;
    }

    .jbsLogo {

    }

    .lataPtImg {
        display: block;
        height: 118px;
        padding-top: 5px;
        width: 16%;
        padding-bottom: 5px;
    }

    .tableFirstLeft td,
    .tableFirstLeft th {
        text-align: left;
    }

    table.footerCA {
        width: 100%;
    }

    .border {
        border-color: black;
        border-width: 1px;
        border-style: solid;
    }

    .border-rounded {
        border-color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 50px !important;
        padding-left: 20px;
        padding-right: 20px;
    }

    table.headerCA {
        width: 100%;
    }

    table.headerCA td {
        text-align: left;
        border: 1px solid black;
        width: 100%;
    }

    a.active {
        background-color: rgba(128, 128, 128, 0.17);
    }

    td {
        text-align: center;
        font-size: 10px;
    }

    .redDot {
        color: red;
    }

    img {
        width: 50px;
        height: 50px;
        text-align: center;
    }

    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 7px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        text-align: left;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 7px;
        font-weight: normal;
        padding: 0px 1px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

    .tg .tg-s6z2 {
        text-align: center;
        font-size: 11px;
    }

    p {
        text-align: left !important;
    }

    .tg .tg-baqh {
        text-align: center;
        vertical-align: top;
    }

    #rcorners2 {
        position: absolute;
        bottom: 3px;
        width: 100%;
        left: 0;
        border-radius: 25px;
        border: 2px solid #000000;
        padding: 12px;
        width: 99%;
        height: 40px;
        display: inline-block;
    }

    body {
        width: 100%;
        height: 100%;
        background-color: #FAFAFA;
        font-family: Georgia, ‘Times New Roman’, serif;
        font-size: 8pt;
        line-height: 1.0;
        background: rgb(204,204,204);
    }

    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    ul {
        list-style: none;
    }

    li {
        content: "» ";
    }

    page {
        background: white;
        display: block;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }

    page {
        background: white;
        display: block;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }

    @@media print {
        table {
            page-break-after: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        td {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        table.divFooter {
            position: fixed;
            bottom: 0px;
        }

        body, page {
            page-break-after: avoid;
            page-break-before: avoid;
            box-shadow: 0;
        }
    }

    @@page {
        size: auto;
        page-break-after: avoid;
        page-break-before: avoid;
    }

    div.divided {
        width: 50%;
        float: left;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    div.divided33 {
        width: 33%;
        float: left;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .divLabel {
        font-weight: bold;
        font-size: 8px;
    }

    .assinaturaValidacao {
        text-align: left;
        padding-top: 3px;
        position: absolute;
        bottom: 46px;
        width: 100%;
        left: 5px;
        padding: -4px;
        width: 98%;
        height: 17px;
        display: inline-block;
    }

    .formulas {
        position: absolute;
        bottom: 2px;
        width: 100%;
    }

    .formulas td {
        text-align: left;
        font-size: 8px;
    }

    .table-footer {
        border-radius: 25px;
    }

    /*Tabela de formulário*/
    .tableForm {
        margin-top: 4px;
        margin-bottom: 7px;
        float: left;
    }

    .tableForm td {
        font-family: verdana, arial, sans-serif;
        /*font-size: 12px;*/
        text-align: left;
    }

        .tableForm td.title {
            font-weight: bold;
        }

    .tableForm th,
    .tableForm td {
        padding: 4px 4px 4px 4px;
    }

    .tableForm th {
        border-bottom: 2px solid #333333;
    }

    .tableForm td {
        border-bottom: 1px dotted #999999;
    }

    .tableForm tfoot td {
        border-bottom-width: 0px;
        border-top: 2px solid #333333;
        padding-top: 20px;
    }

    /*Tabela Pontos*/
    .tablePontos {
        width: 100%;
    }

    .tablePontos td.pontosLabel {
        border: 1px solid #cccccc;
        text-align: right;
        font-weight: bold;
        width: 110px;
    }

    .tablePontos td.pontoIndex {
        border: 1px solid #cccccc;
        text-align: center;
        font-weight: bold;
        background-color: #dddddd;
    }

    .tablePontos td {
        line-height: 7px;
    }

    .divTableCorrectiveAction {
        margin-left: 4px;
        margin-right: 4px;
    }

    .tableCorrectiveAction {
        margin-top: 4px;
        margin-bottom: 7px;
        width: 100%;
        table-layout: fixed;
    }

    .tableCorrectiveAction td,
    .tableCorrectiveAction th {
        font-family: verdana, arial, sans-serif;
        font-size: 10px;
        text-align: left;
    }

    .tableCorrectiveAction th {
        border-bottom: 2px solid #333333;
    }

    .tableCorrectiveAction td.title {
        font-weight: bold;
    }


    .tableCorrectiveAction td {
        border-bottom: 1px dotted #999999;
        border-width: 1px;
        border-style: dotted;
    }

    .tableCorrectiveAction tfoot td {
        border-bottom-width: 0px;
        border-top: 2px solid #333333;
    }

    .tableCorrectiveAction td.tbodyTd {
        height: 35px;
    }

    .bgRed {
        background-color: rgba(248, 2, 2, 0.29) !important;
        display: block;
    }

    .bgGreen {
        background-color: rgba(0, 128, 0, 0.23) !important;
        display: block;
    }

    .bgYellow {
        background-color: rgba(233, 248, 2, 0.29) !important;
        display: block;
    }

    .bgWhite {
        background-color: white !important;
    }

    td > span.label {
        position: absolute;
    }

</style>

<html xmlns="">
<head>
    <title>Print Recravação</title>

    @Styles.Render("~/bundles/RecravacaoPrintCss")
    @Scripts.Render("~/bundles/RecravacaoPrintJs")

</head>
<body ng-app="sgqSystem">
    <div ng-controller="reencravationCtrl as r">

        <div class="hide collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active" style="margin-left:18px;" ng-repeat="indicador in indicadores track by $index" ng-click="selectIndicador(indicador)">
                    <a href="#" ng-class="{active: indicadorSelecionado.Name == indicador.Name}">
                        <span class="" aria-hidden="true"></span> {{indicador.Name}}
                    </a>
                </li>
                <li class="active" style="margin-left:18px;" ng-repeat="item in linhas track by $index" ng-click="getLinha($index)" ng-show="item.IsActive == 'True'">
                    <a href="#" ng-class="{active: seletedLinha.Name == item.Name}">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> {{item.Name}}
                        <span class="glyphicon glyphicon-sound-stereo" aria-hidden="true"></span>
                        <span ng-if="item.IsStoped" class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="content" style="display: none;">

            <div id="contentHeader">
                <table class="tg">
                    <colgroup>
                        <col style="width: 41px">
                        <col style="width: 75px;">
                        <col style="width: 561px;">
                        <col style="width: 75px;">
                    </colgroup>
                    <tr>
                        <th class="tg-031e" colspan="2" rowspan="4"><img src="~/Imagens/JBS_logo.jpg" /> </th>
                        <th class="tg-s6z2" rowspan="1">Titulo</th>
                        <th class="tg-baqh" colspan="2" rowspan="4">GARANTIA E QUALIDADE LOGO</th>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td style="font-size: 11px;"><strong>Elaborador:</strong> Jaquelina Garcia Menezes -  GQU/BTS</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><strong>Aprovador:</strong> Melina Villa Dantas - GQU/BTS</td>
                    </tr>
                </table>
            </div>

            <div id="contentBody">
                <div class="height-fix">
                    <div class="">
                        <table class="tableForm" style="width: 75%;">
                            <tbody>
                                <tr class="red">
                                    <td class="title">Data de Criação</td>
                                    <td> {{ seletedLinha.StartAuditTime }}</td>
                                    <td class="title">Linha</td>
                                    <td>{{indicadorSelecionado.Name}} - {{seletedLinha.Name}}</td>
                                </tr>
                                <tr>
                                    <td class="title">Produto</td>
                                    <td>{{seletedLinha.form.ProdutoName}}</td>
                                    <td class="title">Código do produto</td>
                                    <td>{{seletedLinha.form.CodProduto}}</td>
                                </tr>
                                <tr>
                                    <td class="title">Hora do início da Produção</td>
                                    <td>{{seletedLinha.form.HoraInicioProducao | date:'HH:mm'}}</td>
                                    <td class="title">Hora do final da Produção</td>
                                    <td>{{seletedLinha.form.HoraFimProducao  | date:'HH:mm'}}</td>
                                </tr>
                                <tr>
                                    <td class="title">Fornecedor da Lata</td>
                                    <td><span ng-repeat="item in seletedLinha.form.FornecedorLata">{{item.Name}}{{$last ? '' : ', '}}</span></td>
                                    <td class="title">Data do recebimento das latas</td>
                                    <td>{{seletedLinha.form.DataRecebimentoLatas | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td class="title">Fornecedor das tampas/fundos das latas</td>
                                    <td><span ng-repeat="item in seletedLinha.form.FornecedorTampaFundoLata">{{item.Name}}{{$last ? '' : ', '}}</span></td>
                                    <td class="title">Data do recebimento das tampas/fundos das latas</td>
                                    <td>{{seletedLinha.form.DataRecebimentoTampasFundosLatas  | date:'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td class="title">Tipo da Lata</td>
                                    <td>{{seletedLinha.form.TipoDeLata.Name}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <img class="lataPtImg img-responsive" src="~/Imagens/Recravacao/{{seletedLinha.TipoDeLata.NumberOfPoints}}pts.jpg" />
                        <div class="clearfix"></div>
                    </div>
                    <div style="height: 200px;" id="div{{($index +1)}}" class="divided" ng-repeat="item in seletedLinha.latas | limitTo:limit:begin track by $index" ng-init="lataIndex = $index; seletedLinha.IsStoped = false">
                        <table style="width:100%;" ng-show="seletedLinha.Id > 0 && seletedLinha.latas.length > 0">
                            <tr>
                                <td style="border:1px solid #cccccc; text-align: left; width:65%; border-right:0px; border-bottom: 0px; font-size: 8px;">
                                    <strong>{{item.Name}}&nbsp;&nbsp;&nbsp; Horário da retirada da linha:</strong> {{item.HoraDaRetiradaDaLata | date: 'HH:mm' }}
                                </td>
                                <td style="border:1px solid #cccccc; text-align: right; width:35%; border-left:0px; border-bottom: 0px; font-size: 8px;">
                                    <strong>Visto:</strong> {{item.userValidacao.Name}}
                                </td>
                            </tr>
                        </table>
                        <table ng-show="seletedLinha.Id > 0 && seletedLinha.latas.length > 0" class="tableFirstLeft tablePontos" style="table-layout:fixed">
                            <tbody>

                                <tr>
                                    <td class="pontosLabel"> Ponto <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></td>
                                    <td class="pontoIndex" style="" ng-repeat="NumberOfPoints in range(seletedLinha.TipoDeLata.NumberOfPoints) track by $index">{{($index+1)}}</td>
                                </tr>
                                <tr ng-repeat="ParLevel3 in item.ListParlevel3 | orderBy : sorterFunc track by $index" ng-class="{level3NameDestacado: (ParLevel3.Id ==  idOVERLAP)}">
                                    <td style="border:1px solid #cccccc;">
                                        {{ParLevel3.Name}}
                                        <span ng-if="ParLevel3.ParLevel3Value[0].ParMeasurementUnit.Name || ParLevel3.ParLevel3Value_OuterList[0].UnidadeMedidaText"
                                              style="font-size:6px!important;font-weight: 100 !important;">
                                            ({{ParLevel3.ParLevel3Value[0].ParMeasurementUnit.Name}}{{ParLevel3.ParLevel3Value_OuterList[0].UnidadeMedidaText}})
                                        </span>
                                    </td>
                                    <td style="max-width: 80px; border:1px solid #cccccc; padding: 1px; text-align: center;"
                                        ng-repeat="NumberOfPoints in range(seletedLinha.TipoDeLata.NumberOfPoints) track by $index"
                                        ng-show="((ParLevel3.IsPointLess == true) || (ParLevel3.IsPointLess == false && $index == 0))"
                                        colspan="{{( ((ParLevel3.IsPointLess == false) && (ParLevel3.ParLevel3Value[0] && ParLevel3.ParLevel3Value[0].ParLevel3InputType_Id == '1'))  ? seletedLinha.TipoDeLata.NumberOfPoints : 1)}}">

                                        <span ng-class="{bgWhite: (!(item.ResultValue[ParLevel3.Id][($index +1)] === true) && !(item.ResultValue[ParLevel3.Id][($index +1)] === false)), bgYellow: (item.ResultValue[ParLevel3.Id][($index +1)] == 'NA'), bgGreen: (item.ResultValue[ParLevel3.Id][($index +1)] === true), bgRed: (item.ResultValue[ParLevel3.Id][($index +1)] === false)}"
                                              ng-if="(ParLevel3.ParLevel3Value[0] && ParLevel3.ParLevel3Value[0].ParLevel3InputType_Id == '1')">
                                            <span>
                                                <span class="validate" ng-if="item.ResultValue[ParLevel3.Id][($index +1)] === true">
                                                    {{ParLevel3.ParLevel3Value[0].ParLevel3BoolTrue.Name}}
                                                </span>
                                                <span class="validate" ng-if="item.ResultValue[ParLevel3.Id][($index +1)] === false">
                                                    {{ParLevel3.ParLevel3Value[0].ParLevel3BoolFalse.Name}}
                                                </span>
                                            </span>
                                        </span>
                                        <span class="validate" ng-if="(ParLevel3.ParLevel3Value[0] && ParLevel3.ParLevel3Value[0].ParLevel3InputType_Id == '2')">
                                            <span>{{item.ResultValue[ParLevel3.Id][($index +1)] || "0"}}</span>
                                        </span>
                                        <span class="validate"
                                              ng-class="{bgWhite:  (item.ResultValue[ParLevel3.Id][($index +1)].length == 0 && !(item.ResultValue[ParLevel3.Id][($index +1)] == 'NA')), bgYellow: (item.ResultValue[ParLevel3.Id][($index +1)] == 'NA'), bgGreen: (item.ResultValue[ParLevel3.Id][($index +1)] != null) && (ParLevel3.ParLevel3Value[0].IntervalMin <= item.ResultValue[ParLevel3.Id][($index +1)] && item.ResultValue[ParLevel3.Id][($index +1)] <= ParLevel3.ParLevel3Value[0].IntervalMax) , bgRed: (item.ResultValue[ParLevel3.Id][($index +1)] != null) && !(ParLevel3.ParLevel3Value[0].IntervalMin <= item.ResultValue[ParLevel3.Id][($index +1)] && item.ResultValue[ParLevel3.Id][($index +1)] <= ParLevel3.ParLevel3Value[0].IntervalMax) }"
                                              ng-if="(ParLevel3.ParLevel3Value[0]  && ParLevel3.ParLevel3Value[0].ParLevel3InputType_Id == '3')">
                                            <span>{{item.ResultValue[ParLevel3.Id][($index +1)]}}</span>
                                            <span style="font-size:9px">
                                                {{(ParLevel3.ParLevel3Value[0].ParMeasurementUnit.Name.indexOf('%') >= 0) ? ParLevel3.ParLevel3Value[0].ParMeasurementUnit.Name : ''}}
                                            </span>
                                        </span>
                                        <label style="word-wrap: break-word;" class="" ng-if="(ParLevel3.ParLevel3Value[0] && ParLevel3.ParLevel3Value[0].ParLevel3InputType_Id == '5')">
                                            {{item.ResultValue[ParLevel3.Id][($index +1)]}}
                                        </label>
                                        <span class="validate"
                                              ng-class="{bgWhite:  (item.ResultValue[ParLevel3.Id][($index +1)].length == 0), bgYellow: (item.ResultValue[ParLevel3.Id][($index +1)] == 'NA'), bgGreen: (item.ResultValue[ParLevel3.Id][($index +1)] != null) && (ParLevel3.ParLevel3Value_OuterList[0].LimInferior <= item.ResultValue[ParLevel3.Id][($index +1)] && item.ResultValue[ParLevel3.Id][($index +1)] <= ParLevel3.ParLevel3Value_OuterList[0].LimSuperior) , bgRed: (item.ResultValue[ParLevel3.Id][($index +1)] != null) && !(ParLevel3.ParLevel3Value_OuterList[0].LimInferior <= item.ResultValue[ParLevel3.Id][($index +1)] && item.ResultValue[ParLevel3.Id][($index +1)] <= ParLevel3.ParLevel3Value_OuterList[0].LimSuperior)}"
                                              ng-if="(ParLevel3.ParLevel3Value_OuterList[0] && ParLevel3.ParLevel3Value_OuterList[0].ParLevel3InputType_Id == '99')">
                                            <span>{{item.ResultValue[ParLevel3.Id][($index + 1)]}}</span>
                                            <span style="font-size:9px">
                                                {{(ParLevel3.ParLevel3Value_OuterList[0].UnidadeMedidaText.indexOf('%') >= 0 && item.ResultValue[ParLevel3.Id][($index + 1)]) ? '%' : ''}}
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="height-fix">
                    <div class="border">
                        <p>AÇÃO CORRETIVA : Ações corretivas adotadas conforme CRF 9 Part 417.3</p>
                        <p>1. Identificar o desvio e eliminá-lo: <u>Caso o overlap esteja abaixo de 1,02mm</u> paralisando e solicitando ajuste do equipamento de recravação ao responsável pelo processo. Se o defeito for causado pela lata de segregar o lote de latas vazias para análise e pos</p>
                        <p>2. Assegurar que o PCC estará sob controle após a ação corretiva: verificar a eficácia da ação corretiva adotada monitorando novamente o PCC previamente ao reinicio da operação;</p>
                        <p>3. Estabelecer medidas para previnir recorrência: informando o desvio ao responsável pelo processo para tomada de ações prevetivas.</p>
                        <p>4. Assegurar que qualquer produto eventualmente adulterado como resultado do desvio não seja comercializado: sequestrar as latas produzidas desde o último monitoriamento para revisão e/ou abertura (descarte - vazamento ou retrabalho para outros defeitos). Registrar a ação no relatório de monitoriamento do APPCC, indicar horário da ocorrência, ação corretiva e rubricar.</p>
                    </div>

                    <div class="divTableCorrectiveAction" style="padding-top: 20px;">

                        <table class="tableCorrectiveAction">
                            <colgroup>
                                <col style="width: 15%">
                                <col style="width: 28.3%;">
                                <col style="width: 28.3%;">
                                <col style="width: 28.3%;">
                            </colgroup>
                            <tr>
                                <th>Hora (1)</th>
                                <th>DEFICIÊNCIA (2)</th>
                                <th>AÇÃO CORRETIVA (3)</th>
                                <th>AÇÃO PREVENTIVA (4)</th>
                            </tr>
                        </table>
                    </div>

                    <div class="divTableCorrectiveAction" ng-repeat="lata in seletedLinha.latas track by $index">
                        <div ng-repeat="acoes in lata.correctiveActionList | limitTo:3 track by $index">

                            <table class="tableCorrectiveAction">
                                <colgroup>
                                    <col style="width: 15%">
                                    <col style="width: 28.3%;">
                                    <col style="width: 28.3%;">
                                    <col style="width: 28.3%;">
                                </colgroup>
                                @*<tr>
                                        <th>Hora (1)</th>
                                        <th>DEFICIÊNCIA (2)</th>
                                        <th>AÇÃO CORRETIVA (3)</th>
                                        <th>AÇÃO PREVENTIVA (4)</th>
                                    </tr>*@
                                <tr>
                                    <td class="tbodyTd">
                                        {{acoes.AddDate}}
                                    </td>
                                    <td class="tbodyTd">
                                        {{acoes.correctiveAction.DescriptionFailure}}
                                    </td>
                                    <td class="tbodyTd">
                                        {{acoes.correctiveAction.ImmediateCorrectiveAction}}
                                    </td>
                                    <td class="tbodyTd">
                                        {{acoes.PreventiveAction.PreventativeMeasure}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>VISTO</strong>
                                    </td>
                                    <td>
                                        {{acoes.correctiveAction.Assinatura.Name}}
                                    </td>
                                    <td>
                                        <strong>HORÁRIO DA LIBERAÇÃO:&nbsp;</strong> {{lata.correctiveAction.HorarioDeLiberacao}}
                                    </td>
                                    <td>
                                        <strong>VISTO: &nbsp;</strong>{{acoes.PreventiveAction.Assinatura.Name}}
                                    </td>
                                </tr>

                            </table>


                        </div>
                    </div>

                    <div ng-if="seletedLinha.ObservacoesList.length > 0" class="divTableCorrectiveAction" style="padding-top: 20px;">

                        <table class="tableCorrectiveAction">
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 80%;">
                            </colgroup>
                            <tr>
                                <th>Hora</th>
                                <th>OBSERVAÇÃO</th>
                            </tr>
                        </table>
                    </div>

                    <div ng-if="!seletedLinha.ObservacoesList || !seletedLinha.ObservacoesList.length">
                        <span class="text-center" style="width: 100%; padding-top: 20px; padding-bottom: 20px;">
                            Nenhuma observação registrada
                        </span>
                    </div>

                    <div ng-if="seletedLinha.ObservacoesList.length > 0" ng-repeat="item in seletedLinha.ObservacoesList | limitTo:999 track by $index">

                        <table class="tableCorrectiveAction" ng-if="item.DescriptionFailure">
                            <colgroup>
                                <col style="width: 20%">
                                <col style="width: 80%;">
                            </colgroup>
                            <tr>
                                <td class="tbodyTd">
                                    {{item.adDate}}
                                </td>
                                <td class="tbodyTd">
                                    <span>{{item.DescriptionFailure}}</span>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <table class="footerCA">
                        <tr>
                            <td height="20px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="1" style="font-size:10px;">
                                    <tbody>
                                        <tr style="height: 100px;">
                                            <td height="20px" width="5%" align="center"></td>
                                            <td width="25%" align="center" style="border-bottom:1px solid black"></td>
                                            <td width="5%" align="center"></td>
                                            <td width="25%" align="center" style="border-bottom:1px solid black"></td>
                                            <td width="5%" align="center"></td>
                                            <td width="25%" align="center" style="border-bottom:1px solid black"></td>
                                            <td width="5%" align="center"></td>
                                        </tr>
                                        <tr>
                                            <td height="20px" width="5%" align="center"></td>
                                            <td width="25%" align="center">Monitor</td>
                                            <td width="5%" align="center"></td>
                                            <td width="25%" align="center">Resp. Setor Enlatamento</td>
                                            <td width="5%" align="center"></td>
                                            <td width="25%" align="center">Garantia de Qualidade</td>
                                            <td width="5%" align="center"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="contentFooter">
                <div class="border-rounded">
                    <table class="table-footer">
                        <tr>
                            <td>
                                <small>
                                    <b>Espaço Livre: </b>0,05 - 0,23 mm <br>
                                    <b>Escareação: </b>Mínimo igual Altura <br>
                                    <b>Altura: </b>2,67 - 3,30 mm <br>
                                    <b>Gancho Corpo: </b>1,78 - 2,23 mm <br>
                                </small>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <small>
                                    <b>Gancho Tampa: </b>1,78 - 2,23 mm <br>
                                    <b>Junção: </b>Mínimo 50% <br>
                                    <b>Teste de ar: </b>Ausência (0% de Vazamento) <br>
                                    <b>Legendas: C</b> - Conforme <b>NC</b> - Não Conforme <b>NA</b> - Não Aplicável
                                </small>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <small>
                                    <b>GC Butting</b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    x 100=% <br>
                                    <u>&nbsp;&nbsp; GC - 1.1 EC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>
                                    ALT - (2,2 ET + 1,1 EC)<br>
                                    Valor Mínimo = 70%
                                </small>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <small>
                                    <b>Procentagem Overlap </b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    x 100 = % <br>
                                    <u>(GC + GT + 1,1 ET) - ALT &nbsp;&nbsp; </u><br>
                                    ALT - (2,2 ET + 1,1 EC) <br>
                                    Valor Mínimo = 45%
                                </small>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <small>
                                    <b>Overlap Calculado </b> </br>
                                    <u>(GC + GT + 1,1 ET) - ALT &nbsp;&nbsp;</u> <br>
                                    Valor Mínimo = 1,02
                                </small>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
</body>
</html>


<script src="~/Scripts/lodash/lodash.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/Math/math.js"></script>
<script src="~/Scripts/Print/print.js"></script>

<script>

    var indicadorId = @Html.Raw(Json.Encode(ViewBag.IndicadorId));
    var linhaId = @Html.Raw(Json.Encode(ViewBag.linhaId));

    var app = angular.module('sgqSystem', []);
    function GetUsuarioId() {
        return $.grep(getCookie('webControlCookie'), function (a, b) {
            return a.indexOf('userId') != -1;
        })[0].split('=')[1];
    }

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift().split('&');
    }

    function GetUnidadeUsuario() {
        return $.grep(getCookie('webControlCookie'), function (a, b) {
            return a.indexOf('CompanyId') != -1;
        })[0].split('=')[1];
    }
    (function () {
        'use strict';

        app.factory('timestampMarker', [function (vm) {
            var timestampMarker = {
                request: function (config) {
                    config.requestTimestamp = new Date().getTime();
                    return config;
                },
                response: function (response) {
                    response.config.responseTimestamp = new Date().getTime();
                    console.log('The request took ' + ((response.config.responseTimestamp - response.config.requestTimestamp) / 1000) + ' seconds.');
                    return response;
                }
            };
            return timestampMarker;
        }]);

        app.factory('loadingOverlay', [function () {
            var loadingOverlay = {
                request: function (config) {
                    //console.log(config)
                    if (config.showLoader)
                        $.LoadingOverlay("show");
                    if (config.showLoader == undefined)
                        $.LoadingOverlay("show");
                    return config;
                },
                response: function (response) {
                    $.LoadingOverlay("hide");
                    return response;
                }
            }
            return loadingOverlay;
        }]);

        app.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.interceptors.push('timestampMarker');
            $httpProvider.interceptors.push('loadingOverlay');
        }]);

        /*
        START ANGULAR MODULE
        */
        app.controller('reencravationCtrl', ['$scope', '$http', '$timeout',
            function ($scope, $http, $timeout) {
                let vm = $scope
                vm.dev = true
                vm.jbsBrasil = false
                //vm.dev = false
                //vm.jbsBrasil = true

                vm.limit = 999
                vm.begins = [0, 6, 12, 18, 24, 30, 36, 42]
                $scope.getNumber = function(num) {
                    if(vm.seletedLinha)
                        if(vm.seletedLinha.latas)
                            if(vm.seletedLinha.latas.length)
                                return new Array(Math.round(parseFloat(vm.seletedLinha.latas.length/vm.limit)));

                    return new Array(0);
                }

                vm.mercado = 1
                vm.limInferiorEspessura
                vm.limSuperiorEspessura
                vm.valorEt
                vm.valorEc
                //vm.idEC = 3320
                //vm.idET = 3319
                //vm.idEspessura = 3314
                //vm.idOVERLAP = 3327

                vm.linhas = [{}]
                vm.produtos = [{}]
                vm.fornecedorLata = [{}]
                vm.fornecedorTampaLata = [{}]
                vm.seletedLinha = { Id: 0 }
                vm.selectedLata = {}
                vm.activeInLine = 0
                vm.getUser = function () {
                    return {
                        Id: GetUsuarioId(),
                        Name: $.grep(getCookie('webControlCookie'), function (a, b) {
                            return a.indexOf('userName') != -1;
                        })[0].split('=')[1],
                        LoadPageTime: moment().format("DD/MM/YYYY HH:mm")

                    }
                }
                vm.userAuditor = vm.getUser()
                vm.getParametrizacaoUrl = '@Url.Action("RecravacaoLinhaApi", "api")'//'http://localhost:57506/api/RecravacaoLinhaApi'

                $scope.sorterFunc = function (item) {
                    //return parseInt(item['Description']);
                    return item['OrderColumn']
                };

                vm.company = GetUnidadeUsuario()

                vm.findWithAttr = function (array, attr, value) {
                    for (var i = 0; i < array.length; i += 1) {
                        if (array[i][attr] == value) {
                            return i
                        }
                    }
                    return -1
                }

                vm.carregaIndicadores = function (showMensagem) {
                    $http({ method: 'GET', url: vm.getParametrizacaoUrl + "?companyId=" + vm.company + "&level1Id=0&linhaId=0" })
                          .then(function (r) {
                              if (r.data.errors) {
                                  r.data.errors.forEach(function (o) {
                                      toastr.error(o)
                                  })
                              } else {
                                  if (showMensagem)
                                      //toastr.success('Indicadores carregados')
                                      vm.indicadores = r.data.model

                                  vm.init()
                              }
                          });
                }


                vm.selectIndicador = function (item, id) {
                    if (id && indicadorId > 0){
                        vm.indicadorSelecionado = vm.findWithAttr(vm.indicadores, 'Id', indicadorId)
                        vm.indicadorSelecionado = vm.indicadores[vm.indicadorSelecionado]
                    }
                    else
                        vm.indicadorSelecionado = item

                    vm.seletedLinha = {}
                    vm.getParametrizacaoLinhas(vm.indicadorSelecionado.Id, true)
                }

                //vm.company = GetUnidadeUsuario()
                vm.getAllLinha = function (index, needFindIndex, showMensagem, loadLinha) {
                    //vm.seletedLinha = vm.linhas[index]
                    //vm.activeInLine = vm.seletedLinha.Id
                    //if (needFindIndex)
                    //    index = vm.findWithAttr(vm.linhas, 'Id', vm.activeInLine);
                    
                    vm.linhas.forEach(function (o, c) {
                        if(o.Id == linhaId){
                            $http({ method: 'POST', url: vm.getParametrizacaoUrl, data: o })
                               .then(function (r) {
                                   if (r.data.errors) {
                                       r.data.errors.forEach(function (o) {
                                           toastr.error(o)
                                       })
                                   } else {
                                       //toastr.success(r.data.resposta)
                                       //console.log(jQuery.parseJSON(r.data.model.ObjectRecravacaoJson))
                                       if (showMensagem)
                                           toastr.success('Recuperadas linhas parametrizadas \n da base de dados')
                                       vm.linhas[c] = r.data.model[0]
                                       vm.linhas[c]["latas"] = []
                                       vm.activeInLine = vm.linhas[c].Id
                                       //vm.executeDocReady(true)
                                       //vm.seletedLinha = { Id: 0 }
                                       //vm.getState()

                                       //if (c == (vm.linhas.length -1))
                                           if (loadLinha) {
                                               vm.activeInLine = linhaId
                                               vm.getLinha(null, linhaId, false)
                                           }
                                   }
                               });
                        }
                        });

                    //vm.executeDocReady(true)
                    //vm.$apply()
                }

                vm.insertPreventiveAction = function () {
                    let lata = vm.selectedLata
                    if (lata["listPreventiveAction"] == undefined) {
                        lata["listPreventiveAction"] = []
                    }
                    if (lata.preventiveAction.length) {
                        lata["listPreventiveAction"].push({ AddDate: moment().format("DD/MM/YYYY HH:mm"), Content: lata.preventiveAction })
                        lata.preventiveAction = ''
                        vm.selectedLata = lata
                        vm.saveState()
                    }
                }

                vm.getParansLinha = function (index, needFindIndex, showMensagem, novaLinha) {
                    //vm.seletedLinha = vm.linhas[index]
                    //vm.activeInLine = vm.seletedLinha.Id
                    //if (needFindIndex)
                    index = vm.findWithAttr(vm.linhas, 'Id', vm.seletedLinha.Id);
                    $http({ method: 'POST', url: vm.getParametrizacaoUrl, data: vm.seletedLinha })
                        .then(function (r) {
                            if (r.data.errors) {
                                r.data.errors.forEach(function (o) {
                                    toastr.error(o)
                                })
                            } else {
                                //toastr.success(r.data.resposta)
                                //console.log(jQuery.parseJSON(r.data.model.ObjectRecravacaoJson))
                                if (showMensagem)
                                    toastr.success('Recuperada linha parametrizada \n da base de dados')
                                vm.linhas[index] = r.data.model[0]
                                vm.linhas[index]["latas"] = []
                                vm.seletedLinha = vm.linhas[index]
                                vm.activeInLine = vm.seletedLinha.Id
                                vm.saveState(undefined, undefined, novaLinha)
                                //vm.executeDocReady(true)
                                //vm.seletedLinha = { Id: 0 }
                                //vm.getState()
                            }
                        });

                    //vm.$apply()
                }

                vm.getLinha = function (index, needFindIndex, showMensagem) {
                    //$.LoadingOverlay("show");
                    if (needFindIndex)
                        index = vm.findWithAttr(vm.linhas, 'Id', vm.activeInLine);
                    vm.seletedLinha = vm.linhas[index]
                    debugger
                    if (vm.seletedLinha['StartAuditTime'])
                        vm.seletedLinha['StartAuditTime'] = moment().format("DD/MM/YYYY HH:mm")

                    $.each( vm.seletedLinha, function( i,o ) {
                        // Do something
                    });

                    vm.seletedLinha['minimoGanchoCorpo'] = "";
                    vm.seletedLinha['maximoGanchoCorpo'] = "";

                    vm.activeInLine = vm.seletedLinha.Id

                    //vm.executeDocReady(true)
                    vm.getState()

                    //vm.$apply()
                }

                vm.selectLata = function (index, haveErr) {
                    vm.selectedLata = vm.seletedLinha.latas[index]
                    if (haveErr)
                        vm.selectedLata.haveErrors = haveErr
                    else
                        vm.selectedLata.haveErrors = false
                }

                vm.range = function (n) {
                    if (n)
                        return new Array(parseInt(n)) //return new Array(parseInt(n) + 1)
                    else
                        return new Array()
                }

                vm.newLata = function (linha) {
                    for (let i = 0; i < linha.NumberOfHeads; i++) {
                        if (linha["counterDeLatas"] == undefined)
                            linha["counterDeLatas"] = 1
                        linha.latas.push({
                            Name: 'Lata - ' + (linha["counterDeLatas"]),
                            finalizado: false,
                            haveErrors: false,
                            ListParlevel3: JSON.parse(JSON.stringify(linha.ListParlevel3)),
                            StartAuditTime: moment().format("DD/MM/YYYY HH:mm"),
                        })
                        linha.counterDeLatas++
                    }
                }
                vm.cloneLataALot = function (linha, index, repeat) {

                    $.LoadingOverlay("show");
                    for (let i = 0; i < repeat; i++) {
                        vm.cloneLata(linha, index)
                    }
                    $.LoadingOverlay("hide", true);

                }
                vm.cloneLata = function (linha, index) {
                    let cloned = JSON.parse(JSON.stringify(linha.latas[index]))
                    cloned.Name = 'Lata - ' + (linha["counterDeLatas"])
                    linha.latas.push(cloned)
                    linha.counterDeLatas++
                }
                vm.deleteLata = function (linha, index, trashBin) {
                    //if (trashBin)
                    //    linha.latasBin.push(linha.latas[index])
                    linha.latas.splice(index, 1)
                }

                vm.saveStateUrl = '@Url.Action("RecravacaoApi", "api")'//'http://localhost:57506/api/RecravacaoApi'
                vm.saveState = function (notShowLabel, notShowLoader, salvoParaInserirNovaLinha) {
                    let model = vm.linhas.filter(function (s) {
                        return s.Id == vm.activeInLine
                    })[0]
                    if (salvoParaInserirNovaLinha)
                        model['SalvoParaInserirColeta'] = true

                    model['User'] = vm.userAuditor

                    $http({ method: 'POST', url: vm.saveStateUrl, data: model, showLoader: notShowLoader ? false : true })
                        .then(function (r) {
                            if (r.data.errors) {
                                r.data.errors.forEach(function (o) {
                                    toastr.error(o)
                                })
                            } else {
                                if (!notShowLabel)
                                    toastr.success(r.data.resposta)
                            }
                        });
                }

                //*Carrega DDLs

                vm.getProdutos = function () {
                    //MOCK
                    vm.produtos = []
                    vm.produtos.push({
                        Name: 'Picanha',
                        Id: 1
                    })
                    vm.produtos.push({
                        Name: 'Contra-filé',
                        Id: 2
                    })
                    vm.produtos.push({
                        Name: 'Filé Mignon',
                        Id: 3
                    })
                }
                vm.getFornecedorLata = function () {
                    //MOCK
                    vm.fornecedorLata = []
                    vm.fornecedorLata.push({
                        Name: 'JBS Lins',
                        Id: 1
                    })
                    vm.fornecedorLata.push({
                        Name: 'Outros',
                        Id: 2
                    })
                }
                vm.tipoLata = function () {
                    //MOCK
                    vm.tipoLataLista = []
                    vm.tipoLataLista.push({
                        Name: 'Litografada',
                        Id: 1
                    })
                    vm.tipoLataLista.push({
                        Name: 'Lata Branca',
                        Id: 2
                    })
                }
                vm.getFornecedorTampaLata = function () {
                    //MOCK
                    vm.fornecedorTampaLata = []
                    vm.fornecedorTampaLata.push({
                        Name: 'JBS Lins',
                        Id: 1
                    })
                    vm.fornecedorTampaLata.push({
                        Name: 'Outros',
                        Id: 2
                    })
                }
                //vm.padroesAcaoCorretiva = function () {
                //    //MOCK
                //    vm.padroesAcaoCorretivaList = []
                //    vm.padroesAcaoCorretivaList.push({
                //        Name: 'JBS Lins',
                //        Id: 1
                //    })
                //    vm.padroesAcaoCorretivaList.push({
                //        Name: 'Outros',
                //        Id: 2
                //    })
                //}

                vm.getFornecedorLata()
                vm.getFornecedorTampaLata()
                vm.getProdutos()
                vm.tipoLata()
                //vm.padroesAcaoCorretiva()

                /*GET Todas as linhas cadastradas*/

                vm.getParametrizacaoLinhas = function (idLevel1, loadLinha) {
                    $http({ method: 'GET', url: vm.getParametrizacaoUrl + "?companyId=" + vm.company + "&level1Id=" + idLevel1 + "&linhaId=" + vm.activeInLine, showLoader: true })
                        .then(function (r) {
                            if (r.data.errors) {
                                r.data.errors.forEach(function (o) {
                                    toastr.error(o)
                                })
                            } else {
                                vm.linhas = r.data.model
                                vm.linhas.forEach(function (o, c) {
                                    o["latas"] = []
                                })

                                vm.getAllLinha(null,null, false, loadLinha)

                            }
                        });
                }

                /*GET os Dados das linhas cadastradas*/
                vm.getState = function () {
                    $http({ method: 'GET', url: `${vm.saveStateUrl}?companyId=${vm.company}&level1Id=${vm.indicadorSelecionado.Id}&linhaId=${vm.activeInLine}` })
                        .then(function (r) {
                            if (r.data.errors) {
                                r.data.errors.forEach(function (o) {
                                    toastr.error(o)
                                })
                            } else {
                                let linhasSalvas = r.data.model
                                let novaLinha = []
                                let o = vm.seletedLinha

                                var objetoSalvo = linhasSalvas.filter(function (objArr) {
                                    let s = jQuery.parseJSON(objArr.ObjectRecravacaoJson)
                                    if (s.Id == o.Id && (o.IsActive == "True" || o.IsActive == true) && (s.IsActive == "False" || s.IsActive == false))
                                        s.IsActive = "True"
                                    else if (s.Id == o.Id && (o.IsActive == "False" || o.IsActive == false) && (s.IsActive == "True" || s.IsActive == true))
                                        s.IsActive = "False"

                                    return s.Id == o.Id
                                });
                                if (objetoSalvo.length)
                                    novaLinha.push(JSON.parse(JSON.stringify(jQuery.parseJSON(objetoSalvo[0].ObjectRecravacaoJson))))
                                else
                                    novaLinha.push(JSON.parse(JSON.stringify(o)))

                                vm.seletedLinha = JSON.parse(JSON.stringify(novaLinha))[0]

                                vm.seletedLinha.latas = []
                                if (r.data.latasId) {
                                    r.data.latasId.forEach(function (o) {
                                        vm.getLata(o.Id);
                                    });
                                }

                                if (vm.seletedLinha.form) {
                                    if (vm.seletedLinha.form.HoraInicioProducao)
                                        vm.seletedLinha.form.HoraInicioProducao = new Date(vm.seletedLinha.form.HoraInicioProducao)

                                    if (vm.seletedLinha.form.HoraFimProducao)
                                        vm.seletedLinha.form.HoraFimProducao = new Date(vm.seletedLinha.form.HoraFimProducao)

                                    if (vm.seletedLinha.form.DataRecebimentoLatas)
                                        vm.seletedLinha.form.DataRecebimentoLatas = new Date(vm.seletedLinha.form.DataRecebimentoLatas)

                                    if (vm.seletedLinha.form.DataRecebimentoTampasFundosLatas)
                                        vm.seletedLinha.form.DataRecebimentoTampasFundosLatas = new Date(vm.seletedLinha.form.DataRecebimentoTampasFundosLatas)
                                }

                                let index = vm.findWithAttr(vm.linhas, 'Id', vm.seletedLinha.Id);
                                vm.linhas[index] = vm.seletedLinha

                                vm.seletedLinha = vm.linhas[index]
                                vm.activeInLine = vm.seletedLinha.Id

                                $.LoadingOverlay("hide", true);
                                vm.executeDocReady()
                                setTimeout(function () {
                                    jsPOH.Inicializar(
                                        {
                                            headerHtml: document.getElementById('contentHeader').innerHTML,
                                            bodyHtml: document.getElementById('contentBody').innerHTML,
                                            footerHtml: document.getElementById('contentFooter').innerHTML,
                                            numberMarginRight: 25,
                                            numberMarginBottom: 25,
                                            renderTableMargin: 0,
                                            pageMarginHeader: "25 25 10 25",
                                            pageMarginFooter: "10 25 25 25",
                                            pageMarginBody: "0 25 0 25"
                                        }
                                    );
                                    jsPOH.Imprimir();
                                }, 1000)
                            }
                        });
                }

                vm.getLata = function (id) {
                    $http({ method: 'GET', url: `${vm.saveStateUrl}?recravacaoLataJsonId=${id}` })
                        .then(function (r) {
                            if (r.data.errors) {
                                r.data.errors.forEach(function (o) {
                                    toastr.error(o)
                                })
                            } else {
                                let o = JSON.parse(JSON.stringify(jQuery.parseJSON(r.data.model.ObjectRecravacaoJson)));
                                o.HoraDaRetiradaDaLata = new Date(o.HoraDaRetiradaDaLata)
                                if (o.HoraDaRetiradaDaLata == 'Invalid Date')
                                    o.HoraDaRetiradaDaLata = '';
                                vm.seletedLinha.latas.push(o);

                                vm.seletedLinha.latas = _.orderBy(vm.seletedLinha.latas, ['counter'], ['asc']);
                            }
                        });
                }

                //Não utilizado ainda
                vm.getFormula = function (expressaoArr) {
                    let expressaoFinal = ''
                    //expressaoArr.forEach(function(o, c){
                    for (var i = 0; i < expressaoArr.length; i++) {
                        let o = expressaoArr[i]
                        if (o.Operator == "dados") {
                            expressaoFinal += `(${o.OuterLevel3_Text}) `
                        } else {
                            expressaoFinal += `${o.Operator} `
                        }
                    }
                    //})
                    return expressaoFinal
                }

                //REAL TIME NA INSERÇÃO DE DADOS

                //OTIMIZAR
                vm.geraIdCalc = function (ind, expressaoArr, lataIndex, parlevel3Name) {
                    let expressaoFinal = ''
                    let expressaoCompleta = ''
                    var teste = []
                    let indexMaisUm = ind + 1
                    if (expressaoArr.length == 0)
                        return;

                    for (var i = 0; i < expressaoArr.length; i++) {
                        let o = expressaoArr[i]
                        if (o.Operator == "dados") {
                            let id = `#${o.OuterLevel3_Text}${indexMaisUm}`.replace(/ /g, '').replace('.', '')
                            let valor = parseFloat($(id).val())
                            if (isNaN(parseFloat(valor))) {
                                return ""
                            }
                            expressaoFinal += valor
                        } else {
                            //expressaoCompleta += `${o.Operator}`
                            expressaoFinal += `${o.Operator}`
                        }
                    }

                    let result = math.eval(expressaoFinal.replace(/\s/g, '').replace('=', ''))

                    if (isNaN(result)) {
                        return ""
                    } else {
                        let floatValue = parseFloat(result.toFixed(2))

                        if (vm.selectedLata.ResultValue[parlevel3Name] == undefined)
                            vm.selectedLata.ResultValue[parlevel3Name] = {}

                        vm.selectedLata.ResultValue[parlevel3Name][(indexMaisUm)] = floatValue

                        return floatValue
                    }
                }
                //FIM REAL TIME NA INSERÇÃO DE DADOS

                vm.resultObj = {}
                vm.SetResult = function (result, data, index) {
                    let key = "ParLevel3_Id" + data.ParLevel3_Id.toString() + "ParLevel3Value_Id" + data.Id.toString() + "PontoIndex" + (index + 1)
                    vm.resultObj[key] = { valor: result, ParLEvel3_Id: data.ParLevel3_Id, ParLevel3Value_Id: data.Id }
                }

                //OTIMIZAR
                vm.checkTableBgRed = function ($event) {
                    //console.log($event)
                    vm.selectedLata.haveErrors = $($event.currentTarget).parents('.modal').find('table').find('.bgRed').length ? true : false
                    console.log(vm.selectedLata)
                    console.log(vm.selectedLata.haveErrors)
                }

                //DEPRECIADO
                vm.saveAndClose = function (item, remove) {
                    //console.log(item)
                    //item["liberaAssinaturaLata"] = false
                    let vmItem = item
                    let index = vm.seletedLinha.latas.indexOf(item)
                    let numeroDePontos = vm.seletedLinha.TipoDeLata.NumberOfPoints

                    vm.saveState()
                    return true

                    item = vmItem
                    vm.saveState()
                    return true
                }

                vm.validateUserUrl = '@Url.Action("AuthenticationLogin", "api/User")'//"http://localhost:57506/api/User/AuthenticationLogin"
                //vm.user = { Name: "camilaprata-mtz", Password: "sgq345", Obs: "" }
                vm.user = { Name: "", Password: "" }
                vm.validateUserLata = function () {
                    $http({ method: 'POST', url: vm.validateUserUrl, data: vm.user })
                        .then(function (r) {
                            if (r.data.Retorno) {
                                vm.user = { Name: "", Password: "" }
                                toastr.success("Usuário validado com sucesso!")
                                r.data.Retorno.ParCompanyXUserSgq = []
                                vm.selectedLata.userValidacao = r.data.Retorno
                                vm.selectedLata.dataUserValidacao = moment().format("DD/MM/YYYY HH:mm")
                                vm.selectedLata.finalizado = !vm.selectedLata.finalizado
                                $('.modal').modal('hide')
                                vm.saveState()
                            }
                            else {
                                toastr.error("Usuário ou Senha Inválidos")
                                console.log(r.Mensagem)
                                console.log(r.MensagemExcecao)
                            }
                        });
                }

                vm.validateLine = function () {
                    $http({ method: 'POST', url: vm.validateUserUrl, data: vm.user })
                        .then(function (r) {
                            if (r.data.Retorno) {
                                vm.user = { Name: "", Password: "" }
                                toastr.success("Usuário validado com sucesso!")
                                r.data.Retorno.ParCompanyXUserSgq = []
                                vm.seletedLinha.userValidacao = r.data.Retorno
                                vm.seletedLinha.dataUserValidacao = moment().format("DD/MM/YYYY HH:mm")
                                vm.seletedLinha.isValidated = true
                                vm.seletedLinha.obs = vm.user.Obs
                                $('.modal').modal('hide')
                                let naoFinalizados = vm.seletedLinha.latas.filter(r=> { return !r.finalizado })
                                naoFinalizados.forEach(function (o, c) {
                                    vm.deleteLata(vm.seletedLinha, vm.seletedLinha.latas.indexOf(o))
                                })
                                vm.saveState()
                            }
                            else {
                                toastr.error("Usuário ou Senha Inválidos")
                                console.log(r.Mensagem)
                                console.log(r.MensagemExcecao)
                            }
                        });
                }

                vm.finsihLine = function () {
                    $http({ method: 'POST', url: vm.validateUserUrl, data: vm.user })
                        .then(function (r) {
                            if (r.data.Retorno) {
                                vm.user = { Name: "", Password: "" }
                                toastr.success("Usuário validado com sucesso!")
                                r.data.Retorno.ParCompanyXUserSgq = []
                                vm.seletedLinha.userFinish = r.data.Retorno
                                vm.seletedLinha.dataUserFinish = moment().format("DD/MM/YYYY HH:mm")
                                vm.seletedLinha.finalizado = true
                                vm.seletedLinha.obs = vm.user.Obs
                                $('.modal').modal('hide')
                                vm.saveState()
                            }
                            else {
                                toastr.error("Usuário ou Senha Inválidos")
                                console.log(r.Mensagem)
                                console.log(r.MensagemExcecao)
                            }

                        });
                }

                //vm.getParametrizacaoLinhas()
                vm.carregaIndicadores(true)

                vm.executeDocReady = function (executaVerificacaoParaAcao, save, notShowLabel, notShowLoader) {
                    setTimeout(function () { vm.docReady(executaVerificacaoParaAcao, save, notShowLabel, notShowLoader) }, 325)
                }

                vm.docReady = function (executaVerificacaoParaAcao, save, notShowLabel, notShowLoader) {
                    //$('select').select2({ allowClear: true })
                    //$('.decimal').each(function (index) {
                    //    $(this).inputmask("decimal", {
                    //        rightAlign: true, radixPoint: ',', greedy: false, mask: "9[.99]", digits: 2, allowMinus: false, digitsOptional: false,
                    //        oncomplete: function (e) {
                    //            var currVal = $(e.currentTarget).inputmask('unmaskedvalue');
                    //            if (currVal.length == 4) {
                    //                //$(this).next('.inputs').focus().select();
                    //                $(this).closest('td').next().find('input').focus().select();
                    //            }
                    //        }
                    //    });
                    //})

                    //$('.percentage').each(function (index) {
                    //    $(this).val($(this).val().replace(',', '.'));
                    //    $(this).inputmask('Regex', {
                    //        regex: "^[1-9][0-9]?$|^100$", rightAlign: true,
                    //        oncomplete: function (e) {
                    //            //var currVal = $(e.currentTarget).inputmask('unmaskedvalue');
                    //            //if (currVal <= 100currVal.length == 2) {
                    //            //    //$(this).next('.inputs').focus().select();
                    //            //    $(this).closest('td').next().find('input').focus().select();
                    //            //}else if (currVal.length == 3)
                    //            //    $(this).closest('td').next().find('input').focus().select();
                    //        }
                    //    });
                    //})

                    //$(".time").inputmask({
                    //    alias: 'hh:mm t',
                    //    showMaskOnHover: false,
                    //    showMaskOnFocus: false,
                    //    //oncomplete: function(){  },
                    //})

                    if (executaVerificacaoParaAcao) {
                        vm.seletedLinha.HaveCorrectiveAction = false
                        /*PELO AMOR DE TUDO QUE É MAIS SAGRADO!!!! REMOVER ESTA FUNCIONALIDADE DAQUI E FAZER DE FORMA DESCENTE! CELSO GEA, OBS FUI EU QUE FIZ ISTO.....*/
                        for (let i = 0; i < $('[name=visualizacao]').length; i++) {
                            let table = $('[name=visualizacao]')[i]

                            if ($(table).find('.bgRed:not(.bgWhite, .bgYellow)').length) {
                                vm.seletedLinha.latas[i].showCorrectiveAction = true
                                vm.seletedLinha.HaveCorrectiveAction = true
                            }
                            else
                                vm.seletedLinha.latas[i].showCorrectiveAction = false //$(table).parent().find('#correctiveActionBtn').addClass('ng-hide')

                            vm.seletedLinha.latas[i].liberaAssinaturaLata = ($.grep($(table).find('.validate:visible'), function (o, c) {
                                return $(o).text().length == 0
                            }).length == 0)
                        }
                    }

                    var keyCodes = {
                        'up': 38,
                        'down': 40,
                        'left': 37,
                        'rigth': 39
                    };

                    $(document).ready(function () {
                        $('input').off('keyup').on('keyup', function (e) {
                            if (e.which == keyCodes.rigth)
                                $(this).closest('td').next().find('input').focus().select();
                            else if (e.which == keyCodes.left)
                                $(this).closest('td').prev().find('input').focus().select();
                            else if (e.which == keyCodes.down) {
                                var nextTr = $(this).closest('tr').next()
                                if (nextTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').length == 0) {
                                    while (nextTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').length == 0 && nextTr.length != 0) {
                                        nextTr = nextTr.closest('tr').next()
                                        if (nextTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').length == 1) {
                                            if (nextTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input:visible').length) {
                                                nextTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').focus().select();
                                                return
                                            }
                                            else {
                                                nextTr.find('input').focus().select();
                                                return
                                            }
                                        }
                                    }
                                }
                                else {
                                    nextTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').focus().select();
                                }
                            }
                            else if (e.which == keyCodes.up) {
                                var prevTr = $(this).closest('tr').prev()
                                if (prevTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').length == 0) {
                                    while (prevTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').length == 0 && prevTr.length != 0) {
                                        prevTr = prevTr.closest('tr').prev()
                                        if (prevTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').length == 1) {
                                            if (prevTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input:visible').length) {
                                                prevTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').focus().select();
                                                return
                                            }
                                            else {
                                                prevTr.find('input').focus().select();
                                                return
                                            }
                                        }
                                    }
                                }
                                else {
                                    prevTr.find('td:eq(' + $(this).closest('td').index() + ')').find('input').focus().select();
                                }
                            }
                        });
                    });

                    if (save)
                        vm.saveState(notShowLabel, notShowLoader)
                }

                vm.newCorrectiveAction = function () {
                    if (vm.selectedLata.correctiveAction == undefined)
                        vm.selectedLata.correctiveAction = {
                            AddDate: moment().format("DD/MM/YYYY HH:mm"),
                            userAuditor: vm.getUser()
                        }
                }

                vm.AssinaCorrectiveAction1 = function (item) {
                    //vm.selectedLata.correctiveAction.Assinatura1.IsAssinada
                    $http({ method: 'POST', url: vm.validateUserUrl, data: vm.selectedLata.correctiveAction.Assinatura1 })
                       .then(function (r) {
                           if (r.data.Retorno) {
                               vm.user = { Name: "", Password: "" }
                               toastr.success("Usuário validado com sucesso!")
                               r.data.Retorno.ParCompanyXUserSgq = []
                               vm.selectedLata.correctiveAction.IsAssinada = true
                               vm.saveState()
                               $('.modal').modal('hide')
                               vm.seletedLinha.IsStoped = true;
                               vm.TimerOn(false, vm.saveState(true, true))

                           }
                           else {
                               vm.selectedLata.correctiveAction.IsAssinada = false
                               toastr.error("Usuário ou Senha Inválidos")
                               console.log(r.Mensagem)
                               console.log(r.MensagemExcecao)
                               vm.saveState(true, true)
                           }
                       });
                }

                vm.TimerOn = function (isLoadData, cb) {
                    if (isLoadData) {
                        vm.seletedLinha.TimeoutParadaLinha = $timeout($scope.onTimeout, 1000);
                    } else if (vm.seletedLinha.IsStoped) {
                        vm.seletedLinha.ExcedidoTempoLimite = false
                        vm.seletedLinha.StartParadaDeLinha = moment();
                        vm.seletedLinha.TimeoutParadaLinha = $timeout($scope.onTimeout, 1000);
                    }
                    if (cb)
                        cb()
                }

                vm.TimerOff = function () {
                    let diffTime = moment().diff(vm.seletedLinha.StartParadaDeLinha)
                    let duration = moment.duration(diffTime);
                    let //years = duration.years(),
                        days = duration.days(),
                        hrs = duration.hours(),
                      mins = duration.minutes(),
                      secs = duration.seconds();
                    vm.seletedLinha.TempoDeLinhaParada = (/*years + ' years ' + */days + ' days ' + hrs + ' hrs ' + mins + ' mins ' + secs + ' sec');
                    $timeout.cancel(vm.seletedLinha.mytimeout);
                }

                $scope.onTimeout = function () {
                    let diffTime = moment().diff(vm.seletedLinha.StartParadaDeLinha)
                    let duration = moment.duration(diffTime);
                    let //years = duration.years(),
                        days = duration.days(),
                        hrs = duration.hours(),
                      mins = duration.minutes(),
                      secs = duration.seconds();

                    //if (hrs > 1)
                    //    vm.seletedLinha.ExcedidoTempoLimite = true

                    //SEM MOCK
                    if (hrs > 1 || days > 0)
                        vm.seletedLinha.ExcedidoTempoLimite = true
                    else
                        vm.seletedLinha.ExcedidoTempoLimite = false

                    //MOCK PARA Testes
                    if (secs > 10)
                        vm.seletedLinha.ExcedidoTempoLimite = true
                    else
                        vm.seletedLinha.ExcedidoTempoLimite = false

                    vm.seletedLinha.LinhaParadaTimer = (/*years + ' years ' + */days + ' Dias ' + hrs + ' Horas ' + mins + ' Minutos ' + secs + ' Segundos');
                    vm.seletedLinha.mytimeout = $timeout($scope.onTimeout, 1000);
                }

                vm.generateIdParaOutroCalculado = function (ParLevel3, index) {
                    return ((ParLevel3.Id + " - " + ParLevel3.Name + (index + 1)).replace(/ /g, '').replace('.', ''))
                }

                vm.saveLogParada = function () {
                    if (vm.seletedLinha.logParada == undefined)
                        vm.seletedLinha.logParada = []

                    vm.seletedLinha.logParada.push(vm.copyObj(vm.seletedLinha.RegistroParada))
                    vm.seletedLinha.RegistroParada = {}
                    vm.TimerOff()
                    vm.saveState()
                }

                vm.copyObj = function (obj) {
                    return JSON.parse(JSON.stringify(obj))
                }

                vm.parseDate = function (date) {
                    return new Date(date);
                }

                vm.parseDateV2 = function (date) {
                    date = new Date(date);
                }

                /*Não utilizado*/
                vm.init = function () {
                    // check if there is query in url
                    // and fire search in case its value is not empty
                    vm.selectIndicador(null, true)
                };

                function init() {

                    if (vm.dev) {
                        vm.idEC = 1263
                        vm.idET = 1264
                        vm.idEspessura = 1254
                        vm.idOVERLAP = 1262
                    } if (vm.jbsBrasil) {
                        vm.idEC = 3320
                        vm.idET = 3319
                        vm.idEspessura = 3314
                        vm.idOVERLAP = 3327
                    }
                }
                init();

                vm.$watch('$viewContentLoaded',
                    function () {
                        setTimeout(function () {
                            //do something
                            //vm.executeDocReady()
                        }, 0);
                    });

                //vm.getParametrizacaoZeraColeta = function () {
                //    $http({ method: 'GET', url: vm.getParametrizacaoUrl + "?Company=" + vm.company })
                //        .then(function (r) {
                //            if (r.data.errors) {
                //                r.data.errors.forEach(function (o) {
                //                    toastr.error(o)
                //                })
                //            } else {
                //                //toastr.success(r.data.resposta)
                //                //console.log(jQuery.parseJSON(r.data.model.ObjectRecravacaoJson))
                //                toastr.success('Recuperadas linhas parametrizadas \n da base de dados')
                //                vm.linhas = r.data.model
                //                vm.linhas.forEach(function (o, c) {
                //                    o["latas"] = []
                //                })
                //                setTimeout(function () { $('select').select2() }, 200)
                //                vm.seletedLinha = { Id: 0 }
                //                //vm.getState()
                //            }
                //        });
                //}

                /*Não utilizado FIM*/

            }])
            .filter('mathPow', function () {
                return function (base, exponent) {
                    return Math.pow(10, exponent);
                }
            })
            .filter('mathPowRev', function () { // Implementar!!!
                return function (base, exponent) {
                    return Math.pow(10, exponent);
                }
            })
            .filter('calculadoPorOutro', function () { // Implementar!!!
                return function (expressaoArr, index, lataIndex, resultNaLata) {
                    let expressaoFinal = ''
                    var teste = []
                    let indexMaisUm = index + 1
                    //expressaoArr.forEach(function (o, c) {
                    for (var i = 0; i < expressaoArr.length; i++) {
                        let o = expressaoArr[i]
                        if (o.Operator == "dados") {
                            let id = `#ParLevel3_Id${o.OuterLevel3_Id}ParLevel3Value_Id${o.OuterLevel3Value_Id}PontoIndex${indexMaisUm}LataIndex${lataIndex}`
                            let valor = parseFloat($(id).val())
                            if (isNaN(parseFloat(valor))) {
                                return ""
                            }
                            expressaoFinal += valor
                        } else {
                            expressaoFinal += `${o.Operator}`
                        }
                    }
                    //})

                    let result = math.eval(expressaoFinal.replace(/\s/g, '').replace('=', ''))
                    return isNaN(result) ? "" : parseFloat(result.toFixed(2))
                    //return vm.addbits(expressaoFinal.replace(/\s/g, ''))
                }
            })
            .filter('reverseAnything', function () {
                return function (items) {
                    if (typeof items === 'undefined') { return; }
                    return angular.isArray(items) ?
                      items.slice().reverse() : // If it is an array, split and reverse it
                      (items + '').split('').reverse().join(''); // else make it a string (if it isn't already), and reverse it
                };
            })
            .directive('tables', ['$timeout', function ($timeout) {
                return function (scope, element, attrs) {
                    if (scope.$last) {
                        //window.alert("im the last!");
                        //$timeout(scope.$emit(scope.executeDocReady(true)), 200);
                    }
                };
            }])
            .directive('correctiveaction', function () {
                return {
                    scope: {
                        ca: '=lataca'
                    },
                    template: `<div class="alert alert-warning {{$parent.formDefault6}}" style="min-height: 284px;padding-top: 0px !important;">
                                <strong>Ação Corretiva</strong>
                                <div>
                                    <label>Ação Corretiva: </label><span ng-show="!(ca.ImmediateCorrectiveAction)" class="redDot">* Campo Obrigatório</span>
                                    <label ng-show="$parent.seletedLinha.correctiveAction.HorarioDeParada"> Ás {{seletedLinha.correctiveAction.HorarioDeParada}} a linha {{seletedLinha.Name}} foi paralizada: </label>
                                    <textarea ng-disabled="ca.IsAssinada"
                                              ng-model="ca.ImmediateCorrectiveAction"
                                              class="form-control custom-control"
                                              rows="3"
                                              style="resize:none; overflow-x: hidden"></textarea>
                                </div>
                                <div>
                                    <div ng-show="ca.IsAssinada">
                                        <button type="button"
                                                style="margin-top: 67px;"
                                                class="btn btn-primary"
                                                ng-click="ca.IsAssinada = false">
                                            Editar Ação Corretiva
                                        </button>
                                    </div>
                                    <div ng-hide="ca.IsAssinada">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Nome de Usuário"
                                               ng-model="ca.Assinatura.Name" />
                                        <input type="password"
                                               class="form-control"
                                               placeholder="Senha"
                                               ng-model="ca.Assinatura.Password" />
                                        <button type="button"
                                                class="btn btn-primary"
                                                title="Preencha o campo Ação Corretiva para liberar a Assinatura"
                                                ng-disabled="(!(ca.ImmediateCorrectiveAction))"
                                                ng-click="$parent.AssinaCorrectiveAction1(ca)">
                                            Assinar Ação Corretiva
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>`
                }
            })
            .directive('preventiveaction', function () {
                return {
                    scope: {
                        pa: '=latapa'
                    },
                    template: `<div class="alert alert-success {{$parent.formDefault6}}" style="min-height: 284px;padding-top: 0px !important;">
                                <h3>Ação Preventiva</h3>
                                <div>
                                    <label>Acão Preventiva:</label>
                                    <textarea ng-disabled="pa.IsAssinada"
                                              ng-model="pa.PreventativeMeasure"
                                              class="form-control custom-control"
                                              rows="3"
                                              style="resize:none; overflow-x: hidden"></textarea>
                                </div>
                                <div>
                                    <div ng-show="pa.IsAssinada">
                                        <button type="button"
                                                style="margin-top: 67px;"
                                                class="btn btn-primary"
                                                ng-click="pa.IsAssinada = false">
                                            Editar Ação Preventiva
                                        </button>
                                    </div>
                                    <div ng-show="!pa.IsAssinada">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Nome de Usuário"
                                               ng-model="pa.Assinatura.Name" />
                                        <input type="password"
                                               class="form-control"
                                               placeholder="Senha"
                                               ng-model="pa.Assinatura.Password" />
                                        <button type="button"
                                                class="btn btn-primary"
                                                title="Preencha o campo Ação Preventiva para liberar a Assinatura"
                                                ng-disabled="(pa.IsAssinada || !pa.PreventativeMeasure)"
                                                ng-click="$parent.AssinaPreventiveAction()">
                                            Assinar Ação Preventiva
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>`
                }
            })

    })();
</script>

