@model IEnumerable<Dominio.AppScript>

@{
    ViewBag.Title = "Scripts";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Scripts</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">Scripts</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">

                                <p>
                                    @Html.ActionLink(Resources.Resource._novo as string, "Create", null, new { @class = "btn btn-primary" })
                                </p>
                                <table class="table" id="tabelaScripts">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Resources.Resource.version
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ArchiveName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Script)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Version)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ArchiveName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Script)
                                                </td>
                                                <td>
                                                    @Html.ActionLink(Resources.Resource.edit as string, "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                                    @*@Html.ActionLink(Resources.Resource.details, "Details", new { id = item.Id }) |*@
                                                    @*@Html.ActionLink(Resources.Resource.delete, "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar4");

</script>

<script>
     $(document).ready(function () {
         closeLeftSidebar();
         DataTableComResourcesEpropriedadesjaSetadas.aoColumns = [
             null,
             null,
             null,
             { "bSearchable": false }
         ];
         $('#tabelaScripts').dataTable(DataTableComResourcesEpropriedadesjaSetadas);
    });
</script>
