@model IEnumerable<Dominio.ParStructure>

@{
    ViewBag.Title = Resources.Resource.organizational_structure;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.organizational_structure</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.organizational_structure</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="setup_tab">
                                <p>
                                    @Html.ActionLink( "Nova " + Resources.Resource.organizational_structure, "Create", null, new { @class = "btn btn-primary" })
                                </p>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @* @Html.DisplayNameFor(model => model.ParStructureGroup.Name)*@
                                            Grupo de Estrutura
                                        </th>
                                        <th>
                                            @Resources.Resource.name
                                        </th>
                                        <th>
                                            @Resources.Resource.description
                                        </th>
                                        <th>
                                            Estrutura Pai
                                        </th>
                                        <th>
                                            @Resources.Resource.is_active
                                        </th>
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.AddDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AlterDate)
                                        </th>*@
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ParStructureGroup.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ParStructureParent.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Active)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.AddDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AlterDate)
                                            </td>*@
                                            <td>
                                                @Html.ActionLink(Resources.Resource.edit, "Edit", new { id = item.Id }, new { @class = "btn btn-success" })
                                                @*@Html.ActionLink(Resources.Resource.details, "Details", new { id = item.Id }, new { @class = "btn btn-info" })*@
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
