@model Dominio.LeftControlRole

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 600px;">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title">
            @ViewBag.Title
        </h1>
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="@Url.Action("LeftControlRole", "Role")">@Resources.Resource.left_menu_control</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.edit</span>
                </li>
            </ul>
            
        </div>
        <!-- END PAGE BAR -->
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-share font-dark"></i>
                            <span class="caption-subject font-dark bold uppercase">@Resources.Resource.left_menu_control</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">

                            <div class="tab-pane active" id="setup_tab">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group hide">
                                        <div class="col-md-10">
                                            @Html.EditorFor(Model => Model.Id, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.controller, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(Model => Model.Controller, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.action, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(Model => Model.Action, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.Label(Resources.Resource.role, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(Model => Model.Role, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="button" id="btnSave" class="btn btn-default">@Resources.Resource.save</button>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>



                            <div>
                                @Html.ActionLink(Resources.Resource.back_to_list, "LeftControlRole")
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar15");

    $(document).on("click", "#btnSave", function () {

        var valid = true;

        if ($("#Controller").val().trim() == "") {
            openMessageModal('@Resources.Resource.controller_required', '');
            return;
        }

        if ($("#Action").val().trim() == "") {
            openMessageModal('@Resources.Resource.action_required', '');
            return;
        }

        $.post("@Url.Action("SaveLeftControlRole", "Role")", $('form').serializeObject(), function (retorno) {
                openMessageModal(retorno, '');
        })
    });

    $(document).ready( function () {
    })

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
