@using SgqSystem.Helpers
<div>
    <button class="btn btn-primary" onclick="indexScreenComponent.openComponent()">@Resources.Resource.new_component</button>

    <table class="table margin-top">
        <thead>
            <tr>
                <th style="width:30%">@Resources.Resource.hashkey</th>
                <th style="width:30%">@Resources.Resource.component</th>
                <th style="width:30%">@Resources.Resource.type</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody id="tbodySC">
            @foreach (var component in ViewBag.listaScreenComponent)
            {
                <tr>
                    <td id="ScreenComponentRow_@component.Id" class="hide">
                        @component.Id
                    </td>
                    <td>
                        @component.HashKey
                    </td>
                    <td>
                        @component.Component
                    </td>
                    <td>
                        @if(component.RoleType != null)
                        {
                            @component.RoleType.Type;
                        }
                    </td>
                    <td>
                        <button onclick="indexScreenComponent.openComponent(@component.Id)" class="btn btn-primary btn-sm">@Resources.Resource.edit</button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>

    <div class="modal fade" id="modalScreenComponent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Resource.new_component</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <form id="formScreenComponent">
                                <div class="form-group hide">
                                    <label>@Resources.Resource.id</label>
                                    <input type="number" name="Id" class="form-control input-sm">
                                </div>
                                <div class="form-group">
                                    <label>@Resources.Resource.hashkey</label>
                                    <input type="text" name="HashKey" class="form-control input-sm">
                                </div>
                                <div class="form-group">
                                    <label>@Resources.Resource.component</label>
                                    <input type="text" name="Component" class="form-control input-sm">
                                </div>
                                <div class="form-group">
                                    <label>@Resources.Resource.type</label>
                                    @Html.DropDownList("Type", new SelectList(ViewBag.listaRoleType, "Id", "Type"), Resources.Resource.select + "...", new {@class = "form-control input-sm" })
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.close</button>
                    <button type="button" class="btn btn-primary" onclick="indexScreenComponent.saveComponent()">@Resources.Resource.save</button>
                </div>
            </div>
        </div>
    </div>


</div>
