@{
    var urlDataCollection = Url.Action("", "DataCollect");
    var urlManagement = Url.Action("CorrectiveActionReport", "Reports");
    var urlCustomization = Url.Action("Index", "Params");
    var version = ViewBag.Asembly;
}

<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="min-height: 525px; padding: 32px;">
    <div class="center-main row">
        <div class="col-xs-4"><div class="center-button"><a href="@urlDataCollection">@Resources.Resource.data_collection</a></div></div>
        <div class="col-xs-4"><div class="center-button"><a href="@urlManagement">@Resources.Resource.management</a></div></div>
        <div class="col-xs-4"><div class="center-button"><a href="@urlCustomization">@Resources.Resource.customization</a></div></div>
    </div>
</div>

@section Scripts {

    <script>
        var version = '@Html.Raw(ViewBag.Asembly)';
    </script>


}

