@{
    var url = Url.Action("DataCollectionReport", "Reports");
    var url2 = Url.Action("CorrectiveActionReport", "Reports");
    var url3 = Url.Action("teste", "Reports");
    var version = ViewBag.Asembly;
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead"></p>
    @*<p><a href="~/newColeta/Index.html" id="coelta"  target="_blank" class="btn btn-primary btn-lg">Data Collection &raquo;</a></p>*@
    <p><a href="@url" class="btn btn-primary btn-lg">Data Collection Reports &raquo;</a></p>
    <p><a href="@url2" class="btn btn-primary btn-lg">Corrective Action Reports &raquo;</a></p>
    @*<p><a href="@url3" class="btn btn-primary btn-lg">Corrective Reports TESTE &raquo;</a></p>*@
    @*<p><a href="@url1" class="btn btn-primary btn-lg">Chart Reports (BETAv0.0) &raquo;</a></p>*@
    @*@Resources.Resource.value;*@
</div>

@section Scripts {

    <script>
        var version = '@Html.Raw(ViewBag.Asembly)';
    </script>

}

