@model Dominio.ManDataCollectIT

@{
    ViewBag.Title = "Delete";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 650px;">

        <div>
            <h3>Coleta de Indicadores Técnicos</h3>
        </div>

        <h3>@Resources.Resource.delete</h3>
        <div>
        
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName(Resources.Resource.add_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AddDate)
                </dd>

                <dt>
                    @Html.DisplayName(Resources.Resource.alter_date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AlterDate)
                </dd>

                <dt>
                    @Html.DisplayName(Resources.Resource.data_collection)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReferenceDatetime)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.userSGQ_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.userSGQ_id)
                </dd>*@

                <dt>
                    @Html.DisplayName(Resources.Resource.company)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ParCompany.Name)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.parFrequency_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.parFrequency_id)
                </dd>*@

                @*<dt>
                    @Html.DisplayName(Resources.Resource.shift)
                </dt>*@

                @*<dd>
                    @Html.DisplayFor(model => model.Shift)
                </dd>*@

                <dt>
                    @Html.DisplayName(Resources.Resource.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DimManutencaoColetaITs.TechnicalIndicator)
                </dd>

                <dt>
                    @Html.DisplayName(Resources.Resource.quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AmountData)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.ParMeasurementUnit_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ParMeasurementUnit_Id)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>*@

                <dt>
                    @Html.DisplayName("Comentarios")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="@Resources.Resource.delete" class="btn btn-default" /> |
                    @Html.ActionLink(Resources.Resource.back_to_list, "Index")
                </div>
            }
        </div>
        </div>
</div>