@model Dominio.ManDataCollectIT

@{
    ViewBag.Title = "Edit";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height: 650px;">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3>Coleta de Dados de Indicadores Técnicos</h3>
                <h4>Editar</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(Model => Model.Id)

                <div class="form-group hide">
                        @Html.LabelFor(model => model.AddDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AddDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AddDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                <div class="form-group hide">
                        @Html.LabelFor(model => model.AlterDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AlterDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AlterDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                @{ Html.EnableClientValidation(false); }

                <div class="form-group">
                    @Html.Label("Data da Coleta", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReferenceDatetime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReferenceDatetime, "", new { @class = "text-danger" })
                    </div>
                </div>

                @{ Html.EnableClientValidation(true); }

                <div class="form-group hide">
                    @Html.LabelFor(model => model.UserSGQ_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserSGQ_Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserSGQ_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Unidade", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ParCompany_Id, new SelectList(ViewBag.listaParCompany, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ParCompany_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hide">
                    @Html.Label("Periodicidade", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ParFrequency_Id, new SelectList(ViewBag.listaParFrequency, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ParFrequency_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Turno", htmlAttributes: new { @class = "control-label col-md-2" })
                    @*@Html.LabelFor(model => model.shift, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Shift, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Shift, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Descrição da Coleta", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select id="dataType" name="dataType" class="form-control valid">
                            <option value="001.KWH. Energia Eletrica - Concessionaria">001.KWH. Energia Eletrica - Concessionaria</option>
                            <option value="002.M3. Agua">002.M3. Agua</option>
                            <option value="003.MCAL. Vapor">003.MCAL. Vapor</option>
                        </select>
                        <script>

                            var dataTypeSelecionado = @Html.Raw(Json.Encode(Model.DataType));

                            $('#dataType').val(dataTypeSelecionado).change()

                        </script>
                        @*@Html.EditorFor(model => model.dataType, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.DataType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Quantidade", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.AmountData, Model.AmountData.Value.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AmountData, "", new { @class = "text-danger" })

                        @*@Html.EditorFor(model => model.amountData, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.amountData, "", new { @class = "text-danger" })*@
                    </div>
                </div>

                

                <div class="form-group hide">
                    @Html.Label("Unidade de Medida", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ParMeasurementUnit_Id, new SelectList(ViewBag.listaParMeasurementUnit, "Id", "Name"), Resources.Resource.select + "...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ParMeasurementUnit_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group hide">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink(Resources.Resource.back_to_list, "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

        <script>

            $('#amountData').inputmask("decimal", { rightAlign: false });

            $(document).ready(function () {

                $('#referenceDatetime').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    'locale': {
                        "format": "DD/MM/YYYY",
                    }
                });

            });
        </script>
    </div>
</div>