@model ICollection<DTO.DTO.Manutencao.PainelIndicadoresUniManutencaoDTO>
@{
    ViewBag.Title = "Indicadores Por Unidade";
    var urlHome = Url.Action("Index", "ManPainelGestao");
    var urlTabela = Url.Action("GetTabela", "api/GetIndicadoresUniManutencao");
    var urlGraficoEvolucao = Url.Action("CriaGraficoEvolucao", "api/GetIndicadoresUniManutencao");
    var urlGraficoAcumulado = Url.Action("CriaGraficoAcumulado", "api/GetIndicadoresUniManutencao");
}

<style>
    .panel-info {
        border-color: #999;
    }

        .panel-info > .panel-heading {
            background-color: #ccc;
            border-color: #999;
            color: #333;
        }

    .chart-inner {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #tabela_wrapper {
        width: 50%;
        float: left;
    }

    #graficoEvolucao {
        width: 50%;
        float: right;
    }

    #graficoAcumulado {
        width: 50%;
        float: left;
    }

    #graficoDesvios {
        width: 50%;
        float: right;
    }

    #tabela th {
        font-size: 10px;
        padding: 2px;
    }

    #tabela td {
        font-size: 10px;
        padding: 2px;
    }

    #primeiro {
        min-height: 450px;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 2px;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px;
    }

    #title {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #home a:hover{
        text-decoration: none;
    }
</style>

<div class="page-content" style="min-height: 600px;">
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")
    <div id="formBodyContent">
        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")
        <div id="home" style="float:right;font-size: 40px;">
            <a id="home" class="fa fa-home" aria-hidden="true" href="@urlHome"></a>
        </div>
        <div id="title"><h3></h3></div>
        <div id="load"></div>
        <div id="plotPrincipal"></div>
        <div class="panel panel-info" id="PanelFull" style="display:none">
            <div class="panel-heading"></div>
            <div class="panel-body" id="g1"></div>
        </div>

        <div id="formBodyContent">
            <div id="primeiro">
                <table id="tabela" class="display" cellspacing="0"></table>

                <div id="graficoEvolucao" style="height:300px;"></div>

            </div>
            <div id="segundo">

                <div id="graficoAcumulado" style="height:200px;"></div>

                <div id="graficoDesvios" style="height:200px;"></div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var urlTabela = '@Html.Raw(urlTabela)'
        var urlGraficoEvolucao = '@Html.Raw(urlGraficoEvolucao)'
        var urlGraficoAcumulado = '@Html.Raw(urlGraficoAcumulado)'
        var dados = {};

        function getNome() {

            var titulo = "";
             
            var tipoRelatorio = $('#tipoRelatorio :selected').text();
            var regional = $('#RegionalId :selected').text();
            var subregional = "";

            if ($('#SubRegionalId :selected').text() != "") { subregional = " - " + $('#SubRegionalId :selected').text(); };

            var unidade = $('#UnidadeId :selected').text();

            if (tipoRelatorio == 'Por Regional') {
                titulo = regional;
            } else {
                titulo = unidade;
            }

            return titulo;

        }

        function Send(Toggle) {

            //Funçoes para destruir os graficos

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            if ($("#showIndicadoresManutencao input:radio:checked").val() != undefined && $('#yearId :selected').val() != null) {

                dados = {
                    "tipoRelatorio": $("#tipoRelatorio :selected").val(),
                    "indicador": $("#showIndicadoresManutencao input:radio:checked").val(),
                    "unidade": $('#UnidadeId :selected').text(),
                    "regional": $('#RegionalId :selected').val(),
                    "subRegional" : $('#RegionalId :selected').text(),
                    "ano": $('#yearId :selected').val()
                }

                //Funçao para criar a tabela
                GetTabela(dados);
            }

            $("#title h3").text("Painel de Indicadores de " + $("#showIndicadoresManutencao input:radio:checked").val() + " - " + getNome())

        };

        //Ajax DataTable
        function GetTabela(dados) {
            EasyAjax(urlTabela /*+ "/" + value*/, dados, GerarTabela, "graficoEvolucao");
        }

        //Gerar DataTable
        function GerarTabela(retornoArray) {

            var ordemDoIndicador = "";
            var corDoIndicador = "";

            if (
                dados.indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
                dados.indicador == 'Eficiên.Programção' ||
                dados.indicador == 'Apropr Planej...to' ||
                dados.indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
                dados.indicador == 'Scorecard Energia' ||
                dados.indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
                dados.indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
                dados.indicador == 'Disponibilidade Ab' ||
                dados.indicador == 'Disponibilidade Des' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
                dados.indicador == 'Apropriação de O.S' ||
                dados.indicador == 'CARTA METAS') {
                
                ordemDoIndicador = "↑";
                
            } else {
                ordemDoIndicador = "↓";
            }

            //var meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
            var dado = MapeiaValorParaHC(retornoArray, 'dado')
            var realizado = MapeiaValorParaHC(retornoArray, 'realizado');
            var orcado = MapeiaValorParaHC(retornoArray, 'orcado');
            var desvio = MapeiaValorParaHC(retornoArray, 'desvio');
            var porcDesvio = MapeiaValorParaHC(retornoArray, 'porcDesvio');
            var vetorTeste = [];
            var dataTableVetor = [];
            var coluna = "";
            var porcDesvioTotal = 0;

            if ($("#tipoRelatorio :selected").val() == 'Por Unidade') {
                coluna = "Mês";
            } else
                coluna = "Uni";

            for (var i = 0; i < dado.length; i++) {
                //vetorTeste[0] = meses[i];
                vetorTeste[0] = dado[i];
                vetorTeste[1] = formatReal(Math.round(orcado[i] * 100) / 100);
                vetorTeste[2] = formatReal(Math.round(realizado[i] * 100) / 100);
                vetorTeste[3] = '<i>' + formatReal(Math.round(desvio[i] * 100) / 100) + '</i>';

                if (ordemDoIndicador == "↑") {
                    if ((Math.round(desvio[i] * 100) / 100) < 0) {
                        corDoIndicador = '#ff7575';
                    }else{
                        corDoIndicador = '#aef2ae';
                    }
                } else {
                    if ((Math.round(desvio[i] * 100) / 100) >= 0) {
                        corDoIndicador = '#ff7575';
                    } else {
                        corDoIndicador = '#aef2ae';
                    }
                }

                vetorTeste[4] = '<div style="padding:0px; background-color:' + corDoIndicador + ';"><i>' + Math.floor(porcDesvio[i] * 100) / 100 + '%</i>' + ordemDoIndicador + '</div>';
                
                dataTableVetor.push(vetorTeste);

                vetorTeste = [];
            }

            var table = $('#tabela').empty().DataTable({
                data: dataTableVetor,
                columns: [
                { title: coluna },
                { title: "Orçado" },
                { title: "Realizado" },
                { title: "Desvio" },
                { title: "(%)" }
                ],
                fixedHeader: {
                    header: true,
                    footer: true
                },
                "searching": false,
                "ordering": false,
                "scrollX": true,
                "autoWidth": false,
                "scrollCollapse": true,
                "scrollY": "350px",
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                pageLength: 12,
                responsive: true,
                paginate: false,
                //paging: false,
                //bSort: false,
                loadingRecords: true,
                destroy: true,
                info: false,
               
            });

            porcDesvioTotal = (SomaVetor(realizado) / SomaVetor(orcado) - 1) * 100

            //Adiciona "dataTables_scrollFoot" na DataTable
            $(".dataTables_scroll").append('<div class="dataTables_scrollFoot" style="font-size: 11px;><div class="dataTables_scrollFootInner"><table class="display no-footer dataTable" cellspacing="0" role="grid"><thead><tr role="row"><th class="dt-center sorting_disabled" rowspan="1" colspan="1">Total</th><th class="dt-center sorting_disabled" rowspan="1" colspan="1">' + formatReal(Math.round(SomaVetor(orcado) * 100) / 100) + '</th><th class="dt-center sorting_disabled" rowspan="1" colspan="1">' + formatReal(Math.round(SomaVetor(realizado) * 100) / 100) + '</th><th class="dt-center sorting_disabled" rowspan="1" colspan="1"><i>' + formatReal(Math.round(SomaVetor(desvio) * 100) / 100) + '</i></th><th class="dt-center sorting_disabled" rowspan="1" colspan="1"><i>' + Math.round(porcDesvioTotal * 100) / 100 + '%</i></th></tr></thead></table></div></div>');

            CallbackGraficoEvolucao(orcado, realizado, dado);
            CallbackGraficoAcumulado(orcado, realizado, desvio);
            CallbackGraficoDesvio(realizado, orcado, dado);

        }

        //Gera grafico Evolução
        function CallbackGraficoEvolucao(orcado, realizado, dado) {

            var unidade = "";

            //if ($('#unitId :selected').text() == null)
            //    indicador = "Todos";
            //else
                unidade = $('#UnidadeId :selected').text();

                var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

                var corPositivo = "";
                var corNegativo = "";

                if (
                indicador == 'Bois Abatidos' ||
                    //indicador == 'Manutenção R$' ||
                indicador == 'Eficiên.Programção' ||
                indicador == 'Apropr Planej...to' ||
                indicador == 'Scorecard Unidade' ||
                    //indicador == 'Scorecard Vácuo' ||
                    //indicador == 'Head Count' ||
                    //indicador == 'Scorecard Aspersão' ||
                indicador == 'Scorecard Energia' ||
                indicador == 'Scorecard Vapor' ||
                    //indicador == 'Pilar Manutenção' ||
                    //indicador == 'Devoluções %' ||
                    //indicador == 'R$/CB Manut' ||
                    //indicador == 'R$/CB Manut+Utilid' ||
                    //indicador == 'Sobra de Animais' ||
                    //indicador == 'R$ Manut Comb.' ||
                    //indicador == 'Energia R$' ||
                    //indicador == 'KWh/Boi Proc' ||
                    //indicador == 'Caldeira R$' ||
                    //indicador == 'Mcal/Boi Proc' ||
                indicador == 'Fator de Potência' ||
                    //indicador == 'Água M³/Boi' ||
                    //indicador == 'M³ de Lenha' ||
                indicador == 'Disponibilidade Ab' ||
                indicador == 'Disponibilidade Des' ||
                    //indicador == 'KWh' ||
                    //indicador == 'Parada Abate (min)' ||
                    //indicador == 'Parada Des. (min)' ||
                    //indicador == 'OBRAS' ||
                    //indicador == 'Horas Extras R$' ||
                    //indicador == 'Horas Extras Nº' ||
                    //indicador == 'CAPEX' ||
                indicador == 'Apropriação de O.S' ||
                indicador == 'CARTA METAS') {
                    corPositivo = '#ff7575';
                    corNegativo = '#aef2ae';
                    legendaPositivo = "Positivo";
                    legendaNegativo = "Negativo";
                } else {
                    corPositivo = '#aef2ae';
                    corNegativo = '#ff7575';
                    legendaPositivo = "Negativo";
                    legendaNegativo = "Positivo";
                }


            $('#graficoEvolucao').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Evolução de ' + indicador + ' em ' + getNome() + ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: dado,
                    crosshair: true,
                    title: {
                        text: 'Meses',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        //format: '{point.y:.2f}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Valor em milhões',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    //plotLines: [{
                    //    value: 80,
                    //    width: 2,
                    //    color: 'black',
                    //    dashStyle: 'dash',
                    //    zIndex: 4,
                    //    label: {
                    //        text: 'Meta 80%',
                    //        align: 'right',
                    //        y: -10,
                    //        x: 0
                    //    }
                    //}]
                }],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        name: 'Realizado',
                        data: realizado,
                        type: 'column',
                        yAxis: 0,
                        color: Highcharts.getOptions().colors[0],
                    },
                    {
                        type: 'spline',
                        name: 'Orçado',
                        data: orcado, //Colocar o array de orçado                        
                        color: Highcharts.getOptions().colors[3],
                        marker: {
                            enabled: false
                        }
                    }
                ]
            });

            //CallbackGraficoDesvio(realizado, orcado);
        }

        //Gera grafico Acumulado
        function CallbackGraficoAcumulado(orcado, realizado, desvio) {

            //if ($('#unitId :selected').text() == null)
            //    indicador = "Todos";
            //else
            var unidade = $('#UnidadeId :selected').text();

            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            var legendaPositivo = "";
            var legendaNegativo = "";

            var corPositivo = "";
            var corNegativo = "";

            if (
                indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
                indicador == 'Eficiên.Programção' ||
                indicador == 'Apropr Planej...to' ||
                indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
                indicador == 'Scorecard Energia' ||
                indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
                indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
                indicador == 'Disponibilidade Ab' ||
                indicador == 'Disponibilidade Des' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
                indicador == 'Apropriação de O.S' ||
                indicador == 'CARTA METAS') {
                corPositivo = '#ff7575';
                corNegativo = '#aef2ae';
                legendaPositivo = "Positivo";
                legendaNegativo = "Negativo";
            } else {
                corPositivo = '#aef2ae';
                corNegativo = '#ff7575';
                legendaPositivo = "Negativo";
                legendaNegativo = "Positivo";
            }

            var somaDesvio = Math.round(SomaVetor(desvio) * 100) / 100;

            if (somaDesvio <= 0) {

                somaDesvio = { y: somaDesvio, color: corPositivo, name: 'Desvio', drilldown: null };
            } else {

                somaDesvio = { y: somaDesvio, color: corNegativo, name: 'Desvio', drilldown: null };
            }

            //Somar os valores dos vetores
            $('#graficoAcumulado').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Acumulado de ' + indicador + ' em ' + getNome() + ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    type: 'category'
                    //categories: ['Orçado', 'Realizado', 'Desvio'],
                    //crosshair: true,
                    //title: {
                    //    text: 'Meses',
                    //    style: {
                    //        color: Highcharts.getOptions().colors[1]
                    //    }
                    //},
                }],
                yAxis: {
                    title: {
                        text: 'Valor total acumulado'
                    }
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            //format: '{point.y:.1f}%'
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                //plotLines: [{
                //    value: 80,
                //    width: 2,
                //    color: 'black',
                //    dashStyle: 'dash',
                //    zIndex: 4,
                //    label: {
                //        text: 'Meta 80%',
                //        align: 'right',
                //        y: -10,
                //        x: 0
                //    }
                //}]

                tooltip: {
                    shared: true,
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
                },
                //series: [
                //    {
                //        type: 'column',
                //        name: 'Orçado',
                //        data: orcado,
                //        //yAxis: 0,
                //        color: Highcharts.getOptions().colors[0],
                //    },
                //    {
                //        type: 'column',
                //        name: 'Realizado',
                //        data: realizado,
                //        //yAxis: 0,
                //        color: Highcharts.getOptions().colors[0],
                //    },
                //    {
                //        type: 'column',
                //        name: 'Desvio',
                //        data: desvio,
                //        //yAxis: 0,
                //        color: Highcharts.getOptions().colors[0],
                //    }
                //]
                series: [{
                    name: 'Acumulado',
                    colorByPoint: true,
                    data: [{
                        name: 'Orcado',
                        y: Math.round(SomaVetor(orcado), -2),
                        drilldown: null
                    }, {
                        name: 'Real',
                        y: Math.round(SomaVetor(realizado), -2),
                        drilldown: null
                    }, somaDesvio
                    //{
                    //    name: 'Desvio',
                    //    y: SomaVetor(desvio),
                    //    //somaDesvio,
                    //    drilldown: null,
                    //}
                    ]
                }],
            });

        }

        //Gera grafico Desvios
        function CallbackGraficoDesvio(realizado, orcado, dado) {

            //if ($('#unitId :selected').text() == null)
            //    indicador = "Todos";
            //else
            var unidade = $('#UnidadeId :selected').text();

            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            var corPositivo = "";
            var corNegativo = "";

            if (
                indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
                indicador == 'Eficiên.Programção' ||
                indicador == 'Apropr Planej...to' ||
                indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
                indicador == 'Scorecard Energia' ||
                indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
                indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
                indicador == 'Disponibilidade Ab' ||
                indicador == 'Disponibilidade Des' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
                indicador == 'Apropriação de O.S' ||
                indicador == 'CARTA METAS') {
                corPositivo = '#ff7575';
                corNegativo = '#aef2ae';
                legendaPositivo = "Positivo";
                legendaNegativo = "Negativo";
            } else {
                corPositivo = '#aef2ae';
                corNegativo = '#ff7575';
                legendaPositivo = "Negativo";
                legendaNegativo = "Positivo";
            }

            var positivo = [];
            var negativo = [];

            for (var i = 0; i < dado.length; i++) {
                if (orcado[i] > realizado[i]) {
                    positivo[i] = realizado[i] - orcado[i];
                    negativo[i] = null
                } else {
                    negativo[i] = realizado[i] - orcado[i] ;
                    positivo[i] = null
                }
            }


            $('#graficoDesvios').empty().highcharts({
                credits: {
                    enabled: false
                },

                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },

                title: {
                    text: 'Desvio de ' + indicador + ' em ' + getNome() + ''
                },

                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                xAxis: {
                    categories: dado,

                },

                yAxis: {
                    allowDecimals: false,
                    

                    title: {
                        text: 'Valor do desvio em milhões'
                    }
                },

                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                          this.series.name + ': ' + this.y + '<br/>' +
                          'Total: ' + this.point.stackTotal;
                    }
                },

                plotOptions: {
                    column: {
                        stacking: 'normal'
                    }
                },

                series: [{
                    name: legendaNegativo,
                    data: positivo,
                    stack: 'Conta',
                    color: corPositivo
                    
                }, {
                    name: legendaPositivo,
                    data: negativo,
                    stack: 'Conta',
                    color: corNegativo
                }]
            });

        }

        /*Auxiliares*/
        function EasyAjax(url, dados, callback, loader) {

            //if (!!loader)
            //    $('#' + loader).addClass('loader');

            if (dados == undefined)
                dados = {};

            //AJAX
            $.post(url, dados, function (r) {
                try {

                    //if (!!loader)
                    //    $('#' + loader).removeClass('loader');

                    callback(r);

                } catch (e) {
                    console.log(e);
                } finally {
                    //$btn.button('reset');
                }
            }).fail(function (e, h, x) {
                //$btn.button('reset');
                if (e.status == 0) {
                    GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.statusText);
                } else {
                    GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.responseJSON.Message);
                }
            }).always(function () {
                if (!!loader)
                    $('#' + loader).removeClass('loader');
            });
        }

        function ValidaDadosParaEnvio() {
            GuardJs.resetForValidation();

            //GuardJs.CheckRangeDateTime(enviar.endDate, enviar.startDate, "Initial date", "End date");
            /*Especifico*/
            //if (!($('#unitId :selected').val() > 0))
            //{
            //    GuardJs.exibirMensagemAlerta("Por favor selecione uma unidade.");
            //    return false;
            //}

            if (!GuardJs.isValid)
                return !GuardJs.isValid;
            GuardJs.esconderMensagem();

            return true;
        }

        function GeraVetorDesvio(realizado, orcado) {

            var positivo = [];
            var negativo = [];

            for (var i = 0; i < 12; i++) {

                vetor[i].push(realizado[i] - orcado[i]);

            }

            return vetor;
        }

        $(document).ready(function () {

            $('#tipoRelatorio').change(function () {
                if ($(this).val() == "Por Regional") {
                    $('#UnidadeId').prop('disabled', true);
                } else {
                    $('#UnidadeId').prop('disabled', false);
                }
            });          
                
            $("#btnSend").click(function (e) {
                if ($("#showIndicadoresManutencao input:radio:checked").val() != undefined)
                    Send();
            });

            formControl.showUnidadesManutencao();
            formControl.showIndicadoresManutencao();
            formControl.showYear();
            formControl.showFiltroManutencao();
            formControl.showRegionaisManutencao();
            formControl.showSubRegionaisManutencao();

            $("#indicadores label").on("click", function () {
                Send();
            });

            $("#RegionalId").change(function () {

                $('#UnidadeId').children('option').hide();

                $("#UnidadeId").val($("#UnidadeId").find("option:visible:first").val());

                $("#SubRegionalId").find("option").show().not("option[value*='" + this.value + "']").hide();

                $("#SubRegionalId").val($("#SubRegionalId").find("option:visible:first").val());

            }).change();

            $("#SubRegionalId").change(function () {


                $('#UnidadeId').children('option').hide();
                $("#UnidadeId").val($("#UnidadeId").find("option:visible:first").val());

                if (this.selectedIndex != -1) {

                    $("#UnidadeId").find("option").show().not("option[value*='" + this.options[this.selectedIndex].text + "']").hide();

                    $("#UnidadeId").val($("#UnidadeId").find("option:visible:first").val());

                }
                               

            }).change();
   
        });

        var ajaxCount = 0;

        $(document).ajaxStart(function () {
            ajaxCount++;
        });

        $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            ajaxCount--;
        });

        $(document).ajaxStop(function () {
            ajaxCount--;
            if (ajaxCount == 0) {
                $(".loader").removeClass("loader");
            }
        });

        function addMes(retornoArray) {

            var arrayTable = [];

            for (var i = 0; i < retornoArray.length() ; i++) {

            }

            return arrayTable
        }

        function SomaVetor(vetor) {

            var vetorSomado = 0;

            for (var i = 0; i < vetor.length; i++) {

                vetorSomado += vetor[i];
            }

            return vetorSomado;
        }

        function formatReal(num) {
            var p = num.toFixed(2).split(".");
            return p[0].split("").reverse().reduce(function (acc, num, i, orig) {
                return num == "-" ? acc : num + (i && !(i % 3) ? "." : "") + acc;
            }, "") + "," + p[1];
        }

    </script>
}
