@model ICollection<DTO.DTO.Manutencao.PainelIndicadoresUniManutencaoDTO>
@{
    ViewBag.Title = "Indicadores Por Unidade";
    var urlHome = Url.Action("Index", "ManPainelGestao");
    var urlTabela = Url.Action("GetTabela", "api/GetIndicadoresUniManutencao");
    var urlGraficoEvolucao = Url.Action("CriaGraficoEvolucao", "api/GetIndicadoresUniManutencao");
    var urlGraficoAcumulado = Url.Action("CriaGraficoAcumulado", "api/GetIndicadoresUniManutencao");
    var urlgraficoAcompanhamento = Url.Action("CriaGraficoAcompanhamento", "api/GetIndicadoresUniManutencao");
}

<style>
    .panel-info {
        border-color: #999;
    }

        .panel-info > .panel-heading {
            background-color: #ccc;
            border-color: #999;
            color: #333;
        }

    .chart-inner {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #tabela_wrapper {
        width: 50%;
        float: left;
    }

    #graficoEvolucao {
        width: 50%;
        float: right;
    }

    #graficoAcumulado {
        width: 50%;
        float: left;
    }

    #graficoDesvios {
        width: 50%;
        float: right;
    }

    #graficoAcompanhamento {
        width: 100%;
    }

    #tabela th {
        font-size: 10px;
        padding: 2px;
    }

    #tabela td {
        font-size: 10px;
        padding: 2px;
    }

    #primeiro {
        min-height: 450px;
    }

    table.dataTable thead th, table.dataTable thead td {
        padding: 2px;
    }

    table.dataTable tbody th, table.dataTable tbody td {
        padding: 4px;
    }

    #title {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #home a:hover {
        text-decoration: none;
    }
</style>

<div class="page-content" style="min-height: 600px;">
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")
    <div id="formBodyContent">
        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")
        <div id="home" style="float:left; font-size: 40px;">
            <a id="home" class="fa fa-home" aria-hidden="true" href="@urlHome"></a>
        </div>

        <div id="FullScreen" style="float:right; font-size: 20px;">
            <button type="button" onclick="toggleFullScreen();" class="btn btn-default fa fa-arrows-alt"></button>
        </div>
        <div id="title"><h3></h3></div>
        <div id="load"></div>
        <div id="plotPrincipal"></div>
        <div class="panel panel-info" id="PanelFull" style="display:none">
            <div class="panel-heading"></div>
            <div class="panel-body" id="g1"></div>
        </div>

        <div id="formBodyContent">
            <div id="primeiro">
                <table id="tabela" class="display" cellspacing="0"></table>

                <div id="graficoEvolucao" style="height:300px;"></div>

            </div>
            <div id="segundo">

                <div id="graficoAcumulado" style="height:200px;"></div>

                <div id="graficoDesvios" style="height:200px;"></div>

            </div>
            <br />
            <br />
            <div id="terceiro" style="height:600px; display:none;">
                <div id="Acumulado">

                    <div id="Export" style="float:left; width:100px; display:none;">
                        <span class="redLabel">Exportar:</span>
                        <button id="BtnExport" type="button" class="btn btn-default" style="width:80px;" data-toggle="modal" data-target="#myModal">Extrair</button>
                    </div>

                    <div class="dropdown" id="DropAcumulado" style="float:right;">
                        <span class="redLabel">Mês:</span>
                        <select class="form-control select2Init" style="width:210px" id="AcumuladoMouthId">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                </div>

                <div id="graficoAcompanhamento" style="height:400px;"></div>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Tabela de Exportação</h4>
                            </div>
                            <div class="modal-body">
                                <table id="TableExport" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var urlTabela = '@Html.Raw(urlTabela)'
        var urlGraficoEvolucao = '@Html.Raw(urlGraficoEvolucao)'
        var urlGraficoAcumulado = '@Html.Raw(urlGraficoAcumulado)'
        var urlGraficoAcompanhamento = '@Html.Raw(urlgraficoAcompanhamento)'
        var dados = {};
        var legenda1 = "";
        var tipoGrafico = "";

        function getNome() {

            var titulo = "";

            var tipoRelatorio = $('#tipoRelatorio :selected').text();
            var regional = $('#RegionalId :selected').text();
            var subregional = "";

            if ($('#SubRegionalId :selected').text() != "") { subregional = " - " + $('#SubRegionalId :selected').text(); };

            var unidade = $('#UnidadeId :selected').text();

            if (tipoRelatorio == 'Por Regional') {
                titulo = regional;
            } else {
                titulo = unidade;
            }

            return titulo;

        }

        function Send(Toggle) {

            //Funçoes para destruir os graficos
            $('#graficoAcompanhamento').empty();
            $('#terceiro').hide();
            //$('#Export').hide();

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            if ($("#showIndicadoresManutencao input:radio:checked").val() != undefined && $('#yearId :selected').val() != null) {

                dados = {
                    "tipoRelatorio": $("#tipoRelatorio :selected").val(),
                    "indicador": $("#showIndicadoresManutencao input:radio:checked").val(),
                    "unidade": $('#UnidadeId :selected').text(),
                    "regional": $('#RegionalId :selected').val(),
                    "subRegional": $('#SubRegionalId :selected').text(),
                    "ano": $('#yearId :selected').val(),
                    "mes": $('#mouthId :selected').val()
                }

                //Funçao para criar a tabela
                GetTabela(dados);

                if (!VericaAcompanhamento()) {
                    GetGraficoAcompanhamento();

                }
            }

            $("#title h3").text("Painel de Indicadores de " + $("#showIndicadoresManutencao input:radio:checked").val() + " - " + getNome())

        };

        //Ajax DataTable
        function GetTabela(dados) {
            EasyAjax(urlTabela, dados, GerarTabela, "graficoEvolucao");
        }

        //Gerar DataTable
        function GerarTabela(retornoArray) {

            var ordemDoIndicador = "";
            var corDoIndicador = "";

            if (
                dados.indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
                dados.indicador == 'Eficiên.Programção' ||
                dados.indicador == 'Apropr Planej...to' ||
                dados.indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
                dados.indicador == 'Scorecard Energia' ||
                dados.indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
                dados.indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
                dados.indicador == 'Disponibilidade Ab' ||
                dados.indicador == 'Disponibilidade Des' ||
                dados.indicador == 'Disponibilidade Total' ||
                dados.indicador == 'Paradas Total' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
                dados.indicador == 'Apropriação de O.S' ||
                dados.indicador == 'CARTA METAS') {

                ordemDoIndicador = "↑";

            } else {
                ordemDoIndicador = "↓";
            }

            var dado = MapeiaValorParaHC(retornoArray, 'dado');
            var realizado = MapeiaValorParaHC(retornoArray, 'realizado');
            var orcado = MapeiaValorParaHC(retornoArray, 'orcado');
            var desvio = MapeiaValorParaHC(retornoArray, 'desvio');
            var porcDesvio = MapeiaValorParaHC(retornoArray, 'porcDesvio');
            var vetorTeste = [];
            var dataTableVetor = [];
            var coluna = "";
            var porcDesvioTotal = 0;

            if ($("#tipoRelatorio :selected").val() == 'Por Unidade') {
                coluna = "Mês";
            } else
                coluna = "Uni";

            for (var i = 0; i < dado.length; i++) {
                //vetorTeste[0] = meses[i];
                vetorTeste[0] = dado[i];
                vetorTeste[1] = formatReal(Math.round(orcado[i] * 100) / 100);
                vetorTeste[2] = formatReal(Math.round(realizado[i] * 100) / 100);
                vetorTeste[3] = '<i>' + formatReal(Math.round(desvio[i] * 100) / 100) + '</i>';

                if (ordemDoIndicador == "↑") {
                    if ((Math.round(desvio[i] * 100) / 100) < 0) {
                        corDoIndicador = '#ff7575';
                    } else {
                        corDoIndicador = '#aef2ae';
                    }
                } else {
                    if ((Math.round(desvio[i] * 100) / 100) >= 0) {
                        corDoIndicador = '#ff7575';
                    } else {
                        corDoIndicador = '#aef2ae';
                    }
                }

                vetorTeste[4] = '<div style="padding:0px; background-color:' + corDoIndicador + ';"><i>' + Math.floor(porcDesvio[i] * 100) / 100 + '%</i>' + ordemDoIndicador + '</div>';

                dataTableVetor.push(vetorTeste);

                vetorTeste = [];
            }

            var table = $('#tabela').empty().DataTable({
                data: dataTableVetor,
                columns: [
                { title: coluna },
                { title: "Orçado" },
                { title: "Realizado" },
                { title: "Desvio" },
                { title: "(%)" }
                ],
                fixedHeader: {
                    header: true,
                    footer: true
                },
                "searching": false,
                "ordering": false,
                "scrollX": true,
                "autoWidth": false,
                "scrollCollapse": true,
                "scrollY": "250px",
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                //pageLength: 12,
                responsive: true,
                paginate: false,
                //paging: false,
                //bSort: false,
                loadingRecords: true,
                destroy: true,
                info: false,

            });

            porcDesvioTotal = (SomaVetor(realizado) / SomaVetor(orcado) - 1) * 100

            if (isNaN(porcDesvioTotal) || !isFinite(porcDesvioTotal))
                porcDesvioTotal = 0;

            //Adiciona "dataTables_scrollFoot" na DataTable
            $("#primeiro .dataTables_scroll").append('<div class="dataTables_scrollFoot" style="font-size: 11px;><div class="dataTables_scrollFootInner"><table class="display no-footer dataTable" cellspacing="0" role="grid"><thead><tr role="row"><th class="dt-center sorting_disabled" rowspan="1" colspan="1">Total</th><th class="dt-center sorting_disabled" rowspan="1" colspan="1">' + formatReal(Math.round(SomaVetor(orcado) * 100) / 100) + '</th><th class="dt-center sorting_disabled" rowspan="1" colspan="1">' + formatReal(Math.round(SomaVetor(realizado) * 100) / 100) + '</th><th class="dt-center sorting_disabled" rowspan="1" colspan="1"><i>' + formatReal(Math.round(SomaVetor(desvio) * 100) / 100) + '</i></th><th class="dt-center sorting_disabled" rowspan="1" colspan="1"><i>' + Math.round(porcDesvioTotal * 100) / 100 + '%</i></th></tr></thead></table></div></div>');

            CallbackGraficoEvolucao(orcado, realizado, dado);
            CallbackGraficoAcumulado(orcado, realizado, desvio);
            CallbackGraficoDesvio(realizado, orcado, dado);

        }

        //Gera grafico Evolução
        function CallbackGraficoEvolucao(orcado, realizado, dado) {

            var unidade = "";

            unidade = $('#UnidadeId :selected').text();

            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            var corPositivo = "";
            var corNegativo = "";

            if (
            indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
            indicador == 'Eficiên.Programção' ||
            indicador == 'Apropr Planej...to' ||
            indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
            indicador == 'Scorecard Energia' ||
            indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
            indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
            indicador == 'Disponibilidade Ab' ||
            indicador == 'Disponibilidade Des' ||
            indicador == 'Disponibilidade Total' ||
            indicador == 'Paradas Total' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
            indicador == 'Apropriação de O.S' ||
            indicador == 'CARTA METAS') {
                corPositivo = '#ff7575';
                corNegativo = '#aef2ae';
                legendaPositivo = "Positivo";
                legendaNegativo = "Negativo";
            } else {
                corPositivo = '#aef2ae';
                corNegativo = '#ff7575';
                legendaPositivo = "Negativo";
                legendaNegativo = "Positivo";
            }


            $('#graficoEvolucao').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Evolução de ' + indicador + ' em ' + getNome() + ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: dado,
                    crosshair: true,
                    title: {
                        text: legenda1,
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        //format: '{point.y:.2f}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Valor em milhões',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    //plotLines: [{
                    //    value: 80,
                    //    width: 2,
                    //    color: 'black',
                    //    dashStyle: 'dash',
                    //    zIndex: 4,
                    //    label: {
                    //        text: 'Meta 80%',
                    //        align: 'right',
                    //        y: -10,
                    //        x: 0
                    //    }
                    //}]
                }],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        name: 'Realizado',
                        data: realizado,
                        type: 'column',
                        yAxis: 0,
                        color: Highcharts.getOptions().colors[0],
                    },
                    {
                        type: tipoGrafico,
                        name: 'Orçado',
                        data: orcado, //Colocar o array de orçado
                        color: Highcharts.getOptions().colors[3],
                        marker: {
                            enabled: false
                        }
                    }
                ]
            });

            //CallbackGraficoDesvio(realizado, orcado);
        }

        //Gera grafico Acumulado
        function CallbackGraficoAcumulado(orcado, realizado, desvio) {

            var unidade = $('#UnidadeId :selected').text();

            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            var legendaPositivo = "";
            var legendaNegativo = "";

            var corPositivo = "";
            var corNegativo = "";

            if (
                indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
                indicador == 'Eficiên.Programção' ||
                indicador == 'Apropr Planej...to' ||
                indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
                indicador == 'Scorecard Energia' ||
                indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
                indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
                indicador == 'Disponibilidade Ab' ||
                indicador == 'Disponibilidade Des' ||
                indicador == 'Disponibilidade Total' ||
                indicador == 'Paradas Total' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
                indicador == 'Apropriação de O.S' ||
                indicador == 'CARTA METAS') {
                corPositivo = '#ff7575';
                corNegativo = '#aef2ae';
                legendaPositivo = "Positivo";
                legendaNegativo = "Negativo";
            } else {
                corPositivo = '#aef2ae';
                corNegativo = '#ff7575';
                legendaPositivo = "Negativo";
                legendaNegativo = "Positivo";
            }

            var somaDesvio = Math.round(SomaVetor(desvio) * 100) / 100;

            if (somaDesvio <= 0) {

                somaDesvio = { y: somaDesvio, color: corPositivo, name: 'Desvio', drilldown: null };
            } else {

                somaDesvio = { y: somaDesvio, color: corNegativo, name: 'Desvio', drilldown: null };
            }

            //Somar os valores dos vetores
            $('#graficoAcumulado').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Acumulado de ' + indicador + ' em ' + getNome() + ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    type: 'category'
                    //categories: ['Orçado', 'Realizado', 'Desvio'],
                    //crosshair: true,
                    //title: {
                    //    text: 'Meses',
                    //    style: {
                    //        color: Highcharts.getOptions().colors[1]
                    //    }
                    //},
                }],
                yAxis: {
                    title: {
                        text: 'Valor total acumulado'
                    }
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            //format: '{point.y:.1f}%'
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                //plotLines: [{
                //    value: 80,
                //    width: 2,
                //    color: 'black',
                //    dashStyle: 'dash',
                //    zIndex: 4,
                //    label: {
                //        text: 'Meta 80%',
                //        align: 'right',
                //        y: -10,
                //        x: 0
                //    }
                //}]

                tooltip: {
                    shared: true,
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
                },
                //series: [
                //    {
                //        type: 'column',
                //        name: 'Orçado',
                //        data: orcado,
                //        //yAxis: 0,
                //        color: Highcharts.getOptions().colors[0],
                //    },
                //    {
                //        type: 'column',
                //        name: 'Realizado',
                //        data: realizado,
                //        //yAxis: 0,
                //        color: Highcharts.getOptions().colors[0],
                //    },
                //    {
                //        type: 'column',
                //        name: 'Desvio',
                //        data: desvio,
                //        //yAxis: 0,
                //        color: Highcharts.getOptions().colors[0],
                //    }
                //]
                series: [{
                    name: 'Acumulado',
                    colorByPoint: true,
                    data: [{
                        name: 'Orcado',
                        y: Math.round(SomaVetor(orcado) * 100) / 100,
                        drilldown: null
                    }, {
                        name: 'Real',
                        y: Math.round(SomaVetor(realizado) * 100) / 100,
                        drilldown: null
                    }, somaDesvio
                    //{
                    //    name: 'Desvio',
                    //    y: SomaVetor(desvio),
                    //    //somaDesvio,
                    //    drilldown: null,
                    //}
                    ]
                }],
            });

        }

        //Gera grafico Desvios
        function CallbackGraficoDesvio(realizado, orcado, dado) {

            var unidade = $('#UnidadeId :selected').text();

            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            var corPositivo = "";
            var corNegativo = "";

            if (
                indicador == 'Bois Abatidos' ||
                //indicador == 'Manutenção R$' ||
                indicador == 'Eficiên.Programção' ||
                indicador == 'Apropr Planej...to' ||
                indicador == 'Scorecard Unidade' ||
                //indicador == 'Scorecard Vácuo' ||
                //indicador == 'Head Count' ||
                //indicador == 'Scorecard Aspersão' ||
                indicador == 'Scorecard Energia' ||
                indicador == 'Scorecard Vapor' ||
                //indicador == 'Pilar Manutenção' ||
                //indicador == 'Devoluções %' ||
                //indicador == 'R$/CB Manut' ||
                //indicador == 'R$/CB Manut+Utilid' ||
                //indicador == 'Sobra de Animais' ||
                //indicador == 'R$ Manut Comb.' ||
                //indicador == 'Energia R$' ||
                //indicador == 'KWh/Boi Proc' ||
                //indicador == 'Caldeira R$' ||
                //indicador == 'Mcal/Boi Proc' ||
                indicador == 'Fator de Potência' ||
                //indicador == 'Água M³/Boi' ||
                //indicador == 'M³ de Lenha' ||
                indicador == 'Disponibilidade Ab' ||
                indicador == 'Disponibilidade Des' ||
                indicador == 'Disponibilidade Total' ||
                indicador == 'Paradas Total' ||
                //indicador == 'KWh' ||
                //indicador == 'Parada Abate (min)' ||
                //indicador == 'Parada Des. (min)' ||
                //indicador == 'OBRAS' ||
                //indicador == 'Horas Extras R$' ||
                //indicador == 'Horas Extras Nº' ||
                //indicador == 'CAPEX' ||
                indicador == 'Apropriação de O.S' ||
                indicador == 'CARTA METAS') {
                corPositivo = '#ff7575';
                corNegativo = '#aef2ae';
                legendaPositivo = "Positivo";
                legendaNegativo = "Negativo";
            } else {
                corPositivo = '#aef2ae';
                corNegativo = '#ff7575';
                legendaPositivo = "Negativo";
                legendaNegativo = "Positivo";
            }

            var positivo = [];
            var negativo = [];

            for (var i = 0; i < dado.length; i++) {
                if (orcado[i] > realizado[i]) {
                    positivo[i] = realizado[i] - orcado[i];
                    negativo[i] = null
                } else {
                    negativo[i] = realizado[i] - orcado[i];
                    positivo[i] = null
                }
            }


            $('#graficoDesvios').empty().highcharts({
                credits: {
                    enabled: false
                },

                chart: {
                    type: 'column',
                    zoomType: 'xy'
                },

                title: {
                    text: 'Desvio de ' + indicador + ' em ' + getNome() + ''
                },

                legend: {
                    enabled: true,
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                xAxis: {
                    categories: dado,

                },

                yAxis: {
                    allowDecimals: false,


                    title: {
                        text: 'Valor do desvio em milhões'
                    }
                },

                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                          this.series.name + ': ' + this.y + '<br/>' +
                          'Total: ' + this.point.stackTotal;
                    }
                },

                plotOptions: {
                    column: {
                        stacking: 'normal'
                    }
                },

                series: [{
                    name: legendaNegativo,
                    data: positivo,
                    stack: 'Conta',
                    color: corPositivo

                }, {
                    name: legendaPositivo,
                    data: negativo,
                    stack: 'Conta',
                    color: corNegativo
                }]
            });

        }

        //Ajax grafico Acompanhamento
        function GetGraficoAcompanhamento() {

            var dadosAcompanhamento = {
                "tipoRelatorio": $("#tipoRelatorio :selected").val(),
                "indicador": $("#showIndicadoresManutencao input:radio:checked").val(),
                "unidade": $('#UnidadeId :selected').text(),
                "regional": $('#RegionalId :selected').val(),
                "subRegional": $('#SubRegionalId :selected').text(),
                "ano": $('#yearId :selected').val(),
                "mes": $('#AcumuladoMouthId :selected').val()
            }

            EasyAjax(urlGraficoAcompanhamento, dadosAcompanhamento, CallbackGraficoAcompanhamento, "graficoAcompanhamento");
        }

        //Gera grafico Acompanhamento
        function CallbackGraficoAcompanhamento(retornoArray) {

            var dia = MapeiaValorParaHC(retornoArray, 'diaMes');
            var real = MapeiaValorParaHC(retornoArray, 'real');
            var targetAjustado = MapeiaValorParaHC(retornoArray, 'targetAjustado');
            var budget = MapeiaValorParaHC(retornoArray, 'budget');
            var userAdd = MapeiaValorParaHC(retornoArray, 'userAdd');
            var userAlter = MapeiaValorParaHC(retornoArray, 'userAlter');
            var linha = [];
            var dataTableVetor = [];

            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            var budget2 = SomaVetor(budget);

            $('#terceiro').show();
            $('#Export').show();

            //Gera o grafico
            $('#graficoAcompanhamento').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    //type: 'spline'
                    zoomType: 'xy'
                },
                title: {
                    text: 'Acompanhamento Diário de ' + indicador + ' em ' + getNome() + ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    //type: 'String',
                    title: {
                        text: 'Dia'
                    },
                    //min: 1
                    categories: dia
                }],
                yAxis: {
                    title: {
                        text: 'Valor'
                    },
                    min: 0,
                    plotLines: [{
                        value: budget2,
                        width: 2,
                        color: 'black',
                        dashStyle: 'dash',
                        zIndex: 0,
                        label: {
                            text: '<b>Budget ' + budget2 + '</b>',
                            align: 'right',
                            y: -10,
                            x: 0
                        }
                    }]
                },
                //tooltip: {
                //    headerFormat: '<b>{series.name}</b><br>',
                //    pointFormat: 'Dia {point.x}: {point.y:.2f}'
                //},
                tooltip: {
                    headerFormat: '<b>Dia {point.x}</b><br>',
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: true
                        },
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: true
                    }
                },
                series: [{
                    type: 'spline',
                    name: 'Real',
                    data: real

                },
                {
                    type: 'spline',
                    name: 'Target Ajustado',
                    data: targetAjustado
                }]
            });

            for (var i = 0; i < dia.length; i++) {
                linha[0] = dia[i];
                //linha[1] = userAdd[i];
                //linha[2] = userAlter[i];
                linha[1] = 'Renan';
                linha[2] = 'Gabriel';
                linha[3] = formatReal(Math.round(real[i] * 100) / 100);

                dataTableVetor.push(linha);

                linha = [];
            }

            //Gera a tabela
            var table = $('#TableExport').empty().DataTable({
                data: dataTableVetor,
                columns: [
                { title: "data" },
                { title: "User Create" },
                { title: "User Alter" },
                { title: "Valor Coleta" }
                ],
                //buttons: [
                //    { extend: 'collection', text: 'Exportar', buttons: ['copy', 'excel', 'csv', 'pdf', 'print'] }
                //],
                fixedHeader: {
                    header: true,
                    footer: true
                },
                "searching": false,
                "ordering": false,
                //"scrollX": true,
                "autoWidth": true,
                "autoHeight": true,
                //"scrollCollapse": true,
                //"scrollY": "300px",
                //lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                pageLength: 12,
                responsive: true,
                //paginate: true,
                //paging: false,
                //bSort: false,
                //loadingRecords: true,
                destroy: true,
                info: false,

            });

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        customize: function (win) {
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        },
                        exportOptions: {
                            columns: ':visible'
                        }                        
                    },
                    {
                        extend: 'excelHtml5',

                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'pdf',
                ]
            });

            table.buttons(0, null).container().prependTo(
                table.table().container()
            );

        }

        /*Auxiliares*/
        function EasyAjax(url, dados, callback, loader) {

            //if (!!loader)
            //    $('#' + loader).addClass('loader');

            if (dados == undefined)
                dados = {};

            //AJAX
            $.post(url, dados, function (r) {
                try {

                    //if (!!loader)
                    //    $('#' + loader).removeClass('loader');

                    callback(r);

                } catch (e) {
                    console.log(e);
                } finally {
                    //$btn.button('reset');
                }
            }).fail(function (e, h, x) {
                //$btn.button('reset');
                if (e.status == 0) {
                    GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.statusText);
                } else {
                    GuardJs.exibirMensagemAlerta("Não foi possivel buscar os dados: " + e.responseJSON.Message);
                }
            }).always(function () {
                if (!!loader)
                    $('#' + loader).removeClass('loader');
            });
        }

        function ValidaDadosParaEnvio() {
            GuardJs.resetForValidation();

            if (!GuardJs.isValid)
                return !GuardJs.isValid;
            GuardJs.esconderMensagem();

            return true;
        }

        $(document).ready(function () {

            $("#mouthId").prop('disabled', true);

            legenda1 = 'Meses';

            $('#btnSend').hide();

            tipoGrafico = 'spline';

            $('#tipoRelatorio').change(function () {
                if ($(this).val() == "Por Regional") {
                    $('#UnidadeId').prop('disabled', true);
                    $("#mouthId").prop('disabled', false);
                    legenda1 = 'Unidades';
                    tipoGrafico = 'column';
                } else {
                    $('#UnidadeId').prop('disabled', false);
                    $("#mouthId").prop('disabled', true);
                    legenda1 = 'Meses';
                    tipoGrafico = 'spline';
                }
            });

            $("#btnSend").click(function (e) {
                if ($("#showIndicadoresManutencao input:radio:checked").val() != undefined)
                    Send();
            });

            formControl.showUnidadesManutencao();
            formControl.showIndicadoresManutencao();
            formControl.showYear();
            formControl.showMonthManutencao();
            formControl.showFiltroManutencao();
            formControl.showRegionaisManutencao();
            formControl.showSubRegionaisManutencao();

            $('#tipoRelatorio').change(function () {

                if ($('#tipoRelatorio option:selected').val() == "Por Unidade") {
                    $("#SubRegionalId option[value='Todas']").remove();
                    $("#mouthId").val(0);
                    $('#SubRegionalId').change();
                } else {
                    $("#SubRegionalId").append('<option value="Todas">Todas</option>');
                    $('#SubRegionalId').change();
                }

                if (ConfirmaEnvio()) {
                    Send();
                }

            }).change();

            $("#indicadores input:radio").on("click", function () {
                if (ConfirmaEnvio()) {
                    Send();
                }
            });

            $("#RegionalId").change(function () {

                $('#UnidadeId').children('option').hide();

                $("#UnidadeId").val($("#UnidadeId").find("option:visible:first").val());

                $("#SubRegionalId").find("option").show().not("option[value*='" + this.value + "']").hide();

                $("#SubRegionalId").val($("#SubRegionalId").find("option:visible:first").val());

                if ($('#tipoRelatorio option:selected').val() == "Por Unidade") {
                    $("#SubRegionalId option[value='Todas']").hide();

                } else {
                    $("#SubRegionalId option[value='Todas']").show();
                }

                if (ConfirmaEnvio()) {

                    Send();
                }

            }).change();

            $("#SubRegionalId").change(function () {

                $('#UnidadeId').children('option').hide();
                $("#UnidadeId").val($("#UnidadeId").find("option:visible:first").val());

                if (this.selectedIndex != -1) {

                    $("#UnidadeId").find("option").show().not("option[value*='" + this.options[this.selectedIndex].text + "']").hide();

                    $("#UnidadeId").val($("#UnidadeId").find("option:visible:first").val());

                }

                if (ConfirmaEnvio()) {
                    Send();
                }

            }).change();

            $('#UnidadeId').change(function () {

                if (ConfirmaEnvio()) {
                    Send();
                }
            });

            $('#yearId').change(function () {
                if (ConfirmaEnvio()) {
                    Send();
                }
            });

            $('#mouthId').change(function () {
                if (ConfirmaEnvio()) {
                    Send();
                }
            });

            $('#AcumuladoMouthId').change(function () {
                if (ConfirmaEnvio()) {
                    GetGraficoAcompanhamento();
                }
            });

        });

        var ajaxCount = 0;

        $(document).ajaxStart(function () {
            ajaxCount++;
        });

        $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            ajaxCount--;
        });

        $(document).ajaxStop(function () {
            ajaxCount--;
            if (ajaxCount == 0) {
                $(".loader").removeClass("loader");
            }
        });

        function addMes(retornoArray) {

            var arrayTable = [];

            for (var i = 0; i < retornoArray.length() ; i++) {

            }

            return arrayTable
        }

        function SomaVetor(vetor) {

            var vetorSomado = 0;

            for (var i = 0; i < vetor.length; i++) {

                vetorSomado += vetor[i];
            }

            return vetorSomado;
        }

        function formatReal(num) {
            var p = num.toFixed(2).split(".");
            return p[0].split("").reverse().reduce(function (acc, num, i, orig) {
                return num == "-" ? acc : num + (i && !(i % 3) ? "." : "") + acc;
            }, "") + "," + p[1];
        }

        function ConfirmaEnvio() {

            var tipo = $("#tipoRelatorio :selected").val();
            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();
            var unidade = $('#UnidadeId :selected').text();
            var regional = $('#RegionalId :selected').val();
            var subRegional = $('#SubRegionalId :selected').text();
            var ano = $('#yearId :selected').val();
            var mes = $('#mouthId :selected').val();
            var indicador = $("#showIndicadoresManutencao input:radio:checked").val();

            switch (tipo) {
                case "Por Unidade":
                    if (tipo != undefined && indicador != undefined && unidade != "" && regional != undefined && subRegional != "" && ano != undefined && mes != undefined && indicador != undefined) {
                        return true;
                    } else
                        return false;
                    break;
                case "Por Regional":
                    if (tipo != undefined && indicador != undefined && regional != undefined && subRegional != "" && ano != undefined && mes != undefined && indicador != undefined) {
                        return true;
                    } else
                        return false;
                    break;
                default:
                    alert("Tipo de relatório inválido!");
                    break;
            }
        }

        function VericaAcompanhamento() {

            if ($("#tipoRelatorio :selected").val() == 'Por Regional' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'KWh/Boi Proc' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Mcal/Boi Proc' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Água M³/Boi' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Rend.(Sebo+Farinha)' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Sebo Flotado' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Disponibilidade Ab' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Disponibilidade Des' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Disponibilidade Total' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Paradas Total' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Eficiên.Programção' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Apropr Planej...to' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Apropriação de O.S' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Absenteísmo' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Rotatividade' ||
                $("#showIndicadoresManutencao input:radio:checked").val() == 'Devoluções %')
                return true;
            else
                return false;
        }

    </script>
}
