@{
    ViewBag.Title = @Resources.Resource.import_excel;
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li> 
                    <a href="@Url.Action("Index", "ImportacaoExcel")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.import_excel</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>

        <div class="container-fluid">
            <div class="row  form-group">
                <div class="col-md-6 col-xs-12 form-group">
                    @using (Html.BeginForm("Importar", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-xs-12 form-group">
                            <h4> <label class="">Arquivo excel</label></h4>
                        </div>
                        <div class="col-xs-12 form-group">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-12 form-group">
                                        <input class="btn btn-default" type="file" name="arquivo" />
                                    </div>
                                    <div class="col-xs-12 ">
                                        <button class="btn btn-success" type="submit" name="enviar">Ler Arquivo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-12 col-sm-4">
                    @if (Model != null)
                    {
                        <table class="table table-striped">
                            @foreach (var produto in Model)
                            {
                                <tr>
                                    <td>@produto.Id</td>
                                    <td>@produto.Descricao</td>
                                    <td>@produto.Preco</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
