@model List<Dictionary<string, string>>

@{
    ViewBag.Title = @Resources.Resource.import_excel;
    var urlExcel = Url.Action("SalvarExcel", "api/ImportacaoExcel");
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "ImportacaoExcel")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Resources.Resource.import_excel</span>
                </li>
            </ul>
            <div class="page-toolbar">
            </div>
        </div>

        <div class="alert alert-danger" hidden="hidden" id="ModalErro" role="alert">
          
        </div>

        <div id="ModalConfirmacao" class="modal" hidden="hidden" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmação</h5>
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                    </div>
                    <div class="modal-body">
                        <p>Deseja realmente salvar o arquivo selecionado?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="modalSalvar" type="button" class="btn btn-primary">Salvar Arquivo</button>
                        <button id="modalCancelar" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>



        <div id="ModalInformacao" class="modal" hidden="hidden" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Arquivo salvo com sucesso!</p>
                    </div>
                    <div class="modal-footer">
                        <button id="modalSucesso" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="float:right">
            <div class="col-md-12">
                @Html.ActionLink(Resources.Resource.new_format, "Index", "ImportFormats", null, new { @class = "btn btn-info" })
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12 form-group">
                    @using (Html.BeginForm("Importar", "ImportacaoExcel", FormMethod.Post, new { enctype = "multipart/form-data", @id= "carregarArquivo"}))
                {
                    <div class="col-xs-12 form-group">
                        <h4> <label class="">Arquivo excel</label></h4>
                    </div>
                    <div class="col-xs-12 form-group">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-xs-12 form-group">
                                    <input class="btn btn-default" type="file" name="arquivo" />
                                </div>
                                <div class="col-xs-12 ">
                                    <button class="btn btn-success" type="submit" name="enviar">Ler Arquivo</button>
                                    <button class="btn btn-primary" type="button" id="salvar" name="salvar">Salvar Arquivo</button>
                                </div>
                            </div>
                        </div>
                    </div>
            }
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div style="white-space: nowrap; overflow: auto; max-height: 500px;" class="col-md-6 col-lg-12 col-sm-4">
                    @if (Model != null)
                {
                    <div class="form-group">
                        @Html.Label("Formatos de Importação", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Formatos de Importação", (SelectList)ViewBag.Formatos, Resources.Resource.select + "...", new { @class = "form-control", @id = "formato" })
                        </div>
                    </div>
                    <br /> <br />
                    <table id="tabela" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Selecionar</th>
                                @foreach (var titulo in Model[0])
                            {
                                <th>@titulo.Key</th>
                        }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var produto in Model)
                        {
                            <tr>
                                <td>
                                    <label><input type="checkbox" checked></label>
                                </td>
                                @foreach (var titulo in produto)
                            {
                                <td class="dadosTabela" data-header="@titulo.Key">@titulo.Value</td>

                        }
                            </tr>

                    }
                        </tbody>
                    </table>
            }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var urlExcel = '@Html.Raw(@urlExcel)';

        $("#carregarArquivo").submit(function (e) {
            if ($('input[name="arquivo"]').val().length == 0) {
                $("#ModalErro").html("<p>Selecione um arquivo para sua importação.</p>")
                $("#ModalErro").show();
                e.preventDefault();
            }
        });

        $("#salvar").on('click', function () {

            $("#ModalConfirmacao").modal('show');

            $("#modalSalvar").off('click');
            $("#modalSalvar").on('click', function () {

                if ($('#formato').val() > 0) {
                    $("#ModalConfirmacao").modal('hide');
                    var dadosPreenchidos = "";
                    if ($("#tabela tbody tr").find('[type="checkbox"]:checked').length > 0) {
                        dadosPreenchidos = PreencherDadosArquivo();
                    }
                    var formatoId = $("#formato").val();
                    var dados = JSON.stringify(dadosPreenchidos);

                    $('body').LoadingOverlay("show");
                    $.ajax({
                        type: "Post",
                        url: urlExcel + "?formatoId=" + formatoId,
                        dataType: "json",
                        contentType: "application/json",
                        data: dados,
                        success: function (retorno) {
                            $('body').LoadingOverlay("hide");
                            $("#ModalErro").hide();
                            $("#ModalInformacao").modal('show');
                        },
                        error: function (retorno) {
                            $('body').LoadingOverlay("hide");
                            $("#ModalErro").html("<p>" + retorno.responseJSON.Message + "</p>")
                            $("#ModalErro").show();
                        },
                    });
                } else {
                    $("#ModalConfirmacao").modal('hide');
                    $("#ModalErro").html("<p>Selecione qual formato deseja considerar para sua importação.</p>")
                    $("#ModalErro").show();
                }
            });

            function PreencherDadosArquivo() {
                var lista = [];
                var objeto = {};

                $.each($("#tabela tbody tr").find('[type="checkbox"]:checked'), function () {
                    objeto = {};
                    $.each($(this).parents("tr").find("[data-header]"), function (i, o) {

                        objeto[$(this).attr("data-header")] = $(this).text();
                    });
                    lista.push(objeto);
                })
                return lista;
            }
        })


    </script>
}