
@model  Dominio.ReportXUserSgq


@{
    ViewBag.Title = "Cadastro de Layout X Relatório";
}

<div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="icon-share font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">Layout X Relatório</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="setup_tab">

                <p>
                    @Html.ActionLink(Resources.Resource.create as string, "Create", "ParReportLayoutXReportXUser", new { reportXUserId = Model.Id  }, new { @class = "btn btn-primary" })
                </p>

                <table class="table table-striped" id="tabelaLayout">
                    <thead style="background-color: cornflowerblue;">
                        <tr>
                            <th>Valor</th>
                            <th>Apelido</th>
                            <th>Nivel Layout</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.parReportLayoutXReportXUser)
                        {
                            <tr>
                                <td>@item.Value</td>
                                <td>@item.NickName</td>
                                <td>@item.LayoutLevel.ToString()</td>
                                <td>
                                    @Html.ActionLink("Inativar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<script>

    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");
    navbarSelect("navbar4");

</script>

<script>
    $(document).ready(function () {
        closeLeftSidebar();

        DataTableComResourcesEpropriedadesjaSetadas.aoColumns = [
            null,
            null,
            { "bSearchable": false }
        ];
        $('#tabelaLayout').dataTable(DataTableComResourcesEpropriedadesjaSetadas);
    });
</script>