@{
    /**/

    ViewBag.Title = "Auditoria Comportamental";
    ViewBag.SubTitle = "";

    Layout = "~\\Views\\RelatoriosSgq\\_FilterReportsHorizontal.cshtml";



    var urlGet = Url.Action("GetAuditoriaComportamental", "api/AuditoriaComportamental");
    var urlGetUnidade = Url.Action("GetAuditoriaComportamentalUnidade", "api/AuditoriaComportamental");
    var urlGetUnidadePorSetor = Url.Action("GetAuditoriaComportamentalUnidadePorSetor", "api/AuditoriaComportamental");
    var urlGetAcompanhamento = Url.Action("GetAuditoriaComportamentalAcompanhamento", "api/AuditoriaComportamental");

    ViewBag.ShowCurrentDate = false;
    ViewBag.ShowRangeDate = true;
    ViewBag.ShowParCompany = true;
    ViewBag.ShowParStructure2 = true;
    ViewBag.ShowParLevel2GQ = false;
    ViewBag.ShowUserSgqAuditor = true;
    ViewBag.ShowParStructure3 = true;
    ViewBag.ShowParLevel2 = false;
    ViewBag.ShowParDepartment = true;

}

@section Content {

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item active">
            <a class="nav-link" id="visaoGeral" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" val="1">Visão Geral</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="visaoUnidade" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" val="2">Visão Unidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="acompanhamentoAuditoria" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" val="3">Acompanhamento da Auditoria</a>
        </li>
    </ul>

    <div id="message">

    </div>

    <div class="row" id="cardsVisaoGeralUnidade">
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
                <div class="panel-body bg-white">
                    <p class="panel-title" style="font-size: 15px;">Nº Auditorias</p>
                    <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelTotalAuditorias">0</p>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
                <div class="panel-body bg-white">
                    <p class="panel-title" style="font-size: 15px;">Nº Auditores</p>
                    <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelTotalAuditores">0</p>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
                <div class="panel-body bg-white">
                    <p class="panel-title" style="font-size: 15px;">Nº Comportamento Seguro</p>
                    <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelTotalConforme">0</p>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
                <div class="panel-body bg-white">
                    <p class="panel-title" style="font-size: 15px;">Nº Desvios</p>
                    <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelTotalNaoConforme">0</p>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
                <div class="panel-body bg-white">
                    <p class="panel-title" style="font-size: 15px;">Nº Pessoas Avaliadas</p>
                    <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelTotalAuditoresObservados">0</p>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-xs-12">
            <div class="panel" style="text-align:center; border-style:solid; border-color:black;">
                <div class="panel-body bg-white">
                    <p class="panel-title" style="font-size: 15px;">IPS</p>
                    <p class="card-text mar" style="font-size: 30px; font-weight: bold;" id="labelIps">0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="width:100%; height:400px; ">

        <div class="col-md-4 col-lg-4 col-xs-3" id="containerPie1"></div>

        <div class="col-md-4 col-lg-4 col-xs-3" id="containerPie2"></div>

        <div class="col-md-4 col-lg-4 col-xs-3" id="containerPie3"></div>
    </div>

    <div class="row hidden" id="divVisaoGeral">
        @Html.Partial("~\\Views\\Relatorios\\RH\\_AuditoriaComportamental.cshtml")
    </div>

    <div class="row hidden" id="divVisaoUnidade">
        @Html.Partial("~\\Views\\Relatorios\\RH\\_AuditoriaComportamentalVisaoUnidade.cshtml")
    </div>


    <div class="row hidden" id="divAcompanhamento">
        @Html.Partial("~\\Views\\Relatorios\\RH\\_AuditoriaComportamentalAcompanhamento.cshtml")
    </div>
}

@section Scripts {
    <script>
        var globalTotalRealizado = 0;
        var urlGet = '@Html.Raw(@urlGet)';
        var urlGetUnidade = '@Html.Raw(@urlGetUnidade)';
        var urlGetUnidadePorSetor = '@Html.Raw(@urlGetUnidadePorSetor)';
        var urlGetAcompanhamento = '@Html.Raw(@urlGetAcompanhamento)';
    </script>

    <script src="~/Scripts/relatoriosRH/AuditoriaComportamental/visaoGeral.js"></script>

}
