@using DTO
@{
    Layout = "../Shared/_LayoutReports.cshtml";
}

<style>
    .daterangepicker .input-mini {
        width: 100% !important;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content" style="padding:2px;">
        <div class="col-sm-2" id="divFilterReports"
             style="overflow-y:scroll; padding-top:0px">

            <form id="filterReports">

                <div>

                    <div class="row">
                        <div>
                            <div class="col-sm-12" style="background-color:#eee;margin-bottom:10px;">
                                <h4><strong>Filtros</strong></h4>
                                <input type="hidden" name="startDate" />
                                <input type="hidden" name="endDate" />
                            </div>


                            @if (ViewBag.ShowCurrentDate == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>
                                            <strong>
                                                @Resources.Resource.date
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control"
                                               name="currentDate" />
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowRangeDate == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>
                                            <strong>
                                                @Resources.Resource.date
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control"
                                               name="dateRange" />
                                    </div>
                                </div>
                            }


                            @if (ViewBag.ShowParModule == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Módulo</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parModule_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParModule", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParModuleDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parModule_Ids"></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParClusterGroup == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.cluster_group</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parClusterGroup_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParClustersGroup", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParClusterGroupDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parClusterGroup_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParCluster == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.cluster</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parCluster_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParClusters", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParClusterDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parCluster_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParStructure == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Estruturas</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parStructure_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParStructure", "api/Formulario")">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parStructure_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParStructureGroup == true) //Grupo de estrutura
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Grupo de Empresa</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parStructureGroup_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParStructureGroup", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParStructureGroupDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parStructureGroup_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParStructure1 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@DicionarioEstaticoGlobal.DicionarioEstaticoHelpers.parStructure1</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parStructure1_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParStructure1", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParStructureDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parStructure1_Ids"></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParStructure2 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@DicionarioEstaticoGlobal.DicionarioEstaticoHelpers.parStructure2</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parStructure2_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParStructure2", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParStructureDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parStructure2_Ids"></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParStructure3 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@DicionarioEstaticoGlobal.DicionarioEstaticoHelpers.parStructure3</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parStructure3_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParStructure3", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParStructureDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parStructure3_Ids"></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParCompany == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.unit</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parCompany_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParCompany", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParCompanyDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parCompany_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowShift == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.shift</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=shift_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredShift", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowShiftDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="shift_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParGroupParLevel1 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Função</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parGroupParLevel1_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParGroupParLevel1s", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParGroupParLevel1Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parGroupParLevel1_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParDepartment == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.department</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parDepartment_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParDepartment", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParDepartmentDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parDepartment_Ids" multiple>
                                            @if (ViewBag.ShowParDepartmentDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowParDepartmentDefault</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParSecao == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Seção</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parSecao_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParDepartmentFilho", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParSecaoDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parSecao_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParCargo == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Cargo</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parCargo_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParCargo", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParCargoDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parCargo_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParCriticalLevel == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.criticalLevel</strong></label>
                                        <button type="button"
                                                data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parCriticalLevel_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParCriticalLevels", "api/Formulario")">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parCriticalLevel_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParLevel1 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.level1</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parLevel1_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParLevel1", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParLevel1Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parLevel1_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParLevel2 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.level2</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parLevel2_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParLevel2", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParLevel2Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parLevel2_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParLevel3 == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.level3</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parLevel3_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParLevel3", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParLevel3Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parLevel3_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                                <select class="form-control hidden" name="IsCascadeLevel2Level3">
                                    @if (ViewBag.IsCascadeLevel2Level3 == 0)
                                    {
                                        <option value="0" selected></option>
                                    }
                                    else
                                    {
                                        <option value="1" selected></option>
                                    }
                                </select>

                            @if (ViewBag.ShowParLevel1GQ == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.level1</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parLevel1_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParLevel1GQ", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParLevel1Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parLevel1_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParLevel2GQ == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.level2</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parLevel2_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParLevel2GQ", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParLevel2Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parLevel2_Ids" multiple></select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParLevel3GQ == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>@Resources.Resource.level3</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=parLevel3_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredParLevel3GQ", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParLevel3Default">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="parLevel3_Ids" multiple></select>
                                    </div>
                                </div>
                            }


                            @if (ViewBag.ShowParLevel1Status == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Status do Indicador</strong></label>
                                        <select class="form-control" name="parLevel1Status_Ids">
                                            <option value="0">Todos</option>
                                            <option value="1">Dentro da meta</option>
                                            <option value="2">Fora da meta</option>
                                        </select>
                                    </div>
                                </div>
                            }


                            @if (ViewBag.ShowAcaoStatus == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Plano de Ação Concluído</strong></label>
                                        <select class="form-control" name="acaoStatus">
                                            @if (ViewBag.ShowAcaoStatusDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowAcaoStatusDefault</option>
                                            }

                                            <option value="1">Sim</option>
                                            <option value="2">Não</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowPeriodo == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Periodo</strong></label>
                                        <select class="form-control" name="periodo">
                                            <option value="1">Dia</option>
                                            <option value="2">Semana</option>
                                            <option value="3">Mês</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowNCComPeso == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Exibe NC Com peso</strong></label>
                                        <select class="form-control" name="ncComPeso">
                                            <option value="1">Sim</option>
                                            <option value="2">Não</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowPeso == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Peso</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=peso]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredPeso", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowPesoDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="peso">
                                            @if (ViewBag.ShowPesoDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowPesoDefault</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowDesdobramentoTipo == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Desdobramento</strong></label>
                                        <select class="form-control" name="desdobramento">
                                            @if (ViewBag.ShowDesdobramentoTipoDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowDesdobramentoTipoDefault</option>
                                            }
                                            <option value="1">Monitoramento</option>
                                            <option value="2">Tarefa</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowUserSgqSurpervisor == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Surpervisor</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=userSgqSurpervisor_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredUserSgqSurpervisor", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowUserSgqSurpervisorDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="userSgqSurpervisor_Ids" multiple>
                                            @if (ViewBag.ShowUserSgqSurpervisorDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowUserSgqSurpervisorDefault</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowUserSgqMonitor == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Monitor</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=userSgqMonitor_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetFilteredUserSgqMonitor", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowUserSgqSurpervisorDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="userSgqMonitor_Ids" multiple>
                                            @if (ViewBag.ShowUserSgqMonitorDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowUserSgqMonitorDefault</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowTipoEdicao == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Tipo de Edição</strong></label>
                                        <select class="form-control" name="tipoEdicao">
                                            <option value="0">Todos</option>
                                            <option value="1">Edição de Resultados</option>
                                            <option value="2">Edição de Cabeçalho</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            @if (ViewBag.ShowParReason == true)
                            {
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label><strong>Tipo de Motivos</strong></label>
                                        <button type="button" data-filtroselect3-btn
                                                data-filtroselect3-select="select[name=ParReason_Ids]"
                                                data-filtroselect3-url="@Url.Action("GetParReason", "api/Formulario")"
                                                data-filtroselect3-default-select="@ViewBag.ShowParReasonDefault">
                                            Abrir
                                        </button>
                                        <select class="form-control" name="ParReason_Ids" multiple>
                                            @if (ViewBag.ShowParReasonDefault != null)
                                            {
                                                <option value="">@ViewBag.ShowParReasonDefault</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                            }


                        </div>
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary pull-right btn-block"
                                    id="btnSend" onclick="enviarFiltro();">
                                @Resources.Resource.send
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-10" id="divReportContent">

            <div class="row" style="padding-bottom:10px;padding-top:5px">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-warning pull-left"
                            id="btnToggleDivFilterReports"
                            onclick="toggleDivFilterReports();">
                        < Esconder Filtros
                    </button>
                    <button type="button" class="btn btn-primary pull-right"
                            id="btnSend" onclick="enviarFiltro();">
                        @Resources.Resource.refresh
                    </button>
                    <h4 class="text-center"><strong>@ViewBag.Title</strong></h4>
                </div>
            </div>

            @RenderSection("Content", required: true)
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Select3/select3.js"></script>
    <script>

        function toggleDivFilterReports() {
            if ($('#divFilterReports').hasClass("hide")) {
                $('#divFilterReports').removeClass('hide');
                $('#divReportContent').attr('class', 'col-sm-10');
                $('#btnToggleDivFilterReports').text('< Esconder Filtros');

            } else {
                $('#divFilterReports').addClass('hide');
                $('#divReportContent').attr('class', 'col-sm-12');
                $('#btnToggleDivFilterReports').text('> Mostrar Filtros');
            }
        }

        $('#filterReports select').on('change', function () {
            preencheFiltrosAjax();
        });
        
        var dataFiltro = [];
        var objFiltro = {
            Param: {}
        };

        function atualizaObjFiltro() {
            debugger
            var objFiltroParam = objFiltro.Param;
            objFiltro = $('#filterReports').serializeObject();
            $(Object.keys(objFiltro)).each(function (i, o) {
                if (o.indexOf("Date") < 0) {
                    objFiltro[o] = Array.isArray(objFiltro[o]) ? objFiltro[o] : [objFiltro[o]];
                }
            });
            objFiltro.Param = objFiltroParam;
            objFiltro.ShowUserCompanies = @Html.Raw(Json.Encode(ViewBag.ShowUserCompanies));
        }

        function preencheFiltrosAjax() {
            atualizaObjFiltro();
            return;
            openLoader('Carregando Filtros...');
            $.ajax({
                url: "@Html.Raw(Url.Action("GetForm", "api/Formulario"))",
                type: 'post',
                data: JSON.stringify(objFiltro),
                dataType: "JSON",
                contentType: "APPLICATION/JSON; CHARSET=UTF-8",
                beforeSend: function () {
                    $("#resultado").html("ENVIANDO...");
                }
            })
            .done(function (data) {
                preencheFiltros(data);
                inicializaSelect2();
                closeLoader();
            })
            .fail(function (jqXHR, textStatus, msg) {
                console.log(msg);
                closeLoader();
            });
        }

        function inicializaSelect2() {

            $('select[name="parStructure_Ids"]').select2();
            $('select[name="parCompany_Ids"]').select2();
            $('select[name="shift_Ids"]').select2();
            $('select[name="parDepartment_Ids"]').select2();
            $('select[name="parSecao_Ids"]').select2();
            $('select[name="parCargo_Ids"]').select2();
            $('select[name="parGroupParLevel1_Ids"]').select2();
            $('select[name="parLevel1_Ids"]').select2();
            $('select[name="parLevel2_Ids"]').select2();
            $('select[name="parLevel3_Ids"]').select2();
            $('select[name="parCriticalLevel_Ids"]').select2();
            $('select[name="parStructureGroup_Ids"]').select2();
            $('select[name="parStructure1_Ids"]').select2();
            $('select[name="parStructure2_Ids"]').select2();
            $('select[name="parStructure3_Ids"]').select2();
            $('select[name="parCluster_Ids"]').select2();
            $('select[name="parClusterGroup_Ids"]').select2();
            $('select[name="parLevel1Status_Ids"]').select2();
            $('select[name="acaoStatus"]').select2();
            $('select[name="periodo"]').select2();
            $('select[name="parModule_Ids"]').select2();
            $('select[name="ncComPeso"]').select2();
            $('select[name="peso"]').select2();
            $('select[name="desdobramento"]').select2();
            $('select[name="userSgqSurpervisor_Ids"]').select2();
            $('select[name="userSgqMonitor_Ids"]').select2();
            $('select[name="ParReason_Ids"]').select2();
            $('select[name="tipoEdicao"]').select2();
        }

        inicializaSelect2();
        preencheFiltrosAjax();

        function preencheFiltros(data) {

            dataFiltro = data;

            $('#filterReports select').off('change');

            $('select[name="parStructure_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParStructures, "Id", "Name", objFiltro["parStructure_Ids"]));
            $('select[name="parStructure2_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParStructuresRegional, "Id", "Name", objFiltro["parStructure2_Ids"]));
            $('select[name="parCompany_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParCompanies, "Id", "Name", objFiltro["parCompany_Ids"]));
            $('select[name="shift_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.Shifts, "Id", "Description", objFiltro["shift_Ids"]));
            $('select[name="parDepartment_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParDepartments, "Id", "Name", objFiltro["parDepartment_Ids"]));
            $('select[name="parSecao_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParSecoes, "Id", "Name", objFiltro["parSecao_Ids"]));
            $('select[name="parGroupParLevel1_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParGroupParLevel1s, "Id", "Name", objFiltro["parGroupParLevel1_Ids"]));
            $('select[name="parCargo_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParCargos, "Id", "Name", objFiltro["parCargo_Ids"]));
            $('select[name="parLevel1_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParLevel1s, "Id", "Name", objFiltro["parLevel1_Ids"]));
            $('select[name="parLevel2_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParLevel2s, "Id", "Name", objFiltro["parLevel2_Ids"]));
            $('select[name="parLevel3_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParLevel3s, "Id", "Name", objFiltro["parLevel3_Ids"]));
            $('select[name="parLevel1Status_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParLevel1Status, "Id", "Name", objFiltro["parLevel1Status_Ids"]));
            $('select[name="acaoStatus"]').html(
                retornaOptionsPeloArray(dataFiltro.AcaoStatus, "Id", "Name", objFiltro["acaoStatus"]));
            $('select[name="periodo"]').html(
                retornaOptionsPeloArray(dataFiltro.Periodo, "Id", "Name", objFiltro["periodo"]));
            $('select[name="parModule_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.ParModules, "Id", "Name", objFiltro["parModule_Ids"]));
            $('select[name="peso"]').html(
                retornaOptionsPeloArray(dataFiltro.Pesos, "Id", "name", objFiltro["peso"]));
            $('select[name="desdobramento"]').html(
                retornaOptionsPeloArray(dataFiltro.Desdobramentos, "Id", "Name", objFiltro["desdobramento"]));
            $('select[name="userSgqSurpervisor_Ids"]').html(
                retornaOptionsPeloArray(dataFiltro.UserSgqSurpervisores, "Id", "Name", objFiltro["userSgqSurpervisor_Ids"]));

            $('select[name="parStructure_Ids"]').trigger('change');
            $('select[name="parCompany_Ids"]').trigger('change');
            $('select[name="shift_Ids"]').trigger('change');
            $('select[name="parDepartment_Ids"]').trigger('change');
            $('select[name="parCargo_Ids"]').trigger('change');
            $('select[name="parLevel1_Ids"]').trigger('change');
            $('select[name="parLevel2_Ids"]').trigger('change');
            $('select[name="parLevel3_Ids"]').trigger('change');
            $('select[name="parCriticalLevel_Ids"]').trigger('change');
            $('select[name="parStructure_Ids"]').trigger('change');
            $('select[name="parStructure1_Ids"]').trigger('change');
            $('select[name="parStructure2_Ids"]').trigger('change');
            $('select[name="parStructure3_Ids"]').trigger('change');
            $('select[name="parCluster_Ids"]').trigger('change');
            $('select[name="parClusterGroup_Ids"]').trigger('change');
            $('select[name="parGroupParLevel1_Ids"]').trigger('change');
            $('select[name="parLevel1Status_Ids"]').trigger('change');
            $('select[name="acaoStatus"]').trigger('change');
            $('select[name="periodo"]').trigger('change');
            $('select[name="parModule_Ids"]').trigger('change');
            $('select[name="ncComPeso"]').trigger('change');
            $('select[name="peso"]').trigger('change');
            $('select[name="desdobramento"]').trigger('change');
            $('select[name="userSgqSurpervisor_Ids"]').trigger('change');

            $('#filterReports select').on('change', function () {
                preencheFiltrosAjax();
            });
        }

        function retornaOptionsPeloArray(lista, value, text, listaSelecionada, defaultText) {

            var html = "";

            if (typeof (defaultText) != 'undefined') {
                html += '<option value="">' + defaultText + '</option>';
            }

            $(lista).each(function (i, o) {

                var selecionado = listaSelecionada != null ?
                    $.grep(Array.isArray(listaSelecionada) ? listaSelecionada : [listaSelecionada],
                        function (obj) { return obj == o[value] }) : [];

                var selected = "";

                if (selecionado.length > 0)
                    selected = "selected";

                html += '<option value="' + o[value] + '" ' + selected + '>' + o[text] + '</option>';

            });

            return html;
        }

        /*DATE RANGE PICKER*/

        var rangesEUA = {
            '⊲ Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '⊲ Last 7 Days': [moment().subtract(6, 'days'), moment()],
            '⊲ Last 30 Days': [moment().subtract(29, 'days'), moment()],
            '⊲ Last 365 Days': [moment().subtract(12, 'month'), moment()],
            '⬚ This Month': [moment().startOf('month'), moment().endOf('month')],
            '⬚ Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            '⬚ This Year': [moment().startOf('year'), moment().endOf('year')],
            '⬚ Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        }

        var rangesBR = {
            '⊲ Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '⊲ Últimos 7 Dias': [moment().subtract(6, 'days'), moment()],
            '⊲ Últimos 30 Dias': [moment().subtract(29, 'days'), moment()],
            '⊲ Últimos 365 Dias': [moment().subtract(12, 'month'), moment()],
            '⬚ Este Mês': [moment().startOf('month'), moment().endOf('month')],
            '⬚ Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            '⬚ Este Ano': [moment().startOf('year'), moment().endOf('year')],
            '⬚ Último Ano': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
        }

        var configLayout = @Html.Raw(Json.Encode(GlobalConfig.LanguageBrasil));
        var rangesCalendar;

        /*Configura date range picker para PT-BR*/
        if (configLayout) {

            moment.locale("Pt-Br");
            moment.defaultFormat = "DD/MM/YYYY";

            $.fn.daterangepicker('locale', {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "de",
                "toLabel": "até",
                "customRangeLabel": "Customizado",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Dom",
                    "Seg",
                    "Ter",
                    "Qua",
                    "Qui",
                    "Sex",
                    "Sab"
                ],
                "monthNames": [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ],
            });

            rangesCalendar = rangesBR;

        } else {

            moment.defaultFormat = "MM/DD/YYYY";

            $.fn.daterangepicker('locale', {
                "format": "MM/DD/YYYY",
                "separator": " - ",
            });

            rangesCalendar = rangesEUA;

        }

        $.fn.daterangepicker('ranges', rangesCalendar);

        var start = moment();
        var end = moment();

        function callbackDateRange(start, end) {
            $('input[name=startDate]').val(start.format("YYYY-MM-DD"));
            $('input[name=endDate]').val(end.format("YYYY-MM-DD"));
            atualizaObjFiltro();
        }
        
        var configCallendar = {};
        moment.locale('pt-BR');
        $('input[name=dateRange]').daterangepicker({
            startDate: start,
            endDate: end,
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "customRangeLabel": "Seleção",
            },
            alwaysShowCalendars: true,
            showDropdowns: true,
            linkedCalendars: false,
            ranges: rangesCalendar
        }, callbackDateRange);

        /*SIMPLE DATE PICKER*/
        $('input[name="currentDate"]').daterangepicker({
            singleDatePicker: true,
            startDate: start,
            endDate: end,
            locale: {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "customRangeLabel": "Seleção",
            },
            alwaysShowCalendars: true,
            showDropdowns: true,
            linkedCalendars: false
        }, callbackDateRange);

        setTimeout(function () {
            callbackDateRange(start, end);
        }, 500);

        Select3.initialize(function () { return objFiltro });

    </script>

}
@RenderSection("Scripts", required: true)