@using DTO
@{
    //EUA HML
    //ViewBag.urlRootPa = "http://sgqtest.jbssa.com/actionPlan";
    //ViewBag.urlRootPaFTA = "http://sgqtest.jbssa.com/actionPlan/Pa_Acao/NewFTA?";

    //EUA GRT
    //ViewBag.urlRootPa = "http://192.168.25.200/PlanoAcaoUSA";
    //ViewBag.urlRootPaFTA = "http://192.168.25.200/PlanoAcaoUSA/Pa_Acao/NewFTA?";

    //BR GRT
    ViewBag.urlRootPa = "http://192.168.25.200/PlanoAcao";
    ViewBag.urlRootPaFTA = "http://192.168.25.200/PlanoAcao/Pa_Acao/NewFTA?";

    //JBS HML / PROD
    //ViewBag.urlRootPa = "http://mtzsvmqsc/PlanoDeAcao";
    //ViewBag.urlRootPaFTA = "http://mtzsvmqsc/PlanoDeAcao/Pa_Acao/NewFTA?";
 }
<!-- Modal -->
<div class="modal fade" id="ftaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resource.do_you_want_to_create_an_anomaly_treatment_form</h4>
            </div>
            @*<div class="modal-body">

                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.no</button>
                <a id="ftaModalSim" href="#" target="_blank">
                    <button type="button" class="btn btn-primary">@Resources.Resource.yes</button>
                </a>
            </div>
        </div>
    </div>
</div>


<script>

    var preffix = @Html.Raw(Json.Encode(@ViewBag.urlRootPaFTA));   //Html.Raw(Json.Encode(GlobalConfig.pathFTA));
    var preffixFta = preffix.slice(0, preffix.indexOf("Pa_Acao/NewFTA?"))
    /*
    unitName:"Pimenta Bueno"
    level1Name:"(%) NC Análise Microbiológica em Carcaça"
    level2Name:"Análise Microbiológica em Carcaça"
    level3Name:"Enterobactérias"
    auditorId:"1"
    PercentualNCFTA:100     //Percentual de NC
    ReincidenciaDesvioFTA:1 //Quantidade de NC
    endDate:"27/06/2017"
    startDate:"29/05/2017"
    */
    function RedirecionaParaFTA(r) {
        var url = "";
        url += preffix;
        url += "MetaFTA=" + r.MetaFTA;
        url += "&PercentualNCFTA=" + r.PercentualNCFTA;
        url += "&ReincidenciaDesvioFTA=" + r.ReincidenciaDesvioFTA;
        url += "&_Level1=" + encodeURIComponent(r.level1Name);
        url += "&_Level2=" + encodeURIComponent(r.level2Name);
        url += "&_Level3=" + encodeURIComponent(r.level3Name);
        url += "&Supervisor_Id=" + r.auditorId;
        url += "&Evaluated=" + r.Evaluated;

        if (r.unitId > 0) {
            url += "&Unidade_Id=" + r.unitId;
        } else {
            url += "&Unidade_Id=0"
        }

        url += "&_DataInicioFTA=" + encodeURIComponent(r.startDate);
        url += "&_DataFimFTA=" + encodeURIComponent(r.endDate);
        $('#ftaModal').modal();
        $('#ftaModalSim').attr('href', url);
        //console.log(url);
    }

</script>