@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel
@{
    ViewBag.Title = Resources.Resource.control_charts;
    var urlGet = Url.Action("Get", "api/CartasCep");
}

<div class="page-content" style="min-height: 600px;">
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

    <div id="formBodyContent">

        @*<div id="divClock" style="text-align:right; width:500px; margin-top:-50px; float:right; display: inline; height:30px; line-height:45px; font-size:small; font-weight:bold;">

            <button type="button" class="btn btn-primary" id="btnSend" onclick="Send();">@Resources.Resource.refresh</button>
        </div>*@

        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")
        @Html.Partial("~/Views/RelatoriosSgq/_ResultLevel3Edit.cshtml")

        <div id="load"></div>
        <div id="container"></div>

    </div>
</div>


@section Scripts {

    <script type="text/javascript">

        var urlGet = '@Html.Raw(@urlGet)';

        $(".sidebar-toggler").removeClass("hide");
        $(".page-sidebar-wrapper").removeClass("hide");

        $(document).ready(function () {
            formControl.showFullCallendar();
            formControl.showUnit();
            formControl.showLevel1();
            closeLeftSidebar();

            $("#btnSend").click(function (e) {
                Send(true);
            });
        });

        var $btn = $('#btnSend');

        function Send(toggle) {

            $btn.button('loading');

            $('#results').empty();

            //if (!ValidaDadosParaEnvio()) {
            //    $btn.button('reset');
            //    return;
            //}

            EasyAjax(urlGet, enviar, GerarGrafico, "load", toggle);//AJAX
        };


        function GerarGrafico(valorAbsoluto) {

            //MapeiaValorParaHC(objectList, "");

            $('#container').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    zoomType: 'x,y'
                },
                title: {
                    text: "Carta CEP Xi",
                    x: -20 //center
                },
                xAxis: {
                    categories: valorAbsoluto.amostras,
                    title: {
                        text: '',
                        align: 'high'
                    },
                    labels:
                    {
                        enabled: false
                    }
                },
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        },
                    },
                    title: {
                        text: 'Temperatura',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    plotLines: [
                        {
                            value: parseFloat(valorAbsoluto.media),
                            width: 2,
                            color: 'green',
                            //dashStyle: 'dash',
                            zIndex: 4,
                            label: {
                                text: 'Média ' + parseFloat(valorAbsoluto.media).toFixed(2),
                                align: 'right',
                                y: -10,
                                x: 0
                            }
                        },
                    ]

                }],
                plotOptions: {
                    series: {
                        pointStart: 0,
                    }
                },
                tooltip: {
                    //useHTML: true,
                    formatter: function () {

                        var s = [];
                        var dia;
                        var dias_semana = new Array("Domingo", "Segunda-feira",
                                                    "Terça-feira", "Quarta-feira", "Quinta-feira",
                                                    "Sexta-feira", "Sábado");

                        $.each(this.points, function (i, point) {

                            if (i == 0)

                                if (valorAbsoluto.dataAv[this.point.series.data.indexOf(this.point)] != undefined) {
                                    var ssl = $.date(valorAbsoluto.dataAv[this.point.series.data.indexOf(this.point)]).split("/");
                                    var data = new Date(ssl[2], ssl[1] - 1, ssl[0]);
                                    var ss = data.getDay();
                                    var dataEHora = valorAbsoluto.dataAv[this.point.series.data.indexOf(this.point)].split(" ");
                                    dia = '<b>Data: </b>' + $.date(valorAbsoluto.dataAv[this.point.series.data.indexOf(this.point)]) + "<l>, " + dias_semana[ss] + "<br/> <b>Horário:</b> " + dataEHora[1] + ".</l>";
                                }

                            if (this.series.name.indexOf("Series") != 0) {
                                if (this.series.name.indexOf("Nível") != 0 && this.series.name.indexOf("LCS") != 0 && this.series.name.indexOf("LCI") != 0) {
                                    s.push('<a> <b>' + point.series.name + '</b> : ' + point.y + '</a> <br/>');
                                } else {
                                    s.push('<a>' + point.series.name + '</a><br/>');
                                }
                            }

                        });

                        if (dia != undefined)
                            s.push(dia);

                        return s.join(' ');
                    },
                    shared: true,
                    crosshairs: true
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [{
                    name: "Temperatura",
                    data: valorAbsoluto.dados,
                    type: 'spline',
                    yAxis: 0,
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },

                {
                    name: "LCS: " + valorAbsoluto.lcs,//.toFixed(2),
                    data: valorAbsoluto.lcsData,
                    visible: (valorAbsoluto.lcs != 0) ? true : false,
                    color: "red",
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },
                {
                    name: "LCI: " + valorAbsoluto.lci,//.toFixed(2),
                    data: valorAbsoluto.lciData,
                    visible: (valorAbsoluto.lci != 0) ? true : false,
                    color: "red",
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },
                {
                    name: "Média: " + parseFloat(valorAbsoluto.media).toFixed(2),
                    color: "green",
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                },
                //Nivel 1
                {
                    name: 'Nível 1 Min: ' + (valorAbsoluto.nivel1Min[0] + " | Max: " + valorAbsoluto.nivel1Max[0]),
                    data: valorAbsoluto.nivel1Min,
                    color: 'black',
                    pointStart: 0,
                    pointEnd: valorAbsoluto.dados.length,
                    visible: (valorAbsoluto.nivel1Min[0] != 0 || valorAbsoluto.nivel1Max[0] != 0) ? true : false,
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },
                {
                    data: valorAbsoluto.nivel1Max,
                    linkedTo: ':previous',
                    color: 'black',
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },
               //Nivel 2
                {
                    name: 'Nível 2 Min: ' + (valorAbsoluto.nivel2Min[0] + " | Max: " + valorAbsoluto.nivel2Max[0]),
                    data: valorAbsoluto.nivel2Min,
                    visible: (valorAbsoluto.nivel2Min[0] != 0 || valorAbsoluto.nivel2Max[0] != 0) ? true : false,
                    pointStart: 0,
                    pointEnd: valorAbsoluto.dados.length - 1,
                    color: 'black',
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },
                {
                    data: valorAbsoluto.nivel2Max,
                    linkedTo: ':previous',
                    color: 'black',
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },
                //Nivel 3
                 {
                     name: 'Nível 3 Min: ' + (valorAbsoluto.nivel3Min[0] + " | Max: " + valorAbsoluto.nivel3Max[0]),
                     data: valorAbsoluto.nivel3Min,
                     color: 'black',
                     visible: (valorAbsoluto.nivel3Min[0] != 0 || valorAbsoluto.nivel3Max[0] != 0) ? true : false,
                     type: 'line',
                     marker: {
                         enabled: false
                     },
                     point: {
                         events: {
                             click: function () {
                                 CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                             }
                         }
                     }
                 },
                {
                    data: valorAbsoluto.nivel3Max,
                    linkedTo: ':previous',
                    color: 'black',
                    type: 'line',
                    marker: {
                        enabled: false
                    },
                    point: {
                        events: {
                            click: function () {
                                CartaP.onFormAnomaliaClickedNC(valorAbsoluto.dados[this.x]);
                            }
                        }
                    }
                },

                ]
            });
        }

        $.date = function (dateObject) {
            var d = new Date(dateObject);
            var day = d.getDate();
            var month = d.getMonth() + 1;
            var year = d.getFullYear();
            if (day < 10) {
                day = "0" + day;
            }
            if (month < 10) {
                month = "0" + month;
            }
            var date = day + "/" + month + "/" + year;

            return date;
        };

    </script>

}