@model SgqService.ViewModels.FormularioParaRelatorioViewModel
@{
    ViewBag.Title = "Parametrização Básica";
    var url = Url.Action("Index", "Home");
    var urlScorecard = Url.Action("GetScorecard", "api/Scorecard");
    var urlScorecardMock = Url.Action("GetScorecardMock", "api/Scorecard");

    var urlParamentrizacao = Url.Action("GetParametrizacaoGeral", "api/RelatorioGenerico");
    
}

<style>
    .dataTables_scroll {
        font-size: small;
    }

    table.dataTable {
        margin: 0px !important;
    }

        table.dataTable thead th, table.dataTable thead td {
            padding: 2px 12px !important;
        }


        table.dataTable tbody th, table.dataTable tbody td {
            padding: 2px !important;
        }

    .dataTables_scrollBody {
        border-bottom: 0px !important;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content">

        @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml","")

        <div id="formBodyContent">

            @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")

            <div id="load"></div>

            <div id="divTable">

                <table id="results" class="display" cellspacing="0" style="width:100% !important;"></table>

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        exibeTodosLevels = false;

        $('button').button({ loadingText: '@Resources.Resource.loading...' });

        var url1 = '@Html.Raw(urlParamentrizacao)';
        var $btn = $('#btnSend');
        $('#simpleCallendar').hide().attr('disabled', true);

        $(document).ready(function () {
            $("#btnSend").click(function (e) {
                Send(true);
            });
        });

        function Send(toggle) {

            $btn.button('loading');
            $('#results').empty();
            $('#results').empty();
            $('#divTable').hide();
            $('#SemDados').show();

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            $('#divTable').hide();

            enviar["auditorId"] = GetUsuarioId();

            console.log("Teste 1")

            EasyAjax(url1, enviar, GerarTabela, "load", toggle);

            //$btn.button('reset');
            //return;

            
        };

       

       

        function GerarTabela(retornoArray) {

            $('#divTable').show();

            var table = $('#results').empty().DataTable({
                data: retornoArray,
                columns: [
                    { title: "@Resources.Resource.level1", mData: "Col1" },
                    { title: "@Resources.Resource.level2", mData: "Col2" },
                    { title: "@Resources.Resource.level3", mData: "Col3" },                  
                ],
                destroy: true,
                scrollX: true,
                paginate: false,
                paging: false,
                bSort: true,
                loadingRecords: false,
                destroy: true,
                info: false,
                responsive: true,
                initComplete: function () {
                    $('#loading').hide();
                    setTimeout(function (e) {
                        var oTable = $('#results').dataTable();
                        if (oTable.length > 0) {
                            oTable.fnAdjustColumnSizing();
                        }
                    }, 100);
                }
                
            });

            new $.fn.dataTable.Buttons(table, {
                buttons: [
            
                    {
                        extend: 'excelHtml5',

                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                ]
            });

            table.buttons(0, null).container().prependTo(
                table.table().container()
            );

            //Filtros por coluna
            //$('.dataTable thead th').each(function (i) {
            //    var title = $('.dataTable thead th').eq($(this).index()).text();
            //    $(this).html(title + '<br><input type="text" style="font-size:xx-small; color: #555; text-align:center; width:50px" placeholder=" ' + title + '" data-index="' + i + '" />');
            //});

            // DataTable
            var table = $('.dataTable').DataTable();

            // Filter event handler
            $(table.table().container()).on('keyup', 'thead input', function () {
                table
                    .column($(this).data('index'))
                    .search(this.value)
                    .draw();
            });

  

        }

        function ValidaDadosParaEnvio() {

            GuardJs.resetForValidation();
     


            if (!GuardJs.isValid)
                return !GuardJs.isValid;

            GuardJs.esconderMensagem();

            return true;
        }

        $(document).ready(function () {
            formControl.showLevel1();
            closeLeftSidebar();

            
            $(".sidebar-toggler").removeClass("hide");
            $(".page-sidebar-wrapper").removeClass("hide");
            $('button.refresh-btn-right-top').removeClass("hide");           
            
        });
    </script>

}
