
@{
    ViewBag.Title = "Relatorio do BI";
    //var urlGet = Url.Action("GetRelatorio", "RelatorioGenericoApi");
    var urlGet = Url.Action("getTabela", "api/RelatorioGenerico");
    var urlGet2 = Url.Action("getTabela2", "api/RelatorioGenerico");
    var urlGet3 = Url.Action("getTabela3", "api/RelatorioGenerico");
}
<style>
    /*.st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }*/
</style>

<div class="page-content">

    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

    <div id="formBodyContent">

        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")

        <div ng-controller="MainCtrl">
            <table id="genericTable" st-table="displayedCollection" st-safe-src="bodies" class="table table-striped" ng-app="sgqSystem" style="width:100%">
                <thead>
                    <tr>
                        <th st-sort="{{x}}" ng-repeat="x in header">{{x}}</th>
                    </tr>
                    <tr>
                        <th colspan="50"><input st-search="" class="form-control" placeholder="Buscar Tudo ..." type="text" /></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th ng-repeat="x in header">{{x}}</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="body in displayedCollection">
                        <td ng-repeat="x in body">{{x}}</td>
                    </tr>
                </tbody>
            </table>

            @*{{header}}
                {{bodies}}*@

        </div>

        <table id="tableTeste" class="table table-striped" width="100%"></table>


        <table id="tabela3" class="table table-striped" width="100%"></table>

    </div>
</div>


<script type="text/javascript">

    var $btn = $('#btnSend');
    $(".sidebar-toggler").removeClass("hide");
    $(".page-sidebar-wrapper").removeClass("hide");

    //Tabela Angular
    app.filter('myFilter', function () {
        return function (body) {
            var result = [];
            angular.forEach(body, function (value, key) {
                var item = [];
                angular.forEach(value, function (value2, key2) {
                    if (value2 != null) {
                        item.push(value2);
                    }
                })
                result.push(Object.assign({}, item));
            });
            return result;
        }
    });

    app.controller('MainCtrl', ['$scope', '$http', '$filter' , '$compile', function ($scope, $http, $filter,$compile) {

        $('#btnSend').replaceWith($('#btnSend'));
        $('#btnSend').attr('ng-click','getReport()');
        $compile($('#btnSend'))($scope);

        $scope.getReport = function() {

            //fazer ajax
            $http({
                method: 'POST',
                data: enviar,
                url: @Html.Raw(Json.Encode(urlGet)),
            }).then(function (retorno) {

                $scope.header = retorno.data.header;

                var myFilter = $filter('myFilter');
                $scope.bodies = myFilter(retorno.data.body);

                //angular.element(document).ready(function () {
                //    mountTable();
                //});

            }, function (error) {
                console.log(error);
            });
        };

    }]);

    //function mountTable(){

    //    //DataTable
    //    $('#genericTable thead th').each( function () {
    //        var title = $('#genericTable thead th').eq($(this).index()).text();
    //        $(this).html(title + '<br><input type="text" placeholder="Buscar '+ title +'" />' );
    //    });

    //    var table = $('#genericTable').DataTable();

    //    table.columns().every(function () {
    //        var that = this;
    //        $('input', this.footer()).on('keyup change', function () {
    //            if (that.search() !== this.value) {
    //                that.search(this.value).draw();
    //            }
    //        });
    //    });

    //}

    $(document).ready(function () {
        formControl.showFullCallendar();
        closeLeftSidebar();

    });

    //Tabela DataTable Javascript
    function MontarTabela(retorno) {

        var array = $.map(retorno.body, function(valor,index){
            return [[
                valor.Col1,  valor.Col2,  valor.Col3,  valor.Col4,  valor.Col5,  valor.Col6,  valor.Col7,  valor.Col8,  valor.Col9,  valor.Col10,
                valor.Col11, valor.Col12, valor.Col13 ,valor.Col14 ,valor.Col15 ,valor.Col16 ,valor.Col17 ,valor.Col18 ,valor.Col19 ,valor.Col20,
                valor.Col21, valor.Col22, valor.Col23 ,valor.Col24 ,valor.Col25 ,valor.Col26 ,valor.Col27 ,valor.Col28 ,valor.Col29 ,valor.Col30,
                valor.Col31, valor.Col32, valor.Col33 ,valor.Col34 ,valor.Col35 ,valor.Col36 ,valor.Col37 ,valor.Col38 ,valor.Col39 ,valor.Col40,
                valor.Col41, valor.Col42, valor.Col43 ,valor.Col44 ,valor.Col45 ,valor.Col46 ,valor.Col47 ,valor.Col48 ,valor.Col49 ,valor.Col50
            ]];
        });

        var table = $('#tableTeste').DataTable({
            data: array,
            columns: retorno.header
        });

        $('#tableTeste thead th').each( function () {
            var title = $('#tableTeste thead th').eq($(this).index()).text();
            $(this).html(title + '<br><input type="text" placeholder="Buscar '+ title +'" />' );
        });

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });

    }

    function MontarTabela2(retorno2) {

        var table = $('#tabela3').DataTable({
            data : retorno2.datas,
            columns : retorno2.columns
            //data: [{"id" : "1" , "name" : "renan", "pass": "123"},{"id" : "2" , "name" : "celso", "pass": "123"}],
            //columns:  [{"data" : "Id", "title" : "Id" },{"data" : "Nome" ,"title" : "Nome" },{"data" : "Pass", "title" : "Password" }]
        });

        $('#tabela3 thead th').each( function () {
            var title = $('#tableTeste thead th').eq($(this).index()).text();
            $(this).html(title + '<br><input type="text" placeholder="Buscar '+ title +'" />' );
        });

        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that.search(this.value).draw();
                }
            });
        });

    }

    $('#btnSend').click(function(){
        EasyAjax(@Html.Raw(Json.Encode(urlGet2)), enviar, MontarTabela, "");
        EasyAjax(@Html.Raw(Json.Encode(urlGet3)), enviar, MontarTabela2, "");
    });

</script>
