@model SgqService.ViewModels.FormularioParaRelatorioViewModel
@{
    ViewBag.Title = "Relatorio de Edição";
    Layout = "~\\Views\\RelatoriosSgq\\_FilterReports.cshtml";

    var UnidadeUsuario = ViewBag.UnidadeUsuario;

    ViewBag.ShowRangeDate = true;
    ViewBag.ShowParModule = true; //Unico //Selecione... //NO
    ViewBag.UnitIdArr = true; //Unico //Selecione.. //NO
    ViewBag.ShowShift = true; //Multiplo //Todos //NO
    ViewBag.ShowParLevel1GQ = true; //Multiplo // //NO
    ViewBag.ShowParLevel2GQ = true; //Multiplo // //NO
    ViewBag.ShowParLevel3GQ = true; //Multiplo // //NO
    ViewBag.ShowUserSgqMonitor = true; //Monitor é surpervisor? Trazer ativos, inativo? Card mal descrito
    ViewBag.ShowTipoEdicao = true; //Tipo de Edição - Fazer - Conteúdo: “Edição de Resultados”ou “Edição de Cabeçalho” Campo obrigatório;Default: “Edição de Resultados” - Unico Obrigatorio
    ViewBag.ShowParReason = true; //Motivo - ParReason - Multiplo - NO - Todos e Lista de Cadastro[Ativos e Inativos] - Default Todos
    ViewBag.ShowParCompany = true;
    ViewBag.IsCascadeLevel2Level3 = 0;

    ViewBag.ShowShiftDefault = "Todos";
    ViewBag.ShowParModuleDefault = "Selecione...";
    ViewBag.ShowUserSgqMonitorDefault = "Todos";
    ViewBag.ShowParReasonDefault = "Todos";

    var urlGet = Url.Action("GetRelatorioEdicao", "api/RelatorioEdicao");

}

@section Content {

    @*<div class="page-content-wrapper">
        <div class="page-content">*@
            <div id="divRelatorioEdicao"></div>

            @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")
            <div id="divTable">
                <table id="resultsEdicao" class="table table-striped"></table>
            </div>
        @*</div>
    </div>*@
}

@section Scripts {
    <script>

        var urlGet = '@Html.Raw(@urlGet)';

        function enviarFiltro() {
            openLoader('Aguarde...');
            $('#resultsEdicao').empty();
            $('#divRelatorioEdicao').empty();

            $('#divTable').hide();

            $.ajax({
                url: urlGet,
                type: 'post',
                data: JSON.stringify(objFiltro),
                dataType: "JSON",
                contentType: "APPLICATION/JSON; CHARSET=UTF-8",
                beforeSend: function () {
                }
            })
            .done(function (data) {

                GerarTabela(data);
                closeLoader();
            })
            .fail(function (jqXHR, textStatus, msg) {
                console.log(msg);
                preencheRetornoGrafico("Ocorreu um erro ao buscar os dados. Erro: " + msg);
                closeLoader();
            });
        }

        function preencheRetornoGrafico(msg) {
            $('#divRelatorioEdicao').html("<div class='alert alert-info'>" + msg + "</div>");
        }

        function GerarTabela(retornoArray) {

            if (retornoArray.length == 0) {
                preencheRetornoGrafico('@Html.Raw(Json.Encode(Resources.Resource.no_appointments_in_this_period))');
            }

            else {

                //Fim Regra
               
                var colunas = [];

                var tipoEdicao = $("[name='tipoEdicao']").val();

                if (tipoEdicao == 1) {
                    colunas = [
                        { title: "@Resources.Resource.audit", mData: "Indicador" },
                        { title: "@Resources.Resource.monitoring", mData: "Monitoramento" },
                        { title: "Tarefa", mData: "Tarefa" },
                        { title: "Data da Coleta", mData: "Data_Coleta" },
                        { title: "Hora Coleta", mData: "Hora_Coleta" },
                        { title: "Data Alteracao", mData: "Data_Alteracao" },
                        { title: "Hora Alteracao", mData: "Hora_Alteracao" },
                        { title: "Intervalo Minimo", mData: "IntervalMin" },
                        { title: "Intervalo Maximo", mData: "IntervalMax" },
                        { title: "IsConform", mData: "IsConform" },
                        { title: "Conforme", mData: "Conforme" },
                        { title: "Evaluation Number", mData: "EvaluationNumber" },
                        { title: "AVALIADO NAO_AVALIADO", mData: "AVALIADO_NAO_AVALIADO" },
                        { title: "Usuario Coleta", mData: "Usuario_Coleta" },
                        { title: "Usuario Altera", mData: "Usuario_Altera" },
                        { title: "Motivo", mData: "Motivo" },
                        { title: "DescMotivo", mData: "DescMotivo" },
                        { title: "Original Editado", mData: "ORIGINAL_EDITADO" }
                    ]
                }
                else
                {
                    colunas = [
                        { title: "@Resources.Resource.audit", mData: "Indicador" },
                        { title: "@Resources.Resource.monitoring", mData: "Monitoramento" },
                        { title: "Data da Coleta", mData: "Data_Coleta" },
                        { title: "Hora Coleta", mData: "Hora_Coleta" },
                        { title: "Data Alteracao", mData: "Data_Alteracao" }, 
                        { title: "Hora Alteracao", mData: "Hora_Alteracao" },
                        { title: "Header Field Originala", mData: "HeaderField_Original" },
                        { title: "Header Field Editado", mData: "HeaderField_Editado" },
                        { title: "Value", mData: "Value" },
                        { title: "Evaluation", mData: "Evaluation" },
                        { title: "Sample", mData: "Sample" },
                        { title: "Usuario Coleta", mData: "Usuario_Coleta" },
                        { title: "Usuario Altera", mData: "Usuario_Altera" },
                        { title: "Motivo", mData: "Motivo" },
                        { title: "DescMotivo", mData: "DescMotivo" },
                        { title: "Original Editado", mData: "ORIGINAL_EDITADO" } 
                    ]
                }

                $('#divTable').show();

                var initDatatable = function () {

                    $('#loading').hide();
                    setTimeout(function (e) {
                        var oTable = $('#resultsEdicao').dataTable();
                        if (oTable.length > 0) {
                            oTable.fnAdjustColumnSizing();
                        }
                    }, 100);
                }

                var table = datatableGRT.Inicializar({
                    idTabela: "resultsEdicao",
                    listaDeDados: retornoArray,
                    colunaDosDados: colunas,
                    numeroLinhasNaTabela: 25,
                    aplicarResponsividade: true,
                    tamanhosDoMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "-"]],
                    loadingRecords: true,
                    destroy: true,
                    info: true,
                    initComplete: initDatatable,
                    createdRow: function (row, data, index) {
                    }
                });

                var $btn = $('#btnSend');

                $("#btnSend").click(function () {
                    table.destroy();
                    Send(true);

                });

                function Send(toggle) {

                    $btn.button('loading');

                    if (!ValidaDadosParaEnvio()) {
                        $btn.button('reset');
                        return;
                    }

                    $btn.button('reset');
                }

                function ValidaDadosParaEnvio() {

                    GuardJs.esconderMensagem();

                    //Modulo
                    if (!objFiltro.tipoEdicao || objFiltro.tipoEdicao.length <= 0) {
                        GuardJs.exibirMensagemAlerta("O filtro Tipo de Edição é obrigatório")
                        return false;
                    }

                    return true;

                }

                //function enviarFiltro() {

                //}
            }
        }

    </script>
}

