@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel
@{
    ViewBag.Title = "Scorecard";
    var url = Url.Action("Index", "Home");
    var urlScorecard = Url.Action("GetScorecard", "api/Scorecard");
    var urlScorecardMock = Url.Action("GetScorecardMock", "api/Scorecard");
}

<div class="page-content" style="min-height: 600px;">
    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

    <div id="formBodyContent">

        <div id="divClock" style="text-align:right; width:500px; margin-top:-50px; float:right; display: inline; height:30px; line-height:45px; font-size:small; font-weight:bold;">

            <button type="button" style="margin-top: 5px;" class="btn btn-primary" id="btnSend" onclick="Send();">@Resources.Resource.refresh</button>
        </div>

        @Html.Partial("~/Views/Shared/_mensagemObrigatorio.cshtml")
        <div id="load"></div>
        <div id="divTable">
            <table id="results" class="display" cellspacing="0" style="width:100%"></table>
        </div>
    </div>
</div>

@section Scripts {


    <script type="text/javascript">

        $(".sidebar-toggler").removeClass("hide");
        $(".page-sidebar-wrapper").removeClass("hide");

        var url1 = '@Html.Raw(@urlScorecard)';
        var $btn = $('#btnSend');
        $('#simpleCallendar').hide().attr('disabled', true);

        $(document).ready(function () {
            $("#btnSend").click(function (e) {
                Send(true);
            });
        });

        function Send(toggle) {
            $btn.button('loading');
            $('#results').empty();

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            $('#divTable').hide();
            EasyAjax(url1, enviar, GerarTabela, "load", toggle);//AJAX
        };

        var limitesMid = @Html.Raw(Json.Encode(ViewBag.PercentValueMid));
        var limitesHigh = @Html.Raw(Json.Encode(ViewBag.PercentValueHigh));

        function GerarTabela(retornoArray) {
            $('#divTable').show();

            var table = $('#results').empty().DataTable({
                data: retornoArray,
                columns: [{ title: "Cluster", mData: "ClusterName" },
                    { title: "Regional", mData: "RegionalName" },
                    { title: "Empresa", mData: "ParCompanyName" },
                    { title: "@Resources.Resource.scorecard_type", mData: "TipoScore" },
                    { title: "@Resources.Resource.audit_type", mData: "TipoIndicadorName" },
                    { title: "@Resources.Resource.audit", mData: "Level1Name" },
                    { title: "@Resources.Resource.smp", mData: "AV" },
                    { title: "@Resources.Resource.ncc", mData: "NC" },
                    { title: "@Resources.Resource.group2", mData: "CriterioName" },
                    { title: "@Resources.Resource.points2", mData: "PontosIndicador" },
                    { title: "@Resources.Resource.points_possible", mData: "PontosIndicador" },
                    { title: "@Resources.Resource.goal %", mData: "Meta" },
                    { title: "Real %", mData: "Real" },
                    { title: "@Resources.Resource.points_achieved", mData: "PontosAtingidosIndicador" },
                    { title: "Scorecard", mData: "Scorecard" },
                ],
                destroy: true,
                fixedHeader: {
                    header: true,
                    footer: true
                },
                scrollX: true,
                paginate: false,
                paging: false,
                bSort: false,
                loadingRecords: true,
                destroy: true,
                info: true,
                responsive: true,
                initComplete: function () {
                    $('#loading').hide();
                    setTimeout(function (e) {
                        var oTable = $('#results').dataTable();
                        if (oTable.length > 0) {
                            oTable.fnAdjustColumnSizing();
                        }
                    }, 100);
                },
                createdRow: function (row, data, index) {

                    if (data["Scorecard"] > 99 || (data["CriterioName"] == 'Maior' && (data["AV"] == 0 && data["NC"] == 0))) {
                        // green
                        $('td', row).eq(14).css("background-color", '#33FF33');
                    } else if (data["Scorecard"] < parseInt(limitesMid)) {
                        // red
                        $('td', row).eq(14).css("background-color", '#FF6666');
                    }
                    else if (data["Scorecard"] < parseInt(limitesHigh)) {
                        $('td', row).eq(14).css("background-color", 'yellow');
                    }

                    //if (data["AV"] == 0 || data["AV"] == undefined || data["AV"] == null) {
                        
                    //    $('td', row).eq(10).html(0);
                    //}

                },
                fnDrawCallback: function (data, d, o) {

                }
            });

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                     {
                         extend: 'colvisGroup',
                         text: '@Resources.Resource.synthetic',

                         //show: [3, 4, 5, 6, 9, 10, 12],
                         show: [5, 6, 7, 8, 11, 12, 13],
                         //hide: [0, 1, 2, 7, 8, 11]
                         hide: [0, 1, 2, 3, 4, 9, 10]
                     },
        {
            extend: 'colvisGroup',
            text: '@Resources.Resource.analytical',
            show: ':hidden'
        },
        {
            extend: 'print',
            customize: function (win) {
                $(win.document.body).find('table')
                    .addClass('compact')
                    .css('font-size', 'inherit');
            },
            exportOptions: {
                columns: ':visible'
            }
        },
        {
            extend: 'excelHtml5',

            exportOptions: {
                columns: ':visible'
            }
        },
        'pdf',
                ]
            });

            table.buttons(0, null).container().prependTo(
                table.table().container()
            );

        }

        function ValidaDadosParaEnvio() {
            GuardJs.resetForValidation();
            GuardJs.CheckRangeDateTime(enviar.endDate, enviar.startDate, "Initial date", "End date");
            /*Especifico*/
            if (!($('#unitId :selected').val() > 0)) {
                GuardJs.exibirMensagemAlerta("@Resources.Resource.select_the_unit_first");
                return false;
            }
            if (!GuardJs.isValid)
                return !GuardJs.isValid;
            GuardJs.esconderMensagem();

            return true;
        }

        $(document).ready(function () {
            formControl.showFullCallendar();
            formControl.showUnit();

            closeLeftSidebar();
        });
    </script>

}
