@model SgqSystem.ViewModels.FormularioParaRelatorioViewModel
@{
    ViewBag.Title = "Visão Geral da Área";
    var url = Url.Action("Index", "Home");
    var urlTabela1 = Url.Action("VisaoGeralDaAreaTbl1", "RelatoriosSgq");
    var urlTabela2 = Url.Action("VisaoGeralDaAreaTbl2", "RelatoriosSgq");
    var urlGrafico1 = Url.Action("Grafico1", "api/VisaoGeralDaArea");
    var urlGrafico2 = Url.Action("Grafico2", "api/VisaoGeralDaArea");
    var urlGrafico3 = Url.Action("Grafico3", "api/VisaoGeralDaArea");
    var urlGrafico4 = Url.Action("Grafico4", "api/VisaoGeralDaArea");
    var urlGrafico5 = Url.Action("Grafico5", "api/VisaoGeralDaArea");
}

<div class="page-content" style="min-height: 600px;">

    @Html.Partial("~/Views/Shared/_FormToQueryFullScreen.cshtml")

    <div id="formBodyContent">

        <div id="grafico1"></div>

        <div id="grafico2"></div>

        <div id="tabela1div"></div>

        <div id="tabela2div"></div>

        <div id="grafico3"></div>

        <div id="grafico4"></div>

        <div id="grafico5"></div>

    </div>

</div>

@section Scripts {

    <script type="text/javascript">


        var urlTabela1 = '@Html.Raw(@urlTabela1)';
        var urlTabela2 = '@Html.Raw(@urlTabela2)';
        var urlGrafico1 = '@Html.Raw(@urlGrafico1)';
        var urlGrafico2 = '@Html.Raw(@urlGrafico2)';
        var urlGrafico3 = '@Html.Raw(@urlGrafico3)';
        var urlGrafico4 = '@Html.Raw(@urlGrafico4)';
        var urlGrafico5 = '@Html.Raw(@urlGrafico5)';

        var $btn = $('#btnSend');
        $('#simpleCallendar').hide().attr('disabled', true);

        function Send(toggle) {

            $('#grafico1').empty();
            $('#grafico2').empty();
            $('#grafico3').empty();
            $('#grafico4').empty();
            $('#grafico5').empty();
            $('#tabela1div').empty();
            $('#tabela2div').empty();

            $btn.button('loading');

            if (!ValidaDadosParaEnvio()) {
                $btn.button('reset');
                return;
            }

            EasyAjax(urlGrafico1, enviar, CallbackGrafico1, "grafico1", toggle);
            EasyAjax(urlTabela1, enviar, function (r) { $('#tabela1div').empty().append(r); }, "tabela1div");
        };

        function GetTabela2() {
            EasyAjax(urlTabela1, enviar, function (r) { $('#tabela2div').empty().append(r); }, "tabela2div");
        }

        function CallbackGrafico1(data) {

            var scorecardJbs = MapeiaValorParaHC(data, "scorecardJbs");
            var scorecardRegional = MapeiaValorParaHC(data, "scorecardJbsReg");
            var NomeRegional = MapeiaValorParaHC(data, "regName");
            //var meta = MapeiaValorParaHC(data, "meta");
            var id = MapeiaValorParaHC(data, "regId");

            $('#grafico1').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: NomeRegional,
                    crosshair: true,
                    title: {
                        text: 'Regionais',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value} %',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: '% Scorecard',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    plotLines: [{
                        value: 80,
                        width: 2,
                        color: 'black',
                        dashStyle: 'dash',
                        zIndex: 4,
                        label: {
                            text: 'Meta 80%',
                            align: 'right',
                            y: -10,
                            x: 0
                        }
                    }]
                }],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        name: 'Scorecard',
                        data: scorecardRegional,
                        linkedTo: 'id1',
                        point: {
                            events: {
                                click: function () {
                                    //console.log(id[this.x])
                                    Grafico2(id[this.x]);

                                }
                            }
                        },
                        type: 'column',
                        yAxis: 0,
                        color: Highcharts.getOptions().colors[0],
                        dataLabels: {
                            enabled: true,
                            color: 'black',
                            align: 'right',
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        },
                        tooltip: {
                            valueSuffix: '%'
                        },
                        zones: [{
                            value: 69,
                            color: 'rgba(189,76,76,1)'
                        }, {
                            value: 80,
                            color: 'rgba(207,206,64,1)'
                        }, {
                            color: 'rgba(81,207,64,1)'
                        }],
                    },
                    {
                        name: 'Scorecard JBS',
                        data: scorecardJbs,
                        color: 'rgba(170,0,0,1)',
                        tooltip: {
                            valueSuffix: '%'
                        }
                    }
                ]
            });

        }

        function Grafico2(idRegional) {
            EasyAjax(urlGrafico2 + "/" + idRegional, enviar, CallbackGrafico2, "grafico2");
        }

        function CallbackGrafico2(data) {
            var sigla = MapeiaValorParaHC(data, "companySigla");
            var scorecard = MapeiaValorParaHC(data, "companyScorecard");
            var scorecardJbs = MapeiaValorParaHC(data, "scorecardJbs");
            var scorecardRegional = MapeiaValorParaHC(data, "scorecardJbsReg");

            $('#grafico2').removeClass('loader');

            $('#grafico2').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: [{
                    categories: sigla,
                    crosshair: true,
                    title: {
                        text: 'Unidades',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                }],
                yAxis: [{
                    labels: {
                        format: '{value} %',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: '% Scorecard',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    plotLines: [{
                        value: 80,
                        width: 2,
                        color: 'black',
                        dashStyle: 'dash',
                        zIndex: 4,
                        label: {
                            text: 'Meta 80%',
                            align: 'right',
                            y: -10,
                            x: 0
                        }
                    }]
                }],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        linkedTo: 'id1',
                        name: 'Scorecard',
                        type: 'column',
                        yAxis: 0,
                        color: Highcharts.getOptions().colors[0],
                        data: scorecard,
                        dataLabels: {
                            enabled: true,
                            color: 'black',
                            align: 'right',
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        },
                        tooltip: {
                            valueSuffix: '%'
                        },
                        zones: [{
                            value: 69,
                            color: 'rgba(189,76,76,1)'
                        }, {
                            value: 80,
                            color: 'rgba(207,206,64,1)'
                        }, {
                            color: 'rgba(81,207,64,1)'
                        }],
                    }, {
                        name: 'Scorecard JBS',
                        data: scorecardJbs,
                        color: 'rgba(170,0,0,1)',
                        tooltip: {
                            valueSuffix: '%'
                        }
                    }, {
                        name: 'Scorecard Regional',
                        data: scorecardRegional,
                        color: 'rgba(0,0,139,1)',
                        tooltip: {
                            valueSuffix: '%'
                        }
                    }]
            });

        }

        function Grafico3(id) {
            EasyAjax(urlGrafico3 + "/" + id, enviar, CallbackGrafico3, "grafico3");
        }

        function CallbackGrafico3(data) {
            var dia = MapeiaValorParaHC(data, "_date");
            var nc = MapeiaValorParaHC(data, "nc");
            var porc = MapeiaValorParaHC(data, "procentagemNc");
            var qtdAv = MapeiaValorParaHC(data, "av");

            $('#grafico3').removeClass('loader');

            $('#grafico3').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'column',
                    zoomType: 'x,y'
                },
                title: {
                    text: "_RGOperacao"
                },
                xAxis: {
                    categories: dia,
                    title: {
                        text: 'Data',
                    },
                },
                yAxis: [
                    {
                        min: 0,
                        title: {
                            text: 'Quantidade'
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                    }, {
                        labels: {
                            format: '{value} %',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: '% NC',
                        },
                        opposite: true
                    }],
                legend: {
                    shadow: false
                },
                tooltip: {
                    shared: true
                },
                plotOptions: {
                    column: {
                        grouping: false,
                        shadow: false,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'NC',
                    color: 'rgba(77,143,189,1)',
                    data: nc,
                    yAxis: 0,
                    pointPadding: 0.2,
                    pointPlacement: -0.2,
                    point: {
                        events: {
                            click: function () {
                                //Index.montarGraficoOperacaoPorUnidadeClicked(Unidade, UnidadeId, Operacao, OperacaoId, DataInicio, DataFim, diaNumeral[this.x], dia[this.x]);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'center',
                        style: {
                            fontSize: '10px',
                        }
                    },
                    tooltip: {
                        valueSuffix: ' qtd'
                    }
                }, {
                    name: '% NC',
                    color: 'rgba(240,124,0,1)',
                    data: porc,
                    yAxis: 1,
                    pointPadding: 0.4,
                    pointPlacement: -0.2,
                    point: {
                        events: {
                            click: function () {
                                //Index.montarGraficoOperacaoPorUnidadeClicked(Unidade, UnidadeId, Operacao, OperacaoId, DataInicio, DataFim, diaNumeral[this.x], dia[this.x]);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'center',
                        style: {
                            fontSize: '10px',
                        }
                    },
                    tooltip: {
                        valueSuffix: ' %'
                    }
                }, {
                    visible: false,
                    name: 'Avaliações',
                    data: qtdAv,
                    color: 'rgba(81,207,64,1)',
                    pointPadding: 0.3,
                    pointPlacement: 0.2,
                    yAxis: 0,
                    point: {
                        events: {
                            click: function () {
                                //Index.montarGraficoOperacaoPorUnidadeClicked(Unidade, UnidadeId, Operacao, OperacaoId, DataInicio, DataFim, diaNumeral[this.x], dia[this.x]);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'center',
                        style: {
                            fontSize: '10px',
                        }
                    },
                    tooltip: {
                        valueSuffix: ' qtd'
                    }
                }]
            });
        }

        function Grafico4(id) {
            EasyAjax(urlGrafico4 + "/" + id, enviar, CallbackGrafico4, "grafico4");
        }

        function CallbackGrafico4(data) {

            //var nome = ['Astrogildo', 'Ederasonildo', 'Morietanila'] //MapeiaValorParaHC(data, "");
            //var nc = [10, 15, 20] // MapeiaValorParaHC(data, "");
            //var porc = [70, 50, 35] //MapeiaValorParaHC(data, "");
            //var qtdAv = [50, 50, 50] //MapeiaValorParaHC(data, "");
            var titulo = MapeiaValorParaHC(data, "level1Name")[0];
            var nome = MapeiaValorParaHC(data, "level2Name");
            var id = MapeiaValorParaHC(data, "level2Id");
            var nc = MapeiaValorParaHC(data, "nc");
            var porc = MapeiaValorParaHC(data, "procentagemNc");
            var qtdAv = MapeiaValorParaHC(data, "av");

            $('#grafico4').removeClass('loader');

            $('#grafico4').empty().highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'column'
                },
                title: {
                    text: ('Total NC Por Monitoramento - ' + titulo)
                },
                xAxis: {
                    categories: nome,
                    title: {
                        text: 'Monitoramentos',
                    },
                },
                yAxis: [
                    {
                        min: 0,
                        title: {
                            text: 'Quantidade'
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                    }, {
                        labels: {
                            format: '{value} %',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: '% NC',
                        },
                        opposite: true
                    }],
                legend: {
                    shadow: false
                },
                tooltip: {
                    shared: true
                },
                plotOptions: {
                    column: {
                        grouping: false,
                        shadow: false,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'NC',
                    color: 'rgba(77,143,189,1)',
                    data: nc,
                    yAxis: 0,
                    pointPadding: 0.3,
                    pointPlacement: -0.2,
                    point: {
                        events: {
                            click: function () {
                                Grafico5(id[this.x]);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'center',
                        style: {
                            fontSize: '10px',
                        }
                    },
                    tooltip: {
                        valueSuffix: ' qtd'
                    }
                }, {
                    name: '% NC',
                    color: 'rgba(240,124,0,1)',
                    data: porc,
                    yAxis: 1,
                    pointPadding: 0.4,
                    pointPlacement: -0.2,
                    point: {
                        events: {
                            click: function () {
                                Grafico5(id[this.x]);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'center',
                        style: {
                            fontSize: '10px',
                        }
                    },
                    tooltip: {
                        valueSuffix: ' %'
                    }
                }, {
                    visible: false,
                    name: 'Avaliações',
                    data: qtdAv,
                    color: 'rgba(81,207,64,1)',
                    pointPadding: 0.3,
                    pointPlacement: 0.2,
                    yAxis: 0,
                    point: {
                        events: {
                            click: function () {
                                Grafico5(id[this.x]);
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true,
                        color: 'black',
                        align: 'center',
                        style: {
                            fontSize: '10px',
                        }
                    },
                    tooltip: {
                        valueSuffix: ' qtd'
                    }
                }]
            });//Fim HC

        }

        function Grafico5(id) {
            EasyAjax(urlGrafico5 + "/" + id, {}, CallbackGrafico5, "grafico5")
        }

        function CallbackGrafico5(data) {

                var level1Name = MapeiaValorParaHC(data, "level1Name")[0];
                var level2Name = MapeiaValorParaHC(data, "level2Name")[0];
                var nome = MapeiaValorParaHC(data, "level3Name");
                var nc = MapeiaValorParaHC(data, "nc");
                var porc = MapeiaValorParaHC(data, "procentagemNc");
                var qtdAv = MapeiaValorParaHC(data, "av");

                //$('#grafico5').removeClass('loader');

                $('#grafico5').empty().highcharts({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ('Total NC Por Monitoramento - ' + level2Name)
                    },
                    xAxis: {
                        categories: nome,
                        title: {
                            text: 'Monitoramentos',
                        },
                    },
                    yAxis: [
                        {
                            min: 0,
                            title: {
                                text: 'Quantidade'
                            },
                            labels: {
                                format: '{value}',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                        }, {
                            labels: {
                                format: '{value} %',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '% NC',
                            },
                            opposite: true
                        }],
                    legend: {
                        shadow: false
                    },
                    tooltip: {
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            grouping: false,
                            shadow: false,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'NC',
                        color: 'rgba(77,143,189,1)',
                        data: nc,
                        yAxis: 0,
                        pointPadding: 0.3,
                        pointPlacement: -0.2,
                        point: {
                            events: {
                                click: function () {
                                    //_MonitoramentoId = id[this.x];
                                    //Index.onTarefaClickedNC(nome[this.x], id[this.x]);
                                }
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            color: 'black',
                            align: 'center',
                            style: {
                                fontSize: '10px',
                            }
                        },
                        tooltip: {
                            valueSuffix: ' qtd'
                        }
                    }, {
                        name: '% NC',
                        color: 'rgba(240,124,0,1)',
                        data: porc,
                        yAxis: 1,
                        pointPadding: 0.4,
                        pointPlacement: -0.2,
                        point: {
                            events: {
                                click: function () {
                                    //_MonitoramentoId = id[this.x];
                                    //Index.onTarefaClickedNC(nome[this.x], id[this.x]);
                                }
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            color: 'black',
                            align: 'center',
                            style: {
                                fontSize: '10px',
                            }
                        },
                        tooltip: {
                            valueSuffix: ' %'
                        }
                    }, {
                        visible: false,
                        name: 'Avaliações',
                        data: qtdAv,
                        color: 'rgba(81,207,64,1)',
                        pointPadding: 0.3,
                        pointPlacement: 0.2,
                        yAxis: 0,
                        point: {
                            events: {
                                click: function () {
                                    //_MonitoramentoId = id[this.x];
                                    //Index.onTarefaClickedNC(nome[this.x], id[this.x]);
                                }
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            color: 'black',
                            align: 'center',
                            style: {
                                fontSize: '10px',
                            }
                        },
                        tooltip: {
                            valueSuffix: ' qtd'
                        }
                    }]
                });

        }

        function ValidaDadosParaEnvio() {
            GuardJs.resetForValidation();
            GuardJs.CheckRangeDateTime(enviar.endDate, enviar.startDate, "Initial date", "End date");
            /*Especifico*/
            //if (!($('#unitId :selected').val() > 0))
            //{
            //    GuardJs.exibirMensagemAlerta("Por favor selecione uma unidade.");
            //    return false;
            //}
            if (!GuardJs.isValid)
                return !GuardJs.isValid;
            GuardJs.esconderMensagem();

            return true;
        }

        $(document).ready(function () {

            $("#btnSend").click(function (e) {
                Send(true);
            });

            formControl.showFullCallendar();
            //formControl.showUnit();

        });

        var ajaxCount = 0;

        $(document).ajaxStart(function () {
            ajaxCount++;
        });

        $(document).ajaxError(function myErrorHandler(event, xhr, ajaxOptions, thrownError) {
            ajaxCount--;
        });

        $(document).ajaxStop(function () {
            ajaxCount--;
            if (ajaxCount == 0) {
                $(".loader").removeClass("loader");
            }
        });

    </script>

}
